Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

tripleo-ci-centos-7-scenario010-multinode-oooq-container:
  voting: false

Install and start Rsyslog on the Undercloud & Standalone
  deployment/haproxy/haproxy-container-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/logging/rsyslog-baremetal-ansible.yaml
  deployment/swift/swift-proxy-container-puppet.yaml
  deployment/swift/swift-storage-container-puppet.yaml
  environments/standalone/standalone-tripleo.yaml
  environments/undercloud.yaml
  releasenotes/notes/rsyslog-5dc93db5eb8fc953.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Convert subprocess to a reusable method
  common/container-puppet.py
Due: none

Move globals into main level 0 case
  common/container-puppet.py
Due: none

Fix the amqp presettle option for metrics and events in collectd
  environments/metrics/collectd-write-qdr.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add an environment to disable Paunch
  environments/disable-paunch.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Adapt ContainerImagePrepareDebug to the string pattern
  deployment/container-image-prepare/container-image-prepare-baremetal-ansible.j2.yaml
Due: none

Honor Debug for container image prepare
  deployment/container-image-prepare/container-image-prepare-baremetal-ansible.j2.yaml
Due: none

Configure amphora for upload and run tempest
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario010-standalone.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

tox: Keeping going with docs
  lower-constraints.txt
  test-requirements.txt
  tools/releasenotes_tox.sh
  tox.ini
Due: none

Mode 0750 for /var/log/containers
  common/deploy-steps-tasks-step-1.yaml
Due: none

Add "radvd_user" config parameter to Neutron L3 container
  deployment/neutron/neutron-l3-container-puppet.yaml
  releasenotes/notes/l3_agent_radvd_user-1814df18745101d6.yaml
Due: none

Fix "neutron-mlnx-agent.yaml" to use the new Role ComputeSriovIB
  environments/services/neutron-mlnx-agent.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

remove SensuClient from ComputeSriovIB role
  roles/ComputeSriovIB.yaml
Due: none

Set ServerDeletionPolicy during upgrade prepare and converge
  environments/lifecycle/upgrade-converge.yaml
  environments/lifecycle/upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Disable haproxy when using external LB
  environments/external-loadbalancer-vip-v6-all.yaml
  environments/external-loadbalancer-vip-v6.yaml
  environments/external-loadbalancer-vip.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Do not log startup config output
  common/container_startup_configs_tasks.yaml
Due: none

Move bootstrap password to an environment var
  deployment/keystone/keystone-container-puppet.yaml
Due: none

Handle LP openvswitch meta-package on upgrade
  docker/services/neutron-ovs-agent.yaml
  puppet/services/neutron-ovs-agent.yaml
  puppet/services/neutron-ovs-dpdk-agent.yaml
  puppet/services/opendaylight-ovs.yaml
  puppet/services/openvswitch.yaml
  puppet/services/tripleo-packages.yaml
Due: none

Add "radvd_user" config parameter to Neutron L3 container
  docker/services/neutron-l3.yaml
  releasenotes/notes/l3_agent_radvd_user-1814df18745101d6.yaml
Due: none

Do not run rendering all_nodes data as group_vars in check mode
  common/deploy-steps.j2
Due: none

Use distinct params for ca cert in nova-vnc-proxy and nova-libvirt
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
  tools/yaml-validate.py
Due: none

Remove duplicate mount in rabbit containers
  deployment/rabbitmq/rabbitmq-container-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-container-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-container-puppet.yaml
Due: none

Fix container-puppet tool standalone for podman
  common/container-puppet.py
Due: none

Move bootstrap password to an environment var
  docker/services/keystone.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario000-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: environments/services/octavia.yaml, ^(docker|puppet)/services/.*octavia.*$, ci/environments/scenario010-multinode-containers.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
