Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

tripleo-ci-centos-7-scenario001-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario002-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario003-multinode-oooq-container:
  voting: false

Configure firewall rules for Zaqar
  puppet/services/zaqar-api.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Set firewall rules for the tacker service
  puppet/services/tacker.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

neutron: rename db when upgrading a containerized undercloud
  docker/services/database/mysql.yaml
  environments/undercloud.yaml
  releasenotes/notes/neutron_db_rename-bbfbce1c58cadc84.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

DPDK deployment fails when there is no deprecated parameters
  roles/ComputeOvsDpdk.yaml
Due: none

Updated from global requirements
  test-requirements.txt
Due: none

Replacing the count with loop.index for indexing
  puppet/all-nodes-config.j2.yaml
Due: none

Assignning a value to NeutronServiceName propertiy in neutron-ovs-dpdk-agent.yaml
  docker/services/neutron-ovs-dpdk-agent.yaml
Due: none

Fix typo in network templates
  network/config/multiple-nics/role.role.j2.yaml
  network/config/single-nic-vlans/role.role.j2.yaml
Due: none

[CVE-2018-1000115] memcached: restrict to TCP & internal_api network
  puppet/services/memcached.yaml
  releasenotes/notes/memcached_hardening-2529734099da27f4.yaml
Due: none

Add EnablePuppet (defaults to true)
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
Due: none

mistral/undercloud: align configuration with instack-undercloud
  environments/undercloud.yaml
  puppet/services/mistral-api.yaml
  puppet/services/mistral-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

undercloud_post: manage post mistral config
  extraconfig/post_deploy/undercloud_post.sh
  extraconfig/post_deploy/undercloud_post.yaml
Due: none

Configure firewall rules for Congress
  puppet/services/congress.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Added release notes of tempest container
  releasenotes/notes/containerized-tempest-support-0ceaaf6427ce36e9.yaml
Due: none

FFU: Fix Cinder services action order
  docker/services/cinder-api.yaml
  docker/services/cinder-scheduler.yaml
  docker/services/cinder-volume.yaml
  docker/services/pacemaker/cinder-volume.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Minor update steps for ODL
  common/deploy-steps.j2
  common/services.yaml
  docker/services/opendaylight-api.yaml
  environments/services-docker/update-odl.yaml
  puppet/services/opendaylight-ovs.yaml
  releasenotes/notes/odl_upgrade-f5540d242b9a6b52.yaml
  releasenotes/notes/update_odl-cb997ce5c136ebb7.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Add novajoin service
  docker/services/novajoin.yaml
  environments/services-docker/novajoin.yaml
  network/service_net_map.j2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

FFU: Add memcached fast forward upgrade tasks
  docker/services/memcached.yaml
Due: none

Don't stop openvswitch when deploying OpenShift
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Configure qemu group setting as hugetlbfs for ovs-dpdk
  environments/ovs-dpdk-permissions.yaml
  puppet/services/neutron-ovs-dpdk-agent.yaml
  puppet/services/opendaylight-ovs.yaml
  releasenotes/notes/ovs-dpdk-permissions-50c5b33334ff4711.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

FFU: Add mongodb fast forward upgrade tasks
  docker/services/database/mongodb.yaml
Due: none

FFU: Fix glance tasks
  docker/services/glance-api.yaml
  puppet/services/disabled/glance-registry-disabled.yaml
  roles/Controller.yaml
  roles/ControllerAllNovaStandalone.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerOpenstack.yaml
  roles/ControllerStorageNfs.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix gnocchi-upgrade Table <..> already exists errors
  docker/services/gnocchi-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

A keystone only controller deployment
  README.rst
  ci/environments/scenario000-multinode-containers.yaml
Due: none

fix the scenario chart
  README.rst
Due: none

neutron: Call destroy-patch-ports before starting ovs-agent
  docker/services/neutron-ovs-agent.yaml
Due: none

FFU: Fix nova fast forward steps
  docker/services/nova-api.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-conductor.yaml
  docker/services/nova-consoleauth.yaml
  docker/services/nova-ironic.yaml
  docker/services/nova-metadata.yaml
  docker/services/nova-scheduler.yaml
  docker/services/nova-vnc-proxy.yaml
Due: none

fix typo in scenario graph
  README.rst
Due: none

FFU: Introduce post FFU steps and use them for qeens switch
  common/deploy-steps.j2
  common/services.yaml
  puppet/services/tripleo-packages.yaml
  tools/yaml-validate.py
Due: none

FFU: Upgrades: fix pacemaker checks
  docker/services/README.rst
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/rabbitmq.yaml
  puppet/services/pacemaker.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

FFU: Fix swift FFU tasks
  docker/services/swift-proxy.yaml
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix newton compat mode for deployed server.
  deployed-server/ctlplane-port.yaml
  tools/yaml-validate.py
Due: none

FFU: Fix Keystone FFU tasks
  docker/services/keystone.yaml
Due: none

FFU: Introduce collectd fast-forward-upgrade tasks
  docker/services/collectd.yaml
Due: none

FFU: Introduce fluentd fast-forward-upgrade tasks
  docker/services/fluentd.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/ceilometer.*$, ^puppet/services/ceph.*$, ^puppet/services/cinder.*$, ^puppet/services/congress.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/logging.*$, ^puppet/services/metrics.*$, ^puppet/services/monitoring.*$, ^puppet/services/panko.*$, ^puppet/services/tacker.*$, ci/environments/scenario001-multinode.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/congress.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/logging.*$, ^(docker|puppet)/services/metrics.*$, ^(docker|puppet)/services/monitoring.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/barbican.*$, ^puppet/services/ceilometer.*$, ^puppet/services/cinder.*$, ^puppet/services/ec2-api.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/panko.*$, ^puppet/services/swift.*$, ^puppet/services/zaqar.*$, ci/environments/scenario002-multinode.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/barbican.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/ec2-api.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/swift.*$, ^(docker|puppet)/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^puppet/services/glance.*$, ^puppet/services/mistral.*$, ^puppet/services/sahara.*$, ci/environments/scenario003-multinode.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/mistral.*$, ^(docker|puppet)/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^puppet/services/ceph.*$, ^puppet/services/glance.*$, ^puppet/services/manila.*$, ci/environments/scenario004-multinode.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ci/environments/scenario007-multinode.yaml, ci/pingtests/scenario007-multinode.yaml, ^puppet/services/.*ovn.*$, config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^(docker|puppet)/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml
