Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: (any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml) or (any of: ^docker/services/glance.*$, ^docker/services/mistral.*$, ^docker/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^docker/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml

Use default value for NovaLiveMigrationWaitForVIFPlug
  deployment/nova/nova-compute-container-puppet.yaml
  releasenotes/notes/live_migration_wait_for_vif_plug-6d16da261a138fb8.yaml
Due: none

Add tags always into external update tasks.
  common/deploy-steps.j2
Due: none

Configure nova_compute for vendordata
  deployment/nova/novajoin-container-puppet.yaml
Due: none

Configure nova_compute for vendordata
  docker/services/novajoin.yaml
Due: none

Unescape IPv6 addresses for ceph_nfs_bind_addr
  deployment/ceph-ansible/ceph-nfs.yaml
Due: none

Add KOLLA_BOOTSTRAP=True to 2 bootstrap containers
  deployment/database/mysql-container-puppet.yaml
  deployment/keystone/keystone-container-puppet.yaml
Due: none

Remove deprecated options for keystone eventlet server
  deployment/keystone/keystone-container-puppet.yaml
Due: none

ceph-base: Disable ceph-ansible firewall tasks
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add Ironic Networking Baremetal Templates
  docker/services/ironic-neutron-agent.yaml
  environments/services-baremetal/ironic.yaml
  environments/services-docker/ironic.yaml
  environments/services/ironic.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/ironic-neutron-agent.yaml
  releasenotes/notes/ironic-networking-baremetal-29d9ad465565bb87.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Explicitly set notification driver for novajoin
  deployment/nova/novajoin-container-puppet.yaml
Due: none

Add ExtraKernelPackages
  deployment/kernel/kernel-baremetal-puppet.yaml
  releasenotes/notes/add-kernel-package-parameter-f3ad68ed4b72b0f5.yaml
Due: none

Add ExtraKernelPackages
  puppet/services/kernel.yaml
  releasenotes/notes/add-kernel-package-parameter-f3ad68ed4b72b0f5.yaml
Due: none

Move GroupVars to overcloud.j2.yaml
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
Due: none

ml2-ansible: Set api_max_retries when net-ansible is used
  ci/environments/scenario012-multinode-containers.yaml
  ci/environments/scenario012-standalone.yaml
  deployment/nova/nova-ironic-container-puppet.yaml
  environments/services/neutron-ml2-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add the certificate specs in ceph_grafana composable service
  deployment/ceph-ansible/ceph-grafana.yaml
Due: none

Redis metadata using incorrect network/service
  puppet/services/database/redis-base.yaml
Due: none

Explicitly set notification driver for novajoin
  docker/services/novajoin.yaml
Due: none

Adds configure_firewall into Ceph profiles
  deployment/ceph-ansible/ceph-base.yaml
Due: none

Move cephfs and cephfs_*_pool ceph-ansible parameters in -base
  deployment/ceph-ansible/ceph-base.yaml
  deployment/ceph-ansible/ceph-mds.yaml
Due: none

Do not forcibly enable Glance multiple locations for RBD backend
  deployment/glance/glance-api-container-puppet.yaml
Due: none

Unescape IPv6 addresses for ceph_nfs_bind_addr
  docker/services/ceph-ansible/ceph-nfs.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix MariaDB staged upgrade
  common/deploy-steps.j2
  deployment/database/mysql-pacemaker-puppet.yaml
Due: none

Use tripleo-validations-package role instead of puppet
  deployment/validations/tripleo-validations-baremetal-ansible.yaml
  environments/tripleo-validations.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add ../network/scripts/ to search path for run-os-net-config.sh
  tools/yaml-nic-config-2-script.py
Due: none

Adds LibvirtLogFilters to define a libvirtd filter
  deployment/nova/nova-libvirt-container-puppet.yaml
  releasenotes/notes/nova_libvirtd_log_filters-63e9e6501d779dd9.yaml
Due: none

Adds LibvirtLogFilters to define a libvirtd filter
  puppet/services/nova-libvirt.yaml
  releasenotes/notes/nova_libvirtd_log_filters-63e9e6501d779dd9.yaml
Due: none

Move cephfs and cephfs_*_pool ceph-ansible parameters in -base
  docker/services/ceph-ansible/ceph-base.yaml
  docker/services/ceph-ansible/ceph-mds.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Parametrize UpgradeLeappDevelSkip to pass multiple env variables.
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: none

Remove pre-upgrade best-effort online data migrations
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/ironic/ironic-api-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
Due: none

Do not forcibly enable Glance multiple locations for RBD backend
  puppet/services/glance-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Sort bootstrap node check for container_puppet_tasks
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
Due: none
