Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario011-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^(deployment|docker|puppet)/.*tacker.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-multinode-containers.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(deployment|docker|puppet)/.*ironic.*$, ^environments\/.*ironic.*$
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^ci/common/.*$, ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^deployment/.*kubernetes/.*$, ci/environments/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*

Don't add IpList for disabled networks
  network/ports/net_ip_list_map.j2.yaml
  overcloud.j2.yaml
  releasenotes/notes/fix-deployment-failure-when-network-disabled-156190243ff239ea.yaml
Due: none

Check Ceph*Key value format and halt on error
  docker/services/ceph-ansible/ceph-base.yaml
  docker/services/ceph-ansible/ceph-mon.yaml
  docker/services/nova-libvirt.yaml
  puppet/services/manila-backend-cephfs.yaml
  puppet/services/nova-compute.yaml
  puppet/services/nova-libvirt.yaml
Due: none

Remove duplicated topic parts from default value
  ci/environments/scenario001-standalone.yaml
  deployment/ceilometer/ceilometer-agent-notification-container-puppet.yaml
  environments/metrics/ceilometer-write-qdr.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add swiftoperator role on ceph-rgw template
  deployment/ceph-ansible/ceph-base.yaml
  deployment/ceph-ansible/ceph-rgw.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Create ResellerAdmin role when deploying Ceph RGW
  deployment/ceph-ansible/ceph-rgw.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove superfluous comment from deploy-steps-tasks
  common/deploy-steps-tasks.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

rabbitmq: Open ports 25673-25683 for CLI tools
  deployment/rabbitmq/rabbitmq-container-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-container-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-container-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Create octavia project/user based on given values
  deployment/octavia/octavia-api-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

[TRAIN-ONLY] Finish Ceilometer-Panko decouple
  deployment/ceilometer/ceilometer-agent-notification-container-puppet.yaml
  environments/metrics/ceilometer-write-qdr.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add parameters for VNC console proxy SSL/TLS settings
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
  releasenotes/notes/add-console-ssl-cipher-protocol-params-d1f50f2c540c3f2b.yaml
Due: none

Unnessary deploying of bootstrap-osd ceph auth entry
  puppet/services/ceph-base.yaml
Due: none

Use exists filter instead of stat where possible
  common/deploy-steps-tasks-step-0.j2.yaml
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Use a jinja block to reduce str_replace repetition
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Use a common playbook import for common plays
  common/deploy-steps-playbooks-common.yaml
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Enable objects versioning for Ceph RadosGW
  docker/services/ceph-ansible/ceph-base.yaml
Due: none

HA: drop spurious mysql user on stack deploy
  deployment/database/mysql-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Drop resource registry override in ip-from-pool
  environments/ips-from-pool-all.yaml
  environments/ips-from-pool.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use exec when spawning dnsmasq inside sidecar container
  deployment/neutron/neutron-dhcp-container-puppet.yaml
Due: none

ci: remove unused multinode scenarios
  ci/environments/multinode-3nodes-registry.yaml
  ci/environments/multinode-3nodes.yaml
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario003-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
  ci/environments/scenario006-multinode-containers.yaml
  ci/environments/scenario012-multinode-containers.yaml
Due: none

Fix TenantInterfaceDefaultRoute in net-env-v6
  environments/network-environment-v6.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add swiftoperator role on ceph-rgw template
  docker/services/ceph-ansible/ceph-base.yaml
  docker/services/ceph-ansible/ceph-rgw.yaml
Due: none

Use jinja raw tag instead of quoted concatenation
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Re-add scenario001-multinode-containers with heat
  ci/environments/scenario001-multinode-containers.yaml
Due: none

Add j2 per-role MetricsQdrNetwork
  deployment/ceilometer/ceilometer-agent-notification-container-puppet.yaml
  deployment/metrics/collectd-container-puppet.yaml
  deployment/metrics/qdr-container-puppet.yaml
  environments/metrics/collectd-write-qdr.yaml
  environments/metrics/qdr-edge-only.yaml
  environments/metrics/qdr-form-controller-mesh.yaml
  network/service_net_map.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

[TRAIN and before] Introduce ContainerCpusetCpus
  deployment/nova/nova-libvirt-container-puppet.yaml
  releasenotes/notes/cpuset_cpus-4dbde2cec2152b30.yaml
Due: none

Replace chronyc "waitsync" with "makestep"
  deployment/timesync/chrony-baremetal-ansible.yaml
  firstboot/userdata_timesync.yaml
Due: none

Add CephBasePoolVars and CephKeyVars structures
  ci/environments/scenario001-standalone.yaml
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add STF environment
  ci/environments/scenario001-standalone.yaml
  deployment/metrics/collectd-container-puppet.yaml
  deployment/metrics/qdr-container-puppet.yaml
  environments/enable-stf.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

[TRAIN and before] Introduce ContainerCpusetCpus
  docker/services/nova-libvirt.yaml
  releasenotes/notes/cpuset_cpus-4dbde2cec2152b30.yaml
Due: none

Always set hieradata for certmonger_ca
  deployment/certs/certmonger-user-baremetal-puppet.yaml
Due: none

Fixed libvirt volume path for nova-migration-target-container
  deployment/nova/nova-migration-target-container-puppet.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Enable port_forwarding by default in ML2/OVS+DVR environment
  environments/services/neutron-ovs-dvr.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container
