Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa, tripleo-ci-centos-7-scenario011-multinode-oooq-container

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-tht

tripleo-ci-centos-7-scenario010-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-tht

Fixed libvirt volume path for nova-migration-target-container
  deployment/nova/nova-migration-target-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Convert roles section into tasks-include_role in deploy-steps.j2.
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

deploy-steps-playbooks-common: fix logic for scale_ignore_unreachable
  common/deploy-steps-playbooks-common.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

FFU support for ceph_nfs
  deployment/ceph-ansible/ceph-nfs.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Add become: true to the container json file modules
  common/deploy-steps-tasks-step-1.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Revert "Prevent nftables to interfere with tripleo firewall"
  deployment/tripleo-firewall/tripleo-firewall-baremetal-ansible.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Simplify host entries generation
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
Due: none

Set and then unset Ceph's noout flag before/after node is rebooted
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Add missing config_files kolla directives
  deployment/nova/novajoin-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Attempt to remove octavia tls proxy service only present
  deployment/octavia/octavia-api-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Switch deploy steps to tripleo_free
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use distinct params for ca cert in nova-vnc-proxy and nova-libvirt
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Bind mount /var/lib/container-config-scripts inside the restart bundles
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/containers-common.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Replace deprecated ironoc::inspector parameters in puppet-ironic
  deployment/ironic/ironic-inspector-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario011-multinode-oooq-container

Fix vbmc_setup.yaml for c8 standalone
  ci/common/vbmc_setup.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Drop the relabel flag for bind-mount
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Configure SNMP on undercloud
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: none

Remove /var/lib/config-data context task
  common/deploy-steps-playbooks-common.yaml
  common/generate-config-tasks.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

[TRAIN-only] Remove duplicate register
  common/deploy-steps-tasks.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove /run from some services
  deployment/database/redis-container-puppet.yaml
  deployment/nova/nova-scheduler-container-puppet.yaml
  deployment/swift/swift-proxy-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

[queens-only] Unmount cinder NFS shares during upgrade
  docker/services/cinder-volume.yaml
  docker/services/pacemaker/cinder-volume.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Use a single task for fact gathering
  common/deploy-steps-playbooks-common.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add podman service to scenario007 environment
  ci/environments/scenario007-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add BarbicanClient service for configuring edge sites
  deployment/barbican/barbican-client-puppet.yaml
  environments/services/barbican-edge.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/add-barbican-client-for-dcn-7182e8bab41fce21.yaml
  roles/DistributedCompute.yaml
  roles/DistributedComputeHCI.yaml
  roles/DistributedComputeHCIScaleOut.yaml
  roles/DistributedComputeScaleOut.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Generated passthrough_whitelist shall use all the user_configs fields
  deployment/neutron/derive_pci_passthrough_whitelist.py
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Use tripleo linear when not using tripleo free
  common/deploy-steps-playbooks-common.yaml
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove strategy comment
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Stop using a conditional for role tasks
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Ensure redis_tls_proxy starts after all redis instances
  container_config_scripts/wait-port-and-run.sh
  deployment/containers-common.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-standalone-on-multinode-ipa

[Queens-only] fix paths for collectd-standalone
  environments/metrics/collectd-standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-multinode-containers.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-8-standalone-on-multinode-ipa: any of: environments/ssl/tls-everywhere-endpoints-dns.yaml, environments/services/haproxy-public-tls-certmonger.yaml, environments/ssl/enable-internal-tls.yaml, ci/environments/standalone-ipa.yaml, deployment/ipa/ipaservices-baremetal-ansible.yaml, deployment/apache/*, deployment/ceph-ansible/*, deployment/database/*, deployment/etcd/*, deployment/haproxy/*, deployment/metrics/*, deployment/neutron/*, deployment/nova/*, deployment/octavia/*, deployment/ovn/*, deployment/rabbitmq/*, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(deployment|docker|puppet)/.*ironic.*$, ^environments\/.*ironic.*$
