Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

tripleo-ci-centos-7-scenario001-multinode-oooq-container:
  voting: true

tripleo-ci-centos-7-scenario002-multinode-oooq-container:
  voting: true

tripleo-ci-centos-7-scenario003-multinode-oooq-container:
  voting: true

tripleo-ci-centos-7-scenario004-multinode-oooq-container:
  voting: true

Stop all services before upgrading node's OS.
  deployment/podman/podman-baremetal-ansible.yaml
  puppet/services/pacemaker.yaml
Due: none

Reintroduce upgrade tasks for stopping pacemaker cluster
  puppet/services/pacemaker.yaml
Due: none

Add operating system upgrade preparation via Leapp
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
  puppet/services/pacemaker.yaml
Due: none

Remove OpenStack packages right before upgrading the operating system
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: none

Remove baremetal to containerized pacemaker upgrade_tasks.
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: none

Refactor ovn_dbs upgrade_tasks.
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: none

Change package installs for Stein and OS upgrade
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
  environments/lifecycle/upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Configure insecure registries before Pacemaker-managed image pulls
  deployment/podman/podman-baremetal-ansible.yaml
Due: none

Do not assume the CNI config directory exists
  deployment/podman/podman-baremetal-ansible.yaml
Due: none

Configure the Multipathd service
  deployment/cinder/cinder-common-container-puppet.yaml
  deployment/glance/glance-api-container-puppet.yaml
  deployment/multipathd/multipathd-container.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-ironic-container-puppet.yaml
  environments/multipathd.yaml
  releasenotes/notes/configure-multipathd-d3fb4683b9ffbb4b.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Update to the ceilometer publisher list
  docker/services/metrics/qdr.yaml
  environments/metrics/collectd-write-qdr.yaml
  puppet/services/ceilometer-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

MetricsQdr: Add InternalTLS support
  docker/services/metrics/qdr.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

MetricsQdr: Build sslProfiles without internal TLS
  docker/services/metrics/qdr.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Allow ssh from all ctlplane network subnets
  deployment/tripleo-firewall/tripleo-firewall-baremetal-puppet.yaml
Due: none

Rocky only - allow SSH from any source
  puppet/services/tripleo-firewall.yaml
Due: none

Queens only - allow SSH from any source
  puppet/services/tripleo-firewall.yaml
Due: none

Fix ipaclient script
  extraconfig/services/ipaclient.yaml
Due: none

Add container engine authentication support
  deployment/deprecated/docker/docker-baremetal-ansible.yaml
  deployment/podman/podman-baremetal-ansible.yaml
  releasenotes/notes/add-container-registry-login-08d6a87586c84a99.yaml
Due: none

Configure Max Delay for purge job about shadow tables in nova
  deployment/nova/nova-base-puppet.yaml
  releasenotes/notes/nova-purge-maxdelay-fadeea1dc59e8086.yaml
Due: none

Replace git.openstack.org URLs with opendev.org URLs
  README.rst
  ci/common/vbmc_setup.yaml
  deployment/sahara/sahara-base.yaml
  environments/docker-uc-light.yaml
  environments/neutron-ovs-dvr.yaml
  environments/services/neutron-ovs-dvr.yaml
  environments/services/neutron-ovs.yaml
  extraconfig/tasks/instanceha/check-run-nova-compute
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/6.0.0-b52a14a71fc62788.yaml
  releasenotes/notes/fix-odl-karaf-logging-eca10973e57caa3a.yaml
  releasenotes/notes/fix-str-replace-hostname-issue-393fb6954f12f7e6.yaml
  releasenotes/notes/nova_metadata_wsgi-bfb240bc84194d05.yaml
  releasenotes/notes/nova_qemu_enable_config-c89016b4d93802d6.yaml
  releasenotes/notes/nova_templated_cells_db_urls-2eb151090c49c51d.yaml
  releasenotes/notes/nova_templated_cells_transport_url-275f0b707d9227ab.yaml
  releasenotes/notes/nova_use_nova_api_db_for_placement-eea44dd48c768f04.yaml
  setup.cfg
  tox.ini
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Replace /var/log/containers/swift symlink with directories
  deployment/swift/swift-proxy-container-puppet.yaml
  deployment/swift/swift-storage-container-puppet.yaml
Due: none

Don't create symlink for swift container logs
  docker/services/swift-proxy.yaml
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Use per-subnet DNS nameservers for ctlplane
  extraconfig/post_deploy/undercloud_ctlplane_network.py
  extraconfig/post_deploy/undercloud_post.yaml
Due: none

Fix Ceph RGW listener port configuration
  deployment/ceph-ansible/ceph-rgw.yaml
Due: none

Prefer CephPoolDefaultPgNum over counterintuitive Manila specific params
  deployment/ceph-ansible/ceph-mds.yaml
Due: none

Add /run/libvirt to nova_migration_target container
  deployment/nova/nova-migration-target-container-puppet.yaml
  releasenotes/notes/nova_migration_target_libvirt_socket-585fa579e5b2704d.yaml
Due: none

Make comparisons case insensitive
  validation-scripts/all-nodes.sh
Due: none

Enable kill script for Neutron agents
  deployment/neutron/kill-script
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
  releasenotes/notes/neutron-kill-script-4d8b6a0130f6fcdd.yaml
Due: none

Convert heat template to use tuned role
  deployment/tuned/tuned-baremetal-ansible.yaml
Due: none

Queens only: Fixup nova cell0 url fix
  docker/services/nova-api.yaml
Due: none

Avoid checking rc if we're in dry-run mode
  deployment/iscsid/iscsid-container-puppet.yaml
Due: none

Add /run/libvirt to nova_migration_target container
  docker/services/nova-migration-target.yaml
  releasenotes/notes/nova_migration_target_libvirt_socket-585fa579e5b2704d.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: (any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml) or (any of: ^docker/services/glance.*$, ^docker/services/mistral.*$, ^docker/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^docker/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml
