Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$

Redis: Mount certificates on TLS proxy
  docker/services/pacemaker/database/redis.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Revert "Revert "SSL support for haproxy -> novnc proxy connection""
  docker/services/nova-vnc-proxy.yaml
  puppet/services/nova-vnc-proxy.yaml
  releasenotes/notes/nova_novnc_proxy_ssl_support-edc7bc13d0cd6d2b.yaml
Due: none

Enable fluentd on scenario001
  ci/environments/scenario001-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Update rsyslog existence check
  docker/services/swift-proxy.yaml
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix bind-mount to manila's bootstrap container
  docker/services/manila-api.yaml
  releasenotes/notes/bug-1788337-fix-manila-db-sync-overcloud-deploy-f323d85509ca81ec.yaml
Due: tripleo-ci-centos-7-scenario004-multinode-oooq-container

Remove uneececary conditionals in network-environment jinja
  environments/network-environment-v6.j2.yaml
  environments/network-environment.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Bind mount the database client settings in sahara_db_sync
  docker/services/sahara-api.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

Fix standalone home dir variable
  extraconfig/post_deploy/standalone_post.yaml
Due: none

Remove the duplicated word
  releasenotes/notes/docker-bip-9a334c8f31a59b96.yaml
  releasenotes/notes/use-subnet-attrs-ctlplane-cidr-a02e14a251733726.yaml
  releasenotes/notes/use-subnet-attrs-ctlplane-default-route-625ef5e414a65f2e.yaml
  releasenotes/notes/use-subnet-attrs-dnsservers-f751ec1125a9f787.yaml
  releasenotes/notes/use-subnet-attrs-ec2metadataip-aa28f3c030f13c9c.yaml
Due: none

Edit some post update tasks logic
  docker/services/opendaylight-api.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  puppet/services/opendaylight-ovs.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

IHA Default the compute endpoint check script to internal
  extraconfig/tasks/instanceha/check-run-nova-compute
Due: none

avoid unnecessary failure to delete a list of empty workflows
  extraconfig/post_deploy/undercloud_post.sh
Due: none

import zuul job settings from project-config
  zuul.d/layout.yaml
Due: none

Update .gitreview for stable/rocky
  .gitreview
Due: none

Update UPPER_CONSTRAINTS_FILE for stable/rocky
  tox.ini
Due: none

Update reno for stable/rocky
  releasenotes/source/index.rst
  releasenotes/source/rocky.rst
Due: none

neutron-api: remove /usr/share/neutron mount
  docker/services/neutron-api.yaml
Due: none

Fix incorrect network name "ctrlplane" to "ctlplane" for SNMPd.
  network/service_net_map.j2.yaml
Due: none

Add FFU upgrade steps to Sahara services
  docker/services/sahara-api.yaml
  docker/services/sahara-engine.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

Fix all-nodes.sh for python3
  validation-scripts/all-nodes.sh
Due: none

Do not enable Ram/Disk Filter with filter_scheduler
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Always enable image prepare service for docker clouds
  ci/environments/multinode-3nodes.yaml
  ci/environments/multinode-containers.yaml
  ci/environments/multinode.yaml
  ci/environments/multinode_major_upgrade.yaml
  ci/environments/ovb-ha.yaml
  ci/environments/scenario000-multinode-containers.yaml
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario003-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
  ci/environments/scenario006-multinode-containers.yaml
  ci/environments/scenario006-multinode.yaml
  ci/environments/scenario007-multinode-containers.yaml
  ci/environments/scenario008-multinode-containers.yaml
  ci/environments/scenario009-multinode.yaml
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario011-multinode-containers.yaml
  deployed-server/deployed-server-roles-data.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

snmp: listen on ctrlplane
  network/service_net_map.j2.yaml
Due: none

Set OVS local ip through OVS ODL class
  puppet/services/opendaylight-ovs.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Enable fluentd on scenario002-multinode-containers
  ci/environments/scenario002-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

heat-api-cfn fix log path
  docker/services/heat-api-cfn.yaml
  puppet/services/heat-api-cfn.yaml
Due: none

Stop hardcoding baremetal API version in stackrc
  extraconfig/post_deploy/undercloud_post.sh
  releasenotes/notes/stackrc-baremetal-version-309809c01105095f.yaml
Due: none

heat-api fix log path
  docker/services/heat-api.yaml
  puppet/services/heat-api.yaml
Due: none

Include ssh known_hosts entries for non-default port
  puppet/role.role.j2.yaml
Due: none

Remove unused config file when start ovs agent
  docker/services/neutron-ovs-agent.yaml
Due: none

Ceph update and upgrade in config-download era
  docker/services/ceph-ansible/ceph-base.yaml
  docker/services/ceph-ansible/ceph-client.yaml
  docker/services/ceph-ansible/ceph-external.yaml
  docker/services/ceph-ansible/ceph-mds.yaml
  docker/services/ceph-ansible/ceph-mgr.yaml
  docker/services/ceph-ansible/ceph-mon.yaml
  docker/services/ceph-ansible/ceph-nfs.yaml
  docker/services/ceph-ansible/ceph-osd.yaml
  docker/services/ceph-ansible/ceph-rbdmirror.yaml
  docker/services/ceph-ansible/ceph-rgw.yaml
  environments/ceph-ansible/ceph-ansible.yaml
  environments/lifecycle/ffwd-upgrade-converge.yaml
  environments/lifecycle/update-converge.yaml
  environments/lifecycle/upgrade-converge.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix the scenario007 CI job failure
  ci/environments/scenario007-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add reflection of RpcPort to health checks
  docker/services/aodh-listener.yaml
  docker/services/aodh-notifier.yaml
  docker/services/barbican-api.yaml
  docker/services/ceilometer-agent-notification.yaml
  docker/services/cinder-backup.yaml
  docker/services/cinder-scheduler.yaml
  docker/services/cinder-volume.yaml
  docker/services/heat-engine.yaml
  docker/services/ironic-conductor.yaml
  docker/services/manila-scheduler.yaml
  docker/services/mistral-engine.yaml
  docker/services/mistral-event-engine.yaml
  docker/services/mistral-executor.yaml
  docker/services/neutron-dhcp.yaml
  docker/services/neutron-l3.yaml
  docker/services/neutron-metadata.yaml
  docker/services/neutron-ovs-agent.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-conductor.yaml
  docker/services/nova-consoleauth.yaml
  docker/services/nova-ironic.yaml
  docker/services/nova-scheduler.yaml
  docker/services/octavia-worker.yaml
  docker/services/sahara-engine.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container
