Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/ceilometer.*$, ^puppet/services/ceph.*$, ^puppet/services/cinder.*$, ^puppet/services/congress.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/logging.*$, ^puppet/services/metrics.*$, ^puppet/services/monitoring.*$, ^puppet/services/panko.*$, ^puppet/services/tacker.*$, ci/environments/scenario001-multinode.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/congress.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/logging.*$, ^(docker|puppet)/services/metrics.*$, ^(docker|puppet)/services/monitoring.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/barbican.*$, ^puppet/services/ceilometer.*$, ^puppet/services/cinder.*$, ^puppet/services/ec2-api.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/panko.*$, ^puppet/services/swift.*$, ^puppet/services/zaqar.*$, ci/environments/scenario002-multinode.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/barbican.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/ec2-api.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/swift.*$, ^(docker|puppet)/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^puppet/services/glance.*$, ^puppet/services/mistral.*$, ^puppet/services/sahara.*$, ci/environments/scenario003-multinode.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/mistral.*$, ^(docker|puppet)/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^puppet/services/ceph.*$, ^puppet/services/glance.*$, ^puppet/services/manila.*$, ci/environments/scenario004-multinode.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ci/environments/scenario007-multinode.yaml, ci/pingtests/scenario007-multinode.yaml, ^puppet/services/.*ovn.*$, config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^(docker|puppet)/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml

Do not create NetworkVlanID is the value is not defined
  environments/network-environment-v6.j2.yaml
  environments/network-environment.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix newton compat mode for deployed server.
  deployed-server/ctlplane-port.yaml
  tools/yaml-validate.py
Due: none

[FFU] Hook to allow user to pass a custom script for repo switching.
  puppet/services/tripleo-packages.yaml
  releasenotes/notes/ffu-custom-script-to-switch-repo-a65db91760b46ec2.yaml
Due: none

Fixes ODL container failing to start due to missing etc config
  docker/services/opendaylight-api.yaml
  releasenotes/notes/fix-odl-missing-etc-config-87c33bc05f692f44.yaml
Due: none

Mount openvswitch dir rather than socket
  docker/services/neutron-ovs-agent.yaml
Due: none

undercloud: remove IronicInspectorCollectors in environment
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Added the missing attributes for roles_data of ovs-dpdk-agent docker service
  docker/services/neutron-ovs-dpdk-agent.yaml
Due: none

Allow for passing boot-time vars/args to OC nodes
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Fix fluentd upgrade tasks during FFU.
  docker/services/fluentd.yaml
Due: none

Enable octavia-api health check
  docker/services/octavia-api.yaml
Due: none

Allow stacks to remove old update resources
  overcloud-resource-registry-puppet.j2.yaml
Due: none

Include pacemaker in Telemetry role
  roles/Telemetry.yaml
Due: none

Configure qemu group setting as hugetlbfs for ovs-dpdk
  environments/ovs-dpdk-permissions.yaml
  puppet/services/neutron-ovs-dpdk-agent.yaml
  puppet/services/opendaylight-ovs.yaml
  releasenotes/notes/ovs-dpdk-permissions-50c5b33334ff4711.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Upgrade data on disk on mysql major upgrade - non HA
  docker/services/database/mysql.yaml
Due: none

Fix update of pacemaker container images during major upgrade
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  puppet/services/pacemaker.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Add environment/services-baremetal/*.
  environments/services-baremetal/barbican.yaml
  environments/services-baremetal/cinder-backup.yaml
  environments/services-baremetal/collectd.yaml
  environments/services-baremetal/congress.yaml
  environments/services-baremetal/ec2-api.yaml
  environments/services-baremetal/etcd.yaml
  environments/services-baremetal/fluentd.yaml
  environments/services-baremetal/ironic-inspector.yaml
  environments/services-baremetal/ironic.yaml
  environments/services-baremetal/manila.yaml
  environments/services-baremetal/mistral.yaml
  environments/services-baremetal/neutron-bgpvpn-opendaylight.yaml
  environments/services-baremetal/neutron-l2gw-opendaylight.yaml
  environments/services-baremetal/neutron-ml2-cisco-vts.yaml
  environments/services-baremetal/neutron-opendaylight-dpdk.yaml
  environments/services-baremetal/neutron-opendaylight-hw-offload.yaml
  environments/services-baremetal/neutron-opendaylight-sriov.yaml
  environments/services-baremetal/neutron-opendaylight.yaml
  environments/services-baremetal/neutron-ovn-dvr-ha.yaml
  environments/services-baremetal/neutron-ovn-dvr.yaml
  environments/services-baremetal/neutron-ovn-ha.yaml
  environments/services-baremetal/neutron-ovn-hw-offload.yaml
  environments/services-baremetal/neutron-ovn.yaml
  environments/services-baremetal/neutron-ovs-dpdk.yaml
  environments/services-baremetal/neutron-ovs-hw-offload.yaml
  environments/services-baremetal/neutron-sriov.yaml
  environments/services-baremetal/octavia.yaml
  environments/services-baremetal/sahara.yaml
  environments/services-baremetal/sensu-client.yaml
  environments/services-baremetal/tacker.yaml
  environments/services-baremetal/undercloud-aodh.yaml
  environments/services-baremetal/undercloud-ceilometer.yaml
  environments/services-baremetal/undercloud-cinder.yaml
  environments/services-baremetal/undercloud-gnocchi.yaml
  environments/services-baremetal/undercloud-haproxy.yaml
  environments/services-baremetal/undercloud-keepalived.yaml
  environments/services-baremetal/undercloud-panko.yaml
  environments/services-baremetal/zaqar.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Fix ssh keys validation workflow trigger UC post
  extraconfig/post_deploy/undercloud_post.sh
Due: none

Fix undercloud key upload to nova keypairs UC post
  extraconfig/post_deploy/undercloud_post.sh
Due: none

Make HA containers log to /var/log/containers after upgrade
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

HAProxy: fix bind mount to expose stats socket
  docker/services/haproxy.yaml
Due: none

ironic/undercloud: align configuration with instack-undercloud
  environments/undercloud.yaml
  puppet/services/ironic-api.yaml
  puppet/services/ironic-conductor.yaml
  puppet/services/ironic-inspector.yaml
  puppet/services/tripleo-ui.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Move API cors config to their services
  environments/undercloud.yaml
  puppet/services/heat-base.yaml
  puppet/services/keystone.yaml
  puppet/services/mistral-api.yaml
  puppet/services/swift-proxy.yaml
  puppet/services/tripleo-ui.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Apply the vhost group parameter for the vhost_sockets directory creation
  docker/services/nova-libvirt.yaml
Due: none

Use ironic::inspector::dnsmasq_ip_subnets
  puppet/services/ironic-inspector.yaml
  releasenotes/notes/ironic-inspector-use-dnsmasq_ip_subnets-abba77307e761b96.yaml
Due: none

Container Undercloud - Enable neutron segments
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Honor {{role.name}}ExtraConfig with deprecated params
  puppet/role.role.j2.yaml
  releasenotes/notes/use-role-name-ExtraConfig-with-deprecations-2688f34fbc6de74a.yaml
Due: none

Set TripleoUI bind_host via ServiceNetMap
  network/service_net_map.j2.yaml
  puppet/services/tripleo-ui.yaml
Due: none

Upgrade data on disk on mariadb major upgrade
  docker/services/pacemaker/database/mysql.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

remove OS::TripleO::Services::CephClient from CephAll
  roles/CephAll.yaml
  tools/yaml-validate.py
Due: none

Correctly set NeutronMl2PluginBase for OVN scenario
  ci/environments/scenario007-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Consume ceph-container project's new style of tags
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add pre_upgrade_rolling_tasks
  common/deploy-steps.j2
  common/services.yaml
  releasenotes/notes/pre_upgrade_rolling_tasks-6345e98e8283a907.yaml
  tools/yaml-validate.py
Due: none

Add access to /var/run/openvswitch from collectd
  docker/services/collectd.yaml
Due: none

Remove the os-net-config element config.json template
  environments/major-upgrade-composable-steps-docker.yaml
  environments/major-upgrade-composable-steps.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add support for Dell EMC XtremIO Cinder ISCSI Backend
  capabilities-map.yaml
  deployed-server/deployed-server-roles-data.yaml
  environments/cinder-dellemc-xtremio-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/cinder-backend-dellemc-xtremio-iscsi.yaml
  releasenotes/notes/xtremio_cinder_c5572898724a11e7.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerStorageNfs.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove config.json for old style nic config files when using new style
  network/scripts/run-os-net-config.sh
Due: none
