Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Configure cinder's access to the nova API
  puppet/services/cinder-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Enable _member_ role for undercloud install.
  environments/undercloud.yaml
  puppet/services/keystone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Allow custom time constraints to rotate logs
  docker/services/logrotate-crond.yaml
  releasenotes/notes/logrotate-containers-purge-a5587253fe6cbb28.yaml
Due: none

Move set of database_connection to OctaviaBase
  docker/services/octavia-health-manager.yaml
  docker/services/octavia-housekeeping.yaml
  docker/services/octavia-worker.yaml
  puppet/services/octavia-api.yaml
  puppet/services/octavia-base.yaml
Due: none

Ensure chrony is restarted
  deployment/timesync/chrony-ansible.yaml
Due: none

Noop out xinetd::service
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Update kolla_config to deal with keystone fernet key rotation
  docker/services/keystone.yaml
Due: none

Fix new node detection
  extraconfig/services/openshift-node.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Do not include node scale up playbook in case of new masters
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Make openshift-master service idempotent
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Check for available networks for a role
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
  roles/Standalone.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: none

Add customized libvirt-guests unit file to properly shutdown instances
  puppet/services/nova-compute.yaml
  releasenotes/notes/nova_custom_libvirt-guests_unit-7ac2c4b5511ca549.yaml
Due: none

Fix indentation issue
  docker/services/database/mongodb.yaml
  docker/services/ovn-metadata.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add bootparams service for all roles
  environments/hyperconverged-ceph.yaml
  roles/BlockStorage.yaml
  roles/CephAll.yaml
  roles/CephFile.yaml
  roles/CephObject.yaml
  roles/CephStorage.yaml
  roles/Compute.yaml
  roles/ComputeAlt.yaml
  roles/ComputeDVR.yaml
  roles/ComputeHCI.yaml
  roles/ComputeInstanceHA.yaml
  roles/ComputeLiquidio.yaml
  roles/ComputePPC64LE.yaml
  roles/Controller.yaml
  roles/ControllerAllNovaStandalone.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerOpenstack.yaml
  roles/ControllerStorageNfs.yaml
  roles/Database.yaml
  roles/HciCephAll.yaml
  roles/HciCephFile.yaml
  roles/HciCephMon.yaml
  roles/HciCephObject.yaml
  roles/IronicConductor.yaml
  roles/Messaging.yaml
  roles/Networker.yaml
  roles/Novacontrol.yaml
  roles/ObjectStorage.yaml
  roles/OpenShiftAllInOne.yaml
  roles/OpenShiftInfra.yaml
  roles/OpenShiftMaster.yaml
  roles/OpenShiftWorker.yaml
  roles/Telemetry.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Honor --skip-deploy-identifier in common deploy tasks for updates
  common/deploy-steps.j2
Due: none

ceph: allow curl tasks to run in dry run mode
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add more NSX config parameters
  puppet/services/neutron-plugin-nsx.yaml
Due: none

Ensure octavia flavor gets configured if composable octavia
  docker/services/octavia-api.yaml
  docker/services/octavia-worker.yaml
Due: none

Make $SSH_OPTIONS overrideable
  deployed-server/scripts/get-occ-config.sh
  releasenotes/notes/overrideable-ssh-options-1bd4a78408eb6c2c.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Allow enabling routed networks on undercloud update|upgrade
  extraconfig/post_deploy/undercloud_ctlplane_network.py
  releasenotes/notes/undercloud-add-support-enable-routed-networks-on-update-294acc2136c0fe47.yaml
Due: none

Set Swift workers to 2
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix ansible conditional for ovs upgrade.
  puppet/services/tripleo-packages.yaml
Due: none

Remove unnecessary logs due to misconfiguration from pacemaker
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Add config files/templates to integrate nsx plugin with container
  docker/services/neutron-plugin-nsx.yaml
  environments/neutron-nsx.yaml
  environments/nsx-config.yaml
  environments/services/neutron-nsx-lbaasv2.yaml
  overcloud-resource-registry-puppet.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Configure registry to use gluster
  extraconfig/services/openshift-cns.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Don't set boot_option=local on baremetal flavors
  extraconfig/post_deploy/undercloud_post.py
Due: none

Initial conversion of scenario001 to standalone
  ci/environments/scenario001-standalone.yaml
Due: none

Remove validation part of the online database migration pre-upgrade.
  docker/services/cinder-api.yaml
  docker/services/ironic-api.yaml
  docker/services/nova-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix logging for metrics_qdr
  docker/services/metrics/qdr.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Stop upgrade if a task on one node fails
  common/deploy-steps.j2
Due: none

Disable deprecated parameter ControllerEnableSwiftStorage
  puppet/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Set `TraceEnable` directive for apache to 'Off'
  puppet/services/apache.j2.yaml
Due: none

Remove tftp service and package upon upgrade to container
  docker/services/ironic-pxe.yaml
Due: none

Fix containerized ironic bind-mounts
  docker/services/ironic-conductor.yaml
  docker/services/ironic-pxe.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
