Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario011-multinode-oooq-container

Disable cinder's LVM backend when deploying Pure backend
  environments/cinder-pure-config.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Make sure openssl-perl is installed on split stack tls-everywhere deployments
  deployment/nova/novajoin-container-puppet.yaml
Due: none

Include python-panko client.
  puppet/services/openstack-clients.yaml
Due: none

Stop loading nf_conntrack_proto_sctp module
  deployment/kernel/kernel-baremetal-puppet.yaml
Due: none

Switch OpenShift nodes to use Podman
  environments/openshift.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Remove unused parameter NovaPassword
  docker/services/nova-compute-common.yaml
Due: none

Configure Horizon timezone according to the host timezone
  deployment/horizon/horizon-container-puppet.yaml
Due: none

Make nfs version for nova ephemeral storage configurable
  environments/storage-environment.yaml
  environments/storage/nova-nfs.yaml
  puppet/services/nova-compute.yaml
  releasenotes/notes/nova_add_nfs_vers_parameter-62b9e9d6150358d1.yaml
  sample-env-generator/storage.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Stop iscsid when running FFU tasks.
  docker/services/iscsid.yaml
Due: none

Only add VlanID parameters to multiple-nics examples if using vlans
  network/config/multiple-nics/role.role.j2.yaml
Due: none

Add storage_mgmt network to DistributedComputeHCI role
  roles/DistributedComputeHCI.yaml
Due: none

Add external_resource_id properties to network_data.yaml
  network/network.j2
  network_data.yaml
Due: none

Add external_resource_vip_id property to network_data.yaml
  environments/network-isolation-v6-all.j2.yaml
  environments/network-isolation-v6.j2.yaml
  environments/network-isolation.j2.yaml
  network/ports/external_resource_port.network.j2.yaml
  network/ports/external_resource_port_v6.network.j2.yaml
  network/ports/port.j2
  network_data.yaml
  releasenotes/notes/network-data-external-id-properties-20d4aec2e557e980.yaml
  tools/process-templates.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

mistral: configure heartbeat parameters to avoid action timeout
  deployment/mistral/mistral-base.yaml
  environments/undercloud.yaml
  releasenotes/notes/mistral_timeout-c00344d5b3d8c4b0.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

ipaclient: do not explicitely install python-simplejson
  extraconfig/services/ipaclient.yaml
Due: none

ContainerCli param added to ceph-base heat template
  deployment/ceph-ansible/ceph-base.yaml
Due: none

Move apache service under deployment directory
  deployment/aodh/aodh-api-container-puppet.yaml
  deployment/apache/apache-baremetal-puppet.j2.yaml
  deployment/barbican/barbican-api-container-puppet.yaml
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/deprecated/nova/nova-placement-container-puppet.yaml
  deployment/deprecated/panko/panko-api-container-puppet.yaml
  deployment/gnocchi/gnocchi-api-container-puppet.yaml
  deployment/heat/heat-api-cfn-container-puppet.yaml
  deployment/heat/heat-api-container-puppet.yaml
  deployment/ironic/ironic-api-container-puppet.yaml
  deployment/keystone/keystone-container-puppet.yaml
  deployment/manila/manila-api-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-metadata-container-puppet.yaml
  deployment/zaqar/zaqar-container-puppet.yaml
  environments/ssl/enable-internal-tls.yaml
  overcloud-resource-registry-puppet.j2.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Add %network%InterfaceDefaultRoute for compatibility
  net-config-bond.j2.yaml
  net-config-bridge.j2.yaml
  net-config-linux-bridge.j2.yaml
  net-config-noop.j2.yaml
  net-config-standalone.j2.yaml
  net-config-static-bridge-with-external-dhcp.j2.yaml
  net-config-static-bridge.j2.yaml
  net-config-static.j2.yaml
  net-config-undercloud.j2.yaml
Due: none

Fix reload notification file
  puppet/services/time/timezone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Rename /var/lib/docker-config-scripts to /var/lib/container-config-scripts
  common/deploy-steps-tasks.yaml
  deployment/ironic/ironic-conductor-container-puppet.yaml
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-ironic-container-puppet.yaml
  deployment/swift/swift-proxy-container-puppet.yaml
  docker/services/containers-common.yaml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Pass all vars to deploy-steps-tasks.yaml with config-download
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Rename docker-container-startup-configs to container-startup-configs
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
  docker/docker-toool
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

[Queens-only] Install and configure tmpwatch for log cleanup
  docker/services/logrotate-crond.yaml
  environments/undercloud.yaml
  extraconfig/services/tmpwatch-install.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

[Configuration] Add missing py37 and corrected default envlist.
  tox.ini
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Add ExternalInterfaceDefaultRoute parameter to ci nic configs
  ci/common/net-config-multinode-os-net-config.yaml
  ci/common/net-config-multinode.yaml
  ci/common/net-config-simple-bridge.yaml
Due: none

Deprecate opendaylight service
  deployment/deprecated/opendaylight/opendaylight-api-container-puppet.yaml
  deployment/deprecated/opendaylight/opendaylight-ovs-baremetal-puppet.yaml
  puppet/services/releasenotes/notes/deprecate-opendaylight-service-64b960923324edc4.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container

Update scenario 10 for flattened ceph
  ci/environments/scenario010-standalone.yaml
Due: none

Run mistral_executor unprivileged
  deployment/mistral/mistral-executor-container-puppet.yaml
Due: none

Fixes for freeipa_setup.sh
  ci/scripts/freeipa_setup.sh
Due: none

Fix Nova/Libvirt memory backed file conditions when they are role params
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: none

Provide option to disable EMC in puppet-vswitch
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
  puppet/services/openvswitch.yaml
  releasenotes/notes/OvsDisableEMC-ab29e5c08856d439.yaml
Due: none

TLS everywhere: switch Octavia to use DNS entries
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Adding configurability to the amphora image format
  deployment/octavia/octavia-deployment-config.j2.yaml
  releasenotes/notes/octavia-amphora-image-format-f2f3f494e6fbe82c.yaml
Due: none

Move container-puppet.py to common
  common/container-puppet.py
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Default to 'podman' in container-puppet.py
  common/container-puppet.py
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Move Aide to deployments
  capabilities-map.yaml
  deployment/aide/aide-baremetal-puppet.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^deployed-server/.*$, ^(docker|puppet)/services/.*ca-certs.*$, ^(docker|puppet)/services/.*clustercheck.*$, ^(docker|puppet)/services/.*container-image-prepare.*$, ^(docker|puppet)/services/.*docker.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*kernel.*$, ^(docker|puppet)/services/.*keystone.*$, ^(docker|puppet)/services/.*memcached.*$, ^(docker|puppet)/services/.*mysql.*$, ^(docker|puppet)/services/.*ntp.*$, ^(docker|puppet)/services/.*pacemaker.*$, ^(docker|puppet)/services/.*rabbitmq.*$, ^(docker|puppet)/services/.*snmp.*$, ^(docker|puppet)/services/.*timezone.*$, ^(docker|puppet)/services/.*tripleo-packages.*$, ^(docker|puppet)/services/.*tripleo-firewall.*$, ^(docker|puppet)/services/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ci/environments/scenario008-multinode-containers.yaml, ^(docker|puppet)/services/.*(odl|opendaylight).*$, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*keepalived.*$, ^(docker|puppet)/services/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(docker|puppet)/services/.*octavia.*$, ci/environments/scenario010-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario001-standalone: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario002-standalone: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario004-standalone: any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(docker|puppet)/services/.*ironic.*$, ^environments\/.*ironic.*$
