Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa, tripleo-ci-centos-7-scenario011-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-multinode-containers.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-8-standalone-on-multinode-ipa: any of: environments/ssl/tls-everywhere-endpoints-dns.yaml, environments/services/haproxy-public-tls-certmonger.yaml, environments/ssl/enable-internal-tls.yaml, ci/environments/standalone-ipa.yaml, deployment/ipa/ipaservices-baremetal-ansible.yaml, deployment/apache/*, deployment/ceph-ansible/*, deployment/database/*, deployment/etcd/*, deployment/haproxy/*, deployment/metrics/*, deployment/neutron/*, deployment/nova/*, deployment/octavia/*, deployment/ovn/*, deployment/rabbitmq/*, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(deployment|docker|puppet)/.*ironic.*$, ^environments\/.*ironic.*$

Avoid failing on deleted file
  container_config_scripts/nova_statedir_ownership.py
  container_config_scripts/tests/test_nova_statedir_ownership.py
Due: none

Unmount NFS shares before launching LEAPP
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Task should fail on any failure
  deployment/haproxy/haproxy-public-tls-inject.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-standalone-on-multinode-ipa

Prevent skip package fact to run on all steps.
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Prevent ovn dbs related facts to run on each step.
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Revert "[train/backport] Prevent nftables to interfere with tripleo firewall"
  deployment/tripleo-firewall/tripleo-firewall-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add BarbicanClient service for configuring edge sites
  deployment/barbican/barbican-client-puppet.yaml
  environments/services/barbican-edge.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/add-barbican-client-for-dcn-7182e8bab41fce21.yaml
  roles/DistributedCompute.yaml
  roles/DistributedComputeHCI.yaml
  roles/DistributedComputeHCIScaleOut.yaml
  roles/DistributedComputeScaleOut.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use command to set pythonintepreter
  deployment/ipa/ipaclient-baremetal-ansible.yaml
  deployment/ipa/ipaservices-baremetal-ansible.yaml
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Revert "Prevent nftables to interfere with tripleo firewall"
  deployment/tripleo-firewall/tripleo-firewall-baremetal-ansible.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove /run from some services
  deployment/database/redis-container-puppet.yaml
  deployment/nova/nova-scheduler-container-puppet.yaml
  deployment/swift/swift-proxy-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Don't set RABBITMQ_SERVER_ERL_ARGS
  deployment/rabbitmq/rabbitmq-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-standalone-on-multinode-ipa

Collapse deploy steps
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Collapse host prep tasks
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix privilege escalation
  common/container_startup_configs_tasks.yaml
  common/deploy-steps-playbooks-common.yaml
  common/deploy-steps-tasks-step-0.j2.yaml
  common/deploy-steps-tasks-step-1.yaml
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
  common/generate-config-tasks.yaml
  common/hiera-steps-tasks.yaml
  deployment/logrotate/tmpwatch-install.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Always clear cached facts first
  common/deploy-steps-playbooks-common.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove duplicated hieradata
  deployment/neutron/neutron-api-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Use parameters in new neutron::server::notifications::nova class
  deployment/neutron/neutron-api-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Simplify host entries generation
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
Due: none

Fix bind mount volumes for novajoin containers
  deployment/nova/novajoin-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Switch deploy steps to tripleo_free
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Generate container startup configs with a new module
  common/container_startup_configs_tasks.yaml
  common/deploy-steps-tasks-step-1.yaml
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add scenario013: Octavia standalone without Ceph
  README.rst
  ci/environments/scenario013-standalone.yaml
Due: none

Allow disabling the ovn provider in scen013
  ci/environments/scenario013-standalone.yaml
Due: none

Fix privilege escalation
  common/deploy-steps-playbooks-common.yaml
  common/deploy-steps-tasks-step-0.j2.yaml
  common/deploy-steps-tasks-step-1.yaml
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
  common/generate-config-tasks.yaml
  common/hiera-steps-tasks.yaml
  deployment/logrotate/tmpwatch-install.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Move sidecar kill scripts to host prep
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Check for correct column name for execution show
  deployed-server/scripts/enable-ssh-admin.sh
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

FFU support for ceph_nfs
  deployment/ceph-ansible/ceph-nfs.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Don't use pacemaker in ironic sa job
  ci/common/ironic_standalone_post.yaml
  ci/environments/scenario012-standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix typo in setting octavia wsgi server name
  puppet/services/octavia-api.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Allow overriding InterfaceDefaultRoute with ips_from_pool template
  network/ports/port_from_pool.j2
Due: none

deploy-steps-playbooks-common: fix logic for scale_ignore_unreachable
  common/deploy-steps-playbooks-common.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use tripleo linear when not using tripleo free
  common/deploy-steps-playbooks-common.yaml
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Relax facts gathering plays on the overcloud
  common/deploy-steps-playbooks-common.yaml
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add become: true to the container json file modules
  common/deploy-steps-tasks-step-1.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container
