Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

tripleo-ci-centos-7-scenario001-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario002-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario003-multinode-oooq-container:
  voting: false

Add prepare/converge env files for update
  environments/lifecycle/update-converge.yaml
  environments/lifecycle/update-prepare.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add the service_config_settings from {{service-name}} base
  docker/services/neutron-l3.yaml
  docker/services/neutron-metadata.yaml
  docker/services/neutron-ovs-agent.yaml
Due: none

Update environment files for Q upgrade and ffwd upgrade
  environments/lifecycle/ffwd-upgrade-converge.yaml
  environments/lifecycle/ffwd-upgrade-prepare.yaml
  environments/lifecycle/upgrade-converge.yaml
  environments/lifecycle/upgrade-prepare.yaml
  environments/major-upgrade-composable-steps-docker.yaml
  environments/major-upgrade-converge-docker.yaml
  environments/major-upgrade-converge.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

FFU: Use yum shell instead of ansible yum module
  docker/services/aodh-api.yaml
  docker/services/cinder-api.yaml
  docker/services/heat-api.yaml
  docker/services/keystone.yaml
  docker/services/neutron-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

pep8: include no-tls-endpoints-public-ip.yaml in validation
  tools/yaml-validate.py
Due: none

Removes odl-dlux-gui feature for ODL
  puppet/services/opendaylight-api.yaml
  releasenotes/notes/remove-odl-dlux-gui-4728de06c973cd53.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Add condition to ovs run during upgrade.
  puppet/services/openvswitch.yaml
Due: none

Add openvswitch/hugetlbfs user and group on update
  puppet/services/neutron-ovs-agent.yaml
  puppet/services/neutron-ovs-dpdk-agent.yaml
  puppet/services/opendaylight-ovs.yaml
  puppet/services/openvswitch.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Use hiera interpolation for memcached_network
  puppet/services/memcached.yaml
Due: none

Logging Added nova-metadata log file
  puppet/services/nova-metadata.yaml
Due: none

[DNM] ceph-nfs: disable ganesha caching
  docker/services/ceph-ansible/ceph-nfs.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Modify vhost user socket directory's default value in environment file
  environments/neutron-ovs-dpdk.yaml
  releasenotes/notes/vhost_default_dir-cac327a0ac05df90.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add validation task in docker services [Mixed-1]
  docker/services/congress.yaml
  docker/services/database/redis.yaml
  docker/services/ec2-api.yaml
  docker/services/etcd.yaml
  docker/services/glance-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add validation task in docker services [Octavia]
  docker/services/octavia-api.yaml
  docker/services/octavia-health-manager.yaml
  docker/services/octavia-housekeeping.yaml
  docker/services/octavia-worker.yaml
Due: none

Allowing Non-IP Traffic in L2 and L3 domains
  puppet/services/neutron-plugin-ml2-nuage.yaml
Due: none

Add Barbican to the list of services for the undercloud
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: none

Environment to disable workflow_tasks
  environments/disable-workflow-tasks.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Migrate Ceph deployment to external_deploy_task
  docker/services/ceph-ansible/ceph-base.yaml
  docker/services/ceph-ansible/ceph-client.yaml
  docker/services/ceph-ansible/ceph-external.yaml
  docker/services/ceph-ansible/ceph-mds.yaml
  docker/services/ceph-ansible/ceph-mgr.yaml
  docker/services/ceph-ansible/ceph-mon.yaml
  docker/services/ceph-ansible/ceph-nfs.yaml
  docker/services/ceph-ansible/ceph-osd.yaml
  docker/services/ceph-ansible/ceph-rbdmirror.yaml
  docker/services/ceph-ansible/ceph-rgw.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Upgrade: make bundles use new container image name after upgrade
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Adding missing OVN Metadata service to DVR environments
  environments/services-docker/neutron-ovn-dvr-ha.yaml
  environments/services-docker/neutron-ovn-dvr.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Configure qemu group setting as hugetlbfs for ovs-dpdk
  environments/neutron-ovs-dpdk-permissions.yaml
  extraconfig/pre_network/host_config_and_reboot.yaml
  puppet/services/neutron-ovs-dpdk-agent.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Correct indentation and file path
  docker/services/opendaylight-api.yaml
  releasenotes/notes/odl_delete_data_folder-b8c2f9a9382fd692.yaml
Due: none

Consume RoleData config from config download files
  common/deploy-steps-tasks.yaml
Due: none

Remove todo as mistral tag filtering is fixed
  extraconfig/post_deploy/undercloud_post.sh
Due: none

Move mod_ssl release note
  releasenotes/notes/mod_ssl-e7fd4db71189242e.yaml
Due: none

Disable FluentClient service for ffwd/upgrades.
  environments/lifecycle/ffwd-upgrade-prepare.yaml
  environments/lifecycle/upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Modify libvirt port range for live-migration
  puppet/services/nova-libvirt.yaml
  releasenotes/notes/live_migration_port_range-54c28faf0a67a3fc.yaml
Due: none

ovn: Mount /run instead of /run/openvswitch when starting ovn-controller container
  docker/services/ovn-controller.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add missing hiera interpolation calls
  docker/services/novajoin.yaml
  puppet/services/database/redis.yaml
  puppet/services/snmp.yaml
Due: none

Add validation for hiera interpolation in services
  requirements.txt
  tools/yaml-validate.py
Due: none

Configure qemu group setting as hugetlbfs for ovs-dpdk
  environments/neutron-ovs-dpdk-permissions.yaml
  puppet/services/neutron-ovs-dpdk-agent.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add www_authenticate_uri option to replace auth_uri.
  puppet/services/aodh-base.yaml
  puppet/services/barbican-api.yaml
  puppet/services/ceilometer-base.yaml
  puppet/services/cinder-api.yaml
  puppet/services/congress.yaml
  puppet/services/ec2-api.yaml
  puppet/services/gnocchi-api.yaml
  puppet/services/heat-base.yaml
  puppet/services/manila-share.yaml
  puppet/services/mistral-base.yaml
  puppet/services/neutron-api.yaml
  puppet/services/nova-api.yaml
  puppet/services/nova-placement.yaml
  puppet/services/octavia-api.yaml
  puppet/services/panko-base.yaml
  puppet/services/sahara-base.yaml
  puppet/services/tacker.yaml
  puppet/services/zaqar-api.yaml
  releasenotes/notes/deprecate_auth_uri_parameter-bdebdc6614ce8b7e.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Containerize Neutron LBaaS service plugin
  deployed-server/deployed-server-roles-data.yaml
  docker/services/neutron-lbaas-api.yaml
  environments/services-baremetal/neutron-lbaasv2.yaml
  environments/services/neutron-lbaasv2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/neutron-lbaas-agent.yaml
  puppet/services/neutron-lbaas-api.yaml
  releasenotes/notes/containerize-neutron-lbaas-service-plugin-20562487d6631c88.yaml
  roles/Controller.yaml
  roles/ControllerAllNovaStandalone.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerOpenstack.yaml
  roles/ControllerStorageNfs.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/ceilometer.*$, ^puppet/services/ceph.*$, ^puppet/services/cinder.*$, ^puppet/services/congress.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/logging.*$, ^puppet/services/metrics.*$, ^puppet/services/monitoring.*$, ^puppet/services/panko.*$, ^puppet/services/tacker.*$, ci/environments/scenario001-multinode.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/congress.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/logging.*$, ^(docker|puppet)/services/metrics.*$, ^(docker|puppet)/services/monitoring.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/barbican.*$, ^puppet/services/ceilometer.*$, ^puppet/services/cinder.*$, ^puppet/services/ec2-api.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/panko.*$, ^puppet/services/swift.*$, ^puppet/services/zaqar.*$, ci/environments/scenario002-multinode.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/barbican.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/ec2-api.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/swift.*$, ^(docker|puppet)/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^puppet/services/glance.*$, ^puppet/services/mistral.*$, ^puppet/services/sahara.*$, ci/environments/scenario003-multinode.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/mistral.*$, ^(docker|puppet)/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^puppet/services/ceph.*$, ^puppet/services/glance.*$, ^puppet/services/manila.*$, ci/environments/scenario004-multinode.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ci/environments/scenario007-multinode.yaml, ci/pingtests/scenario007-multinode.yaml, ^puppet/services/.*ovn.*$, config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^(docker|puppet)/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml
