Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/ceilometer.*$, ^puppet/services/ceph.*$, ^puppet/services/cinder.*$, ^puppet/services/congress.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/logging.*$, ^puppet/services/metrics.*$, ^puppet/services/monitoring.*$, ^puppet/services/panko.*$, ^puppet/services/tacker.*$, ci/environments/scenario001-multinode.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/congress.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/logging.*$, ^(docker|puppet)/services/metrics.*$, ^(docker|puppet)/services/monitoring.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/barbican.*$, ^puppet/services/ceilometer.*$, ^puppet/services/cinder.*$, ^puppet/services/ec2-api.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/panko.*$, ^puppet/services/swift.*$, ^puppet/services/zaqar.*$, ci/environments/scenario002-multinode.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/barbican.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/ec2-api.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/swift.*$, ^(docker|puppet)/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^puppet/services/glance.*$, ^puppet/services/mistral.*$, ^puppet/services/sahara.*$, ci/environments/scenario003-multinode.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/mistral.*$, ^(docker|puppet)/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^puppet/services/ceph.*$, ^puppet/services/glance.*$, ^puppet/services/manila.*$, ci/environments/scenario004-multinode.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ci/environments/scenario007-multinode.yaml, ci/pingtests/scenario007-multinode.yaml, ^puppet/services/.*ovn.*$, config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^(docker|puppet)/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml

Use relative path in ipv6 nic configs
  ci/environments/network/multiple-nics-ipv6/nic-configs/ceph-storage.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/cinder-storage.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/compute.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/controller.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/swift-storage.yaml
Due: none

Update CI coverage in README
  README.rst
Due: none

ci/telemetry: Decrease test_telemetry_integration time
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario002-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add DockerPuppetDebug to environments/config-debug.yaml
  environments/config-debug.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix path for iscsi config file
  docker/services/cinder-backup.yaml
  docker/services/cinder-volume.yaml
  docker/services/iscsid.yaml
  docker/services/multipathd.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-ironic.yaml
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Start step at 0 for update_ + upgrade_steps_playbook
  common/deploy-steps.j2
Due: none

Remove Octavia LBaaS service plugin from neutron config
  environments/services-docker/octavia.yaml
  environments/services/octavia.yaml
  puppet/services/octavia-api.yaml
  releasenotes/notes/remove-octavia-service-plugin-from-neutron-config-b923cca547d9dd52.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Start using ipv6 nic-configs from THT repo instead of tripleo-ci
  ci/environments/network/multiple-nics-ipv6/README
  ci/environments/network/multiple-nics-ipv6/network-environment.yaml
  ci/environments/network/multiple-nics-ipv6/network-isolation-absolute.yaml
  ci/environments/network/multiple-nics-ipv6/network-isolation.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/ceph-storage.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/cinder-storage.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/compute.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/controller.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/swift-storage.yaml
  ci/environments/network/multiple-nics-ipv6/ui-settings.pickle
Due: none

Start using nic-configs from THT repo instead of tripleo-ci
  ci/environments/network/multiple-nics/README
  ci/environments/network/multiple-nics/network-environment.yaml
  ci/environments/network/multiple-nics/network-isolation-absolute.yaml
  ci/environments/network/multiple-nics/network-isolation.yaml
  ci/environments/network/multiple-nics/nic-configs/ceph-storage.yaml
  ci/environments/network/multiple-nics/nic-configs/cinder-storage.yaml
  ci/environments/network/multiple-nics/nic-configs/compute.yaml
  ci/environments/network/multiple-nics/nic-configs/controller.yaml
  ci/environments/network/multiple-nics/nic-configs/swift-storage.yaml
  ci/environments/network/multiple-nics/ui-settings.pickle
Due: none

Add PublicVirtualFixedIPs to ci network-environment.yaml
  ci/environments/network/multiple-nics/network-environment.yaml
Due: none

Correct panko auth region
  puppet/services/panko-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Ignore case for bootstrap node checks
  extraconfig/tasks/pacemaker_common_functions.sh
  extraconfig/tasks/yum_update.sh
  puppet/services/nova-api.yaml
Due: none

Ignore case for bootstrap node checks
  extraconfig/tasks/major_upgrade_check.sh
  extraconfig/tasks/major_upgrade_controller_pacemaker_2.sh
  extraconfig/tasks/pacemaker_common_functions.sh
  extraconfig/tasks/yum_update.sh
Due: none

Use docker_config_scripts for puppet apply
  docker/services/containers-common.yaml
  docker/services/haproxy.yaml
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Fix log file nova-conductor service
  puppet/services/nova-conductor.yaml
Due: none

kernel: allow to override modules & sysctl settings
  puppet/services/kernel.yaml
  releasenotes/notes/kernel-extra-aa48704056be72cd.yaml
Due: none

Re-enable voting on scenario002-container
  zuul.d/layout.yaml
Due: none

update example repos to more closely match OSP 13 requirements
  environments/rhsm.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fixes generating public certificates
  puppet/services/haproxy.yaml
  releasenotes/notes/fix-public-cert-generation-41c75be0b07a48fe.yaml
Due: none

Start using nova_metadata_host
  puppet/services/neutron-plugin-plumgrid.yaml
Due: none

ci: update multinode-3nodes-registry
  ci/environments/multinode-3nodes-registry.yaml
Due: none

Fix the dellemc vmax to use the correct hiera name
  puppet/services/cinder-backend-dellemc-vmax-iscsi.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

OvsDpdkMemoryChannels parameter default value
  environments/neutron-ovs-dpdk.yaml
  extraconfig/pre_network/host_config_and_reboot.yaml
  puppet/services/openvswitch.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Create Swift directory d1 if required
  puppet/services/swift-storage.yaml
  releasenotes/notes/swift-create-local-dir-7671f7967620e261.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Enhance completion message when upgrading non controller nodes
  extraconfig/tasks/tripleo_upgrade_node.sh
Due: none

Remove unused env var during mysql bootstrap
  docker/services/database/mysql.yaml
  docker/services/pacemaker/database/mysql.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Configure auth_uri for swift proxy explicitly without suffix
  puppet/services/swift-proxy.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add composable network VIPs for puppet configuration
  puppet/all-nodes-config.j2.yaml
  releasenotes/notes/composable-network-vips-4d7b28fa3769d38b.yaml
Due: none

Reinstate common overcloud manifest for all roles
  common/services.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/config.role.j2.yaml
  puppet/manifests/overcloud_common.pp
Due: none

Set cloud_name hiera parameter for composable networks
  puppet/all-nodes-config.j2.yaml
Due: none
