Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

tripleo-ci-centos-7-scenario001-multinode-oooq-container:
  voting: true

tripleo-ci-centos-7-scenario002-multinode-oooq-container:
  voting: true

tripleo-ci-centos-7-scenario003-multinode-oooq-container:
  voting: true

tripleo-ci-centos-7-scenario004-multinode-oooq-container:
  voting: true

Rename pre/post deployments host vars
  common/deploy-steps.j2
Due: none

Revert "Revert "Fixes for deploying nova-less undercloud""
  deployment/placement/placement-api-container-puppet.yaml
  environments/undercloud-disable-nova.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Allow overlay tunnel endpoints on IPv6 address
  environments/external-loadbalancer-vip-v6-all.yaml
  environments/network-environment-v6-all.j2.yaml
  environments/network-isolation-v6-all.j2.yaml
  network_data.yaml
  network_data_ganesha.yaml
  network_data_routed.yaml
  releasenotes/notes/support_IPv6_for_tenant_networks-30938bfdde547969.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Allow overlay tunnel endpoints on IPv6 address
  environments/external-loadbalancer-vip-v6-all.yaml
  environments/network-environment-v6-all.j2.yaml
  environments/network-isolation-v6-all.j2.yaml
  network_data.yaml
  network_data_ganesha.yaml
  releasenotes/notes/support_IPv6_for_tenant_networks-30938bfdde547969.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Run sensu-client container with --pid=host
  deployment/deprecated/monitoring/sensu-client-container-puppet.yaml
Due: none

Only generate Octavia certs on stack create
  docker/services/octavia/octavia-deployment-config.yaml
Due: none

Filter nameservers for undercloud networks
  extraconfig/post_deploy/undercloud_ctlplane_network.py
Due: none

Configure securetty using tripleo-ansible
  deployment/deprecated/securetty/securetty-baremetal-puppet.yaml
  deployment/securetty/securetty-baremetal-ansible.yaml
  environments/securetty.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add parameters for dateext in logrotate
  deployment/logrotate/logrotate-crond-container-puppet.yaml
Due: none

SELinux: correct type for /var/log/containers
  common/deploy-steps-tasks.yaml
Due: none

Split upgrade_steps_playbook into different plays.
  common/deploy-steps.j2
Due: none

Respect tags in upgrade tasks
  common/deploy-steps.j2
Due: none

container-puppet: run podman rm with --storage
  common/container-puppet.py
Due: none

Replace include_tasks with import_tasks
  common/deploy-steps.j2
Due: none

Enforce pep8/pyflakes rule on python codes
  common/container-puppet.py
  container_config_scripts/nova_statedir_ownership.py
  container_config_scripts/nova_wait_for_compute_service.py
  container_config_scripts/nova_wait_for_placement_service.py
  container_config_scripts/tests/test_nova_statedir_ownership.py
  extraconfig/post_deploy/undercloud_ctlplane_network.py
  extraconfig/post_deploy/undercloud_post.py
  network/endpoints/build_endpoint_map.py
  tools/merge-new-params-nic-config-script.py
  tools/process-templates.py
  tools/roles-data-generate.py
  tools/yaml-diff.py
  tools/yaml-nic-config-2-script.py
  tools/yaml-validate.py
  tox.ini
  tripleo_heat_templates/tests/test_environment_generator.py
  tripleo_heat_templates/tests/test_yaql.py
Due: none

Correct SELinux type for host openvswitch logs
  deployment/ovn/ovn-controller-container-puppet.yaml
  deployment/ovn/ovn-dbs-container-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: none

Remove duplicated ignore list for pep8 check
  tox.ini
Due: none

Revert "Do not forcibly enable Glance multiple locations for RBD backend"
  deployment/glance/glance-api-container-puppet.yaml
Due: none

Revert "Do not forcibly enable Glance multiple locations for RBD backend"
  puppet/services/glance-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Use separate plays for Host prep steps
  common/deploy-steps.j2
Due: none

Add named debug tasks to each play
  common/deploy-steps.j2
  releasenotes/notes/named-debug-tasks-start-at-task-28e4ff92ceec85d2.yaml
Due: none

Pass Loader to yaml.load to remove YAMLLoadWarning
  tools/merge-new-params-nic-config-script.py
  tools/yaml-nic-config-2-script.py
  tools/yaml-validate.py
Due: none

Run facts gathering always for upgrades.
  common/deploy-steps.j2
Due: none

nova: use systemd to check container healthchecks
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  deployment/nova/nova-metadata-container-puppet.yaml
  deployment/nova/nova-migration-target-container-puppet.yaml
  deployment/nova/nova-scheduler-container-puppet.yaml
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
Due: none

Don't run sensu_client in privileged mode
  deployment/deprecated/monitoring/sensu-client-container-puppet.yaml
Due: none

Move nova cell v2 discovery to deploy_steps_tasks
  docker/services/nova-compute-common.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-ironic.yaml
  docker_config_scripts/nova_cell_v2_discover_hosts.py
  releasenotes/notes/nova_move_host_discovery_to_external_post_deploy_tasks-e978560ee59b8b56.yaml
  tools/yaml-validate.py
Due: none

HA: fix <service>_restart_bundle with minor update workflow
  container_config_scripts/pacemaker_restart_bundle.sh
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/containers-common.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: none

Add "--rm" to the container "run" command
  common/container-puppet.py
Due: none

Remove bootstrap_nodeid group var
  overcloud.j2.yaml
Due: none

Remove unused OVNTunnelEncapType
  environments/services-baremetal/neutron-ovn-dvr-ha.yaml
  environments/services-baremetal/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove NeutronAZConfig service from undercloud minion
  environments/undercloud/undercloud-minion.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Move common step 1 tasks to their own file
  common/deploy-steps-tasks-step-1.yaml
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
Due: none

Fix indent in deploy-steps playbook
  common/deploy-steps.j2
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: (any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml) or (any of: ^docker/services/glance.*$, ^docker/services/mistral.*$, ^docker/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^docker/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml
