Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Add network data for use with openshift deployments
  network_data_openshift.yaml
  tools/yaml-validate.py
Due: none

Remove unused networks from OpenShift roles
  roles/OpenShiftAllInOne.yaml
  roles/OpenShiftInfra.yaml
  roles/OpenShiftMaster.yaml
  roles/OpenShiftWorker.yaml
Due: none

Fix novajoin nova vendordata hieradata keys
  docker/services/novajoin.yaml
Due: none

Mount /usr/share/openstack-octavia-amphora-images into mistral-executor
  docker/services/mistral-executor.yaml
  docker/services/octavia/octavia-deployment-config.yaml
  environments/undercloud.yaml
  releasenotes/notes/octavia-mount-amphora-images-dir-31da44a544628687.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Use container_cli for post_upgrade_tasks & external_upgrade_tasks
  common/deploy-steps.j2
  docker/services/cinder-api.yaml
  docker/services/database/mysql.yaml
  docker/services/ironic-api.yaml
  docker/services/nova-api.yaml
  puppet/services/haproxy-public-tls-inject.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Added Dell EMC SC multipath support
  environments/cinder-dellsc-config.yaml
  puppet/services/cinder-backend-dellsc.yaml
  releasenotes/notes/dellsc-driver-d7cd300a24a64b01.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix tasks in check mode
  common/deploy-steps-tasks.yaml
  docker/services/nova-libvirt.yaml
  docker/services/swift-storage.yaml
  puppet/services/container-image-prepare.j2.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Set `TraceEnable` directive for apache to 'Off'
  puppet/services/apache.j2.yaml
Due: none

Update to OpenShift 3.11 release
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Fix multiple-nic sample template
  network/config/multiple-nics/role.role.j2.yaml
Due: none

Remove developer tools from tripleo .gitignore
  .gitignore
Due: none

Reimplement HA docker tagging
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

switch documentation job to new PTI
  zuul.d/layout.yaml
Due: none

Change log directory for OpenDaylight
  docker/services/opendaylight-api.yaml
  releasenotes/notes/fix-odl-karaf-logging-eca10973e57caa3a.yaml
Due: none

Sets ODL OVSDB inactivity probe timer
  puppet/services/opendaylight-api.yaml
  puppet/services/releasenotes/notes/add-opendaylight-inactivity-probe-config-a89f6dcd204192a8.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

CiscoNexus: Update and Remove deprecated vars
  environments/neutron-ml2-cisco-nexus-ucsm.yaml
  puppet/extraconfig/all_nodes/neutron-ml2-cisco-nexus-ucsm.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Support HA container tagging with podman
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Rework neutron/own agent wrapper tools for podman
  docker/services/neutron-dhcp.yaml
  docker/services/neutron-l3.yaml
  docker/services/ovn-metadata.yaml
  puppet/services/docker.yaml
  releasenotes/notes/wrapper-containers-debug-844c13348c83de93.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Check if source directory does exist before linking
  docker/services/swift-proxy.yaml
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Enable _member_ role for undercloud install.
  environments/undercloud.yaml
  puppet/services/keystone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix NeutronSriovHostConfig path for ODL deployment with SRIOV
  environments/services/neutron-opendaylight-sriov.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Switch stable scenarios to voting
  zuul.d/layout.yaml
Due: none

Add support for configuring ppc64le in ironic
  puppet/services/ironic-conductor.yaml
  puppet/services/ironic-inspector.yaml
Due: none

Fix hiera condition in UndercloudCtlplaneNetworkDeployment
  extraconfig/post_deploy/undercloud_ctlplane_network.py
  extraconfig/post_deploy/undercloud_post.yaml
Due: none

Move UndercloudPostDeployment to python
  extraconfig/post_deploy/undercloud_post.py
  extraconfig/post_deploy/undercloud_post.sh
  extraconfig/post_deploy/undercloud_post.yaml
Due: none

Handle difference between future and current container_cli
  docker/services/cinder-api.yaml
  docker/services/ironic-api.yaml
  docker/services/nova-api.yaml
  puppet/services/haproxy-public-tls-inject.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Disable OVN related services in ODL env file
  environments/services-baremetal/neutron-opendaylight-hw-offload.yaml
  environments/services-baremetal/neutron-opendaylight.yaml
  environments/services/neutron-opendaylight-hw-offload.yaml
  environments/services/neutron-opendaylight.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Handle LP openvswitch meta-package on upgrade
  docker/services/neutron-ovs-agent.yaml
  puppet/services/neutron-ovs-agent.yaml
  puppet/services/neutron-ovs-dpdk-agent.yaml
  puppet/services/opendaylight-ovs.yaml
  puppet/services/openvswitch.yaml
  puppet/services/tripleo-packages.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Fix check-run-nova-compute script shebang
  extraconfig/tasks/instanceha/check-run-nova-compute
Due: none

Update min tox version to 2.0
  tox.ini
Due: none

Do not purge the Ironic Inspector dhcp-hostsdir
  puppet/services/ironic-inspector.yaml
Due: none

Do not ignore NtpServer by default
  deployment/timesync/chrony-ansible.yaml
Due: none

Add OVN environment that works with standalone mode.
  environments/services/neutron-ovn-standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove defaults from masquerade-networks service env
  environments/services/masquerade-networks.yaml
  releasenotes/notes/fix-default-masquerade-f91bfbcfe8a2a87d.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
