Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Remove ceph-osd from the list of packages updated by CephExternal
  puppet/services/ceph-external.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

fix a typo in collectd.yaml
  puppet/services/metrics/collectd.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Rename Dell EMC XTREMIO iSCSI environment file
  environments/cinder-dellemc-xtremio-iscsi-config.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix upgrade_tasks for TripleO UI
  docker/services/tripleo-ui.yaml
Due: none

Use /usr/bin/env python to autodetect python
  extraconfig/post_deploy/undercloud_ctlplane_network.py
  extraconfig/tasks/instanceha/check-run-nova-compute
Due: none

Make lb-mgmt-subnet a class B subnet
  docker/services/octavia/octavia-deployment-config.yaml
  releasenotes/notes/update-lb-mgmt-subnet-to-class-b-1cd832ef08a30c85.yaml
Due: none

Fix 3node deployment
  ci/environments/multinode-3nodes.yaml
Due: none

Add acl to paths that are shared among related neutron processes
  docker/services/neutron-dhcp.yaml
  docker/services/neutron-l3.yaml
Due: none

nova-ironic: add support for post-upgrade cleanup
  docker/services/nova-ironic.yaml
Due: none

Convert resource_name to number
  deployed-server/scripts/get-occ-config.sh
  releasenotes/notes/convert-resource-name-to-number-80ada6c825554f56.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Set default application for Ceph Luminous openstack_pools
  docker/services/ceph-ansible/ceph-base.yaml
  environments/disable-telemetry.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove UpgradeRemoveUnusedPackages from undercloud-upgrade-prepare.yaml
  environments/lifecycle/undercloud-upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

collectd: give access to the libvirt socket in ro
  docker/services/collectd.yaml
Due: none

Remove CephAnsiblePlaybook parameter reset from ceph-ansible env files
  environments/ceph-ansible/ceph-ansible-external.yaml
  environments/ceph-ansible/ceph-ansible.yaml
  environments/storage-environment.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Replace hiera lookup for ceph::profile::params::fsid
  puppet/services/cinder-volume.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

gnocchi: add missing /var/lib/gnocchi
  docker/services/gnocchi-api.yaml
  docker/services/gnocchi-metricd.yaml
  docker/services/gnocchi-statsd.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

NeutronSriovHostConfig missing in SRIOV's env files
  environments/neutron-opendaylight-sriov.yaml
  environments/neutron-sriov.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Containers defaults for plan environment
  plan-environment.yaml
Due: none

Enable default polling interval override
  puppet/services/metrics/collectd.yaml
  releasenotes/notes/collectd-polling-4aac123faaebd1bc.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Fix upgrade scripts for missing OVS functions
  extraconfig/tasks/major_upgrade_ceph_storage.sh
  extraconfig/tasks/major_upgrade_compute.sh
  extraconfig/tasks/major_upgrade_object_storage.sh
Due: none

Add stack name to env() for OS::TripleO::WorkflowSteps
  common/deploy-steps.j2
Due: none

Use user specified private key when deleting temp keys
  deployed-server/scripts/enable-ssh-admin.sh
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Disable StrictHostKeyChecking when removing keys too
  deployed-server/scripts/enable-ssh-admin.sh
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Fix for the manila backend configuration errors
  puppet/services/manila-backend-unity.yaml
  puppet/services/manila-backend-vmax.yaml
  puppet/services/manila-backend-vnx.yaml
Due: tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add support of shared staging location for glance-direct
  docker/services/glance-api.yaml
  environments/storage/glance-nfs.yaml
  puppet/services/glance-api.yaml
  sample-env-generator/storage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Containerized control plane with Dell EMC ScaleIO storage
  docker/services/glance-api.yaml
  environments/cinder-scaleio-config.yaml
  environments/containerized-control-plane-dellemc-scaleio.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Parameterized deployment hosts
  common/deploy-steps.j2
Due: none

Drop old ceilometer services
  environments/baremetal-services.yaml
  environments/no-tls-endpoints-public-ip.yaml
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  environments/tls-endpoints-public-dns.yaml
  environments/tls-endpoints-public-ip.yaml
  environments/tls-everywhere-endpoints-dns.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  network/service_net_map.j2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/ceilometer-base.yaml
  puppet/services/disabled/ceilometer-api-disabled.yaml
  puppet/services/disabled/ceilometer-collector-disabled.yaml
  puppet/services/disabled/ceilometer-expirer-disabled.yaml
  roles/Controller.yaml
  roles/ControllerAllNovaStandalone.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerOpenstack.yaml
  roles_data.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix Designate worker conditional
  puppet/services/designate-worker.yaml
Due: none

Enable s3api by default
  puppet/services/swift-proxy.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Pass designate configuration to neutron
  puppet/services/designate-api.yaml
Due: none

NeutronSriovHostConfig missing in SRIOV's env files
  environments/services-docker/neutron-opendaylight-sriov.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Unset UpgradeRemoveUnusedPackages on converge.
  environments/lifecycle/upgrade-converge.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
