Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: (any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml) or (any of: ^docker/services/glance.*$, ^docker/services/mistral.*$, ^docker/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^docker/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml

Only generate Octavia certs on stack create
  deployment/octavia/octavia-deployment-config.j2.yaml
Due: none

Expand scope of collectd address prefix in metrics-qdr
  deployment/metrics/qdr-container-puppet.yaml
Due: none

Adds LibvirtLogOutputs to define how log outputs are sent
  deployment/nova/nova-libvirt-container-puppet.yaml
  releasenotes/notes/nova_libvirtd_log_outputs-bf4091c0c7c5a968.yaml
Due: none

Add LibvirtTLSPriority to set libvirtd tls_priority
  deployment/nova/nova-libvirt-container-puppet.yaml
  releasenotes/notes/nova_libvirtd_tls_priority-d0129f804d7ca847.yaml
Due: none

Add LibvirtTLSPriority to set libvirtd tls_priority
  puppet/services/nova-libvirt.yaml
  releasenotes/notes/nova_libvirtd_tls_priority-d0129f804d7ca847.yaml
Due: none

Set EnablePackageInstall to true by default for in-place OS upgrade
  environments/lifecycle/upgrade-converge.yaml
  environments/lifecycle/upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove fluentd from scenarios
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario002-standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Filter nameservers for undercloud networks
  extraconfig/post_deploy/undercloud_ctlplane_network.py
Due: none

Fix NovaEnableRbdBackend to be role specific
  deployment/nova/nova-compute-container-puppet.yaml
Due: none

Remove HostPrepConfig
  common/deploy-steps.j2
  releasenotes/notes/host_prep_config_removal-f579718021db5385.yaml
Due: none

Remove sorted_bootstrap_node var
  common/deploy-steps.j2
Due: none

Ensure container_startup_configs_json_stat is defined
  common/deploy-steps.j2
Due: none

Use separate plays for Host prep steps
  common/deploy-steps.j2
Due: none

Use /var/tmp on host to store temporal files for image upload via Horizon
  deployment/horizon/horizon-container-puppet.yaml
Due: none

Use /var/tmp on host to store temporal files for image upload via Horizon
  docker/services/horizon.yaml
  puppet/services/horizon.yaml
Due: none

Remove HostPrepConfig (for config-download)
  common/deploy-steps.j2
  environments/config-download-environment.yaml
  overcloud-resource-registry-puppet.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix wrong hieradata for glance api authtoken
  deployment/glance/glance-api-container-puppet.yaml
Due: none

Fix wrong hieradata for glance api authtoken
  puppet/services/glance-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix NovaEnableRbdBackend to be role specific
  puppet/services/nova-compute.yaml
Due: none

Add parameters for dateext in logrotate
  deployment/logrotate/logrotate-crond-container-puppet.yaml
Due: none

Restore docker variabes in ceph-base
  deployment/ceph-ansible/ceph-base.yaml
Due: none

Do not forcibly enable Glance multiple locations for RBD backend
  puppet/services/glance-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Move cephfs and cephfs_*_pool ceph-ansible parameters in -base
  docker/services/ceph-ansible/ceph-base.yaml
  docker/services/ceph-ansible/ceph-mds.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Remove deprecated cinder parameters
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/cinder/cinder-backend-dellsc-puppet.yaml
  deployment/cinder/cinder-backend-netapp-puppet.yaml
Due: none

Disable Pacemaker on scenario000
  ci/environments/scenario000-multinode-containers.yaml
Due: none

No cloud_name_$NET_NAME for disabled networks
  puppet/all-nodes-config.j2.yaml
Due: none

Parallelize server pre and post steps
  common/deploy-steps.j2
Due: none

Revert "Fixes for deploying nova-less undercloud"
  deployment/placement/placement-api-container-puppet.yaml
  environments/undercloud-disable-nova.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

HA: fix <service>_restart_bundle with minor update workflow
  container_config_scripts/pacemaker_restart_bundle.sh
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/containers-common.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: none

Add a StorageDashboard network used by CephGrafana service
  environments/ssl/no-tls-endpoints-public-ip.yaml
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  network_data_dashboard.yaml
  roles/ControllerStorageDashboard.yaml
  sample-env-generator/ssl.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add CinderRbdFlattenVolumeFromSnapshot parameter
  deployment/cinder/cinder-volume-container-puppet.yaml
  releasenotes/notes/add-cinder-rbd-flatten-parameter-3951b341262488fe.yaml
Due: none
