Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Convert with_dict tasks to use loop and be less chatty
  common/deploy-steps-tasks.yaml
Due: none

Fix placement region setting
  puppet/services/nova-base.yaml
Due: none

Use valid_interfaces instead of os_interface for placement
  puppet/services/nova-base.yaml
Due: none

Don't fail ironic upgrade if xinetd isn't present
  docker/services/ironic-pxe.yaml
Due: none

Add config option for ODL IPv6 deployment
  environments/network-isolation-v6.j2.yaml
  puppet/services/opendaylight-api.yaml
  puppet/services/opendaylight-ovs.yaml
  releasenotes/notes/add-support-for-IPv6-deployment-4c5b577cfb38c416.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Remove 3node from CI
  zuul.d/layout.yaml
Due: none

Ensure ceph-ansible source directory is present
  docker/services/mistral-executor.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

Remove parameter reference to non-exisingt parameter
  network/config/bond-with-vlans/role.role.j2.yaml
Due: none

Fix error in Tenant network routes definition
  network_data_routed.yaml
Due: none

YAML NIC Config 2 script - fix comment indentation
  tools/yaml-nic-config-2-script.py
Due: none

Fix TLS when using a containerized undercloud
  docker/services/nova-metadata.yaml
  environments/undercloud.yaml
  puppet/services/neutron-metadata.yaml
  puppet/services/nova-api.yaml
  puppet/services/nova-metadata.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Update standalone role
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  releasenotes/notes/all-in-one-via-undercloud.yaml-8766b43a20a4270f.yaml
  roles/Standalone.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add provision to specify java arguments to ODL
  puppet/services/opendaylight-api.yaml
  releasenotes/notes/set_java_opts_from_tripleo-d969b1151ec244a0.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Load iscsi_tcp module from the host.
  docker/services/ironic-conductor.yaml
Due: none

Load ip_vs module from the host
  docker/services/keepalived.yaml
Due: none

Load dm-multipath module from the host.
  docker/services/multipathd.yaml
Due: none

Load openvswitch module from the host
  docker/services/neutron-ovs-agent.yaml
Due: none

Add heat param for openshift prerequisites playbook
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Run online migrations via "external-upgrade run"
  docker/services/cinder-api.yaml
  docker/services/ironic-api.yaml
  docker/services/nova-api.yaml
  releasenotes/notes/online-migration-external-upgrade-5093de6bd8993b5c.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Upload amphora image in RAW format if RBD backend
  docker/services/octavia/octavia-deployment-config.yaml
Due: none

Configure haproxy for openshift infra
  environments/no-tls-endpoints-public-ip.yaml
  environments/openshift.yaml
  environments/ssl/no-tls-endpoints-public.yaml
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  environments/tls-endpoints-public-dns.yaml
  environments/tls-endpoints-public-ip.yaml
  environments/tls-everywhere-endpoints-dns.yaml
  extraconfig/services/openshift-infra.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  network/service_net_map.j2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/OpenShiftAllInOne.yaml
  roles/OpenShiftInfra.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq

Fix inventory files for newer openshift-ansible
  extraconfig/services/openshift-node.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Introduce OpenShiftGlusterNodeVars heat param
  environments/openshift-cns.yaml
  extraconfig/services/openshift-cns.yaml
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq

Make glusterfs the default sc when deploying with CNS
  extraconfig/services/openshift-cns.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Consolidate openshift-ansible global variables
  extraconfig/services/openshift-cns.yaml
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-node.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Disable OVN related services in ODL env file
  environments/services-baremetal/neutron-opendaylight-hw-offload.yaml
  environments/services-baremetal/neutron-opendaylight.yaml
  environments/services/neutron-opendaylight-hw-offload.yaml
  environments/services/neutron-opendaylight.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Exposing NeutronDhcpOvsIntegrationBridge
  puppet/services/neutron-dhcp.yaml
Due: none

Implements: liquidio-containerization
  docker/services/liquidio-compute-config.yaml
  environments/cavium-liquidio.yaml
  puppet/services/liquidio-compute-config.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove deprecated Ram/Disk filters in NovaSchedulerDefaultFilters
  environments/cavium-liquidio.yaml
  environments/neutron-ml2-ovn-hw-offload.yaml
  environments/neutron-ovs-dpdk.yaml
  environments/neutron-sriov.yaml
  environments/ovs-hw-offload.yaml
  environments/services-baremetal/neutron-opendaylight-dpdk.yaml
  environments/services-baremetal/neutron-opendaylight-hw-offload.yaml
  environments/services-baremetal/neutron-opendaylight-sriov.yaml
  environments/services-baremetal/neutron-ovs-dpdk.yaml
  environments/services-baremetal/neutron-ovs-hw-offload.yaml
  environments/services-baremetal/neutron-sriov.yaml
  environments/services/neutron-opendaylight-dpdk.yaml
  environments/services/neutron-opendaylight-hw-offload.yaml
  environments/services/neutron-opendaylight-sriov.yaml
  environments/services/neutron-ovn-sriov.yaml
  environments/services/neutron-ovs-dpdk.yaml
  environments/services/neutron-ovs-hw-offload.yaml
  environments/services/neutron-sriov.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Align novajoin container logging to other services
  docker/services/novajoin.yaml
  releasenotes/notes/container-logging-novajoin-90398bce0bc1a7b9.yaml
Due: none

check mode: puppet host
  common/deploy-steps-tasks.yaml
Due: none

Honor --skip-deploy-identifier in common deploy tasks
  common/deploy-steps.j2
Due: none

Set octavia log directory permissions to octavia user
  docker/services/octavia-api.yaml
  docker/services/octavia-health-manager.yaml
  docker/services/octavia-housekeeping.yaml
  docker/services/octavia-worker.yaml
Due: none

Add nova-scheduler worker support
  puppet/services/nova-scheduler.yaml
  releasenotes/notes/add-nova-scheduler-worker-support-0ab66160b936a0c0.yaml
Due: none

Hook openshift deployment with image prepare
  roles/OpenShiftMaster.yaml
Due: none

Add SELinux configurations for a proper Standalone deploy
  common/deploy-steps-tasks.yaml
  docker/services/database/redis.yaml
  docker/services/horizon.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-ironic.yaml
  docker/services/nova-libvirt.yaml
  docker/services/rabbitmq.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
