Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Set ODL API restart policy to unless-stopped
  docker/services/opendaylight-api.yaml
Due: none

Always run mysql init bundle
  docker/services/pacemaker/database/mysql.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Remove the OVS-DPDK deprecated parameters
  extraconfig/pre_network/host_config_and_reboot.yaml
  puppet/services/openvswitch.yaml
  releasenotes/notes/ovs-dpdk-remove-deprecated-params-9b4e46eb336301b2.yaml
  tools/yaml-validate.py
Due: none

Do not grant caps if pool name is empty
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

ovn: Add dns_servers configuration support
  environments/services-docker/neutron-ovn-dvr-ha.yaml
  environments/services-docker/neutron-ovn-dvr.yaml
  environments/services-docker/neutron-ovn-ha.yaml
  environments/services-docker/neutron-ovn.yaml
  puppet/services/neutron-plugin-ml2-ovn.yaml
  releasenotes/notes/ovn-set-dns-servers-config-option-e8f91ad2a05df9a9.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

ffu: Add missing nova-manage db sync for Pike upgrade
  docker/services/nova-api.yaml
Due: none

Delete default ODL Password
  puppet/services/opendaylight-api.yaml
  puppet/services/opendaylight-ovs.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Add release note link in README
  README.rst
Due: none

Fix non-HA rabbitmq user password updates
  docker/services/messaging/notify-rabbitmq.yaml
  docker/services/messaging/rpc-rabbitmq.yaml
  docker/services/rabbitmq.yaml
Due: none

Role specific derive parameters workflow parameter
  plan-samples/plan-environment-derived-params.yaml
Due: none

Prevent Neutron L3 and Metadata agents from running when using OVN DVR.
  environments/neutron-ml2-ovn-dvr-ha.yaml
  environments/neutron-ml2-ovn-dvr.yaml
  environments/services-baremetal/neutron-ovn-dvr-ha.yaml
  environments/services-baremetal/neutron-ovn-dvr.yaml
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-dvr.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add default value for name_lower in network_data.yaml to update ServiceNetMap
  network/service_net_map.j2.yaml
  network_data.yaml
  overcloud.j2.yaml
  releasenotes/notes/custom-network-names-c62a57827d98eea5.yaml
Due: none

Add SELinux management to containerized undercloud
  environments/undercloud.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/selinux.yaml
  releasenotes/notes/undercloud-selinux-37fc6f69a9753109.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Undercloud specific volumes for mistral-executor container
  docker/services/mistral-executor.yaml
  environments/undercloud.yaml
  releasenotes/notes/add-mistral-volumes-param-a97418faf7a09022.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Handle blank lines followed by comment in nic conversion script
  releasenotes/notes/nic-config-script-handle-blank-line-f86553d7589826ed.yaml
  tools/yaml-nic-config-2-script.py
Due: none

Add option to override confirmation in yaml-nic-config-2-script.py
  tools/yaml-nic-config-2-script.py
Due: none

Clean up env files for Cinder's Netapp backend
  environments/cinder-netapp-config.yaml
  environments/storage/cinder-netapp-config.yaml
  sample-env-generator/storage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Correct Cinder NetApp backend name parameter mapping
  puppet/services/cinder-backend-netapp.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

OVN: Remove environment files which deploy OVN dbs in non HA
  environments/neutron-ml2-ovn-dvr.yaml
  environments/neutron-ml2-ovn.yaml
  environments/services-baremetal/neutron-ovn-dvr.yaml
  environments/services-baremetal/neutron-ovn.yaml
  environments/services/neutron-ovn-dvr.yaml
  environments/services/neutron-ovn.yaml
  releasenotes/notes/ovn-remove-nonha-env-files-7b68a1e656b9f753.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

ceilometer: deprecation cleanup
  puppet/services/ceilometer-base.yaml
  releasenotes/notes/gnocchi-archive-policy-deprecation-09c086e9a0f9af86.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add networking-ansible ML2 plugin support
  capabilities-map.yaml
  environments/neutron-ml2-ansible.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/neutron-plugin-ml2-ansible.yaml
  releasenotes/notes/ml2-networking-ansible-0330b1203f0fc75c.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

storage_vnx_pool_name is incorrect for VNX cinder driver.
  environments/cinder-dellemc-vnx-config.yaml
  puppet/services/cinder-backend-dellemc-vnx.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add ServerDeletionPolicy parameter
  puppet/role.role.j2.yaml
Due: none

Store ODL logs to file
  docker/services/logging/files/opendaylight-api.yaml
  docker/services/opendaylight-api.yaml
  environments/services-baremetal/neutron-opendaylight.yaml
  environments/services/neutron-opendaylight.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/odl_stand_alone_log_config-5358ec26f7e7a970.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Set live_migration_inbound_addr for ssh transport
  puppet/services/nova-libvirt.yaml
  releasenotes/notes/live_migration_inbound_addr_all_transports-2fc9cd74d435a367.yaml
Due: none

Prevent Neutron L3 and Metadata agents from running when using OVN DVR.
  environments/neutron-ml2-ovn-dvr-ha.yaml
  environments/neutron-ml2-ovn-dvr.yaml
  environments/services-docker/neutron-ovn-dvr-ha.yaml
  environments/services-docker/neutron-ovn-dvr.yaml
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-dvr.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Increase max heat stack depth
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix missing parameters in OVN DVR environment files
  environments/services-baremetal/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-dvr-ha.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Set configure_qemu to true to get qemu port range applied
  puppet/services/nova-libvirt.yaml
  releasenotes/notes/nova_qemu_enable_config-c89016b4d93802d6.yaml
Due: none

Update for openshift 3.9
  ci/environments/disable-unbound.yaml
  ci/environments/scenario009-multinode.yaml
  environments/openshift.yaml
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-worker.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq

Refactor the inventory generation
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-worker.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Removed ovs-dpdk workaround to fix the vhost socket permission
  extraconfig/pre_network/host_config_and_reboot.yaml
Due: none

Do not disable ipv6 on loopback interface for epmd
  puppet/services/kernel.yaml
Due: none

OVN: Remove environment files which deploy OVN dbs in non HA
  environments/neutron-ml2-ovn-dvr.yaml
  environments/neutron-ml2-ovn.yaml
  environments/services-docker/neutron-ovn-dvr.yaml
  environments/services-docker/neutron-ovn.yaml
  environments/services/neutron-ovn-dvr.yaml
  environments/services/neutron-ovn.yaml
  releasenotes/notes/ovn-remove-nonha-env-files-7b68a1e656b9f753.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Execute post_update_tasks in update playbook
  common/deploy-steps.j2
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
