Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$

host_routes using get_attr (Composable Networks)
  puppet/role.role.j2.yaml
  releasenotes/notes/use-attr-interface-routes-dfbe74adce15da1d.yaml
Due: none

Copy-in libvirt certs via kolla extended/start
  docker/services/nova-libvirt.yaml
Due: none

Copy-in redis certs via kolla extended/start
  docker/services/pacemaker/database/redis.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Fix parameter name used to create the Manila CephX keyring
  docker/services/ceph-ansible/ceph-base.yaml
  docker/services/ceph-ansible/ceph-mds.yaml
  releasenotes/notes/deprecate-manila-cephfsnative-parameters-e24978c8b344573b.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Revert "Fix deploy health checks"
  common/deploy-steps-tasks.yaml
Due: none

Revert "Delete not-used services-docker files"
  environments/services-docker/barbican.yaml
  environments/services-docker/cinder-backup.yaml
  environments/services-docker/collectd.yaml
  environments/services-docker/congress.yaml
  environments/services-docker/ec2-api.yaml
  environments/services-docker/etcd.yaml
  environments/services-docker/fluentd.yaml
  environments/services-docker/ironic-inspector.yaml
  environments/services-docker/ironic.yaml
  environments/services-docker/manila.yaml
  environments/services-docker/mistral.yaml
  environments/services-docker/neutron-bgpvpn-opendaylight.yaml
  environments/services-docker/neutron-l2gw-opendaylight.yaml
  environments/services-docker/neutron-ml2-cisco-vts.yaml
  environments/services-docker/neutron-opendaylight-dpdk.yaml
  environments/services-docker/neutron-opendaylight-sriov.yaml
  environments/services-docker/neutron-opendaylight.yaml
  environments/services-docker/neutron-ovn-dvr-ha.yaml
  environments/services-docker/neutron-ovn-ha.yaml
  environments/services-docker/neutron-ovs-dpdk.yaml
  environments/services-docker/neutron-sriov.yaml
  environments/services-docker/octavia.yaml
  environments/services-docker/sahara.yaml
  environments/services-docker/sensu-client.yaml
  environments/services-docker/skydive-environment.yaml
  environments/services-docker/tacker.yaml
  environments/services-docker/undercloud-aodh.yaml
  environments/services-docker/undercloud-ceilometer.yaml
  environments/services-docker/undercloud-cinder.yaml
  environments/services-docker/undercloud-gnocchi.yaml
  environments/services-docker/undercloud-haproxy.yaml
  environments/services-docker/undercloud-keepalived.yaml
  environments/services-docker/undercloud-panko.yaml
  environments/services-docker/zaqar.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Revert "Move remnants of environments/services-docker"
  environments/services-docker/neutron-lbaasv2.yaml
  environments/services-docker/update-odl.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Exercise scenarios with changes at common
  zuul.d/layout.yaml
Due: none

Add support for containerized networking-ansible ML2 plugin
  docker/services/neutron-plugin-ml2-ansible.yaml
  environments/services/neutron-ml2-ansible.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/add-networking-ansible-containerized-de68f6c2fd6e05fc.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add NovaResumeGuestsStateOnHostBoot and NovaResumeGuestsShutdownTimeout
  environments/hyperconverged-ceph.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/nova-compute.yaml
  puppet/services/nova-libvirt-guests.yaml
  releasenotes/notes/compute-resume-guests-state-on-host-boot-090507db3ffad0d4.yaml
  roles/Compute.yaml
  roles/ComputeDVR.yaml
  roles/ComputeHCI.yaml
  roles/ComputeInstanceHA.yaml
  roles/ComputeLiquidio.yaml
  roles/ComputeOvsDpdk.yaml
  roles/ComputeOvsDpdkRT.yaml
  roles/ComputePPC64LE.yaml
  roles/ComputeRealTime.yaml
  roles/ComputeSriov.yaml
  roles/ComputeSriovRT.yaml
  roles/HciCephAll.yaml
  roles/HciCephFile.yaml
  roles/HciCephMon.yaml
  roles/HciCephObject.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

upgrade: move removal of services at step 3 (leftovers)
  docker/services/haproxy.yaml
  docker/services/ironic-api.yaml
  docker/services/ironic-conductor.yaml
  docker/services/keepalived.yaml
  docker/services/keystone.yaml
  docker/services/mistral-api.yaml
  docker/services/mistral-engine.yaml
  docker/services/mistral-event-engine.yaml
  docker/services/mistral-executor.yaml
  docker/services/zaqar.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container

Allow to remove xinetd service
  docker/services/xinetd.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/remove-xinetd-859f2a31631774d1.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/Undercloud.yaml
  roles_data.yaml
  roles_data_undercloud.yaml
Due: none

Fix GlanceRegistry FFU cleanup
  environments/lifecycle/ffwd-upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add support to set cors config in gnocchi templates
  puppet/services/gnocchi-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

[Pike only] ManilaBackendGeneric nooped to avoid deprecated error.
  overcloud-resource-registry-puppet.j2.yaml
Due: none

Use RPCPassword instead of RabbitPassword for novajoin
  docker/services/novajoin.yaml
Due: none

ovn: Fix minor update failure with OVN db pacemaker HA resource
  docker/services/pacemaker/ovn-dbs.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Switch deployment_source_hosts default to "Undercloud"
  common/deploy-steps.j2
Due: none

Break out image prepare into its own "service"
  environments/undercloud.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/container-image-prepare.j2.yaml
  puppet/services/docker-registry.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

adding vxlan into Neutuon drivers for networking-ansible
  environments/neutron-ml2-ansible.yaml
  environments/services/neutron-ml2-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Update and upgrade tasks for services deployed via external deploy tasks
  common/deploy-steps.j2
  common/services.yaml
  releasenotes/notes/external-update-upgrade-2d7bd96959ace08d.yaml
  tools/yaml-validate.py
Due: none

Ceph update and upgrade in config-download era
  docker/services/ceph-ansible/ceph-base.yaml
  docker/services/ceph-ansible/ceph-client.yaml
  docker/services/ceph-ansible/ceph-external.yaml
  docker/services/ceph-ansible/ceph-mds.yaml
  docker/services/ceph-ansible/ceph-mgr.yaml
  docker/services/ceph-ansible/ceph-mon.yaml
  docker/services/ceph-ansible/ceph-nfs.yaml
  docker/services/ceph-ansible/ceph-osd.yaml
  docker/services/ceph-ansible/ceph-rbdmirror.yaml
  docker/services/ceph-ansible/ceph-rgw.yaml
  environments/ceph-ansible/ceph-ansible.yaml
  environments/lifecycle/ffwd-upgrade-converge.yaml
  environments/lifecycle/update-converge.yaml
  environments/lifecycle/upgrade-converge.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Allow performing Ceph update/upgrade separately
  common/deploy-steps.j2
  docker/services/ceph-ansible/ceph-base.yaml
  docker/services/ceph-ansible/ceph-client.yaml
  docker/services/ceph-ansible/ceph-external.yaml
  docker/services/ceph-ansible/ceph-mds.yaml
  docker/services/ceph-ansible/ceph-mgr.yaml
  docker/services/ceph-ansible/ceph-mon.yaml
  docker/services/ceph-ansible/ceph-nfs.yaml
  docker/services/ceph-ansible/ceph-osd.yaml
  docker/services/ceph-ansible/ceph-rbdmirror.yaml
  docker/services/ceph-ansible/ceph-rgw.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Drop obsolete environment for `overcloud ceph-upgrade run`
  environments/lifecycle/ceph-upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

undercloud-post: Discard CA usage if not set
  extraconfig/post_deploy/undercloud_post.yaml
Due: none

Use /var/lib/kolla... path for TLS certificate
  docker/services/haproxy.yaml
Due: none

fix manila scheduler service typo
  docker/services/manila-scheduler.yaml
Due: tripleo-ci-centos-7-scenario004-multinode-oooq-container

Mount /usr/lib/heat on undercloud Heat
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Revert shebang change for InstanceHA startup script
  extraconfig/tasks/instanceha/check-run-nova-compute
Due: none

remove scenario005 from experimental
  zuul.d/layout.yaml
Due: none

Assert container's ssl cert exists before upgrade.
  puppet/services/haproxy-public-tls-inject.yaml
Due: none

Fixed wrong when condition in mounting staging location
  puppet/services/glance-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Set CephX user for Ganesha
  docker/services/ceph-ansible/ceph-nfs.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix parameter name used to create the Manila CephX keyring
  docker/services/ceph-ansible/ceph-base.yaml
  docker/services/ceph-ansible/ceph-mds.yaml
  puppet/services/ceph-base.yaml
  puppet/services/ceph-external.yaml
  puppet/services/ceph-mds.yaml
  releasenotes/notes/deprecate-manila-cephfsnative-parameters-e24978c8b344573b.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix Neutron SFC environment file
  environments/services/neutron-sfc-opendaylight.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq
