Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

tripleo-ci-centos-7-scenario001-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario002-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario003-multinode-oooq-container:
  voting: false

Add new roles for Ceph containerization
  releasenotes/notes/containerized-ceph-role-1e02fd11551e92ac.yaml
  roles/CephAll.yaml
  roles/CephFile.yaml
  roles/CephObject.yaml
  roles/ControllerNoCeph.yaml
  roles/HciCephAll.yaml
  roles/HciCephFile.yaml
  roles/HciCephMon.yaml
  roles/HciCephObject.yaml
  tools/yaml-validate.py
Due: none

Fixing bug in "test_environment_generator.py"
  tripleo_heat_templates/tests/test_environment_generator.py
Due: none

fix generate_environments to run in python3
  tripleo_heat_templates/environment_generator.py
Due: none

Adds environment file for ODL OVS Hardware Offload
  environments/neutron-opendaylight-hw-offload.yaml
  puppet/services/opendaylight-ovs.yaml
  releasenotes/notes/odl-ovs-hw-offload-54b662c633e9eda8.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Add docker-registry service
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  environments/tls-endpoints-public-dns.yaml
  environments/tls-endpoints-public-ip.yaml
  environments/tls-everywhere-endpoints-dns.yaml
  environments/undercloud.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  network/service_net_map.j2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/docker-registry.yaml
  roles/Undercloud.yaml
  roles/UndercloudLight.yaml
  roles_data_undercloud.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add MinPoll and MaxPoll options to NTP module
  puppet/services/time/ntp.yaml
  releasenotes/notes/ntp-poll-options-3019fe517e012300.yaml
Due: none

Telemetry Needs Redis
  environments/services-docker/undercloud-gnocchi.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove _member_ role from the keystone accepted roles
  docker/services/ceph-ansible/ceph-base.yaml
  docker/services/ceph-ansible/ceph-rgw.yaml
  puppet/services/ceph-rgw.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Introduce OS::TripleO::Services::Rhsm
  environments/hyperconverged-ceph.yaml
  environments/rhsm.yaml
  extraconfig/services/rhsm.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/rhsm-service-fbec46930264b355.yaml
  roles/BlockStorage.yaml
  roles/CephAll.yaml
  roles/CephFile.yaml
  roles/CephObject.yaml
  roles/CephStorage.yaml
  roles/Compute.yaml
  roles/ComputeAlt.yaml
  roles/ComputeHCI.yaml
  roles/ComputeLiquidio.yaml
  roles/ComputeOvsDpdk.yaml
  roles/ComputeSriov.yaml
  roles/Controller.yaml
  roles/ControllerAllNovaStandalone.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerOpenstack.yaml
  roles/Database.yaml
  roles/HciCephAll.yaml
  roles/HciCephFile.yaml
  roles/HciCephMon.yaml
  roles/HciCephObject.yaml
  roles/IronicConductor.yaml
  roles/Messaging.yaml
  roles/Networker.yaml
  roles/Novacontrol.yaml
  roles/ObjectStorage.yaml
  roles/Telemetry.yaml
  roles/Undercloud.yaml
  roles/UndercloudLight.yaml
  roles_data.yaml
  roles_data_undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Revert "Fixing bug in "test_environment_generator.py""
  tripleo_heat_templates/tests/test_environment_generator.py
Due: none

multinode-contaier: reduce the number of services
  ci/environments/multinode-containers.yaml
Due: none

Remove pingtest env for scenario007
  ci/pingtests/scenario007-multinode.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container

scenario001: disable mongodb (not used)
  ci/environments/scenario001-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

heat-base: remove default policy rules
  puppet/services/heat-base.yaml
Due: none

CI: move tacker / congress from scenario001 to 007
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario007-multinode-containers.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

zuul: cleanup old unused jobs
  zuul.d/layout.yaml
Due: none

Check for yum lock befor all yum* operations.
  extraconfig/tasks/yum_update.sh
Due: none

Clean trailing whitespace in HciCeph roles
  roles/HciCephAll.yaml
  roles/HciCephMon.yaml
  roles/HciCephObject.yaml
Due: none

Fix puppet config volume for iscsid in containers
  docker/services/cinder-backup.yaml
  docker/services/cinder-volume.yaml
  docker/services/iscsid.yaml
  docker/services/multipathd.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-ironic.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Define 'NeutronPluginExtensions' in OVN environment files with dns extension
  environments/services-docker/neutron-ovn-ha.yaml
  environments/services-docker/neutron-ovn.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Set tftp to only listen to the provisioning network
  docker/services/ironic-pxe.yaml
  puppet/services/ironic-conductor.yaml
Due: none

Add parameters to configure options in keystone's security_compliance group
  puppet/services/keystone.yaml
  releasenotes/notes/security-compliance-f4f7ae077b148af1.yaml
Due: none

Add missing CephClient service to ControllerNoCeph role
  roles/ControllerNoCeph.yaml
  tools/yaml-validate.py
Due: none

puppet apply: add --summarize
  common/deploy-steps-tasks.yaml
  docker/docker-puppet.py
  docker/services/haproxy.yaml
  extraconfig/pre_network/host_config_and_reboot.yaml
  extraconfig/tasks/run_puppet.sh
  puppet/services/nova-api.yaml
Due: none

Add composable network VIPs for puppet configuration
  puppet/all-nodes-config.j2.yaml
  releasenotes/notes/composable-network-vips-4d7b28fa3769d38b.yaml
Due: none

Add PublicVirtualFixedIPs to ci network-environment.yaml
  ci/environments/network/multiple-nics/network-environment.yaml
Due: none

IPSEC: stop relying on cloning the repository from t-h-t
  extraconfig/services/ipsec.yaml
Due: none

OpenShift: allow scheduling on all nodes
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Allow for optinal volumes and env variables
  docker/services/heat-api.yaml
  docker/services/neutron-api.yaml
  docker/services/nova-compute.yaml
  releasenotes/notes/bug-1741464-78403f89e9dc5d75.yaml
Due: none

ci/telemetry: Decrease test_telemetry_integration time
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario002-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add connection timeout options to ssh
  deployed-server/scripts/enable-ssh-admin.sh
Due: none

Enable DockerPuppetDebug
  ci/environments/multinode-containers.yaml
  ci/environments/multinode_major_upgrade.yaml
  ci/environments/ovb-ha.yaml
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario003-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
  ci/environments/scenario006-multinode-containers.yaml
  ci/environments/scenario007-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Removal of Contrail templates
  environments/contrail/contrail-net-storage-mgmt.yaml
  environments/contrail/contrail-net.yaml
  environments/contrail/contrail-services.yaml
  environments/contrail/roles_data_contrail.yaml
  extraconfig/all_nodes/contrail/enable_contrail_repo.yaml
  extraconfig/pre_network/contrail/compute_pre_network.yaml
  extraconfig/pre_network/contrail/contrail_dpdk_pre_network.yaml
  network/config/contrail/contrail-nic-config-compute.yaml
  network/config/contrail/contrail-nic-config.yaml
  network/service_net_map.j2.yaml
  puppet/services/network/contrail-analytics-database.yaml
  puppet/services/network/contrail-analytics.yaml
  puppet/services/network/contrail-base.yaml
  puppet/services/network/contrail-config.yaml
  puppet/services/network/contrail-control.yaml
  puppet/services/network/contrail-database.yaml
  puppet/services/network/contrail-dpdk.yaml
  puppet/services/network/contrail-heat.yaml
  puppet/services/network/contrail-neutron-plugin.yaml
  puppet/services/network/contrail-tsn.yaml
  puppet/services/network/contrail-vrouter.yaml
  puppet/services/network/contrail-webui.yaml
  releasenotes/notes/bug-1741452-6f73b550d94b8f6f.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Revert "zuul: disable voting on scenario 001, 002 and 003"
  zuul.d/layout.yaml
Due: none

Update Ceph container CPU/memory limits in Ceph scenarios
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Start step at 0 for update_ + upgrade_steps_playbook
  common/deploy-steps.j2
Due: none

Convert ipv4 nic-config templates
  ci/environments/network/multiple-nics/nic-configs/ceph-storage.yaml
  ci/environments/network/multiple-nics/nic-configs/cinder-storage.yaml
  ci/environments/network/multiple-nics/nic-configs/compute.yaml
  ci/environments/network/multiple-nics/nic-configs/controller.yaml
  ci/environments/network/multiple-nics/nic-configs/swift-storage.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/ceilometer.*$, ^puppet/services/ceph.*$, ^puppet/services/cinder.*$, ^puppet/services/congress.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/logging.*$, ^puppet/services/metrics.*$, ^puppet/services/monitoring.*$, ^puppet/services/panko.*$, ^puppet/services/tacker.*$, ci/environments/scenario001-multinode.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/congress.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/logging.*$, ^(docker|puppet)/services/metrics.*$, ^(docker|puppet)/services/monitoring.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/barbican.*$, ^puppet/services/ceilometer.*$, ^puppet/services/cinder.*$, ^puppet/services/ec2-api.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/panko.*$, ^puppet/services/swift.*$, ^puppet/services/zaqar.*$, ci/environments/scenario002-multinode.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/barbican.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/ec2-api.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/swift.*$, ^(docker|puppet)/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^puppet/services/glance.*$, ^puppet/services/mistral.*$, ^puppet/services/sahara.*$, ci/environments/scenario003-multinode.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/mistral.*$, ^(docker|puppet)/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^puppet/services/ceph.*$, ^puppet/services/glance.*$, ^puppet/services/manila.*$, ci/environments/scenario004-multinode.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ci/environments/scenario007-multinode.yaml, ci/pingtests/scenario007-multinode.yaml, ^puppet/services/.*ovn.*$, config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^(docker|puppet)/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml
