Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

undercloud: deploy podman
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix privileged typo in docker-puppet.py
  docker/docker-puppet.py
Due: none

Add networks to IronicConductor role.
  roles/IronicConductor.yaml
Due: none

Collectd documentation refactor
  environments/collectd-environment.yaml
  environments/metrics-collectd-qdr.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove NeutronServicePlugins from octavia environment files
  environments/services-baremetal/octavia.yaml
  environments/services/octavia.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Ping default gateways before controllers
  releasenotes/notes/ping-gateway-before-controllers-e029e81961dbaee8.yaml
  validation-scripts/all-nodes.sh
Due: none

Set container images for CNS
  extraconfig/services/openshift-cns.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Define keepalived service in environments/docker.yaml
  environments/docker.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Move to openshift-ansible 3.10
  ci/environments/scenario009-multinode.yaml
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-worker.yaml
  roles/OpenShiftInfra.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Use openshift_cockpit_deployer_image directly
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Add simple validation that OpenShift is deployed
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Refactor openshift services for composable roles
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-node.yaml
  extraconfig/services/openshift-worker.yaml
  roles/OpenShiftAllInOne.yaml
  roles/OpenShiftMaster.yaml
  roles/OpenShiftWorker.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Fix openshift new node detection
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-node.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Clean up previous osa inventory dir before deployment
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-node.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Pass parameters for TLS proxy in front of Octavia-API
  puppet/services/octavia-api.yaml
Due: none

In process-templates script write output files to provided dir when using base path
  tools/process-templates.py
Due: none

Chunk up ceph-ansible output to prevent clogging the CLI
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

[Ocata/Pike] Pass DeployIdentifier in upgrade tasks.
  common/major_upgrade_steps.j2.yaml
Due: none

Revert "Allow a containerized logrotate to access docker"
  docker/services/logrotate-crond.yaml
Due: none

Add UseNotifySSL to environments/ssl/enable-internal-tls.yaml
  environments/ssl/enable-internal-tls.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

check mode: docker_puppet
  common/deploy-steps-tasks.yaml
  docker/docker-puppet.py
Due: none

check mode: docker_puppet_tasks
  common/deploy-steps-tasks.yaml
Due: none

Name unnamed tasks
  puppet/services/glance-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

check mode: paunch configs
  common/deploy-steps-tasks.yaml
Due: none

Tag container image prepare tasks to allow running them for updates/upgrades
  puppet/services/container-image-prepare.j2.yaml
Due: none

docker-puppet.py: used dedicated hiera entry, not uuid
  docker/docker-puppet.py
  docker/services/containers-common.yaml
  puppet/role.role.j2.yaml
Due: none

Mount /usr/share/ceph-ansible into mistral-executor
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix inventory files for newer openshift-ansible
  extraconfig/services/openshift-node.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Introduce OpenShiftGlusterNodeVars heat param
  environments/openshift-cns.yaml
  extraconfig/services/openshift-cns.yaml
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq

Make glusterfs the default sc when deploying with CNS
  extraconfig/services/openshift-cns.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Consolidate openshift-ansible global variables
  extraconfig/services/openshift-cns.yaml
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-node.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Add a zaqar-swift-backend environment file
  environments/services/zaqar-swift-backend.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Introduce proper steps to external update/upgrade tasks
  common/deploy-steps.j2
  docker/services/ceph-ansible/ceph-base.yaml
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
