Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/ceilometer.*$, ^puppet/services/ceph.*$, ^puppet/services/cinder.*$, ^puppet/services/congress.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/logging.*$, ^puppet/services/metrics.*$, ^puppet/services/monitoring.*$, ^puppet/services/panko.*$, ^puppet/services/tacker.*$, ci/environments/scenario001-multinode.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/congress.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/logging.*$, ^(docker|puppet)/services/metrics.*$, ^(docker|puppet)/services/monitoring.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/barbican.*$, ^puppet/services/ceilometer.*$, ^puppet/services/cinder.*$, ^puppet/services/ec2-api.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/panko.*$, ^puppet/services/swift.*$, ^puppet/services/zaqar.*$, ci/environments/scenario002-multinode.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/barbican.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/ec2-api.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/swift.*$, ^(docker|puppet)/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^puppet/services/glance.*$, ^puppet/services/mistral.*$, ^puppet/services/sahara.*$, ci/environments/scenario003-multinode.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/mistral.*$, ^(docker|puppet)/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^puppet/services/ceph.*$, ^puppet/services/glance.*$, ^puppet/services/manila.*$, ci/environments/scenario004-multinode.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ci/environments/scenario007-multinode.yaml, ci/pingtests/scenario007-multinode.yaml, ^puppet/services/.*ovn.*$, config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^(docker|puppet)/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml

Set permissions for openstack keyring on CephPools
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Updated from global requirements
  test-requirements.txt
Due: none

Split IPSEC deployment in two
  extraconfig/services/ipsec.yaml
Due: none

Workflow execution blacklist support
  common/deploy-steps.j2
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
  releasenotes/notes/ceph-ansible-blacklist-support-164b5726cc4532b7.yaml
Due: none

Point heat.conf[clients_keystone/auth_uri] to the public endpoint.
  puppet/services/heat-base.yaml
Due: none

Parameterize ceph-ansible environment variables
  ci/environments/scenario001-multinode-containers.yaml
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Move step 1 preparation to deploy-steps-tasks.yaml
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
Due: none

Swap the order of stdout and stderr in debug output
  common/deploy-steps-tasks.yaml
Due: none

Update default value for derive params workflow inputs
  plan-samples/plan-environment-derived-params.yaml
Due: none

Fix path to ceph-mgr in storage-environment
  environments/storage-environment.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Allow defaults for Image/Flavor/RoleParameters in roles_data.yaml
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
  roles/README.rst
Due: none

We dont support fwaas in Horizon
  docker/services/horizon.yaml
Due: none

Align Manila Share docker templates
  docker/services/manila-share.yaml
  docker/services/pacemaker/manila-share.yaml
Due: tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Fix server post deploy step with config-download
  common/deploy-steps.j2
Due: none

Do not format output for kubespray or openshift deployments
  extraconfig/services/kubernetes-master.yaml
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Enable panko API health check
  docker/services/panko-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Containerize keepalived
  docker/services/haproxy.yaml
  docker/services/keepalived.yaml
Due: none

Migrates ceph-{radosgw,mds,rbdmirror} to ceph-ansible
  environments/ceph-radosgw.yaml
  environments/services/ceph-mds.yaml
  environments/services/ceph-rbdmirror.yaml
  environments/storage-environment-external.yaml
  environments/storage-environment.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Enable Redis health check
  docker/services/database/redis.yaml
Due: none

Adds SSL/TLS everywhere for OpenDaylight
  docker/services/opendaylight-api.yaml
  puppet/services/neutron-plugin-ml2-odl.yaml
  puppet/services/opendaylight-api.yaml
  puppet/services/opendaylight-ovs.yaml
  releasenotes/notes/odl-enable-tls-377fbbfff6f67230.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Don't run check-tripleo OVB jobs frm RH1 anymore
  zuul.d/layout.yaml
Due: none

Correct indentation of docker_puppet_apply.sh run
  docker/services/haproxy.yaml
Due: none

Remove RH1 OVB jobs from configuration
  zuul.d/layout.yaml
Due: none

Enables configuring Octavia flavor by default
  puppet/services/octavia-worker.yaml
  releasenotes/notes/enable-octavia-flavor-by-default-d356fbb265508f76.yaml
Due: none

Allowing Non-IP Traffic in L2 and L3 domains
  puppet/services/neutron-plugin-ml2-nuage.yaml
Due: none

Containerize multinode-3nodes
  ci/environments/multinode-3nodes-registry.yaml
  ci/environments/multinode-3nodes.yaml
Due: none

Add yaml validations for FFU.
  tools/yaml-validate.py
Due: none

OpenShift: Don't pre-install Docker
  ci/environments/scenario009-multinode.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Add trunk service plugin to OVN environment files
  environments/neutron-ml2-ovn-ha.yaml
  environments/neutron-ml2-ovn.yaml
  environments/services-docker/neutron-ovn-ha.yaml
  environments/services-docker/neutron-ovn.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fixes generating public certificates
  puppet/services/haproxy.yaml
  releasenotes/notes/fix-public-cert-generation-41c75be0b07a48fe.yaml
Due: none

Move parameter to parameter_defaults section
  environments/services/haproxy-public-tls-certmonger.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add barbican keystone notification topics
  puppet/services/barbican-api.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add rgw_keystone_implicit_tenants to ceph-ansible/ceph-base.yaml
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add release notes for the migration of Ceph env files to containers
  releasenotes/notes/ceph_envs_migration_to_ceph_ansible-fd1a8cb659ac2401.yaml
Due: none

Make heat parameter plugin_dirs configurable
  puppet/services/heat-engine.yaml
Due: none

Configure neutron notifier to use internal endpoint type for nova
  puppet/services/neutron-api.yaml
Due: none

Remove non-conditional worker count configuration
  puppet/services/neutron-api.yaml
Due: none

Latest Nexus Configuration Variables Updates
  environments/neutron-ml2-cisco-nexus-ucsm.yaml
  puppet/extraconfig/all_nodes/neutron-ml2-cisco-nexus-ucsm.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container
