Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario011-multinode-oooq-container

Drop unused deployment services parameters
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-compute-common-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: none

Fix logging config on misc services
  deployment/deprecated/tripleo-ui/tripleo-ui-container-puppet.yaml
  deployment/designate/designate-producer-container-puppet.yaml
  deployment/designate/designate-worker-container-puppet.yaml
  deployment/neutron/neutron-api-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
Due: none

Fix monitoring_subscription on misc services
  deployment/ceilometer/ceilometer-agent-ipmi-container-puppet.yaml
  deployment/manila/manila-api-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  deployment/nova/nova-metadata-container-puppet.yaml
  deployment/nova/nova-placement-container-puppet.yaml
  deployment/nova/nova-scheduler-container-puppet.yaml
Due: none

Support cinder-volume running active-active
  deployment/cinder/cinder-volume-container-puppet.yaml
  environments/cinder-volume-active-active.yaml
  releasenotes/notes/cinder-volume-active-active-976f2bc33ab52c94.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

flatten the octavia service configurations
  ci/environments/scenario010-multinode-containers.yaml
  deployment/octavia/octavia-api-container-puppet.yaml
  deployment/octavia/octavia-base.yaml
  deployment/octavia/octavia-deployment-config.j2.yaml
  deployment/octavia/octavia-health-manager-container-puppet.yaml
  deployment/octavia/octavia-housekeeping-container-puppet.yaml
  deployment/octavia/octavia-worker-container-puppet.yaml
  environments/services-baremetal/octavia.yaml
  environments/services/octavia.yaml
  puppet/services/octavia-api.yaml
  puppet/services/octavia-base.yaml
  puppet/services/octavia-controller.yaml
  puppet/services/octavia-health-manager.yaml
  puppet/services/octavia-housekeeping.yaml
  puppet/services/octavia-worker.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

mistral-executor include host /etc/environment
  deployment/mistral/mistral-executor-container-puppet.yaml
Due: none

[stable/queens] Add a check for kernels args update to avoid unnecessary reboot
  extraconfig/pre_network/boot_param_tasks.yaml
  extraconfig/pre_network/host_config_and_reboot.yaml
Due: none

Move cellv2 discovery from control plane services to compute services
  common/services.yaml
  docker/services/nova-api.yaml
  docker/services/nova-compute-common.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-ironic.yaml
  docker_config_scripts/nova_cell_v2_discover_host.py
  docker_config_scripts/nova_statedir_ownership.py
  overcloud.j2.yaml
  puppet/all-nodes-config.j2.yaml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario011-multinode-oooq-container

Service check in nova_cell_v2_discover_host.py to use internal API
  docker_config_scripts/nova_cell_v2_discover_host.py
  releasenotes/notes/nova_cell_v2_discover_host_use_internal_api-1bebb3e9c6e69113.yaml
Due: none

Fix nova_cell_v2_discover_host.py with python3
  docker_config_scripts/nova_cell_v2_discover_host.py
Due: none

Rework nova_cell_v2_discover_host.py to use nova.conf and python novaclient
  docker_config_scripts/nova_cell_v2_discover_host.py
Due: none

Fix metadata_settings for redis
  deployment/database/redis-container-puppet.yaml
Due: none

Request certificate for using host service principals
  deployment/database/mysql-base.yaml
  deployment/database/redis-container-puppet.yaml
  deployment/haproxy/haproxy-internal-tls-certmonger.j2.yaml
Due: none

(Queens only) Remove privileged capabilities from nova-metadata
  docker/services/nova-metadata.yaml
Due: none

Delay check CI jobs until the pep8 passes..
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Add kek_rewrap functionality to Barbican
  deployment/barbican/barbican-api-container-puppet.yaml
  releasenotes/notes/add-kek-rewrap-to-barbican-ef930dda85fe1e1d.yaml
Due: none

Rename docker_puppet_tasks to container_puppet_tasks
  common/deploy-steps-tasks.yaml
  common/services.yaml
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/database/mysql-container-puppet.yaml
  deployment/etcd/etcd-container-puppet.yaml
  deployment/keystone/keystone-container-puppet.yaml
  deployment/octavia/octavia-api-container-puppet.yaml
  deployment/rabbitmq/rabbitmq-container-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-container-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-container-puppet.yaml
  docker/services/README.rst
  releasenotes/notes/docker_puppet_tasks-e74637224ee66f66.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

image-serve: only uninstall docker-distribution when it was installed
  deployment/image-serve/image-serve-baremetal-ansible.yaml
Due: none

ci/environments/ovb-ha: force Docker for ContainerCli
  ci/environments/ovb-ha.yaml
Due: none

CI: force ContainerCli to Docker when needed
  ci/environments/multinode-3nodes-registry.yaml
  ci/environments/scenario000-multinode-containers.yaml
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario003-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
  ci/environments/scenario004-standalone.yaml
  ci/environments/scenario006-multinode-containers.yaml
  ci/environments/scenario007-multinode-containers.yaml
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario012-multinode-containers.yaml
  ci/environments/scenario012-standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario004-standalone

Do not restart bundles during a minor update
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
  docker/services/pacemaker/ovn-dbs.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Flatten and move logrotate-crond service container
  deployment/logrotate/logrotate-crond-container-puppet.yaml
  environments/docker-uc-light.yaml
  overcloud-resource-registry-puppet.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Workaround rhel8,0 iptables bug causing neutron_ovs_agent to restart continuously
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
Due: none

Rename docker_config_scripts to container_config_scripts
  common/deploy-steps-tasks.yaml
  common/services.yaml
  container_config_scripts/__init__.py
  container_config_scripts/nova_cell_v2_discover_host.py
  container_config_scripts/nova_statedir_ownership.py
  container_config_scripts/nova_wait_for_placement_service.py
  container_config_scripts/pyshim.sh
  container_config_scripts/tests/__init__.py
  container_config_scripts/tests/test_nova_statedir_ownership.py
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-container-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/ironic/ironic-conductor-container-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
  deployment/neutron/neutron-ovs-dpdk-agent-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-compute-common-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-ironic-container-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
  deployment/swift/swift-proxy-container-puppet.yaml
  docker/services/containers-common.yaml
  docker/services/ovn-metadata.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  tools/yaml-validate.py
  tox.ini
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Remove environments/baremetal-services.yaml
  environments/baremetal-services.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Drop unused parameters
  deployment/database/mysql-base.yaml
  deployment/octavia/octavia-worker-container-puppet.yaml
Due: none

Give sudo powers in Disable mysql task.
  deployment/database/mysql-pacemaker-puppet.yaml
Due: none

Make heat yaql limits configurable
  environments/undercloud.yaml
  puppet/services/heat-base.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Add missing entries for Pure Storage Cinder Backend and fix typos
  deployed-server/deployed-server-roles-data.yaml
  environments/cinder-pure-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/cinder-backend-pure.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerStorageNfs.yaml
  roles/Standalone.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Add missing entries for Pure Storage Cinder Backend and fix typos
  deployed-server/deployed-server-roles-data.yaml
  environments/cinder-pure-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/cinder-backend-pure.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerStorageNfs.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Set setype on etcd's service directory
  deployment/etcd/etcd-container-puppet.yaml
Due: none

Disable TripleO UI service
  deployment/deprecated/tripleo-ui/tripleo-ui-container-puppet.yaml
Due: none

Copy tripleo-admin key to mistral home directory
  deployment/mistral/mistral-executor-container-puppet.yaml
Due: none

Test the correct placement endpoint with multiple regions
  container_config_scripts/nova_wait_for_placement_service.py
Due: none

Disable cinder's LVM backend when deploying Pure backend
  environments/cinder-pure-config.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Refactored configuration options for nova/neutron in manila
  deployment/manila/manila-scheduler-container-puppet.yaml
  deployment/manila/manila-share-container-puppet.yaml
Due: none

Suppress output from copy tasks
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

flatten the gnocchi service configurations
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario002-standalone.yaml
  deployment/gnocchi/gnocchi-api-container-puppet.yaml
  deployment/gnocchi/gnocchi-base.yaml
  deployment/gnocchi/gnocchi-metricd-container-puppet.yaml
  deployment/gnocchi/gnocchi-statsd-container-puppet.yaml
  environments/services-baremetal/undercloud-gnocchi.yaml
  environments/services/undercloud-gnocchi.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/gnocchi-api.yaml
  puppet/services/gnocchi-metricd.yaml
  puppet/services/gnocchi-statsd.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^deployed-server/.*$, ^(docker|puppet)/services/.*ca-certs.*$, ^(docker|puppet)/services/.*clustercheck.*$, ^(docker|puppet)/services/.*container-image-prepare.*$, ^(docker|puppet)/services/.*docker.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*kernel.*$, ^(docker|puppet)/services/.*keystone.*$, ^(docker|puppet)/services/.*memcached.*$, ^(docker|puppet)/services/.*mysql.*$, ^(docker|puppet)/services/.*ntp.*$, ^(docker|puppet)/services/.*pacemaker.*$, ^(docker|puppet)/services/.*rabbitmq.*$, ^(docker|puppet)/services/.*snmp.*$, ^(docker|puppet)/services/.*timezone.*$, ^(docker|puppet)/services/.*tripleo-packages.*$, ^(docker|puppet)/services/.*tripleo-firewall.*$, ^(docker|puppet)/services/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ci/environments/scenario008-multinode-containers.yaml, ^(docker|puppet)/services/.*(odl|opendaylight).*$, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*keepalived.*$, ^(docker|puppet)/services/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(docker|puppet)/services/.*octavia.*$, ci/environments/scenario010-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario001-standalone: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario002-standalone: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario004-standalone: any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(docker|puppet)/services/.*ironic.*$, ^environments\/.*ironic.*$
