Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$

Disable non-containerized Swift services
  docker/services/swift-storage.yaml
  releasenotes/notes/disable-non-containerized-swift-services-4f7edd98203d749b.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Verify nova api migration finished before start placement
  docker/services/nova-placement.yaml
  docker_config_scripts/nova_wait_for_db_sync.py
Due: none

Apply variable to task not the block
  extraconfig/services/rhsm.yaml
Due: none

[Rocky ONLY] Fix haproxy cert inject for check mode
  puppet/services/haproxy-public-tls-inject.yaml
Due: none

Fix IHA with the new region_name key
  extraconfig/tasks/instanceha/check-run-nova-compute
Due: none

Add OS::TripleO::Services::ContainerImagePrepare to ControllerOpenStack
  roles/ControllerOpenstack.yaml
Due: none

Fix haproxy tls mapping under pacemaker
  docker/services/pacemaker/haproxy.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Remove non-container zaqar-server on upgrade
  docker/services/zaqar.yaml
  releasenotes/notes/zaqar-ws-upgrade-8dda7caea7e6bc1e.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Allow setting physical network MTU via heat template
  puppet/services/neutron-plugin-ml2.yaml
  releasenotes/notes/bug-1782123-7b08ab6503033dd3.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add tempest workspace volume for tempest
  docker/services/tempest.yaml
Due: none

[Ocata/Pike] Pass DeployIdentifier in upgrade tasks.
  puppet/major_upgrade_steps.j2.yaml
Due: none

Change Swift storage directory to /srv/node/d1
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

[Ocata/Pike/Queens] Make rhel-registration scripts location absolute.
  extraconfig/pre_deploy/rhel-registration/rhel-registration.yaml
Due: none

[Queens/Pike] Re-registry with new rhel_reg parameters on upgrade.
  environments/major-upgrade-composable-steps-docker.yaml
  environments/major-upgrade-converge-docker.yaml
  extraconfig/pre_deploy/rhel-registration/scripts/rhel-registration
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Switch OpenShiftGlusterDisks to a single disk
  extraconfig/services/openshift-cns.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Recreate cinder LVM loopback device on startup
  docker/services/cinder-common.yaml
  docker/services/cinder-volume.yaml
  docker/services/pacemaker/cinder-volume.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Add provision to specify java arguments to ODL
  puppet/services/opendaylight-api.yaml
  releasenotes/notes/set_java_opts_from_tripleo-d969b1151ec244a0.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Use different base virtual_router_id on openshift
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Use nova_api DB for [placement_database] -> connection
  puppet/services/nova-base.yaml
  releasenotes/notes/nova_use_nova_api_db_for_placement-eea44dd48c768f04.yaml
Due: none

Support for libvirt volume multipath
  puppet/services/nova-compute.yaml
  releasenotes/notes/volume_use_multipath-for-libvirt--c8e93a0bb83e0bc8.yaml
Due: none

Fix cinder_api_apache error during upgrade.
  docker/services/cinder-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add OS::TripleO::Services::Rhsm to OpenShift roles
  roles/OpenShiftAllInOne.yaml
  roles/OpenShiftInfra.yaml
  roles/OpenShiftMaster.yaml
  roles/OpenShiftWorker.yaml
Due: none

check mode: docker_puppet_tasks
  common/deploy-steps-tasks.yaml
Due: none

check mode: paunch configs
  common/deploy-steps-tasks.yaml
Due: none

Name unnamed tasks
  puppet/services/glance-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Change log directory for OpenDaylight
  docker/services/logging/files/opendaylight-api.yaml
  releasenotes/notes/fix-odl-karaf-logging-eca10973e57caa3a.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Let openshift-ansible configure the firewall
  extraconfig/services/openshift-cns.yaml
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-worker.yaml
  roles/OpenShiftInfra.yaml
  roles/OpenShiftWorker.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Do not modify imagestreams
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Set openshift_docker_insecure_registries
  ci/environments/scenario009-multinode.yaml
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Do not wipe disks on OpenShift gluster nodes
  extraconfig/services/openshift-cns.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Force absolute path for CONFIG_VOLUME_PREFIX
  docker/docker-puppet.py
Due: none

Delete novajoin manual setup from freeipa setup script
  ci/scripts/freeipa_setup.sh
Due: none

Delete empty karaf directory on host
  docker/services/opendaylight-api.yaml
  releasenotes/notes/odl_delete_karaf_folder_on_host-b81465f62fe422d6.yaml
Due: none

Fix NeutronSriovHostConfig path for ODL deployment with SRIOV
  environments/services/neutron-opendaylight-sriov.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Add parameters for cinder storage availability zones
  environments/storage/cinder-netapp-config.yaml
  puppet/services/cinder-backend-dellemc-unity.yaml
  puppet/services/cinder-backend-dellemc-vmax-iscsi.yaml
  puppet/services/cinder-backend-dellemc-vnx.yaml
  puppet/services/cinder-backend-dellemc-xtremio-iscsi.yaml
  puppet/services/cinder-backend-dellps.yaml
  puppet/services/cinder-backend-dellsc.yaml
  puppet/services/cinder-backend-netapp.yaml
  puppet/services/cinder-backend-nvmeof.yaml
  puppet/services/cinder-backend-pure.yaml
  puppet/services/cinder-backend-scaleio.yaml
  puppet/services/cinder-backend-veritas-hyperscale.yaml
  puppet/services/cinder-base.yaml
  puppet/services/cinder-hpelefthand-iscsi.yaml
  puppet/services/cinder-volume.yaml
  releasenotes/notes/add-cinder-storage-az-parameters-cddf410bc3464193.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container
