Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario000-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: environments/services/octavia.yaml, ^(docker|puppet)/services/.*octavia.*$, ci/environments/scenario010-multinode-containers.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$

Updates for dcn/dcn-hci sample envs
  environments/dcn-hci.yaml
  environments/dcn.yaml
  sample-env-generator/dcn.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Readd creation of /var/log/mariadb directory
  deployment/database/mysql-pacemaker-puppet.yaml
Due: none

Enable recon middleware for swift account/container server
  deployment/swift/swift-storage-container-puppet.yaml
Due: none

container without paunch: set tripleo_container_manage_systemd_order
  common/deploy-steps-tasks.yaml
Due: none

Stop configuring install_command in tox.
  tox.ini
Due: none

Check if snmpd is enabled for upgrade_tasks
  deployment/snmp/snmp-baremetal-puppet.yaml
Due: none

Enable Ceph RGW 'account in url' option
  docker/services/ceph-ansible/ceph-base.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Resolve FIXME for NeutronServer mapping
  ci/environments/multinode-containers.yaml
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario003-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
  ci/environments/scenario006-multinode-containers.yaml
  ci/environments/scenario006-multinode.yaml
  ci/environments/scenario007-multinode-containers.yaml
  ci/environments/scenario007-standalone.yaml
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario012-multinode-containers.yaml
  environments/docker-uc-light.yaml
  environments/neutron-ovs-dvr.yaml
  environments/services/neutron-ovs-dvr.yaml
  environments/services/neutron-ovs.yaml
  environments/services/neutron-server.yaml
  environments/undercloud/undercloud-minion.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/deprecate-neutron-server-mapping-af17af3d8e09ade4.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use ansible for hosts entries
  common/deploy-steps.j2
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
  releasenotes/notes/use-ansible-for-hosts-entries-b4905552515e17ff.yaml
Due: none

Add ../network/scripts/ to search path for run-os-net-config.sh
  tools/yaml-nic-config-2-script.py
Due: none

ooo updates/upgrades working well on train, move to vote/gate
  zuul.d/layout.yaml
Due: none

Add NovaAZConfig service to compute roles
  environments/hyperconverged-ceph.yaml
  roles/Compute.yaml
  roles/ComputeAlt.yaml
  roles/ComputeDVR.yaml
  roles/ComputeHCI.yaml
  roles/ComputeHCIOvsDpdk.yaml
  roles/ComputeInstanceHA.yaml
  roles/ComputeLiquidio.yaml
  roles/ComputeLocalEphemeral.yaml
  roles/ComputeOvsDpdk.yaml
  roles/ComputeOvsDpdkRT.yaml
  roles/ComputeOvsDpdkSriov.yaml
  roles/ComputeOvsDpdkSriovRT.yaml
  roles/ComputePPC64LE.yaml
  roles/ComputeRBDEphemeral.yaml
  roles/ComputeRealTime.yaml
  roles/ComputeSriov.yaml
  roles/ComputeSriovRT.yaml
  roles/DistributedCompute.yaml
  roles/DistributedComputeHCI.yaml
  roles/HciCephAll.yaml
  roles/HciCephFile.yaml
  roles/HciCephMon.yaml
  roles/HciCephObject.yaml
  roles_data.yaml
  roles_data_undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Split QDR environment from collectd
  environments/metrics/ceilometer-write-qdr.yaml
  environments/metrics/collectd-write-qdr.yaml
  environments/metrics/qdr-edge-only.yaml
  environments/metrics/qdr-form-controller-mesh.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Use a systemd service to handle sidecar containers
  deployment/neutron/kill-script
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
Due: none

ovn-db standalone: Create ovndbs before starting the OVN ovsdb servers
  deployment/ovn/ovn-dbs-container-puppet.yaml
Due: none

Fix neutron api TLS issues
  deployment/neutron/neutron-api-container-puppet.yaml
Due: none

Add a version of the multiple-nics templates with tagged VLANs
  environments/net-multiple-nics-vlans.j2.yaml
  network/config/multiple-nics-vlans/README.md
  network/config/multiple-nics-vlans/compute-dvr.j2.yaml
  network/config/multiple-nics-vlans/role.role.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Incorrect group name issue on non DPDK compute
  deployment/neutron/neutron-ovs-dpdk-agent-container-puppet.yaml
Due: none

Add configurable monitor timeouts for ovn dbs
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  releasenotes/notes/setup_timeouts_ovn_dbs-141be475dd2cd7ae.yaml
Due: none

Add configurable monitor timeouts for ovn dbs
  docker/services/pacemaker/ovn-dbs.yaml
  releasenotes/notes/setup_timeouts_ovn_dbs-141be475dd2cd7ae.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Check that facter.conf is a file
  common/deploy-steps-tasks.yaml
Due: none

[queens only] Keep ceph and neutron side containers running during Update
  puppet/services/docker.yaml
Due: none

Disable legacy telemetry by default
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario002-standalone.yaml
  ci/environments/scenario004-multinode-containers.yaml
  ci/environments/scenario004-standalone.yaml
  ci/environments/scenario010-multinode-containers.yaml
  deployment/ceilometer/ceilometer-agent-central-container-puppet.yaml
  deployment/ceilometer/ceilometer-base-container-puppet.yaml
  deployment/deprecated/telemetry/enable-legacy-telemetry.yaml
  environments/ceph-ansible/ceph-ansible-external.yaml
  environments/ceph-ansible/ceph-ansible-per-role.yaml
  environments/ceph-ansible/ceph-ansible.yaml
  environments/computealt.yaml
  environments/disable-telemetry.yaml
  environments/services-baremetal/undercloud-ceilometer.yaml
  environments/services-baremetal/undercloud-gnocchi.yaml
  environments/storage-environment-external.yaml
  environments/storage-environment.yaml
  overcloud-resource-registry-puppet.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix typo in MySQL upgrade tasks.
  deployment/database/mysql-pacemaker-puppet.yaml
Due: none

Fix regression in removing containers in container-puppet.py
  common/container-puppet.py
Due: none

Add the Octavia log offload parameters
  deployment/octavia/octavia-base.yaml
  releasenotes/notes/add-octavia-log-offload-parameters-dc645daf909a85c2.yaml
Due: none

Remove configuration options for ldap write support
  environments/services/keystone_domain_specific_ldap_backend.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Incorrect group name issue on non DPDK compute
  puppet/services/neutron-ovs-dpdk-agent.yaml
Due: none

Fix typo in parameter name
  deployment/deprecated/kernel/kernel-baremetal-puppet.yaml
  deployment/kernel/kernel-baremetal-ansible.yaml
  releasenotes/notes/deprecate-misspelt-param-34fee48da69fc480.yaml
Due: none

Add a scenario000-standalone environment
  ci/environments/scenario000-standalone.yaml
Due: none
