Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario011-multinode-oooq-container

run docker_puppet_tasks on any role
  common/deploy-steps-tasks.yaml
  common/services.yaml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Disable stack check and cancel update for undercloud
  environments/undercloud.yaml
  releasenotes/notes/disable-heat-non-lifecycle-actions-d551fe4551d71770.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

FFWD: Introduce workaround for neutron cisco plugin
  deployment/neutron/neutron-api-container-puppet.yaml
Due: none

Sanitize the uuid string for ceph-ansible
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario004-standalone

Enable glance image cache's cleaner and pruner
  deployment/glance/glance-api-container-puppet.yaml
Due: none

Remove RoleConfig
  common/deploy-steps.j2
  overcloud.j2.yaml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Make ceph-ansible working dir owned by tripleo-admin
  docker/services/ceph-ansible/ceph-base.yaml
  extraconfig/services/kubernetes-master.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Set Ironic default interface when using networking-ansible
  environments/neutron-ml2-ansible.yaml
  environments/services/neutron-ml2-ansible.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Use net=none for gnocchi_init_lib
  docker/services/gnocchi-api.yaml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone

flatten tripleo-ui service configuration
  deployment/tripleo-ui/tripleo-ui-container-puppet.yaml
  docker/services/tripleo-ui.yaml
  environments/services/tripleo-ui.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

flatten sensu service configuration
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario004-standalone.yaml
  deployment/monitoring/sensu-base.yaml
  deployment/monitoring/sensu-client-container-puppet.yaml
  environments/computealt.yaml
  environments/monitoring-environment.yaml
  environments/services-baremetal/sensu-client.yaml
  environments/services/sensu-client.yaml
  puppet/services/monitoring/sensu-client.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Drop Docker service from Undercloud roles
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: none

Re-Add the StackUpdateType parameter to the nova-vnc-proxy template
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
Due: none

step2: flatten nova service configuration
  deployment/nova/nova-compute-common-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-ironic-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  deployment/nova/nova-libvirt-guests-container-puppet.yaml
  docker/services/nova-compute.yaml
  environments/baremetal-services.yaml
  environments/computealt.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/nova-metadata.yaml
  sample-env-generator/storage.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

step3: flatten nova service configuration
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
  deployment/nova/nova-placement-container-puppet.yaml
  deployment/nova/nova-scheduler-container-puppet.yaml
  deployment/nova/novajoin-container-puppet.yaml
  environments/baremetal-services.yaml
  environments/services/novajoin.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/nova-api.yaml
  puppet/services/nova-conductor.yaml
  puppet/services/nova-placement.yaml
  puppet/services/nova-scheduler.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Restrict use of become to minimum necessary for Ceph deployment
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario004-standalone

env/docker: add ContainerCli
  environments/docker.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

flatten ceilometer service configuration
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario002-standalone.yaml
  deployment/ceilometer/ceilometer-agent-central-container-puppet.yaml
  deployment/ceilometer/ceilometer-agent-compute-container-puppet.yaml
  deployment/ceilometer/ceilometer-agent-ipmi-container-puppet.yaml
  deployment/ceilometer/ceilometer-agent-notification-container-puppet.yaml
  deployment/ceilometer/ceilometer-base-container-puppet.yaml
  environments/baremetal-services.yaml
  environments/computealt.yaml
  environments/services-baremetal/undercloud-ceilometer.yaml
  environments/services/undercloud-ceilometer.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/ceilometer-agent-central.yaml
  puppet/services/ceilometer-agent-compute.yaml
  puppet/services/ceilometer-agent-ipmi.yaml
  puppet/services/ceilometer-agent-notification.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Revert "mistral-executor: bind-mount /var/lib/containers"
  deployment/mistral/mistral-executor-container-puppet.yaml
Due: none

Don't mount docker.sock in the mistral-executor container
  deployment/mistral/mistral-executor-container-puppet.yaml
Due: none

Switch Manila API to httpd and support TLS
  deployment/manila/manila-api-container-puppet.yaml
  releasenotes/notes/switch-manila-api-to-httpd-support-tls-9b995fe4113b2412.yaml
Due: none

minor update: move VIP before stopping pacemaker on a node
  puppet/services/pacemaker.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Introduce ContainerImagePrepareDebug parameter
  deployment/container-image-prepare/container-image-prepare-baremetal-ansible.j2.yaml
  environments/container-image-prepare-debug.yaml
  releasenotes/notes/container_image_prepare_debug-52fcb324633d2cf0.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Default ControlPlaneMtu to 1500
  puppet/role.role.j2.yaml
Due: none

Switch default neutron ML2 mechanism driver to OVN
  README.rst
  ci/environments/multinode-containers.yaml
  ci/environments/network/multiple-nics-ipv6/network-environment.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/compute-dvr.yaml
  ci/environments/network/multiple-nics/network-environment.yaml
  ci/environments/network/multiple-nics/nic-configs/compute-dvr.yaml
  ci/environments/ovb-ha.yaml
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario003-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
  ci/environments/scenario006-multinode-containers.yaml
  ci/environments/scenario007-multinode-containers.yaml
  ci/environments/scenario008-multinode-containers.yaml
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario012-multinode-containers.yaml
  deployment/container-image-prepare/container-image-prepare-baremetal-ansible.j2.yaml
  deployment/kernel/kernel-baremetal-puppet.yaml
  deployment/neutron/neutron-api-container-puppet.yaml
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
  environments/neutron-ovs-dvr.yaml
  environments/services/neutron-ovs-dvr.yaml
  environments/services/neutron-ovs.yaml
  environments/standalone/standalone-tripleo.yaml
  environments/undercloud.yaml
  environments/updates/update-from-ml2-ovs-from-rocky.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/neutron-base.yaml
  puppet/services/neutron-plugin-ml2-ovn.yaml
  puppet/services/neutron-plugin-ml2.yaml
  releasenotes/notes/switch-to-default-ovn-driver-ab4ae9d348158d61.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Add missing parts from step2: flatten nova service configuration
  deployment/nova/nova-compute-common-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  puppet/services/nova-libvirt.yaml
Due: none

Fix keystone opt deprecations in manila manifests
  deployment/manila/manila-api-container-puppet.yaml
  deployment/manila/manila-share-container-puppet.yaml
Due: none

Deprecate xinetd service management
  docker/services/xinetd.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/deprecate-xinetd-service.yaml-d7594bf8a7b714e2.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/Undercloud.yaml
  roles_data.yaml
  roles_data_undercloud.yaml
Due: none

make skydive working with folder created by tripleo-admin
  extraconfig/services/skydive-analyzer.yaml
Due: none

Translating scenario012 to standalone
  ci/common/ironic_standalone_post.yaml
  ci/environments/scenario012-standalone.yaml
Due: none

cell_v2 multi-cell
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
  deployment/nova/nova-scheduler-container-puppet.yaml
  network/ports/net_ip_list_map.j2.yaml
  overcloud.j2.yaml
  puppet/services/nova-base.yaml
  roles/CellController.yaml
Due: none

Enable rabbitmq_management plugin
  deployment/rabbitmq/rabbitmq-container-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-container-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-container-puppet.yaml
  releasenotes/notes/rabbitmq-enable-management-plugin-94b27747e4f5e685.yaml
Due: none

Fix rabbitmq restart
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: none

flatten qdrouterd service configs
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario003-multinode-containers.yaml
  ci/environments/scenario003-standalone.yaml
  deployment/messaging/rpc-qdrouterd-container-puppet.yaml
  deployment/metrics/qdr-container-puppet.yaml
  deployment/qdr/qdrouterd-container-puppet.yaml
  environments/messaging/rpc-qdrouterd-notify-rabbitmq-hybrid.yaml
  environments/metrics-collectd-qdr.yaml
  environments/services/qdr.yaml
  puppet/services/messaging/rpc-qdrouterd.yaml
  puppet/services/qdr.yaml
  sample-env-generator/messaging.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Move openstack clients service
  deployment/clients/openstack-clients-baremetal-puppet.yaml
  environments/standalone.yaml
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  environments/undercloud.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Replace docker-distribution with apache image-serve
  deployment/image-serve/image-serve-baremetal-ansible.yaml
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

TLS everywhere: Set post-save command for redis
  puppet/services/database/redis.yaml
Due: none

TLS everywhere: Set post-save command for httpd
  puppet/services/apache.j2.yaml
Due: none

TLS everywhere: Set post-save command for RabbitMQ
  puppet/services/rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^deployed-server/.*$, ^(docker|puppet)/services/.*ca-certs.*$, ^(docker|puppet)/services/.*clustercheck.*$, ^(docker|puppet)/services/.*container-image-prepare.*$, ^(docker|puppet)/services/.*docker.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*kernel.*$, ^(docker|puppet)/services/.*keystone.*$, ^(docker|puppet)/services/.*memcached.*$, ^(docker|puppet)/services/.*mysql.*$, ^(docker|puppet)/services/.*ntp.*$, ^(docker|puppet)/services/.*pacemaker.*$, ^(docker|puppet)/services/.*rabbitmq.*$, ^(docker|puppet)/services/.*snmp.*$, ^(docker|puppet)/services/.*timezone.*$, ^(docker|puppet)/services/.*tripleo-packages.*$, ^(docker|puppet)/services/.*tripleo-firewall.*$, ^(docker|puppet)/services/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ci/environments/scenario008-multinode-containers.yaml, ^(docker|puppet)/services/.*(odl|opendaylight).*$, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*keepalived.*$, ^(docker|puppet)/services/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(docker|puppet)/services/.*octavia.*$, ci/environments/scenario010-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario001-standalone: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario002-standalone: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario004-standalone: any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(docker|puppet)/services/.*ironic.*$, ^environments\/.*ironic.*$
