Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario011-multinode-oooq-container

flatten the iscsid service
  deployment/iscsid/iscsid-container-puppet.yaml
  environments/baremetal-services.yaml
  environments/computealt.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/iscsid.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Autocreate CephAnsibleFetchDirectoryBackup
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario004-standalone

Move the multipathd services into deployment
  deployment/multipathd/multipathd-container.yaml
  overcloud-resource-registry-puppet.j2.yaml
Due: none

Correct *_short_bootstrap_node_name variable.
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

flatten haproxy service configuration
  ci/environments/multinode-3nodes-registry.yaml
  ci/environments/scenario000-multinode-containers.yaml
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario002-standalone.yaml
  ci/environments/scenario003-multinode-containers.yaml
  ci/environments/scenario003-standalone.yaml
  ci/environments/scenario004-multinode-containers.yaml
  ci/environments/scenario004-standalone.yaml
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario012-multinode-containers.yaml
  deployment/haproxy/haproxy-container-puppet.yaml
  deployment/haproxy/haproxy-internal-tls-certmonger.j2.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-public-tls-certmonger.yaml
  deployment/haproxy/haproxy-public-tls-inject.yaml
  environments/baremetal-services.yaml
  environments/docker-ha.yaml
  environments/nonha-arch.yaml
  environments/openshift.yaml
  environments/public-tls-undercloud.yaml
  environments/services-baremetal/undercloud-haproxy.yaml
  environments/services/haproxy-public-tls-certmonger.yaml
  environments/services/undercloud-haproxy.yaml
  environments/ssl/enable-internal-tls.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/haproxy.yaml
  puppet/services/pacemaker/haproxy.yaml
  releasenotes/notes/drop-baremetal-haproxy-5e2f0f3c9b8da664.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

In process-templates script write output files to provided dir when using base path
  tools/process-templates.py
Due: none

Add stop_grace_period for heat_engine container
  deployment/heat/heat-engine-container-puppet.yaml
Due: none

Create tripleo-admin user on the undercloud
  deployment/mistral/mistral-executor-container-puppet.yaml
  releasenotes/notes/undercloud-tripleo-admin-7043cc0b2e4bfb8a.yaml
Due: none

run docker_puppet_tasks on any role
  common/deploy-steps-tasks.yaml
  common/services.yaml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

mysql: do not stop container when upgrade doesn't update mysql image
  docker/services/database/mysql.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add stop_grace_period for heat_engine container
  docker/services/heat-engine.yaml
Due: none

certmonger: Don't restart haproxy on cert renewal
  deployment/haproxy/haproxy-public-tls-certmonger.yaml
Due: none

Run nova_statedir_owner on every run
  docker/services/nova-compute.yaml
Due: none

step1: flatten the neutron service configurations
  deployment/neutron/neutron-api-container-puppet.yaml
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  docker/services/neutron-api.yaml
  environments/baremetal-services.yaml
  environments/docker-uc-light.yaml
  environments/neutron-ovs-dvr.yaml
  environments/services/neutron-ovn-sriov.yaml
  environments/services/neutron-ovs-dvr.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/neutron-dhcp.yaml
  puppet/services/neutron-l3.yaml
  sample-env-generator/enable-services.yaml
  sample-env-generator/networking.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

flatten the manila service configurations
  ci/environments/scenario004-multinode-containers.yaml
  ci/environments/scenario004-standalone.yaml
  deployment/manila/manila-api-container-puppet.yaml
  deployment/manila/manila-base.yaml
  deployment/manila/manila-scheduler-container-puppet.yaml
  deployment/manila/manila-share-common.yaml
  deployment/manila/manila-share-container-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  docker/services/manila-scheduler.yaml
  environments/manila-cephfsganesha-config.yaml
  environments/manila-cephfsnative-config.yaml
  environments/manila-isilon-config.yaml
  environments/manila-netapp-config.yaml
  environments/manila-unity-config.yaml
  environments/manila-vmax-config.yaml
  environments/manila-vnx-config.yaml
  environments/services-baremetal/manila.yaml
  environments/services/manila.yaml
  puppet/services/manila-api.yaml
  puppet/services/manila-scheduler.yaml
  puppet/services/manila-share.yaml
  puppet/services/pacemaker/manila-share.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

flatten the tacker service
  deployment/tacker/tacker-container-puppet.yaml
  docker/services/tacker.yaml
  environments/enable_tacker.yaml
  environments/services-baremetal/tacker.yaml
  environments/services/tacker.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

flatten the panko service
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario002-standalone.yaml
  deployment/panko/panko-api-container-puppet.yaml
  docker/services/panko-api.yaml
  environments/baremetal-services.yaml
  environments/services-baremetal/undercloud-panko.yaml
  environments/services/undercloud-panko.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/panko-api.yaml
  puppet/services/panko-base.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

flatten the congress service
  ci/environments/scenario007-multinode-containers.yaml
  deployment/congress/congress-container-puppet.yaml
  environments/enable_congress.yaml
  environments/services-baremetal/congress.yaml
  environments/services/congress.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

TLS everywhere: Set post-save command for nova-vnc-proxy
  puppet/services/nova-vnc-proxy.yaml
Due: none

TLS everywhere: Set post-save command for neutron dhcpd
  puppet/services/neutron-base.yaml
Due: none

Catch directories we can not change ownership
  docker_config_scripts/nova_statedir_ownership.py
Due: none

TLS everywhere: Mount the whole /etc/pki/libvirt/ directory in libvirt
  docker/services/nova-libvirt.yaml
Due: none

Update the min tox version to 2.0
  tox.ini
Due: none

Move UpgradeInitCommand and UpgradeInitCommonCommand to run by Ansible
  deployed-server/deployed-server.yaml
  puppet/role.role.j2.yaml
  puppet/services/tripleo-packages.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

step2: flatten the neutron service configurations
  deployment/neutron/neutron-cleanup
  deployment/neutron/neutron-cleanup.service
  deployment/neutron/neutron-metadata-container-puppet.yaml
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
  deployment/neutron/neutron-ovs-dpdk-agent-container-puppet.yaml
  docker/services/neutron-ovs-dpdk-agent.yaml
  environments/baremetal-services.yaml
  environments/computealt.yaml
  environments/neutron-ovs-dpdk.yaml
  environments/neutron-ovs-dvr.yaml
  environments/services-baremetal/neutron-ovs-dpdk.yaml
  environments/services/neutron-ovs-dpdk.yaml
  environments/services/neutron-ovs-dvr.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/neutron-metadata.yaml
  puppet/services/neutron-ovs-agent.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Clean unmanaged rules pushed by iptables-services package
  deployment/tripleo-firewall/tripleo-firewall-baremetal-puppet.yaml
Due: none

Add ContainerImagePrepare service to ControllerStorageNfs role
  roles/ControllerStorageNfs.yaml
Due: none

mysql: sync credentials in running container on password change
  docker/services/database/mysql.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

flatten the horizon service configurations
  deployment/horizon/horizon-container-puppet.yaml
  environments/baremetal-services.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/horizon.yaml
  sample-env-generator/openidc.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

step1: flatten nova service configuration
  ci/environments/scenario006-multinode-containers.yaml
  ci/environments/scenario012-multinode-containers.yaml
  deployment/nova/nova-consoleauth-container-puppet.yaml
  deployment/nova/nova-ironic-container-puppet.yaml
  deployment/nova/nova-metadata-container-puppet.yaml
  deployment/nova/nova-migration-target-container-puppet.yaml
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
  environments/baremetal-services.yaml
  environments/computealt.yaml
  environments/services/ironic.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/nova-consoleauth.yaml
  puppet/services/nova-ironic.yaml
  puppet/services/nova-migration-target.yaml
  puppet/services/nova-vnc-proxy.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario011-multinode-oooq-container

Remove incorrect mapped_data key from cisco ml2 hieradata
  puppet/extraconfig/all_nodes/neutron-ml2-cisco-nexus-ucsm.j2.yaml
Due: none

Disable stack check and cancel update for undercloud
  environments/undercloud.yaml
  releasenotes/notes/disable-heat-non-lifecycle-actions-d551fe4551d71770.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Export global_config for compute-only stack
  overcloud.j2.yaml
Due: none

Remove unneeded iptables mount points
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
Due: none

Copy undercloud.conf file during mistral-executor start up.
  deployment/mistral/mistral-executor-container-puppet.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^deployed-server/.*$, ^(docker|puppet)/services/.*ca-certs.*$, ^(docker|puppet)/services/.*clustercheck.*$, ^(docker|puppet)/services/.*container-image-prepare.*$, ^(docker|puppet)/services/.*docker.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*kernel.*$, ^(docker|puppet)/services/.*keystone.*$, ^(docker|puppet)/services/.*memcached.*$, ^(docker|puppet)/services/.*mysql.*$, ^(docker|puppet)/services/.*ntp.*$, ^(docker|puppet)/services/.*pacemaker.*$, ^(docker|puppet)/services/.*rabbitmq.*$, ^(docker|puppet)/services/.*snmp.*$, ^(docker|puppet)/services/.*timezone.*$, ^(docker|puppet)/services/.*tripleo-packages.*$, ^(docker|puppet)/services/.*tripleo-firewall.*$, ^(docker|puppet)/services/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ci/environments/scenario008-multinode-containers.yaml, ^(docker|puppet)/services/.*(odl|opendaylight).*$, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*keepalived.*$, ^(docker|puppet)/services/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(docker|puppet)/services/.*octavia.*$, ci/environments/scenario010-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario001-standalone: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario002-standalone: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario004-standalone: any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(docker|puppet)/services/.*ironic.*$, ^environments\/.*ironic.*$
