Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Update/correct vrrp check for haproxy
  docker/services/keepalived.yaml
Due: none

Fix gnocchi auth mode to basic
  puppet/services/metrics/collectd.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Don't run host_prep_tasks from {{role}}HostPrepDeployment
  common/deploy-steps.j2
Due: none

Do undercloud container prepare in external_deploy_tasks
  puppet/services/docker-registry.j2.yaml
  puppet/services/docker.yaml
Due: none

Add release note for vnx and unity template changes
  releasenotes/notes/update-dellemc-vnx-templates-74a0596fac39b488.yaml
Due: none

Edit some post update tasks logic
  docker/services/opendaylight-api.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  puppet/services/opendaylight-ovs.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Instance create fails due to wrong default secontext with NFS
  environments/storage-environment.yaml
  environments/storage/nova-nfs.yaml
  puppet/services/nova-compute.yaml
  releasenotes/notes/nova_nfs_default_secontext-5ad33675aaf0b521.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Enable logging to stdout/stderr in memcached
  docker/services/memcached.yaml
Due: none

Allow custom --bip CIDR for docker options
  puppet/services/docker.yaml
  releasenotes/notes/docker-bip-9a334c8f31a59b96.yaml
Due: none

Update manila environment file names
  environments/manila-cephfsganesha-config.yaml
  environments/manila-cephfsnative-config-docker.yaml
  environments/manila-cephfsnative-config.yaml
  environments/manila-netapp-config-docker.yaml
  releasenotes/notes/rm-special-manila-docker-envs-5a376db667ddfd1c.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

copy ceph config in manila-share container bundle
  docker/services/pacemaker/manila-share.yaml
Due: tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Fix deploy health checks
  common/deploy-steps-tasks.yaml
Due: none

undercloud: revert to using the iscsi deploy interface by default
  environments/undercloud.yaml
  releasenotes/notes/direct-deploy-by-default-bc78a63f0a0c6e15.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add upgrade_tasks for HAproxy
  docker/services/haproxy.yaml
Due: none

[PIKE-only] remove experimental manila docker envs
  environments/manila-cephfsnative-config-docker.yaml
  environments/manila-netapp-config-docker.yaml
  releasenotes/notes/rm-experimental-manila-docker-envs.yaml-d16a522104408f1f.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix a race when upgrading Neutron & Ironic on the undercloud
  docker/services/ironic-inspector.yaml
Due: none

Remove HostnameFormatDefault from NFV roles
  roles/ComputeOvsDpdk.yaml
  roles/ComputeOvsDpdkRT.yaml
  roles/ComputeSriov.yaml
  roles/ComputeSriovRT.yaml
Due: none

Set CephX user for Ganesha
  docker/services/ceph-ansible/ceph-nfs.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

NUMA aware vswitches
  puppet/services/nova-compute.yaml
  releasenotes/notes/numa-aware-vswitches-cd8df5dd9b725230.yaml
Due: none

Remove tftp service and package upon upgrade to container
  docker/services/ironic-pxe.yaml
Due: none

Improve nova statedir ownership logic
  .testr.conf
  docker/services/nova-compute-common.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-ironic.yaml
  docker_config_scripts/__init__.py
  docker_config_scripts/nova_statedir_ownership.py
  docker_config_scripts/tests/__init__.py
  docker_config_scripts/tests/test_nova_statedir_ownership.py
  releasenotes/notes/nova_statedir_ownership-54c75dfe8ad64b4f.yaml
  test-requirements.txt
  tox.ini
Due: none

Fix RST syntax (needed by release)
  README.rst
Due: none

Set default number of rabbitmq queues to CEIL(N/2)
  puppet/services/rabbitmq.yaml
  releasenotes/notes/rabbitmq-nr-mirrorqueues-7d0451756a67eab4.yaml
Due: none

Fix containerized ironic bind-mounts
  docker/services/ironic-conductor.yaml
  docker/services/ironic-inspector.yaml
  docker/services/ironic-pxe.yaml
Due: none

Fix ironic containers data owning races
  docker/services/ironic-inspector.yaml
  docker/services/ironic-pxe.yaml
Due: none

Avoid ifcfg files modification when a reboot is not required
  extraconfig/pre_network/boot_param_tasks.yaml
Due: none

Fix python3 support in yaml-validate script.
  tools/yaml-validate.py
  tox.ini
Due: none

Fix manila update, upgrade, and FFU tasks
  docker/services/manila-api.yaml
  docker/services/manila-scheduler.yaml
  docker/services/manila-share.yaml
  docker/services/pacemaker/manila-share.yaml
Due: tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Revert "Optimized Ansible tasks in deplay-steps-tasks.yaml"
  common/deploy-steps-tasks.yaml
Due: none

Mount my.cnf.d into the db_sync container for Barbican and Octavia.
  docker/services/barbican-api.yaml
  docker/services/octavia-api.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix errors using multiple-nics templates w/o VLANs defined
  network/config/multiple-nics/compute-dvr.j2.yaml
  network/config/multiple-nics/controller-v6.j2.yaml
  network/config/multiple-nics/role.role.j2.yaml
Due: none

nova: add parameters to configure nova::cron::archive_deleted_rows
  puppet/services/nova-api.yaml
Due: none

Do not target Redis over TLS when using HA Redis profile
  docker/services/pacemaker/database/redis.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Add host routes to subnets
  environments/network-environment-v6.j2.yaml
  environments/network-environment.j2.yaml
  network/network.j2
  network_data_ganesha.yaml
  network_data_routed.yaml
  releasenotes/notes/add-host-routes-to-composable-network-subnets-7076e3b7a466d5fd.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add per-network routes to NIC templates
  ci/common/net-config-multinode-os-net-config.yaml
  ci/common/net-config-multinode.yaml
  ci/common/net-config-simple-bridge.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/ceph-storage.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/cinder-storage.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/compute.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/controller.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/swift-storage.yaml
  ci/environments/network/multiple-nics/nic-configs/ceph-storage.yaml
  ci/environments/network/multiple-nics/nic-configs/cinder-storage.yaml
  ci/environments/network/multiple-nics/nic-configs/compute.yaml
  ci/environments/network/multiple-nics/nic-configs/controller.yaml
  ci/environments/network/multiple-nics/nic-configs/swift-storage.yaml
  ci/environments/network/public-bond/nic-configs/ceph-storage.yaml
  ci/environments/network/public-bond/nic-configs/cinder-storage.yaml
  ci/environments/network/public-bond/nic-configs/compute.yaml
  ci/environments/network/public-bond/nic-configs/controller.yaml
  ci/environments/network/public-bond/nic-configs/swift-storage.yaml
  net-config-bridge.j2.yaml
  net-config-linux-bridge.j2.yaml
  net-config-noop.j2.yaml
  net-config-standalone.j2.yaml
  net-config-static-bridge-with-external-dhcp.j2.yaml
  net-config-static-bridge.j2.yaml
  net-config-static.j2.yaml
  net-config-undercloud.j2.yaml
  network/config/bond-with-vlans/controller-no-external.j2.yaml
  network/config/bond-with-vlans/controller-v6.j2.yaml
  network/config/bond-with-vlans/role.role.j2.yaml
  network/config/multiple-nics/compute-dvr.j2.yaml
  network/config/multiple-nics/controller-v6.j2.yaml
  network/config/multiple-nics/role.role.j2.yaml
  network/config/single-nic-linux-bridge-vlans/controller-v6.j2.yaml
  network/config/single-nic-linux-bridge-vlans/role.role.j2.yaml
  network/config/single-nic-vlans/controller-no-external.j2.yaml
  network/config/single-nic-vlans/controller-v6.j2.yaml
  network/config/single-nic-vlans/role.role.j2.yaml
  releasenotes/notes/add-interface-routes-in-nic-configs-1628993fcaf6095c.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
