Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario011-multinode-oooq-container

tripleo-ci-centos-7-scenario006-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario009-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario010-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

Remove healthcheck from ceilometer_gnocchi_upgrade container
  deployment/ceilometer/ceilometer-agent-central-container-puppet.yaml
Due: none

Check for InternalApi in role for HostnameResolveNetwork
  network/service_net_map.j2.yaml
Due: none

Fixed package names for CentOS-8 octavia deployment
  deployment/octavia/octavia-worker-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove tenant_name parameter from neutron::server::notifications
  deployment/neutron/neutron-api-container-puppet.yaml
Due: none

Revert "Disable Redis in environments/docker-ha.yaml"
  environments/docker-ha.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

[cinder-lvm] Resolve issue when there are multiple loop devices
  deployment/cinder/cinder-common-container-puppet.yaml
Due: none

Ensure <service>_restart_bundle do not run concurrently
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Enable HA in minor updates job (scenario000)
  ci/environments/scenario000-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Exclude /etc/puppet from config generation
  common/container-puppet.sh
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Split out selinux management
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix missing OctaviaClientCert* parameters
  deployment/octavia/octavia-base.yaml
  deployment/octavia/octavia-deployment-config.j2.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

scenario010 - show logs when no_log is specificied in ci
  ci/environments/scenario010-standalone.yaml
Due: none

Ironic inspector port_physnet_cidr_map support
  deployment/ironic/ironic-inspector-container-puppet.yaml
  releasenotes/notes/port-physnet-cidr-map-7032fec5a1905314.yaml
Due: tripleo-ci-centos-7-scenario011-multinode-oooq-container

Add ansible hieradata file
  common/hiera-steps-tasks.yaml
  overcloud.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Deprecating Old Dell EMC Xtremio Iscsi Volume Config
  deployment/cinder/cinder-backend-dellemc-xtremio-iscsi-puppet.yaml
  environments/cinder-dellemc-xtremio-iscsi-config.yaml
  releasenotes/notes/xtremio-deprecate-old-config-d428e372280c44e6.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Deprecating Old Dell SC Iscsi Volume Config
  deployment/cinder/cinder-backend-dellsc-puppet.yaml
  environments/cinder-dellsc-config.yaml
  releasenotes/notes/dellsc-deprecate-old-driver-f428e372280c44e6.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Move /etc/ssh/ssh_known_hosts bind mount where it's needed
  deployment/containers-common.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: none

Remove deprecated nova::metadata::enable_proxy_headers_parsing
  deployment/nova/nova-metadata-container-puppet.yaml
Due: none

Remove deprecated designate::worker::worker_notify
  deployment/experimental/designate/designate-worker-container-puppet.yaml
Due: none

Add missing region_name parameter in Manila
  deployment/manila/manila-share-container-puppet.yaml
Due: none

Replace outdated cinder parameters in Manila
  deployment/manila/manila-share-container-puppet.yaml
Due: none

[train-squash] Remove hardcoded reference to cinder LVM loopback device
  deployment/cinder/cinder-common-container-puppet.yaml
  deployment/cinder/cinder-volume-container-puppet.yaml
Due: none

Make neutron ml2/ansible's base plugin variable
  deployment/neutron/neutron-plugin-ml2-ansible-container-puppet.yaml
Due: none

Fix validation script
  validation-scripts/all-nodes.sh
Due: none

Default to stack name inventory group for deployment_target_hosts param
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Re-validate healthcheck work on nova/keystone containers
  deployment/keystone/keystone-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  deployment/nova/nova-metadata-container-puppet.yaml
  deployment/nova/nova-migration-target-container-puppet.yaml
  deployment/nova/nova-scheduler-container-puppet.yaml
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Set Neutron's l3_ha flag to True in standalone ML2/OVS job
  ci/environments/scenario007-standalone.yaml
Due: none

Use python3 in tools scripts
  tools/make_ceph_disk_list.py
  tools/process-templates.py
  tools/render-ansible-tasks.py
  tools/roles-data-generate.py
  tools/yaml-diff.py
  tools/yaml-nic-config-2-script.py
  tools/yaml-validate.py
Due: none

Add shared volume for side-car wrapper locks
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Allow supplying command options to leapp
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Update container certificate
  deployment/haproxy/haproxy-public-tls-inject.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario009-multinode-oooq-container

(train) manual backport of: update startup-configs with latest hashes
  common/deploy-steps-tasks-step-1.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Changes in env files due to new SRIOV roles
  environments/services-baremetal/neutron-ovn-dvr-ha.yaml
  environments/services-baremetal/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add an option to disable the DNS record modification in FreeIPA
  deployment/ipa/ipaservices-baremetal-ansible.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^ci/common/.*$, ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^(deployment|docker|puppet)/.*tacker.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*keepalived.*$, ^(deployment|docker|puppet)/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ^ci/common/.*$, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-multinode-containers.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(deployment|docker|puppet)/.*ironic.*$, ^environments\/.*ironic.*$
