Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

OVN: Add exec puppet tag to ovn-controller service file
  docker/services/ovn-controller.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Generate and mount wrappers for haproxy in OVN metadata agent
  docker/services/ovn-metadata.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Delete FreeIPA enroll script
  puppet/extraconfig/tls/freeipa-enroll.yaml
Due: none

Add cleanup service for neutron ovs bridges
  docker/services/neutron-ovs-agent.yaml
  docker/services/neutron/neutron-cleanup
  docker/services/neutron/neutron-cleanup.service
  releasenotes/notes/neutron-cleanup-services-3a8579cd03fac953.yaml
Due: none

Mount tripleo validations for mistral containers
  docker/services/mistral-engine.yaml
  docker/services/mistral-event-engine.yaml
  docker/services/mistral-executor.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

Default bootstrap_server_id
  common/deploy-steps.j2
  releasenotes/notes/default-bootstrap-server-id-eff49ef40bfde414.yaml
Due: none

Fix logic around heat output exclusions handling
  tools/yaml-validate.py
Due: none

Correct Cinder NetApp backend name parameter mapping
  puppet/services/cinder-backend-netapp.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Remove ceph-osd where not needed
  puppet/services/tripleo-packages.yaml
Due: none

Make VhostuserSocketGroup param as mandatory for ComputeOvsDpdkRT role
  roles/ComputeOvsDpdkRT.yaml
Due: none

Decoupling number of API and RPC workers for neutron-api
  puppet/services/neutron-api.yaml
  releasenotes/notes/decoupling_api_rpc_workers_neutron_api-eb5820d6bcedb53b.yaml
Due: none

Enable collectd to connect to metrics QDR
  environments/metrics-collectd-qdr.yaml
  puppet/services/metrics/collectd.yaml
  releasenotes/notes/collectd-amqp1-a1d8773e8e7ff80e.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix small nit in enable_validations parameter.
  extraconfig/post_deploy/undercloud_post.yaml
Due: none

Remove md5 checksum output from CA injection
  puppet/extraconfig/tls/ca-inject.yaml
Due: none

Fix missing parameters in OVN DVR environment files
  environments/neutron-ml2-ovn-dvr-ha.yaml
  environments/services-docker/neutron-ovn-dvr-ha.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Make vlan_transparent in neutron.conf configurable from Undercloud
  puppet/services/neutron-base.yaml
  releasenotes/notes/add-vlan_transparent-config-5623f8cffc8b41f0.yaml
Due: none

Always enable image prepare service for docker clouds
  ci/environments/multinode-3nodes.yaml
  ci/environments/multinode-containers.yaml
  ci/environments/multinode.yaml
  ci/environments/multinode_major_upgrade.yaml
  ci/environments/ovb-ha.yaml
  ci/environments/scenario000-multinode-containers.yaml
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario003-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
  ci/environments/scenario006-multinode-containers.yaml
  ci/environments/scenario006-multinode.yaml
  ci/environments/scenario007-multinode-containers.yaml
  ci/environments/scenario008-multinode-containers.yaml
  ci/environments/scenario009-multinode.yaml
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario011-multinode-containers.yaml
  deployed-server/deployed-server-roles-data.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Revert "SSL support for haproxy -> novnc proxy connection"
  docker/services/nova-vnc-proxy.yaml
  puppet/services/nova-vnc-proxy.yaml
  releasenotes/notes/nova_novnc_proxy_ssl_support-edc7bc13d0cd6d2b.yaml
Due: none

Set tuned profile for compute roles
  releasenotes/notes/compute-tuned-profile-cbe4e22b1e185c5e.yaml
  roles/Compute.yaml
  roles/ComputeAlt.yaml
  roles/ComputeDVR.yaml
  roles/ComputeHCI.yaml
  roles/ComputeInstanceHA.yaml
  roles/ComputeLiquidio.yaml
  roles/ComputeOvsDpdk.yaml
  roles/ComputeSriov.yaml
  roles/HciCephAll.yaml
  roles/HciCephFile.yaml
  roles/HciCephMon.yaml
  roles/HciCephObject.yaml
  roles_data.yaml
Due: none

Add OVS-DPDK parameter as part of roles file
  environments/ovs-dpdk-permissions.yaml
  releasenotes/notes/ovs-dpdk-perms-deprecate-cfddb148fce9656d.yaml
  roles/ComputeOvsDpdk.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix enabled tripleo-validations check
  extraconfig/post_deploy/undercloud_post.sh
  extraconfig/post_deploy/undercloud_post.yaml
Due: none

Fix PublicVirtualFixedIPs in envs
  environments/fixed-ip-vips-v6.yaml
  environments/fixed-ip-vips.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Set the number of RPC workers to 1 for non SRIOV OVN setups
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-hw-offload.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add a FreeIPAExtraArgs param to ci/scripts/freeipa_setup.sh
  ci/scripts/freeipa_setup.sh
Due: none

Remove NeutronServicePlugins from octavia environment files
  environments/services-baremetal/octavia.yaml
  environments/services/octavia.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove External network from DVR related configuration
  environments/neutron-ovs-dvr.yaml
  network/config/multiple-nics/role.role.j2.yaml
  roles/ComputeDVR.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add role parameter for rx/tx virtio-net queue size
  puppet/services/nova-compute.yaml
  releasenotes/notes/nova_libvirt_queue_size_parameter-b4409a91c553ce1b.yaml
Due: none

Clarify ironic classic driver removal reno
  releasenotes/notes/no-classic-drivers-9c59b696d8b50692.yaml
Due: none

Add OctaviaEventStreamerDriver and change default
  puppet/services/octavia-health-manager.yaml
  releasenotes/notes/octavia-change-event_streamer_driver-default-e5152c28713e7707.yaml
Due: none

Fix typo in network_data files
  network_data.yaml
  network_data_ganesha.yaml
  network_data_routed.yaml
Due: none

Remove deprecated value used to set nova_metadata_ip
  puppet/services/neutron-metadata.yaml
Due: none

undercloud/mysql: remove useless task for upgrade
  docker/services/database/mysql.yaml
Due: none

Define keepalived service in environments/docker.yaml
  environments/docker.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Redis: Mount certificates on TLS proxy
  docker/services/pacemaker/database/redis.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

remove scen007 from gate jobs
  zuul.d/layout.yaml
Due: none

Fix rsyslog restart for swift
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Only configure rsyslog when present
  docker/services/swift-proxy.yaml
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

remove scen000 update job from gate as it's non-voting
  zuul.d/layout.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
