Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Edit environments/ovs-hw-offload.yaml file.
  environments/ovs-hw-offload.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Support containerized DVR in compute role
  environments/neutron-ovs-dvr.yaml
  releasenotes/notes/role-support-for-upgrade-to-dvr-containers-bc876f82f3e9f139.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove EXPERIMENTAL warning for manila docker deployments
  environments/manila-cephfsnative-config-docker.yaml
  environments/manila-netapp-config-docker.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

mysql/undercloud: add condition for upgrade
  docker/services/database/mysql.yaml
Due: none

Adds docker SFC and cleans up ODL envs
  docker/services/neutron-sfc-api.yaml
  environments/neutron-bgpvpn-opendaylight.yaml
  environments/neutron-l2gw-opendaylight.yaml
  environments/neutron-opendaylight-dpdk.yaml
  environments/neutron-opendaylight-sriov.yaml
  environments/neutron-opendaylight.yaml
  environments/neutron-sfc-opendaylight.yaml
  environments/services/neutron-sfc-opendaylight.yaml
  releasenotes/notes/add-docker-sfc-bda84d08b119a250.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Unify the Manila HA and non-HA docker configurations
  docker/services/manila-common.yaml
  docker/services/manila-share.yaml
  docker/services/pacemaker/manila-share.yaml
  puppet/services/manila-backend-cephfs.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Set container images for CNS
  extraconfig/services/openshift-cns.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Lower Ceph PGs count in scenario004
  ci/environments/scenario004-multinode-containers.yaml
  environments/low-memory-usage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Clean up env files for Cinder's Netapp backend
  environments/cinder-netapp-config.yaml
  environments/storage/cinder-netapp-config.yaml
  sample-env-generator/storage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add release note for vnx and unity template changes
  releasenotes/notes/update-dellemc-vnx-templates-74a0596fac39b488.yaml
Due: none

Update yaml files for Dell EMC VNX, Unity drivers
  environments/cinder-dellemc-vnx-config.yaml
  environments/manila-vnx-config.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

OVN: Add exec puppet tag to ovn-controller service file
  docker/services/ovn-controller.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Update/upgrade prepare/converge in config-download era
  environments/config-download-environment.yaml
  environments/lifecycle/ffwd-upgrade-converge.yaml
  environments/lifecycle/ffwd-upgrade-prepare.yaml
  environments/lifecycle/update-converge.yaml
  environments/lifecycle/update-prepare.yaml
  environments/lifecycle/upgrade-converge.yaml
  environments/lifecycle/upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

OVN: Set sysctl value 'net.ipv4.ip_nonlocal_bind' to 1
  environments/neutron-ml2-ovn-dvr-ha.yaml
  environments/neutron-ml2-ovn-ha.yaml
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-ha.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fluentd configures rsyslog to send logs properly
  docker/services/fluentd.yaml
Due: none

Run designate pool update only on bootstrap node
  docker/services/designate-central.yaml
Due: none

Open designate-mdns ports in firewall
  puppet/services/designate-mdns.yaml
Due: none

Pass in rndc key to Designate deployment
  docker/services/designate-worker.yaml
  puppet/services/designate-worker.yaml
Due: none

remove scenario005 from experimental
  zuul.d/layout.yaml
Due: none

Mount my.cnf.d into the db_sync container for Barbican and Octavia.
  docker/services/barbican-api.yaml
  docker/services/octavia-api.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Check container health as part of the deploy
  common/deploy-steps-tasks.yaml
Due: none

Limit deploy health checks to paunch managed ones
  common/deploy-steps-tasks.yaml
Due: none

Enable logging to stdout/stderr in memcached
  docker/services/memcached.yaml
Due: none

Fix HostnameMap lookup - replace str_replace with yaql
  puppet/role.role.j2.yaml
  releasenotes/notes/fix-str-replace-hostname-issue-393fb6954f12f7e6.yaml
Due: none

Run scenario009 for more services
  zuul.d/layout.yaml
Due: none

Enable deep_compare of pcmk resources by default
  puppet/services/pacemaker.yaml
  releasenotes/notes/update-pcmk-resource-by-default-ed54100721f55a30.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Use global ansible.cfg for nodes-uuid playbook
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Update manila environment file names
  environments/manila-cephfsganesha-config.yaml
  environments/manila-cephfsnative-config-docker.yaml
  environments/manila-cephfsnative-config.yaml
  environments/manila-netapp-config-docker.yaml
  releasenotes/notes/rm-special-manila-docker-envs-5a376db667ddfd1c.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Move hugetlbfs gid config to BootParams service
  extraconfig/pre_network/boot-params-service.yaml
  extraconfig/pre_network/host_config_and_reboot.yaml
Due: none

Bind mount mistral state for external deployments
  docker/services/mistral-engine.yaml
  docker/services/mistral-event-engine.yaml
  docker/services/mistral-executor.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

Fix containerized ironic bind-mounts
  docker/services/ironic-conductor.yaml
  docker/services/ironic-inspector.yaml
  docker/services/ironic-pxe.yaml
Due: none

Add scenario010 for testing Octavia
  README.rst
  ci/environments/scenario010-multinode-containers.yaml
  zuul.d/layout.yaml
Due: none

Revert "Check container health as part of the deploy"
  common/deploy-steps-tasks.yaml
Due: none

Add secondary DNS server to disable-unbound environment
  ci/environments/disable-unbound.yaml
Due: none

Don't require files key in env-generator
  tripleo_heat_templates/environment_generator.py
  tripleo_heat_templates/tests/test_environment_generator.py
Due: none

Remove bogus "EXPERIMENTAL" in neutron-sriov.yaml environment file
  environments/services-baremetal/neutron-sriov.yaml
  environments/services/neutron-sriov.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Allow setting physical network MTU via heat template
  puppet/services/neutron-plugin-ml2.yaml
  releasenotes/notes/bug-1782123-7b08ab6503033dd3.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
