Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^(deployment|docker|puppet)/.*tacker.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario010-standalone: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-standalone.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*

Use ansible for default simple ovs bridge config
  environments/neutron-ovs-dvr.yaml
  environments/services/neutron-ovs-dvr.yaml
  overcloud-resource-registry-puppet.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Fix ansible var
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

[train] mysql: adjust CLI args based on container cli
  deployment/database/mysql-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Switch to use native ansible for remaining CI nic configs
  ci/environments/network/multiple-nics-ipv6/network-environment.yaml
  ci/environments/network/public-bond/network-environment.yaml
Due: none

HA: option to use static pacemaker image name
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container

Use `undercloud` instead of `Undercloud` when delegating tasks
  deployment/ipa/ipaservices-baremetal-ansible.yaml
Due: none

[manila] Add "ManilaEnabledShareProtocols" param
  deployment/manila/manila-api-container-puppet.yaml
  releasenotes/notes/bug-1831767-allow-configuring-manila-share-protocols-6ea6bcbbe21b25ee.yaml
Due: none

Remove all unused ci specific nic config templates
  ci/common/net-config-multinode.yaml
  ci/common/net-config-simple-bridge.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/ceph-storage.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/cinder-storage.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/compute-dvr.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/compute.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/controller.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/swift-storage.yaml
  ci/environments/network/multiple-nics/nic-configs/ceph-storage.yaml
  ci/environments/network/multiple-nics/nic-configs/cinder-storage.yaml
  ci/environments/network/multiple-nics/nic-configs/compute-dvr.yaml
  ci/environments/network/multiple-nics/nic-configs/compute.yaml
  ci/environments/network/multiple-nics/nic-configs/controller.yaml
  ci/environments/network/multiple-nics/nic-configs/swift-storage.yaml
  ci/environments/network/public-bond/nic-configs/ceph-storage.yaml
  ci/environments/network/public-bond/nic-configs/cinder-storage.yaml
  ci/environments/network/public-bond/nic-configs/compute.yaml
  ci/environments/network/public-bond/nic-configs/controller.yaml
  ci/environments/network/public-bond/nic-configs/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Expose new parameter `NovaVGPUTypesDeviceAddressesMapping`
  deployment/nova/nova-compute-container-puppet.yaml
  releasenotes/notes/vgpu-devices-mapping-63dd870f3a00a98a.yaml
Due: none

Speed up ansible facts gathering
  deployment/swift/swift-storage-container-puppet.yaml
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Retry container pull 3 times
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container

Also configure Ironic for UC minions
  environments/undercloud/undercloud-minion.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Force CephAnsiblePlaybook to its default value on FFU prepare
  environments/lifecycle/update-prepare.yaml
  environments/lifecycle/upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Revert "Adapt container health check for built-in podman health checks"
  container_config_scripts/monitoring/collectd_check_health.py
  deployment/metrics/collectd-container-puppet.yaml
Due: none

[TRAIN-ONLY] Change default sensubility execution shell
  deployment/metrics/collectd-container-puppet.yaml
Due: none

[FFU] Remove cinder's v1 keystone service
  deployment/cinder/cinder-api-container-puppet.yaml
  releasenotes/notes/cinder-v1-cleanup-7154ca07652804cf.yaml
Due: none

Deprecate Mistral services
  ci/environments/scenario003-standalone.yaml
  deployment/deprecated/mistral/mapping.json
  deployment/deprecated/mistral/mistral-api-container-puppet.yaml
  deployment/deprecated/mistral/mistral-base.yaml
  deployment/deprecated/mistral/mistral-engine-container-puppet.yaml
  deployment/deprecated/mistral/mistral-event-engine-container-puppet.yaml
  deployment/deprecated/mistral/mistral-executor-container-puppet.yaml
  environments/services-baremetal/mistral.yaml
  environments/services/mistral.yaml
  releasenotes/notes/deprecate_mistral-9136fd5e41b37e0d.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

undercloud: disable placement api by default
  environments/undercloud-enable-nova.yaml
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Add OVN chassis macs to hieradata
  common/hiera-steps-tasks.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Enforce internal api for token verification
  deployment/aodh/aodh-base.yaml
  deployment/barbican/barbican-api-container-puppet.yaml
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/deprecated/mistral/mistral-base.yaml
  deployment/deprecated/novajoin/novajoin-container-puppet.yaml
  deployment/deprecated/sahara/sahara-base.yaml
  deployment/experimental/designate/designate-api-container-puppet.yaml
  deployment/glance/glance-api-container-puppet.yaml
  deployment/gnocchi/gnocchi-api-container-puppet.yaml
  deployment/heat/heat-base-puppet.yaml
  deployment/ironic/ironic-api-container-puppet.yaml
  deployment/ironic/ironic-inspector-container-puppet.yaml
  deployment/manila/manila-api-container-puppet.yaml
  deployment/manila/manila-share-container-puppet.yaml
  deployment/neutron/neutron-api-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-metadata-container-puppet.yaml
  deployment/octavia/octavia-api-container-puppet.yaml
  deployment/placement/placement-api-container-puppet.yaml
  deployment/swift/swift-proxy-container-puppet.yaml
  deployment/zaqar/zaqar-container-puppet.yaml
Due: tripleo-ci-centos-8-scenario010-standalone

Add config option for collectd libpodstats
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  deployment/metrics/collectd-container-puppet.yaml
Due: none

Remove mount for tripleo-validations from mistral containers
  deployment/deprecated/mistral/mistral-engine-container-puppet.yaml
  deployment/deprecated/mistral/mistral-event-engine-container-puppet.yaml
  deployment/deprecated/mistral/mistral-executor-container-puppet.yaml
Due: none

Check for network in role.networks for resolve and qdr
  network/service_net_map.j2.yaml
Due: none

Disable notification from services by default
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario002-standalone.yaml
  deployment/aodh/aodh-base.yaml
  deployment/barbican/barbican-api-container-puppet.yaml
  deployment/ceilometer/ceilometer-base-container-puppet.yaml
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/deprecated/sahara/sahara-base.yaml
  deployment/experimental/designate/designate-base.yaml
  deployment/glance/glance-api-container-puppet.yaml
  deployment/heat/heat-base-puppet.yaml
  deployment/keystone/keystone-container-puppet.yaml
  deployment/manila/manila-base.yaml
  deployment/mistral/mistral-base.yaml
  deployment/neutron/neutron-base.yaml
  deployment/nova/nova-base-puppet.yaml
  deployment/octavia/octavia-base.yaml
  environments/enable-legacy-telemetry.yaml
  environments/enable-stf.yaml
  environments/metrics/ceilometer-write-qdr.yaml
  environments/services-baremetal/undercloud-ceilometer.yaml
  environments/services/undercloud-ceilometer.yaml
  releasenotes/notes/disable-notification-driver-a888d4e9b8eed1dc.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Fix names of the puppet parameters used to set min bw limits in Neutron
  deployment/neutron/neutron-sriov-agent-container-puppet.yaml
Due: none

Add SendQueueLimit to collectd-amqp1
  ci/environments/scenario001-standalone.yaml
  deployment/metrics/collectd-container-puppet.yaml
  environments/enable-stf.yaml
  environments/metrics/collectd-write-qdr.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Ensure name consistency for tmpfiles.d configurations
  deployment/ceph-ansible/ceph-osd.yaml
  deployment/database/redis-container-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  deployment/nova/nova-migration-target-container-puppet.yaml
  deployment/octavia/octavia-api-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario010-standalone

Use nova::compute::image_cache class to set image cache parameters
  deployment/nova/nova-compute-container-puppet.yaml
Due: none

Add CephClientConfigOverrides resource
  deployment/ceph-ansible/ceph-client.yaml
Due: tripleo-ci-centos-8-scenario010-standalone

Add content provider jobs to THT
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Expose new THT params for cpu model flags
  deployment/nova/nova-compute-container-puppet.yaml
  releasenotes/notes/cpu-flags-5b027db3eb2b86c2.yaml
Due: none
