Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa, tripleo-ci-centos-7-scenario011-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-multinode-containers.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-8-standalone-on-multinode-ipa: any of: environments/ssl/tls-everywhere-endpoints-dns.yaml, environments/services/haproxy-public-tls-certmonger.yaml, environments/ssl/enable-internal-tls.yaml, ci/environments/standalone-ipa.yaml, deployment/ipa/ipaservices-baremetal-ansible.yaml, deployment/apache/*, deployment/ceph-ansible/*, deployment/database/*, deployment/etcd/*, deployment/haproxy/*, deployment/metrics/*, deployment/neutron/*, deployment/nova/*, deployment/octavia/*, deployment/ovn/*, deployment/rabbitmq/*, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(deployment|docker|puppet)/.*ironic.*$, ^environments\/.*ironic.*$

Add composible service for tls enrollment
  ci/environments/scenario000-standalone.yaml
  deployment/tls/undercloud-tls.yaml
  environments/services/undercloud-tls.yaml
  environments/undercloud/undercloud-minion.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Allow more tasks to be run in check mode
  common/deploy-steps-tasks.yaml
  deployment/cinder/cinder-common-container-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-public-tls-inject.yaml
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Allow more tasks to be run in check mode
  common/deploy-steps-tasks.yaml
  common/generate-config-tasks.yaml
  common/host-container-puppet-tasks.yaml
  deployment/cinder/cinder-common-container-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-public-tls-inject.yaml
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  deployment/nova/nova-metadata-container-puppet.yaml
  deployment/nova/nova-migration-target-container-puppet.yaml
  deployment/nova/nova-scheduler-container-puppet.yaml
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Increase the default UpgradeLeappRebootTimeout to 60 mins
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Disable Sahara in scenario003-standalone
  ci/environments/scenario003-standalone.yaml
Due: none

Improve documentations for NovaLibvirtFileBackedMemory
  deployment/nova/nova-compute-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

[TRAIN ONLY] Fix the glance-api-edge firewall configuration
  deployment/glance/glance-api-edge-container-puppet.yaml
Due: none

Log neutron.cmd.destroy_patch_ports in to log file
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Collapse host prep tasks
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

[TRAIN-ONLY] Add keystone_resources for Panko
  deployment/deprecated/panko/panko-api-container-puppet.yaml
Due: none

Fix Error: invalid arguments you must use just one container
  deployment/haproxy/haproxy-public-tls-inject.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-standalone-on-multinode-ipa

Change the :Z mount flag to :z
  deployment/nova/novajoin-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

[Queens only] Clean yum metadata.
  puppet/services/docker.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Enable Dashboard on scenario004
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario004-standalone.yaml
Due: none

Added OctaviaDeploymentConfig to deployed server role
  deployed-server/deployed-server-roles-data.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Cleanup all container startup configs before generating the new ones
  common/container_startup_configs_tasks.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Sync httpd conf.modules.d configs
  deployment/aodh/aodh-api-container-puppet.yaml
  deployment/barbican/barbican-api-container-puppet.yaml
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/glance/glance-api-container-puppet.yaml
  deployment/gnocchi/gnocchi-api-container-puppet.yaml
  deployment/heat/heat-api-cfn-container-puppet.yaml
  deployment/heat/heat-api-container-puppet.yaml
  deployment/horizon/horizon-container-puppet.yaml
  deployment/ironic/ironic-api-container-puppet.yaml
  deployment/ironic/ironic-pxe-container-puppet.yaml
  deployment/keystone/keystone-container-puppet.yaml
  deployment/manila/manila-api-container-puppet.yaml
  deployment/neutron/neutron-api-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-metadata-container-puppet.yaml
  deployment/octavia/octavia-api-container-puppet.yaml
  deployment/placement/placement-api-container-puppet.yaml
  deployment/swift/swift-proxy-container-puppet.yaml
  deployment/zaqar/zaqar-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa, tripleo-ci-centos-7-scenario011-multinode-oooq-container

Use native YAML syntax in mount tasks
  deployment/glance/glance-api-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Adding amphora architecture to heat templates
  deployment/octavia/octavia-deployment-config.j2.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Add new parameter PublicTLSCACert
  deployment/keystone/keystone-container-puppet.yaml
  environments/public-tls-undercloud.yaml
  environments/ssl/enable-internal-tls.j2.yaml
  environments/ssl/enable-tls.yaml
  releasenotes/notes/add-publictlscafile-parameter-0fd9c19dcd20be0b.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

[queens-only] Fluentd - Fix multiline format
  ci/environments/scenario001-multinode-containers.yaml
  common/services/role.role.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Disable Designate service for scenario 03
  ci/environments/scenario003-standalone.yaml
Due: none

[train-only] Make sure UpgradeLevelNovaCompute is empty string for upgrade
  environments/lifecycle/upgrade-converge.yaml
  environments/lifecycle/upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add project template for IPA multinode
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Cleanup parameters for keystone::bootstrap
  deployment/keystone/keystone-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Exclude /etc/hostname
  common/container-puppet.sh
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

collectd: add support for mcelog service
  deployment/metrics/collectd-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Use neutron::db::database_connection
  deployment/neutron/neutron-api-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

[train-only] Ensure removal of deprecated xinetd
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Convert roles section into tasks-include_role in deploy-steps.j2.
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove usage of ineffective parameter in nova::api class
  deployment/nova/nova-api-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Check for correct column name for execution show
  deployed-server/scripts/enable-ssh-admin.sh
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container
