Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$

Add additional whitespace around "ansible_connection: local"
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Delete empty karaf directory on host
  docker/services/opendaylight-api.yaml
  releasenotes/notes/odl_delete_karaf_folder_on_host-b81465f62fe422d6.yaml
Due: none

Add chrony time service
  deployment/timesync/chrony-ansible.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/time/ntp.yaml
Due: none

Pass DockerRegistryMirror to prepare
  puppet/services/container-image-prepare.j2.yaml
  puppet/services/docker.yaml
Due: none

Remove NeutronServicePlugins from octavia environment files
  environments/services-baremetal/octavia.yaml
  environments/services-docker/octavia.yaml
  environments/services/octavia.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove non-voting scenarios from gate
  zuul.d/layout.yaml
Due: none

Add OpenStack clients service
  environments/standalone.yaml
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  environments/undercloud.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/openstack-clients.yaml
  releasenotes/notes/openstack-client-service-86d28dab98f1763f.yaml
  roles/Standalone.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Support for libvirt volume multipath
  puppet/services/nova-compute.yaml
  releasenotes/notes/volume_use_multipath-for-libvirt--c8e93a0bb83e0bc8.yaml
Due: none

low-memory-usage: configure NovaSchedulerWorkers to 1
  environments/low-memory-usage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

docker-puppet: remove -z from /var/lib/config-data mount
  docker/docker-puppet.py
Due: none

Fix tasks in check mode
  common/deploy-steps-tasks.yaml
  docker/services/nova-libvirt.yaml
  docker/services/swift-storage.yaml
  puppet/services/container-image-prepare.j2.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Switch to Chrony by default
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/chrony-configured-by-default-859e44745491027a.yaml
Due: none

Allow standalone to manage selinux
  environments/standalone.yaml
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  releasenotes/notes/standalone-selinux-configuration-39a0c7285d8e4c66.yaml
  roles/Standalone.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Deprecate environments/docker.yaml
  environments/docker.yaml
  releasenotes/notes/deprecate-docker-yaml-fa75b14e93fdf763.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Update min tox version to 2.0
  tox.ini
Due: none

Set `TraceEnable` directive for apache to 'Off'
  puppet/services/apache.j2.yaml
Due: none

Create default deployment plan
  extraconfig/post_deploy/undercloud_post.sh
Due: none

[queens-only] Correct misindentation
  docker/services/opendaylight-api.yaml
Due: none

Sharing hypervisor /var/lib/ironic with ironic-conductor container
  docker/services/ironic-conductor.yaml
Due: none

Exposing NeutronDhcpOvsIntegrationBridge
  puppet/services/neutron-dhcp.yaml
Due: none

Trim whitespace in multi-line env descriptions
  environments/enable-designate.yaml
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  tripleo_heat_templates/environment_generator.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix whitespace around "ansible_connection: local"
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Move set of database_connection to OctaviaBase
  docker/services/octavia-health-manager.yaml
  docker/services/octavia-housekeeping.yaml
  docker/services/octavia-worker.yaml
  puppet/services/octavia-api.yaml
  puppet/services/octavia-base.yaml
Due: none

Enable configuration of Designate's pools.yaml
  ci/environments/scenario003-multinode-containers.yaml
  environments/enable-designate.yaml
  puppet/services/designate-central.yaml
  sample-env-generator/enable-services.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Configure rndc to listen on internal_api network
  puppet/services/designate-worker.yaml
Due: none

Run designate pool update only on bootstrap node
  docker/services/designate-central.yaml
Due: none

Open designate-mdns ports in firewall
  puppet/services/designate-mdns.yaml
Due: none

Pass in rndc key to Designate deployment
  docker/services/designate-worker.yaml
  puppet/services/designate-worker.yaml
Due: none

Add sample designate environment for ha
  environments/enable-designate-ha.yaml
  sample-env-generator/enable-services.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Don't configure BIND to listen on localhost
  ci/environments/scenario003-multinode-containers.yaml
  environments/enable-designate.yaml
  puppet/services/designate-worker.yaml
  sample-env-generator/enable-services.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Split designate envs
  environments/designate-config-ha.yaml
  environments/designate-config.yaml
  environments/enable-designate.yaml
  sample-env-generator/enable-services.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add /v2 suffix to Designate uris
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  puppet/services/designate-api.yaml
Due: none

Set correct project name for designate-neutron integration
  puppet/services/designate-api.yaml
Due: none

Update to OpenShift 3.11 release
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Do not purge the Ironic Inspector dhcp-hostsdir
  puppet/services/ironic-inspector.yaml
Due: none

Export container_cli for update & upgrades & post upgrade tasks
  common/deploy-steps.j2
Due: none
