Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario011-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^(deployment|docker|puppet)/.*tacker.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-multinode-containers.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(deployment|docker|puppet)/.*ironic.*$, ^environments\/.*ironic.*$
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^ci/common/.*$, ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^deployment/.*kubernetes/.*$, ci/environments/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*

Add missing region for service user in cinder
  deployment/cinder/cinder-base.yaml
Due: none

Add dependency for enable KSM for RHEL/CentOS8
  deployment/nova/nova-compute-container-puppet.yaml
Due: none

Fix generation of TRIPLEO_CONFIG_HASH for services
  common/container-puppet.py
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Increase concurrency when starting containers
  common/deploy-steps-tasks.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Dynamically include container-puppet tasks
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
  common/host-container-puppet-tasks.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Use a systemd service to handle sidecar containers
  deployment/neutron/kill-script
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

keystone/ldap: add missing cloud name
  deployment/keystone/keystone-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add missing keystone region for swift user auth
  deployment/swift/swift-proxy-container-puppet.yaml
Due: none

Remove libvirt packaged dependencies
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  deployment/nova/nova-libvirt-guests-container-puppet.yaml
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
Due: none

Remove useless auth_uri from ceilometer middleware
  deployment/swift/swift-proxy-container-puppet.yaml
Due: none

Ensures rsync is present on the overcloud nodes
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

nova: Always provide LIBGUESTFS_BACKEND=libvirt:qemu:///system
  docker/services/nova-compute.yaml
Due: none

Add DCN Scale Out Roles
  roles/DistributedComputeHCI.yaml
  roles/DistributedComputeHCIScaleOut.yaml
  roles/DistributedComputeScaleOut.yaml
Due: none

Add missing region_name for nova auth in cinder
  deployment/cinder/cinder-base.yaml
Due: none

[update] Ensure we get fresh hiera data before running update_steps.
  common/deploy-steps.j2
  common/hiera-steps-tasks.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Update environment var for keystone bootstrap
  docker/services/keystone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add support to run Container Puppet tasks without Paunch
  common/container-puppet.sh
  common/deploy-steps-tasks.yaml
  common/generate-config-tasks.yaml
  common/host-container-puppet-tasks.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Remove the duplucated hieradata in Octavia service_auth
  deployment/octavia/octavia-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add missing region_name for Octavia service_auth
  deployment/octavia/octavia-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Deploy /etc/openstack/clouds.yaml with Ansible
  ci/common/ironic_standalone_post.yaml
  deployment/keystone/keystone-container-puppet.yaml
  environments/standalone.yaml
  environments/standalone/standalone-tripleo.yaml
  extraconfig/post_deploy/clouds_yaml.py
  extraconfig/post_deploy/standalone_post.yaml
  extraconfig/post_deploy/undercloud_post.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

[train-squash] Backport keystone/bootstrap changes
  deployment/keystone/keystone-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Pass image import conf file to command which runs glance server
  docker/services/glance-api.yaml
Due: none

Fix permission issue when removing octavia temp dirs
  deployment/octavia/octavia-deployment-config.j2.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

[stable/train only] Use service_name in heira for firewall rules
  deployment/timesync/chrony-baremetal-ansible.yaml
Due: none

[OVN] Split NeutronWorkers and NeutronMetadataWorkers for OVN
  deployment/ovn/ovn-metadata-container-puppet.yaml
  environments/low-memory-usage.yaml
  releasenotes/notes/ovn-neutron-metadata-workers-7623588cca0a6948.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Configure Undercloud hostname in the overcloud during upgrade.
  deployment/container-image-prepare/container-image-prepare-baremetal-ansible.j2.yaml
  deployment/podman/podman-baremetal-ansible.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add DeployIdentifier to extra config containers
  deployment/aodh/aodh-api-container-puppet.yaml
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/experimental/designate/designate-central-container-puppet.yaml
  deployment/glance/glance-api-container-puppet.yaml
  deployment/gnocchi/gnocchi-api-container-puppet.yaml
  deployment/heat/heat-engine-container-puppet.yaml
  deployment/ironic/ironic-api-container-puppet.yaml
  deployment/ironic/ironic-inspector-container-puppet.yaml
  deployment/keystone/keystone-container-puppet.yaml
  deployment/mistral/mistral-api-container-puppet.yaml
  deployment/neutron/neutron-agents-ib-config-container-puppet.yaml
  deployment/neutron/neutron-api-container-puppet.yaml
  deployment/neutron/neutron-mlnx-agent-container-puppet.yaml
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
  deployment/octavia/octavia-api-container-puppet.yaml
  deployment/ovn/ovn-controller-container-puppet.yaml
  deployment/placement/placement-api-container-puppet.yaml
  deployment/sahara/sahara-api-container-puppet.yaml
  deployment/zaqar/zaqar-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario011-multinode-oooq-container

Ensure /var/run/octavia is present upon reboot
  deployment/octavia/octavia-api-container-puppet.yaml
  releasenotes/notes/fix-octavia-api-driver-agent-failed-on-reboot-373a31d28ea72587.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

[stable only] Use service_name in heira for firewall rules
  deployment/timesync/chrony-baremetal-ansible.yaml
Due: none

Remove capabilities-map.yaml
  capabilities-map.yaml
Due: none

Force facts cache refreshing after OS upgrade.
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix scenario glance backend for scenario010
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario010-standalone.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove deprecated kubernetes services
  ci/environments/scenario000-standalone.yaml
  ci/environments/scenario006-multinode.yaml
  deployment/deprecated/kubernetes/kubernetes-master-baremetal-ansible.yaml
  deployment/deprecated/kubernetes/kubernetes-worker-baremetal-ansible.yaml
  deployment/haproxy/haproxy-edge-container-puppet.yaml
  environments/kubernetes.yaml
  environments/standalone.yaml
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  environments/undercloud/undercloud-minion.yaml
  overcloud-resource-registry-puppet.j2.yaml
  sample-env-generator/standalone.yaml
  sample-env-generator/undercloud-minion.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container
