Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/ceilometer.*$, ^puppet/services/ceph.*$, ^puppet/services/cinder.*$, ^puppet/services/congress.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/logging.*$, ^puppet/services/metrics.*$, ^puppet/services/monitoring.*$, ^puppet/services/panko.*$, ^puppet/services/tacker.*$, ci/environments/scenario001-multinode.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/congress.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/logging.*$, ^(docker|puppet)/services/metrics.*$, ^(docker|puppet)/services/monitoring.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/barbican.*$, ^puppet/services/ceilometer.*$, ^puppet/services/cinder.*$, ^puppet/services/ec2-api.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/panko.*$, ^puppet/services/swift.*$, ^puppet/services/zaqar.*$, ci/environments/scenario002-multinode.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/barbican.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/ec2-api.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/swift.*$, ^(docker|puppet)/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^puppet/services/glance.*$, ^puppet/services/mistral.*$, ^puppet/services/sahara.*$, ci/environments/scenario003-multinode.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/mistral.*$, ^(docker|puppet)/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^puppet/services/ceph.*$, ^puppet/services/glance.*$, ^puppet/services/manila.*$, ci/environments/scenario004-multinode.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ci/environments/scenario007-multinode.yaml, ci/pingtests/scenario007-multinode.yaml, ^puppet/services/.*ovn.*$, config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^(docker|puppet)/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml

zuul: run scenarios when touching pacemaker services
  zuul.d/layout.yaml
Due: none

Drop redundant delay param
  puppet/services/gnocchi-base.yaml
  releasenotes/notes/drop-redundant-metric-param-ddea256079fbbbe0.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Containerize multinode-3nodes
  ci/environments/multinode-3nodes-registry.yaml
  ci/environments/multinode-3nodes.yaml
Due: none

Add support for OVN Metadata Agent
  ci/environments/scenario007-multinode-containers.yaml
  docker/services/ovn-metadata.yaml
  environments/hyperconverged-ceph.yaml
  environments/neutron-ml2-ovn-ha.yaml
  environments/neutron-ml2-ovn.yaml
  environments/services-docker/neutron-ovn-ha.yaml
  environments/services-docker/neutron-ovn.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/neutron-plugin-ml2-ovn.yaml
  puppet/services/ovn-controller.yaml
  puppet/services/ovn-metadata.yaml
  releasenotes/notes/add-support-networking-ovn-metadata-agent-3bfecfbabd6d9628.yaml
  roles/Compute.yaml
  roles/ComputeHCI.yaml
  roles/ComputeOvsDpdk.yaml
  roles/ComputeSriov.yaml
  roles/HciCephAll.yaml
  roles/HciCephFile.yaml
  roles/HciCephMon.yaml
  roles/HciCephObject.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix log file nova-conductor service
  puppet/services/nova-conductor.yaml
Due: none

Latest Nexus Configuration Variables Updates
  environments/neutron-ml2-cisco-nexus-ucsm.yaml
  puppet/extraconfig/all_nodes/neutron-ml2-cisco-nexus-ucsm.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Cinder containers: volume and env customizations
  docker/services/cinder-volume.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Revert "Re-enable voting on scenario002-container"
  zuul.d/layout.yaml
Due: none

Add support for outputting role-specific parameters
  tripleo_heat_templates/environment_generator.py
  tripleo_heat_templates/tests/test_environment_generator.py
Due: none

Add noop's for docker pacemaker for rabbitmq
  docker/services/pacemaker/rabbitmq.yaml
  releasenotes/notes/pacemaker-rabbitmq-b1b5fc2b47cb84e4.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Fix ovs/netns mounts for neutron agents
  docker/services/neutron-dhcp.yaml
  docker/services/neutron-l3.yaml
  docker/services/neutron-metadata.yaml
  docker/services/neutron-ovs-agent.yaml
Due: none

Update default value for derive params workflow inputs
  plan-samples/plan-environment-derived-params.yaml
Due: none

Implements AIDE Intrusion Detection System
  capabilities-map.yaml
  environments/hyperconverged-ceph.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/aide.yaml
  releasenotes/notes/aide-50fc91178430f1a5.yaml
  roles/BlockStorage.yaml
  roles/CephAll.yaml
  roles/CephFile.yaml
  roles/CephObject.yaml
  roles/CephStorage.yaml
  roles/Compute.yaml
  roles/ComputeHCI.yaml
  roles/ComputeOvsDpdk.yaml
  roles/ComputeSriov.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerOpenstack.yaml
  roles/Database.yaml
  roles/HciCephAll.yaml
  roles/HciCephFile.yaml
  roles/HciCephMon.yaml
  roles/HciCephObject.yaml
  roles/IronicConductor.yaml
  roles/Messaging.yaml
  roles/Networker.yaml
  roles/ObjectStorage.yaml
  roles/Telemetry.yaml
  roles/Undercloud.yaml
  roles_data.yaml
  roles_data_undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Workflow execution blacklist support
  common/deploy-steps.j2
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
  releasenotes/notes/ceph-ansible-blacklist-support-164b5726cc4532b7.yaml
Due: none

Also pass blacklisted hostnames
  common/deploy-steps.j2
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
Due: none

aodh-base.yaml uses a hard coded keystone region name
  puppet/services/aodh-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add become: true for host_prep_tasks
  common/deploy-steps.j2
Due: none

Align stars to fix stable/pike gate on scenario001
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
  docker/services/cinder-backup.yaml
  docker/services/cinder-volume.yaml
  docker/services/iscsid.yaml
  docker/services/multipathd.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-ironic.yaml
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  puppet/services/ceilometer-base.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Use docker_config_scripts for puppet apply
  docker/services/containers-common.yaml
  docker/services/haproxy.yaml
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Add DockerPuppetDebug to environments/config-debug.yaml
  environments/config-debug.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Correct panko auth region
  puppet/services/panko-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Configure ODL Logging mechanism
  docker/services/opendaylight-api.yaml
  environments/services-docker/neutron-opendaylight.yaml
  puppet/services/opendaylight-api.yaml
  releasenotes/notes/ODL_log_mechanism-99f008362d2392de.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Updated from global requirements
  test-requirements.txt
Due: none

Deprecate CeilometerWorkers
  environments/low-memory-usage.yaml
  puppet/services/ceilometer-base.yaml
  releasenotes/notes/deprecate-ceilometer-workers-72b01f4bc6423f48.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Default empty map for docker_config steps
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
Due: none

Optimize kernel neighbour table for large scale environments
  puppet/services/kernel.yaml
Due: none

Run Octavia configuration on the overcloud
  docker/services/octavia-worker.yaml
  docker/services/octavia/octavia-deployment-config.yaml
  environments/services-docker/octavia.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/octavia-worker.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerOpenstack.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Re-enable voting on scenario001-container
  zuul.d/layout.yaml
Due: none

Revert "Revert "Re-enable voting on scenario002-container""
  zuul.d/layout.yaml
Due: none

Replace hardcoded profile name with _TUNED_PROFILE_NAME_
  extraconfig/pre_network/ansible_host_config.yaml
Due: none

Enable *_use_fqdn in ceph-ansible when EnableInternalTLS
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

modify assignment spelling
  tools/process-templates.py
Due: none

Adding support for ovs hw offloading in containers
  docker/services/neutron-ovs-agent.yaml
  environments/services-docker/neutron-ovs-hw-offload.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Correct erroneous upgrade tasks.
  docker/services/ceph-ansible/ceph-osd.yaml
  docker/services/ironic-inspector.yaml
  docker/services/ovn-metadata.yaml
  puppet/services/docker-registry.yaml
  puppet/services/ovn-metadata.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Include common_deploy_steps_tasks.yaml
  common/deploy-steps.j2
Due: none

Introduce tests for yaql structures
  puppet/services/apache.yaml
  test-requirements.txt
  tripleo_heat_templates/tests/test_yaql.py
Due: none
