Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^(deployment|docker|puppet)/.*tacker.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario010-standalone: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-standalone.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*

Don't manage bridge mappings in scenario file
  ci/environments/scenario012-standalone.yaml
Due: none

Return details in output of container health check
  container_config_scripts/monitoring/collectd_check_health.py
Due: none

Change permissions on /run/octavia to octavia
  deployment/octavia/octavia-api-container-puppet.yaml
Due: tripleo-ci-centos-8-scenario010-standalone

Expose mistral::rpc_response_timeout as Heat parameter
  deployment/mistral/mistral-base.yaml
Due: none

Use consistent naming for MistralRpcResponseTimeout
  deployment/deprecated/mistral/mistral-base.yaml
Due: none

Fix Octavia OctaviaTenantLogFacility default
  deployment/octavia/octavia-base.yaml
  releasenotes/notes/fix-octavia-tenant-log-facility-default-7b6d0670a51fe845.yaml
Due: tripleo-ci-centos-8-scenario010-standalone

Use native ansible for nic configuration in some envs
  environments/net-multiple-nics-vlans.j2.yaml
  environments/net-multiple-nics.j2.yaml
  environments/net-single-nic-with-vlans-no-external.j2.yaml
  environments/net-single-nic-with-vlans.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Change deployed server environment for ansible nic config
  deployed-server/README.rst
  environments/deployed-server-environment.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Use native ansible for nic configuration
  environments/net-2-linux-bonds-with-vlans.j2.yaml
  environments/net-bond-with-vlans.j2.yaml
  environments/net-dpdkbond-with-vlans.j2.yaml
  environments/net-single-nic-linux-bridge-with-vlans.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

ovn: Add neutron-cleanup
  deployment/ovn/ovn-controller-container-puppet.yaml
Due: tripleo-ci-centos-8-scenario007-multinode-oooq-container

Also configure Ironic for UC minions
  environments/undercloud/undercloud-minion.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Fix tripleo-hieradata role name in Barbican deployment
  deployment/barbican/barbican-api-container-puppet.yaml
Due: none

Make NetworkConfigWithAnsible parameter non-role specific
  ci/environments/multinode-containers.yaml
  ci/environments/network/multiple-nics-ipv6/network-environment.yaml
  ci/environments/network/multiple-nics/network-environment.yaml
  ci/environments/network/public-bond/network-environment.yaml
  ci/environments/scenario000-multinode-containers.yaml
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario007-multinode-containers.yaml
  ci/environments/scenario010-multinode-containers.yaml
  deployed-server/README.rst
  environments/deployed-server-environment.j2.yaml
  environments/net-2-linux-bonds-with-vlans.j2.yaml
  environments/net-bond-with-vlans.j2.yaml
  environments/net-dpdkbond-with-vlans.j2.yaml
  environments/net-multiple-nics-vlans.j2.yaml
  environments/net-multiple-nics.j2.yaml
  environments/net-single-nic-linux-bridge-with-vlans.j2.yaml
  environments/net-single-nic-with-vlans-no-external.j2.yaml
  environments/net-single-nic-with-vlans.j2.yaml
  environments/neutron-ovs-dvr.yaml
  environments/services/neutron-ovs-dvr.yaml
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  environments/undercloud.yaml
  environments/undercloud/undercloud-minion.yaml
  overcloud.j2.yaml
  releasenotes/notes/nic-config-with-ansible-default-cbcaedd0a5ad49b0.yaml
  sample-env-generator/standalone.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

[manila] Add "ManilaEnabledShareProtocols" param
  deployment/manila/manila-api-container-puppet.yaml
  releasenotes/notes/bug-1831767-allow-configuring-manila-share-protocols-6ea6bcbbe21b25ee.yaml
Due: none

Don't use POLL_SERVER_CFN transport for DeployedServer
  config-download-software.yaml
  config-download-structured.yaml
Due: none

Add TLS capabilities to Memcached service
  deployment/memcached/memcached-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove Sahara support
  README.rst
  ci/environments/scenario000-standalone.yaml
  deployment/deprecated/sahara/sahara-api-container-puppet.yaml
  deployment/deprecated/sahara/sahara-base.yaml
  deployment/deprecated/sahara/sahara-engine-container-puppet.yaml
  deployment/haproxy/haproxy-edge-container-puppet.yaml
  deployment/horizon/horizon-container-puppet.yaml
  environments/low-memory-usage.yaml
  environments/services/sahara.yaml
  environments/ssl/no-tls-endpoints-public-ip.yaml
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  environments/undercloud/undercloud-minion.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  network/service_net_map.j2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/remove-sahara-ffec9acf94d72905.yaml
  roles/Controller.yaml
  roles/ControllerAllNovaStandalone.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerOpenstack.yaml
  roles/ControllerSriov.yaml
  roles/ControllerStorageDashboard.yaml
  roles/ControllerStorageNfs.yaml
  roles/Standalone.yaml
  roles_data.yaml
  sample-env-generator/ssl.yaml
  sample-env-generator/standalone.yaml
  sample-env-generator/undercloud-minion.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Fix ceilometer_agent_compute healthcheck
  deployment/ceilometer/ceilometer-agent-compute-container-puppet.yaml
Due: none

Make NovaComputeOptVolumes and NovaComputeOptEnvVars role aware
  deployment/nova/nova-compute-container-puppet.yaml
Due: none

Config options for AMQP1 transport in collectd sensubility
  deployment/metrics/collectd-container-puppet.yaml
Due: none

Rename NeutronMl2PluginBase TripleO service
  ci/environments/scenario007-multinode-containers.yaml
  ci/environments/scenario007-standalone.yaml
  deployment/neutron/neutron-plugin-ml2-ansible-container-puppet.yaml
  deployment/neutron/neutron-plugin-ml2-container-puppet.yaml
  environments/neutron-nuage-config.yaml
  environments/neutron-ovs-dvr.yaml
  environments/services-baremetal/neutron-ovn-dvr-ha.yaml
  environments/services-baremetal/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-standalone.yaml
  environments/services/neutron-ovs-dvr.yaml
  environments/services/neutron-ovs.yaml
  environments/undercloud.yaml
  overcloud-resource-registry-puppet.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

[train-only] Introduce hybrid state also for ovn_controller
  deployment/ovn/ovn-controller-container-puppet.yaml
Due: tripleo-ci-centos-8-scenario007-multinode-oooq-container

[train-only] Switch sriov agent in hybrid state
  deployment/neutron/neutron-sriov-agent-container-puppet.yaml
Due: none

Add possibility to set logging source for Horizon
  deployment/horizon/horizon-container-puppet.yaml
Due: none

Add CephClientConfigOverrides resource
  deployment/ceph-ansible/ceph-client.yaml
Due: tripleo-ci-centos-8-scenario010-standalone

Fix names of the puppet parameters used to set min bw limits in Neutron
  deployment/neutron/neutron-sriov-agent-container-puppet.yaml
Due: none

Run tripleo_lvmfilter role to restrict block devices visible to LVM2
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario002-standalone.yaml
  deployment/iscsid/iscsid-container-puppet.yaml
  releasenotes/notes/automated-lvmfilter-3bee670c0108585a.yaml
Due: none

Expose new THT params for cpu model flags
  deployment/nova/nova-compute-container-puppet.yaml
  releasenotes/notes/cpu-flags-5b027db3eb2b86c2.yaml
Due: none

Add config option for collectd libpodstats
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  deployment/metrics/collectd-container-puppet.yaml
Due: none

Return details in output of container health check
  container_config_scripts/monitoring/collectd_check_health.py
  deployment/metrics/collectd-container-puppet.yaml
Due: none

Use `undercloud` instead of `Undercloud` when delegating tasks
  deployment/ipa/ipaservices-baremetal-ansible.yaml
Due: none
