Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: (any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml) or (any of: ^docker/services/glance.*$, ^docker/services/mistral.*$, ^docker/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^docker/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml

Enable deep_compare by default for stonith resources
  puppet/services/pacemaker.yaml
  puppet/services/pacemaker_remote.yaml
  releasenotes/notes/enable-deep_compare-fencing-698cec642ecd54a4.yaml
Due: none

Enable "port_forwarding" feature in neutron ML2 ovs environment
  deployment/neutron/neutron-l3-container-puppet.yaml
  environments/services/neutron-ovs.yaml
  releasenotes/notes/enable-port-forwarding-in-neutron-956cb21a3310e881.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Added the connection_logging parameter for Octavia
  deployment/octavia/octavia-base.yaml
  releasenotes/notes/add-connection-logging-parameter-e51f59175c8da204.yaml
Due: none

Drop support for uuid token provider
  deployment/keystone/keystone-container-puppet.yaml
  releasenotes/notes/keystone-drop-uuid-token-provider-a4c4827c1a05556b.yaml
Due: none

Stop bindmounting /usr/bin
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove leftovers after NeutronExternalNetworkBridge option
  deployment/neutron/neutron-l3-container-puppet.yaml
Due: none

Give the OVN DBS service a separate Vip
  deployed-server/deployed-server-environment-output.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  environments/external-loadbalancer-vip-v6-all.yaml
  environments/external-loadbalancer-vip-v6.yaml
  environments/external-loadbalancer-vip.yaml
  environments/fixed-ip-vips-v6.yaml
  environments/fixed-ip-vips.yaml
  environments/network-isolation-no-tunneling.j2.yaml
  environments/network-isolation-v6-all.j2.yaml
  environments/network-isolation-v6.j2.yaml
  environments/network-isolation.j2.yaml
  environments/standalone.yaml
  environments/standalone/standalone-tripleo.yaml
  environments/undercloud.yaml
  network/service_net_map.j2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  overcloud.j2.yaml
  releasenotes/notes/ovn-separate-vip-ed28ffa3ff77f865.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Deprecate EC2 API
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario002-standalone.yaml
  deployment/deprecated/ec2/ec2-api-container-puppet.yaml
  environments/services-baremetal/ec2-api.yaml
  environments/services/ec2-api.yaml
  releasenotes/notes/deprecate_ec2_api-811ac17575077b2a.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Ironic: disallow deployment and cleaning in maintenance mode
  deployment/ironic/ironic-conductor-container-puppet.yaml
  releasenotes/notes/maint-cleaning-153aa746d92a5292.yaml
Due: none

Adapt ContainerImagePrepareDebug to the string pattern
  deployment/container-image-prepare/container-image-prepare-baremetal-ansible.j2.yaml
Due: none

Replace include_role with import_role
  deployment/container-image-prepare/container-image-prepare-baremetal-ansible.j2.yaml
Due: none

Add no_log to include_vars
  common/deploy-steps.j2
Due: none

Add heat templates to deploy mellanox neutron agent
  deployment/neutron/neutron-mlnx-agent-container-puppet.yaml
  environments/services/neutron-mlnx-agent.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/ComputeSriov.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fixed the path for neutron-base.yaml
  deployment/deprecated/neutron/neutron-sriov-host-config.yaml
Due: none

Fix selinux context for glance-api
  deployment/glance/glance-api-container-puppet.yaml
  environments/storage-environment.yaml
  environments/storage/glance-nfs.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove python executable print
  common/deploy-steps-tasks.yaml
Due: none

Add parameters for dateext in logrotate
  docker/services/logrotate-crond.yaml
Due: none

Update names of Rsyslog container Image variables
  deployment/logging/rsyslog-container-puppet.yaml
Due: none

Resolve missing parenthesis causing variable exception
  deployment/podman/podman-baremetal-ansible.yaml
Due: none

Prevent running mysql data transfer twice by accident
  deployment/database/mysql-pacemaker-puppet.yaml
Due: none

Fix typo
  deployment/logrotate/logrotate-crond-container-puppet.yaml
Due: none

Add support to configure token caching
  deployment/keystone/keystone-container-puppet.yaml
  releasenotes/notes/keystone_token_caching-ce02411398a40420.yaml
Due: none

Use OS::TripleO::Services::Logging::NovaLibvirt to configure libvirt logging
  deployment/logging/files/nova-libvirt.yaml
  deployment/logging/stdout/nova-libvirt.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/nova_libvirtd_log_level-b1393b582360ad4f.yaml
Due: none

Add new parameter options to Octavia service
  deployment/octavia/octavia-base.yaml
  releasenotes/notes/add-three-more-octavia-params-1e4a32f910e5f1fc.yaml
Due: none

Add second fact to ensure type safty
  deployment/deprecated/docker/docker-baremetal-ansible.yaml
  deployment/podman/podman-baremetal-ansible.yaml
Due: none

Temporaily disable nova inflight healthchecks to unblock the gate
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  deployment/nova/nova-metadata-container-puppet.yaml
  deployment/nova/nova-migration-target-container-puppet.yaml
  deployment/nova/nova-scheduler-container-puppet.yaml
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
Due: none

Use update_serial as an ansible variable
  common/deploy-steps.j2
Due: none

deploy-steps-tasks: replace paunch CLI by ansible-paunch module
  common/deploy-steps-tasks.yaml
Due: none

Update deprecated name of Rsyslog container Image
  deployment/logging/rsyslog-container-puppet.yaml
Due: none

Create an endpoint entry for novajoin
  deployment/nova/novajoin-container-puppet.yaml
Due: none

Override policy for undercloud novajoin
  deployment/nova/novajoin-container-puppet.yaml
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix Ironic configuration for IPv6
  deployment/ironic/ironic-conductor-container-puppet.yaml
Due: none

Remove ContainerCLI from ovb-ha default file
  ci/environments/ovb-ha.yaml
Due: none

Collectd-sensubility
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  deployment/metrics/collectd-container-puppet.yaml
  overcloud.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Ensure nova-api is running before starting nova-compute containers
  container_config_scripts/nova_wait_for_api_service.py
  container_config_scripts/placement_wait_for_service.py
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-compute-common-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-ironic-container-puppet.yaml
  deployment/placement/placement-api-container-puppet.yaml
  releasenotes/notes/wait_for_nova_api-7af0c6db1b607216.yaml
Due: none

Allow using registry authentication to pull ceph related containers
  deployment/ceph-ansible/ceph-base.yaml
Due: none

nova-libvirt: set 'cpuset_cpus' to 'all'
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: none

nova-libvirt: set 'cpuset_cpus' to 'all'
  docker/services/nova-libvirt.yaml
Due: none
