Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa, tripleo-ci-centos-7-scenario011-multinode-oooq-container

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-tht

tripleo-ci-centos-7-scenario010-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-tht

Ensure net.ipv6.conf.lo.disable_ipv6=0
  deployment/kernel/kernel-baremetal-ansible.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Check transfer data flag to skip pacemaker normal upgrade.
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  deployment/pacemaker/pacemaker-baremetal-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Fix reserved name variable
  common/deploy-steps-playbooks-common.yaml
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove some deprecated services
  ci/environments/scenario000-standalone.yaml
  deployment/deprecated/clients/openstack-clients-baremetal-puppet.yaml
  deployment/deprecated/docker/docker-baremetal-ansible.yaml
  deployment/deprecated/docker/docker-registry-baremetal-ansible.yaml
  deployment/deprecated/neutron/neutron-sriov-host-config.yaml
  deployment/deprecated/tripleo-firewall/tripleo-firewall-baremetal-puppet.yaml
  environments/docker-uc-light.yaml
  environments/docker.yaml
  environments/services-baremetal/neutron-sriov.yaml
  environments/services/neutron-ovn-sriov.yaml
  environments/services/neutron-sriov.yaml
  environments/undercloud/undercloud-minion.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/ComputeHCISriov.yaml
  roles/ComputeOvsDpdkSriov.yaml
  roles/ComputeOvsDpdkSriovRT.yaml
  roles/ComputeSriov.yaml
  roles/ComputeSriovIB.yaml
  roles/ComputeSriovRT.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove useless hieradata for octavia tls_proxy
  deployment/octavia/octavia-api-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Add the ability to offload amphora logs
  deployment/octavia/octavia-deployment-config.j2.yaml
  deployment/octavia/octavia-health-manager-container-puppet.yaml
  releasenotes/notes/octavia-log-offload-d1617e767f688da1.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Consider user configuration during the derivation of passthrough whitelist
  deployment/neutron/derive_pci_passthrough_whitelist.py
  deployment/neutron/neutron-sriov-agent-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Remove unused code and environment file of sriov deployment
  deployment/neutron/neutron-sriov-agent-container-puppet.yaml
  releasenotes/notes/sriov-vf-param-removed-fd6f4519b4eeb05a.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Add an option to adjust help URL in horizon
  deployment/horizon/horizon-container-puppet.yaml
Due: none

Remove Ceph{Admin,Mon,Mds}Key parameters
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario004-standalone.yaml
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario010-standalone.yaml
  deployment/ceph-ansible/ceph-mds.yaml
  deployment/ceph-ansible/ceph-mon.yaml
  environments/storage-environment.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Allow triggering ceph-ansible filestore-to-bluestore with ceph_fstobs tag
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Elevated privs are required to access files in home directory
  deployment/octavia/octavia-deployment-config.j2.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Add resource claim in the environment example
  firstboot/os-net-config-mappings.yaml
Due: none

Use empty string for overcloud InternalTLSCAFile param
  environments/ssl/enable-tls.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

enable dpdk plugin on neutron ovn and ovs
  deployment/neutron/neutron-ovn-dpdk-config-container-puppet.yaml
  deployment/neutron/neutron-ovs-dpdk-agent-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Ironic create_swift_temp_url_key use internal edpoint
  deployment/ironic/ironic-conductor-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario011-multinode-oooq-container

Add project template for IPA multinode
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Fix dry-run for NetworkConfig tasks
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove ValidateNtp
  all-nodes-validation.yaml
  ci/common/all-nodes-validation-disabled.yaml
  common/deploy-steps.j2
  releasenotes/notes/remove-ValidateNtp-15724eaa8345aa4f.yaml
  validation-scripts/all-nodes.sh
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Increase zaqar max_messages_post_size to 2097152
  deployment/zaqar/zaqar-container-puppet.yaml
Due: none

Enable glance cache prefetcher interval
  deployment/glance/glance-api-container-puppet.yaml
  releasenotes/notes/add_glance_image_cache_prefetcher-288120ffa6ee2a13.yaml
Due: none

Adding env file for octavia with kvm
  ci/environments/octavia-kvm.yaml
Due: none

Use unittest.mock instead of mock
  container_config_scripts/tests/test_nova_statedir_ownership.py
  lower-constraints.txt
  test-requirements.txt
  tripleo_heat_templates/tests/test_environment_generator.py
Due: none

Add composible service for tls enrollment
  ci/environments/scenario000-standalone.yaml
  deployment/tls/undercloud-tls.yaml
  environments/services/undercloud-tls.yaml
  environments/undercloud/undercloud-minion.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Unify metrics_qdr name to underscore
  deployment/metrics/qdr-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Only enable leapp tasks when distribution is correct
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-multinode-containers.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-8-standalone-on-multinode-ipa: any of: environments/ssl/tls-everywhere-endpoints-dns.yaml, environments/services/haproxy-public-tls-certmonger.yaml, environments/ssl/enable-internal-tls.yaml, ci/environments/standalone-ipa.yaml, deployment/ipa/ipaservices-baremetal-ansible.yaml, deployment/apache/*, deployment/ceph-ansible/*, deployment/database/*, deployment/etcd/*, deployment/haproxy/*, deployment/metrics/*, deployment/neutron/*, deployment/nova/*, deployment/octavia/*, deployment/ovn/*, deployment/rabbitmq/*, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(deployment|docker|puppet)/.*ironic.*$, ^environments\/.*ironic.*$
