Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario011-multinode-oooq-container

tripleo-ci-centos-7-scenario006-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario009-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario010-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

Update loop_vars
  common/container_startup_configs_tasks.yaml
  deployment/deprecated/docker/docker-baremetal-ansible.yaml
  deployment/podman/podman-baremetal-ansible.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Correctly match openvswitch package
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
  deployment/undercloud/undercloud-upgrade.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add cacert to clouds.yaml
  deployment/keystone/keystone-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Stop nova placement during upgrade data tranfer
  deployment/nova/nova-api-container-puppet.yaml
Due: none

Make /var/lib/mistral traversable by all users
  deployment/mistral/mistral-executor-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq-container

Change the :Z mount flag to :z
  deployment/nova/novajoin-container-puppet.yaml
Due: none

Fix node scaling
  common/deploy-steps-playbooks-common.yaml
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Make user value for GlanceImageImportPlugin prevail on logic
  deployment/glance/glance-api-container-puppet.yaml
Due: none

Deprecate old NeutronFirewallDriver option
  deployment/neutron/neutron-plugin-ml2.yaml
  environments/undercloud.yaml
  releasenotes/notes/Remove-NeutronFirewallDriver-option-f4289b404abcc0b3.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add support for resource provider bandwidth in Neutron config
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
  deployment/neutron/neutron-plugin-ml2.yaml
  deployment/neutron/neutron-sriov-agent-container-puppet.yaml
Due: none

Include copy-image for GlanceEnabledImportMethods for dcn-hci
  deployment/glance/glance-api-container-puppet.yaml
  environments/dcn-hci.yaml
  environments/dcn.yaml
  environments/storage/glance-nfs.yaml
  sample-env-generator/dcn.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Enable glance cache prefetcher interval
  deployment/glance/glance-api-container-puppet.yaml
  releasenotes/notes/add_glance_image_cache_prefetcher-288120ffa6ee2a13.yaml
Due: none

Add an option to adjust help URL in horizon
  deployment/horizon/horizon-container-puppet.yaml
Due: none

Correctly match openvswitch package
  docker/services/undercloud-upgrade.yaml
  puppet/services/tripleo-packages.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Correctly match openvswitch package
  puppet/services/tripleo-packages.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Use /32 or /128 netmask for VIPs
  net-config-standalone.j2.yaml
  net-config-undercloud.j2.yaml
Due: none

Include tripleo_ceph_workdir role on rgw variables override
  deployment/ceph-ansible/ceph-rgw.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove unnecessary check after removing libvirt rpm dependencies
  deployment/nova/nova-compute-container-puppet.yaml
Due: none

Only enable leapp tasks when distribution is correct
  deployment/pacemaker/pacemaker-baremetal-puppet.yaml
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add additional files to ipa standalone test
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Enable adding packages into Leapp's to_remove/to_install files.
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
  environments/lifecycle/upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add common_deploy_steps to post_upgrade_steps.
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix typo in the description of the Neutron related options
  deployment/neutron/neutron-plugin-ml2.yaml
Due: none

Split ansible_limit with a colon.
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  deployment/pacemaker/pacemaker-baremetal-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

rhsm: add rhsm_release in environment for doc purpose
  environments/rhsm.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Configure valid_exit_code for startup containers
  common/deploy-steps-tasks.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Modify tls-e service to not install packages by default
  deployment/ipa/ipaservices-baremetal-ansible.yaml
Due: none

Move chcon for /var/lib/config-data
  common/deploy-steps-playbooks-common.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add ansible hieradata file
  common/hiera-steps-tasks.yaml
  overcloud.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

collectd: add support for mcelog service
  deployment/metrics/collectd-container-puppet.yaml
Due: none

Add non-string value support for CephAnsibleEnvironmentVariables
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario004-standalone.yaml
  ci/environments/scenario010-standalone.yaml
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

enable dpdk plugin on neutron ovn and ovs
  deployment/neutron/neutron-ovn-dpdk-config-container-puppet.yaml
  deployment/neutron/neutron-ovs-dpdk-agent-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^ci/common/.*$, ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^(deployment|docker|puppet)/.*tacker.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*keepalived.*$, ^(deployment|docker|puppet)/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ^ci/common/.*$, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-multinode-containers.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(deployment|docker|puppet)/.*ironic.*$, ^environments\/.*ironic.*$
