Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Update CephX client.openstack keyring to use 'profile rbd'
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Delete deprecated parameters
  puppet/services/opendaylight-api.yaml
  puppet/services/opendaylight-ovs.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Increase default RabbitMQ/Erlang TCP timeout from 5 to 15 seconds
  puppet/services/rabbitmq.yaml
Due: none

Introduces NovaComputeCpuSharedSet parameter
  puppet/services/nova-compute.yaml
  releasenotes/notes/compute-cpu-shared-set-be9da772ac8f7582.yaml
Due: none

Fix gnocchi auth mode to basic
  puppet/services/metrics/collectd.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Add fast_forward_upgrade_tasks in ironic services.
  docker/services/ironic-api.yaml
  docker/services/ironic-conductor.yaml
Due: none

Upgrades: Refactor httpd_enabled variable
  docker/services/aodh-api.yaml
  docker/services/gnocchi-api.yaml
  docker/services/heat-api-cfn.yaml
  docker/services/heat-api.yaml
  docker/services/horizon.yaml
  docker/services/ironic-api.yaml
  docker/services/keystone.yaml
  docker/services/mistral-api.yaml
  docker/services/nova-api.yaml
  docker/services/nova-placement.yaml
  docker/services/octavia-api.yaml
  docker/services/zaqar.yaml
  puppet/services/apache.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container

Fix DNS firewall rules
  puppet/services/designate-worker.yaml
Due: none

Make BIND listen address configurable
  network/service_net_map.j2.yaml
  puppet/services/designate-worker.yaml
Due: none

Allow a containerized mistral-executor to access docker
  docker/services/mistral-executor.yaml
  puppet/services/mistral-base.yaml
  puppet/services/mistral-executor.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

Set Ceph pools rule_name to replicated_rule
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Adding HeatEngineVolumes and HeatEngineOptEnvVars support
  docker/services/heat-engine.yaml
Due: none

Activate memcached debug only when using MemcachedDebug param.
  puppet/services/memcached.yaml
  releasenotes/notes/Need-explicit-memcacheddebug-to-activate-memcached-debug.-41cfa69d4537cbd7.yaml
Due: none

use versioned keystone endpoint in OPENSTACK_KEYSTONE_URL
  puppet/services/horizon.yaml
Due: none

Add host prep step for ntp time sync
  puppet/services/time/ntp.yaml
Due: none

Handle roles w/o deprecated_nic_config_name during template cleanup
  tools/process-templates.py
Due: none

Enable Ansible error handling per role
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
Due: none

Fix incorrect Redis VIP declaration in fixed-ip-vips-v6.yaml
  environments/fixed-ip-vips-v6.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Conditionally Enable Nuage VRS
  environments/neutron-nuage-config.yaml
  puppet/services/neutron-plugin-ml2-nuage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

skydive external_deploy_task migration
  docker/services/skydive/skydive-agent.yaml
  docker/services/skydive/skydive-analyzer.yaml
  docker/services/skydive/skydive-base.yaml
  environments/services/skydive-environment.yaml
  extraconfig/services/skydive-agent.yaml
  extraconfig/services/skydive-analyzer.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Disable pid file usage in the swift_rsync container
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix syntax for set_fact ansible task.
  docker/services/pacemaker/haproxy.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Execute post_update_tasks in update playbook
  common/deploy-steps.j2
Due: none

Adding missing pacemaker definition for scenario000.
  ci/environments/scenario000-multinode-containers.yaml
Due: none

ovn: Add dns_servers configuration support
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-dvr.yaml
  environments/services/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-hw-offload.yaml
  environments/services/neutron-ovn.yaml
  puppet/services/neutron-plugin-ml2-ovn.yaml
  releasenotes/notes/ovn-set-dns-servers-config-option-e8f91ad2a05df9a9.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Missing puppet restart resource definition in scenario000.
  ci/environments/scenario000-multinode-containers.yaml
Due: none

Add scenario011 to install ironic in the overcloud
  ci/common/vbmc_setup.yaml
  ci/environments/scenario011-multinode-containers.yaml
  zuul.d/layout.yaml
Due: none

Delete default ODL Password
  puppet/services/opendaylight-api.yaml
  puppet/services/opendaylight-ovs.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Update scenario003 to deploy separate messaging backends
  README.rst
  ci/environments/scenario003-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

Add release note about Designate
  releasenotes/notes/designate-support-b66127d9f4995db2.yaml
Due: none

Make BIND /var dir persistent
  docker/services/designate-worker.yaml
  puppet/services/designate-worker.yaml
Due: none

Lower reserved memory for nova-compute
  environments/low-memory-usage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Moving glance mount nfs block to puppet glance-api template
  docker/services/glance-api.yaml
  puppet/services/glance-api.yaml
  releasenotes/notes/move_glance_nfs_mount_task_to_common_place-d284378fb16f180a.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Allow custom --bip CIDR for docker options
  puppet/services/docker.yaml
  releasenotes/notes/docker-bip-9a334c8f31a59b96.yaml
Due: none

Use role_name instead of tripleo_role_name
  common/deploy-steps.j2
Due: none

storage_vnx_pool_name is incorrect for VNX cinder driver.
  environments/cinder-dellemc-vnx-config.yaml
  puppet/services/cinder-backend-dellemc-vnx.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add support for NodeDataLookup for Ceph deployment
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
