Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario011-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^deployed-server/.*$, ^(docker|puppet)/services/.*ca-certs.*$, ^(docker|puppet)/services/.*clustercheck.*$, ^(docker|puppet)/services/.*container-image-prepare.*$, ^(docker|puppet)/services/.*docker.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*kernel.*$, ^(docker|puppet)/services/.*keystone.*$, ^(docker|puppet)/services/.*memcached.*$, ^(docker|puppet)/services/.*mysql.*$, ^(docker|puppet)/services/.*ntp.*$, ^(docker|puppet)/services/.*pacemaker.*$, ^(docker|puppet)/services/.*rabbitmq.*$, ^(docker|puppet)/services/.*snmp.*$, ^(docker|puppet)/services/.*timezone.*$, ^(docker|puppet)/services/.*tripleo-packages.*$, ^(docker|puppet)/services/.*tripleo-firewall.*$, ^(docker|puppet)/services/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ci/environments/scenario008-multinode-containers.yaml, ^(docker|puppet)/services/.*(odl|opendaylight).*$, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*keepalived.*$, ^(docker|puppet)/services/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(docker|puppet)/services/.*octavia.*$, ci/environments/scenario010-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario001-standalone: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario002-standalone: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario004-standalone: any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(docker|puppet)/services/.*ironic.*$, ^environments\/.*ironic.*$

flatten the ec2 service configurations
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario002-standalone.yaml
  deployment/ec2/ec2-api-container-puppet.yaml
  environments/services-baremetal/ec2-api.yaml
  environments/services/ec2-api.yaml
  puppet/services/ec2-api.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Add functionality to manage KSM on compute nodes per role
  deployment/nova/nova-compute-container-puppet.yaml
  releasenotes/notes/add_compute_manage_ksm-86fcbd1dc9a193ca.yaml
Due: none

[FFU] Ensure compatibility with ansible 2.6.
  common/deploy-steps.j2
  docker/services/database/mysql.yaml
  docker/services/pacemaker/database/mysql.yaml
  puppet/services/database/mysql.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Drop the role service override for ovb
  ci/environments/ovb-ha.yaml
Due: none

Fix skydive_vars evaluation
  extraconfig/services/skydive-analyzer.yaml
Due: none

container-image-prepare: redirect all output to logfile
  deployment/container-image-prepare/container-image-prepare-baremetal-ansible.j2.yaml
Due: none

Switch scenario00{1,4}-multinode-containers to Ceph bluestore
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
Due: none

Support cephfs_volume_mode parameter
  environments/manila-cephfsganesha-config.yaml
  environments/manila-cephfsnative-config.yaml
  puppet/services/manila-backend-cephfs.yaml
  releasenotes/notes/Support-ceph_volume_mode-parameter-5553a9b39718a749.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Remove the rokcy services from queens ComputeOvsDpdkSriov role
  roles/ComputeOvsDpdkSriov.yaml
  roles/ComputeOvsDpdkSriovRT.yaml
Due: none

Fail to live migration if instance has NUMA topology
  docker/services/nova-conductor.yaml
Due: none

Remove unused resources of PreNetworkConfig for NFV
  environments/disable-config-download-environment.yaml
  extraconfig/pre_network/host_config_and_reboot.yaml
  overcloud-resource-registry-puppet.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Always include step tasks in external update/upgrade
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Clean up after tripleo_persist and tripleo_transfer
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: none

Add Mellanox SDN ML2 template for a containerized service
  capabilities-map.yaml
  docker/services/neutron-plugin-ml2-mlnx-sdn-assist.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/add-mellanox-sdn-ml2-docker-58d242b5a8c40ade.yaml
Due: none

Fix py3 compat for regex searches in YAML validate
  tools/yaml-validate.py
Due: none

Make heat yaql limits configurable
  deployment/heat/heat-base-puppet.yaml
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

step3: flatten the neutron service configurations
  ci/environments/scenario004-multinode-containers.yaml
  deployment/neutron/neutron-bgpvpn-api-container-puppet.yaml
  deployment/neutron/neutron-bgpvpn-bagpipe-baremetal-puppet.yaml
  deployment/neutron/neutron-l2gw-agent-baremetal-puppet.yaml
  deployment/neutron/neutron-l2gw-api-container-puppet.yaml
  docker/services/neutron-l2gw-api.yaml
  environments/neutron-bgpvpn-bagpipe.yaml
  environments/neutron-bgpvpn.yaml
  environments/neutron-l2gw.yaml
  environments/services-baremetal/neutron-bgpvpn-opendaylight.yaml
  environments/services-baremetal/neutron-l2gw-opendaylight.yaml
  environments/services/neutron-bgpvpn-opendaylight.yaml
  environments/services/neutron-l2gw-opendaylight.yaml
  puppet/services/neutron-bgpvpn-api.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

allow to configure broadcast_dhcp in neutron DHCP server
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  releasenotes/notes/broadcast-dhcp-in-neutron-container-1e7835e4e7292492.yaml
Due: none

OVN: Add VLAN to NeutronNetworkType
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

flatten database service MySQL Server
  ci/environments/multinode-3nodes-registry.yaml
  ci/environments/scenario000-multinode-containers.yaml
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario003-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
  ci/environments/scenario004-standalone.yaml
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario012-multinode-containers.yaml
  ci/environments/scenario012-standalone.yaml
  deployment/database/mysql-base.yaml
  deployment/database/mysql-container-puppet.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  docker/services/pacemaker/clustercheck.yaml
  environments/baremetal-services.yaml
  environments/docker-ha.yaml
  environments/docker-uc-light.yaml
  environments/nonha-arch.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/pacemaker/database/mysql.yaml
  releasenotes/notes/drop-baremetal-mysql-server-a36a2f39f88c8181.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

step4: flatten the neutron service configurations
  deployment/neutron/neutron-lbaas-api-container-puppet.yaml
  deployment/neutron/neutron-plugin-ml2-ansible-container-puppet.yaml
  deployment/neutron/neutron-plugin-ml2-cisco-vts-container-puppet.yaml
  docker/services/neutron-plugin-ml2-ansible.yaml
  environments/neutron-ml2-ansible.yaml
  environments/services-baremetal/neutron-lbaasv2.yaml
  environments/services-baremetal/neutron-ml2-cisco-vts.yaml
  environments/services/neutron-lbaasv2.yaml
  environments/services/neutron-ml2-cisco-vts.yaml
  environments/services/neutron-nsx-lbaasv2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/neutron-lbaas-api.yaml
  puppet/services/neutron-plugin-ml2-ansible.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

step5: flatten the neutron service configurations
  deployment/neutron/neutron-plugin-nsx-container-puppet.yaml
  deployment/neutron/neutron-sfc-api-container-puppet.yaml
  deployment/neutron/neutron-sriov-agent-container-puppet.yaml
  docker/services/neutron-plugin-nsx.yaml
  environments/neutron-sfc.yaml
  environments/neutron-sriov.yaml
  environments/nsx-config.yaml
  environments/services-baremetal/neutron-opendaylight-sriov.yaml
  environments/services-baremetal/neutron-sriov.yaml
  environments/services/neutron-opendaylight-sriov.yaml
  environments/services/neutron-ovn-sriov.yaml
  environments/services/neutron-sfc-opendaylight.yaml
  environments/services/neutron-sfc-ovn.yaml
  environments/services/neutron-sriov.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/neutron-sfc-api.yaml
  puppet/services/neutron-sriov-agent.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Remove Congress
  README.rst
  ci/environments/scenario007-multinode-containers.yaml
  deployed-server/deployed-server-roles-data.yaml
  deployment/congress/congress-container-puppet.yaml
  environments/enable_congress.yaml
  environments/services-baremetal/congress.yaml
  environments/services/congress.yaml
  environments/ssl/no-tls-endpoints-public-ip.yaml
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  environments/standalone.yaml
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  network/service_net_map.j2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/congress.yaml
  releasenotes/notes/congress_removal-95dd16335fbb8bce.yaml
  roles/Controller.yaml
  roles/ControllerAllNovaStandalone.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerOpenstack.yaml
  roles/ControllerStorageNfs.yaml
  roles/Standalone.yaml
  roles_data.yaml
  sample-env-generator/ssl.yaml
  sample-env-generator/standalone.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

NFV: Support for config-download to deploy node with kernel args
  common/deploy-steps.j2
  environments/disable-config-download-environment.yaml
  extraconfig/pre_network/boot-params-service.yaml
  extraconfig/pre_network/boot_param_tasks.yaml
  extraconfig/pre_network/host_config_and_reboot.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/ComputeOvsDpdk.yaml
  roles/ComputeOvsDpdkRT.yaml
  roles/ComputeRealTime.yaml
  roles/ComputeSriov.yaml
  roles/ComputeSriovRT.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

[stable/queens] Disable default config-download method for PreNetworkConfig
  environments/config-download-environment.yaml
  environments/disable-config-download-environment.yaml
  overcloud-resource-registry-puppet.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Added tar option to preserve metadata of existing fetch_dir
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario004-standalone

Remove Docker when upgrading to Podman
  deployment/podman/podman-baremetal-ansible.yaml
Due: none

Deprecate TripleO UI
  deployment/deprecated/tripleo-ui/tripleo-ui-container-puppet.yaml
  environments/services/tripleo-ui.yaml
  releasenotes/notes/tripleo_ui-1923e35ee139f777.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

flatten opendaylight-api service
  ci/environments/scenario008-multinode-containers.yaml
  deployment/deprecated/opendaylight/opendaylight-api-container-puppet.yaml
  environments/services-baremetal/neutron-opendaylight.yaml
  environments/services/neutron-opendaylight.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/opendaylight-api.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Disable SELinux separation for ironic_pxe_http
  deployment/ironic/ironic-pxe-container-puppet.yaml
Due: none

flatten database service Redis
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario002-standalone.yaml
  ci/environments/scenario004-multinode-containers.yaml
  deployment/database/redis-base-puppet.yaml
  deployment/database/redis-container-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  environments/baremetal-services.yaml
  environments/docker-ha.yaml
  environments/nonha-arch.yaml
  environments/services-baremetal/undercloud-gnocchi.yaml
  environments/services/undercloud-gnocchi.yaml
  environments/services/zaqar.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/database/redis.yaml
  puppet/services/pacemaker/database/redis.yaml
  releasenotes/notes/drop-baremetal-redis-2e2f221b9ee6f9cc.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Don't create service or endpoint for cinder API v1
  puppet/services/cinder-api.yaml
  releasenotes/notes/remove-cinder-api-v1-66a24998d7f8e985.yaml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone

Rename /var/lib/docker-puppet to /var/lib/container-puppet
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
  docker/container-puppet.py
  docker/services/README.rst
  puppet/role.role.j2.yaml
  releasenotes/notes/var_lib_docker_deprec-0c48311c01605228.yaml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone
