Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

tripleo-ci-centos-7-scenario001-multinode-oooq-container:
  voting: true

tripleo-ci-centos-7-scenario002-multinode-oooq-container:
  voting: true

tripleo-ci-centos-7-scenario003-multinode-oooq-container:
  voting: true

tripleo-ci-centos-7-scenario004-multinode-oooq-container:
  voting: true

Fix Manila when run without pacemaker
  docker/services/manila-share.yaml
Due: tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix missing conditions header in octavia
  docker/services/octavia/octavia-deployment-config.yaml
Due: none

Remove containers before removing associated storage
  common/container-puppet.py
Due: none

Set scenario009 job voting to false
  zuul.d/layout.yaml
Due: none

Remove all old pcmklatest images
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix double cert mount in haproxy bundle when using tls everywhere
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
Due: none

Add SQLAlchemy-collectd support
  deployment/aodh/aodh-base.yaml
  deployment/barbican/barbican-api-container-puppet.yaml
  deployment/cinder/cinder-base.yaml
  deployment/deprecated/ec2/ec2-api-container-puppet.yaml
  deployment/experimental/designate/designate-central-container-puppet.yaml
  deployment/experimental/designate/designate-mdns-container-puppet.yaml
  deployment/glance/glance-api-container-puppet.yaml
  deployment/gnocchi/gnocchi-base.yaml
  deployment/heat/heat-engine-container-puppet.yaml
  deployment/ironic/ironic-base-puppet.yaml
  deployment/ironic/ironic-inspector-container-puppet.yaml
  deployment/keystone/keystone-container-puppet.yaml
  deployment/manila/manila-base.yaml
  deployment/metrics/collectd-container-puppet.yaml
  deployment/mistral/mistral-base.yaml
  deployment/neutron/neutron-api-container-puppet.yaml
  deployment/nova/nova-base-puppet.yaml
  deployment/octavia/octavia-base.yaml
  deployment/placement/placement-api-container-puppet.yaml
  deployment/sahara/sahara-base.yaml
  deployment/zaqar/zaqar-container-puppet.yaml
Due: none

Workaround ovn cluster failure during update when schema change.
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: none

Add new parameter options to Octavia service
  puppet/services/octavia-controller.yaml
  releasenotes/notes/add-three-more-octavia-params-1e4a32f910e5f1fc.yaml
Due: none

Add compute role "ComputeSriovIB" for infiniband deployments
  releasenotes/notes/add-compute-sriov-ib-role-15baefb0dadfcbac.yaml
  roles/ComputeSriovIB.yaml
Due: none

Remove hiera interpolation from ceph-ansible parameters
  docker/services/ceph-ansible/ceph-base.yaml
  docker/services/ceph-ansible/ceph-rgw.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add posibilities to set ovn_openflow_probe_interval for controller
  deployment/ovn/ovn-controller-container-puppet.yaml
  releasenotes/notes/ovn_openflow_probe_interval-fd99301d95aac62e.yaml
Due: none

Add missing step tag in updates/upgrades/ffu tasks
  deployment/haproxy/haproxy-container-puppet.yaml
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: none

Add posibilities to configure OVNNorthboundServerPort in split stacks
  puppet/services/neutron-plugin-ml2-ovn.yaml
Due: none

Permit access to Ceph RGW for 'member' role
  deployment/ceph-ansible/ceph-base.yaml
  deployment/ceph-ansible/ceph-rgw.yaml
Due: none

Deprecate kubespray kubernetes install
  deployment/deprecated/kubernetes/kubernetes-master-baremetal-ansible.yaml
  deployment/deprecated/kubernetes/kubernetes-worker-baremetal-ansible.yaml
  environments/kubernetes.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/deprecate-kubernetes-services-69ca5ec733d24644.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Revert "Temporaily disable nova inflight healthchecks to unblock the gate"
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  deployment/nova/nova-metadata-container-puppet.yaml
  deployment/nova/nova-migration-target-container-puppet.yaml
  deployment/nova/nova-scheduler-container-puppet.yaml
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
Due: none

Scenario 010 multinode fixups
  ci/environments/scenario010-multinode-containers.yaml
Due: none

Podman 1.4.1 drops json-file in favor of k8s-file
  common/container-puppet.py
Due: none

Replace chronyc "waitsync" with "makestep"
  deployment/timesync/chrony-baremetal-ansible.yaml
  firstboot/userdata_timesync.yaml
Due: none

Revert "Add support to configure token caching"
  deployment/keystone/keystone-container-puppet.yaml
  releasenotes/notes/keystone_token_caching-ce02411398a40420.yaml
Due: none

Containerized control plane with Dell EMC ScaleIO storage
  docker/services/glance-api.yaml
  environments/cinder-scaleio-config.yaml
  environments/containerized-control-plane-dellemc-scaleio.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Only generate Octavia certs on stack create
  docker/services/octavia/octavia-deployment-config.yaml
Due: none

Permit access to Ceph RGW for 'member' role
  docker/services/ceph-ansible/ceph-base.yaml
  docker/services/ceph-ansible/ceph-rgw.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Normalise all pacemaker resource upgrade tasks for staged upgrades
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: none

Fix "neutron-mlnx-agent.yaml" to use the new Role ComputeSriovIB
  environments/services/neutron-mlnx-agent.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Ensure nova-api is running before starting nova-compute containers
  container_config_scripts/nova_wait_for_api_service.py
  container_config_scripts/placement_wait_for_service.py
  deployment/deprecated/nova/nova-placement-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-compute-common-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-ironic-container-puppet.yaml
  releasenotes/notes/wait_for_nova_api-7af0c6db1b607216.yaml
Due: none

Set bridge-nf-call-* values to 1
  deployment/deprecated/kernel/kernel-baremetal-puppet.yaml
  deployment/kernel/kernel-baremetal-ansible.yaml
  releasenotes/notes/fix-bridge-nf-call-defaults.rst
Due: none

remove SensuClient from ComputeSriovIB role
  roles/ComputeSriovIB.yaml
Due: none

Pass server metadata to ansible group vars
  overcloud.j2.yaml
Due: none

Fix update of non HA container during update.
  common/deploy-steps.j2
Due: none

Remove all old pcmklatest images
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Less agressive cleanup of docker containers in post_upgrade_tasks
  deployment/deprecated/docker/docker-baremetal-ansible.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: (any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml) or (any of: ^docker/services/glance.*$, ^docker/services/mistral.*$, ^docker/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^docker/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml
