Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario011-multinode-oooq-container

TLS everywhere: Mount the whole /etc/pki/libvirt/ directory in libvirt
  docker/services/nova-libvirt.yaml
Due: none

Reload haproxy when certificate is renewed
  puppet/services/haproxy-internal-tls-certmonger.j2.yaml
  puppet/services/haproxy-public-tls-certmonger.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario009-multinode-oooq-container

TLS everywhere: Set post-save command for neutron dhcpd
  puppet/services/neutron-base.yaml
Due: none

TLS everywhere: Set post-save command for nova-vnc-proxy
  puppet/services/nova-vnc-proxy.yaml
Due: none

TLS everywhere: Set post-save command for httpd
  puppet/services/apache.j2.yaml
Due: none

TLS everywhere: Set post-save command for redis
  puppet/services/database/redis.yaml
Due: none

TLS everywhere: Set post-save command for RabbitMQ
  puppet/services/messaging/notify-rabbitmq.yaml
  puppet/services/messaging/rpc-rabbitmq.yaml
  puppet/services/rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

New parameter: ContainerLogStdoutPath
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
  docker/docker-puppet.py
  releasenotes/notes/ContainerLogStdoutPath-20cbce05a1710d8a.yaml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Add specific upgrade hiera data file.
  puppet/role.role.j2.yaml
  releasenotes/notes/Add-upgrade-specific-hiera-file-7a41a23017a545b9.yaml
Due: none

flatten the barbican service configurations
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario002-standalone.yaml
  deployment/barbican/barbican-api-container-puppet.yaml
  deployment/barbican/barbican-backend-dogtag-puppet.yaml
  deployment/barbican/barbican-backend-kmip-puppet.yaml
  deployment/barbican/barbican-backend-pkcs11-crypto-puppet.yaml
  deployment/barbican/barbican-backend-simple-crypto-puppet.yaml
  environments/barbican-backend-dogtag.yaml
  environments/barbican-backend-kmip.yaml
  environments/barbican-backend-pkcs11-atos.yaml
  environments/barbican-backend-pkcs11-thales.yaml
  environments/barbican-backend-pkcs11.yaml
  environments/barbican-backend-simple-crypto.yaml
  environments/services-baremetal/barbican.yaml
  environments/services/barbican.yaml
  puppet/services/barbican-api.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

step2: flatten the designate service configurations
  ci/environments/scenario003-multinode-containers.yaml
  ci/environments/scenario003-standalone.yaml
  deployment/designate/designate-api-container-puppet.yaml
  deployment/designate/designate-base.yaml
  deployment/designate/designate-central-container-puppet.yaml
  deployment/designate/designate-mdns-container-puppet.yaml
  deployment/designate/designate-producer-container-puppet.yaml
  deployment/designate/designate-sink-container-puppet.yaml
  deployment/designate/designate-worker-container-puppet.yaml
  environments/enable-designate.yaml
  puppet/services/designate-mdns.yaml
  puppet/services/designate-producer.yaml
  puppet/services/designate-worker.yaml
  sample-env-generator/enable-services.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

mysql: do not overwrite password file during docker-puppet
  docker/docker-puppet.py
  docker/services/database/mysql.yaml
  docker/services/pacemaker/database/mysql.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

[FFU] Make sure group access work correctly with ansible 2.6.
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

FFWD: Introduce workaround for neutron cisco plugin
  docker/services/neutron-api.yaml
Due: none

Add CertmongerUser role to OVB defaults
  ci/environments/ovb-ha.yaml
Due: none

Add missing RoleParameters and ServiceNames
  extraconfig/pre_network/config_then_reboot.yaml
Due: none

mysql: sync credentials in running container on password change
  docker/services/database/mysql.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Only request neutron certificate from neutron dhcp service
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  puppet/services/neutron-base.yaml
Due: none

Set neutron tenant network types for ODL configurations
  environments/services/neutron-opendaylight.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Re-Add mysql configuration for nova host discovery
  deployment/nova/nova-compute-container-puppet.yaml
Due: none

Redis: fix podman start on reboot
  docker/services/database/redis.yaml
Due: none

Drop step_config from containerized Nova services
  deployment/nova/nova-consoleauth-container-puppet.yaml
  deployment/nova/nova-metadata-container-puppet.yaml
  deployment/nova/nova-migration-target-container-puppet.yaml
  deployment/nova/novajoin-container-puppet.yaml
Due: none

Adding support of glance cinder store settings
  puppet/services/glance-api.yaml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone

Fail to live migration if instance has NUMA topology
  deployment/nova/nova-conductor-container-puppet.yaml
Due: none

Fix malformed mistal_executor kolla config file
  ci/environments/scenario009-multinode.yaml
  deployment/mistral/mistral-executor-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq-container

Make openshift-ansible working dir owned by tripleo-admin
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq-container

Correct sshd configuration within nova-migration-target
  deployment/nova/nova-migration-target-container-puppet.yaml
Due: none

Fix generation of configs that contain password files
  docker/docker-puppet.py
Due: none

flatten collectd service configuration
  ci/environments/scenario001-standalone.yaml
  deployment/metrics/collectd-container-puppet.yaml
  docker/services/metrics/collectd.yaml
  environments/collectd-environment.yaml
  environments/computealt.yaml
  environments/services-baremetal/collectd.yaml
  environments/services/collectd.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Removes all pacemaker from scenario-standalone 1-3 environments
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario002-standalone.yaml
  ci/environments/scenario003-standalone.yaml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone

Remove upgrade_tasks added during nova services flattening.
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
  deployment/nova/nova-placement-container-puppet.yaml
  deployment/nova/nova-scheduler-container-puppet.yaml
Due: none

Remove host-config-and-reboot interface
  environments/host-config-and-reboot.j2.yaml
  extraconfig/pre_network/host_config_and_reboot.yaml
  releasenotes/notes/host_config_and_reboot_removal-98d38efa2472458e.yaml
  tools/process-templates.py
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Handle upper and lower case system uuids
  firstboot/os-net-config-mappings.yaml
  puppet/extraconfig/pre_deploy/per_node.yaml
Due: none

nova_libvirt_init_secret: add net=host
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: none

Switch scenario001-002-003 to use Podman
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario002-standalone.yaml
  ci/environments/scenario003-standalone.yaml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone

Remove ties between ceilometer and panko
  docker/services/ceilometer-agent-notification.yaml
  environments/disable-panko.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^deployed-server/.*$, ^(docker|puppet)/services/.*ca-certs.*$, ^(docker|puppet)/services/.*clustercheck.*$, ^(docker|puppet)/services/.*container-image-prepare.*$, ^(docker|puppet)/services/.*docker.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*kernel.*$, ^(docker|puppet)/services/.*keystone.*$, ^(docker|puppet)/services/.*memcached.*$, ^(docker|puppet)/services/.*mysql.*$, ^(docker|puppet)/services/.*ntp.*$, ^(docker|puppet)/services/.*pacemaker.*$, ^(docker|puppet)/services/.*rabbitmq.*$, ^(docker|puppet)/services/.*snmp.*$, ^(docker|puppet)/services/.*timezone.*$, ^(docker|puppet)/services/.*tripleo-packages.*$, ^(docker|puppet)/services/.*tripleo-firewall.*$, ^(docker|puppet)/services/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ci/environments/scenario008-multinode-containers.yaml, ^(docker|puppet)/services/.*(odl|opendaylight).*$, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*keepalived.*$, ^(docker|puppet)/services/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(docker|puppet)/services/.*octavia.*$, ci/environments/scenario010-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario001-standalone: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario002-standalone: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario004-standalone: any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(docker|puppet)/services/.*ironic.*$, ^environments\/.*ironic.*$
