Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

tripleo-ci-centos-7-scenario001-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario002-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario003-multinode-oooq-container:
  voting: false

FFU: add fast forward upgrade support for sensu client
  docker/services/sensu-client.yaml
Due: none

ffu: Introduce Neutron fast-forward upgrade tasks
  docker/services/neutron-api.yaml
  docker/services/neutron-dhcp.yaml
  docker/services/neutron-l3.yaml
  docker/services/neutron-metadata.yaml
  docker/services/neutron-ovs-agent.yaml
  docker/services/neutron-ovs-dpdk-agent.yaml
Due: none

Add fast_forward_upgrade_tasks for ceilometer services
  docker/services/ceilometer-agent-central.yaml
  docker/services/ceilometer-agent-compute.yaml
  docker/services/ceilometer-agent-ipmi.yaml
  docker/services/ceilometer-agent-notification.yaml
  puppet/services/disabled/ceilometer-api-disabled.yaml
  puppet/services/disabled/ceilometer-collector-disabled.yaml
  puppet/services/disabled/ceilometer-expirer-disabled.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Enable libvirt health check
  docker/services/nova-libvirt.yaml
Due: none

Adds fast_forward_upgrade_tasks for Heat services
  docker/services/heat-api-cfn.yaml
  docker/services/heat-api.yaml
  docker/services/heat-engine.yaml
  puppet/services/disabled/heat-api-cloudwatch-disabled.yaml
  roles/Controller.yaml
  roles/ControllerAllNovaStandalone.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerOpenstack.yaml
  roles/ControllerStorageNfs.yaml
  roles_data.yaml
Due: none

Add KernelIpForward configuration
  environments/undercloud.yaml
  extraconfig/post_deploy/undercloud_post.sh
  puppet/services/kernel.yaml
  releasenotes/notes/configure-ip-forward-268c165708cbd203.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Consume RoleData config from config download files
  common/deploy-steps-tasks.yaml
Due: none

neutron/undercloud: align configuration with instack-undercloud
  environments/undercloud.yaml
  puppet/services/neutron-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

undercloud: disable nova-compute disabling
  environments/undercloud.yaml
  puppet/services/nova-compute.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

kernel: make ExtraKernelModules and ExtraSysctlSettings role-specific
  puppet/services/kernel.yaml
  releasenotes/notes/kernel_sysctl_role-d4f6a50d08b7a388.yaml
Due: none

Enable nova-metadata health check
  docker/services/nova-metadata.yaml
Due: none

Adding a workaround for enabling steering in ConnectX-3 devices
  firstboot/conntectx3_streering.yaml
Due: none

Minor update steps for ODL
  common/deploy-steps.j2
  common/services.yaml
  docker/services/opendaylight-api.yaml
  environments/services-docker/update-odl.yaml
  puppet/services/opendaylight-ovs.yaml
  releasenotes/notes/odl_upgrade-f5540d242b9a6b52.yaml
  releasenotes/notes/update_odl-cb997ce5c136ebb7.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Configure deploy logs for Ironic
  puppet/services/ironic-conductor.yaml
Due: none

Fixes certificate generation error for Neutron agents
  docker/services/neutron-l3.yaml
  docker/services/neutron-metadata.yaml
  docker/services/neutron-ovs-agent.yaml
  docker/services/neutron-ovs-dpdk-agent.yaml
  docker/services/neutron-plugin-ml2-cisco-vts.yaml
  docker/services/neutron-plugin-ml2.yaml
  docker/services/neutron-sriov-agent.yaml
  docker/services/ovn-metadata.yaml
  puppet/services/neutron-l3-compute-dvr.yaml
  puppet/services/neutron-l3.yaml
  puppet/services/neutron-lbaas.yaml
  puppet/services/neutron-linuxbridge-agent.yaml
  puppet/services/neutron-metadata.yaml
  puppet/services/neutron-ovs-agent.yaml
  puppet/services/neutron-ovs-dpdk-agent.yaml
  puppet/services/neutron-plugin-ml2-cisco-vts.yaml
  puppet/services/neutron-plugin-ml2-fujitsu-cfab.yaml
  puppet/services/neutron-plugin-ml2-fujitsu-fossw.yaml
  puppet/services/neutron-plugin-ml2-nuage.yaml
  puppet/services/neutron-plugin-ml2-odl.yaml
  puppet/services/neutron-plugin-ml2-ovn.yaml
  puppet/services/neutron-plugin-ml2.yaml
  puppet/services/neutron-plugin-nuage.yaml
  puppet/services/neutron-sriov-agent.yaml
  puppet/services/neutron-sriov-host-config.yaml
  puppet/services/neutron-vpp-agent.yaml
  puppet/services/ovn-metadata.yaml
  releasenotes/notes/fix-tls-neutron-agents-c40d5fc779d53bfa.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container

docker-puppet.py: don't pull if image exists
  docker/docker-puppet.py
Due: none

Enable containers by default
  environments/baremetal-services.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/containers-as-default-37bbe8afa0a60c2b.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Treat enable_debug in Ansible as a bool
  common/deploy-steps-tasks.yaml
Due: none

DPDK deployment fails when there is no deprecated parameters
  roles/ComputeOvsDpdk.yaml
Due: none

undercloud_post: override stackrc
  extraconfig/post_deploy/undercloud_post.sh
Due: none

Fix default nic config file names
  environments/net-bond-with-vlans-no-external.j2.yaml
  environments/net-bond-with-vlans-v6.j2.yaml
  environments/net-bond-with-vlans.j2.yaml
  environments/net-dpdkbond-with-vlans.j2.yaml
  environments/net-multiple-nics-v6.j2.yaml
  environments/net-multiple-nics.j2.yaml
  environments/net-single-nic-linux-bridge-with-vlans.j2.yaml
  environments/net-single-nic-with-vlans-no-external.j2.yaml
  environments/net-single-nic-with-vlans-v6.j2.yaml
  environments/net-single-nic-with-vlans.j2.yaml
  environments/network-environment-v6.j2.yaml
  environments/network-environment.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove registry special casing which no longer has any effect
  overcloud-resource-registry-puppet.j2.yaml
Due: none

Add support for Dell EMC XtremIO Cinder ISCSI Backend
  capabilities-map.yaml
  deployed-server/deployed-server-roles-data.yaml
  environments/cinder-dellemc-xtremio-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/cinder-backend-dellemc-xtremio-iscsi.yaml
  releasenotes/notes/xtremio_cinder_c5572898724a11e7.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerStorageNfs.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

neutron: Call destroy-patch-ports before starting ovs-agent
  docker/services/neutron-ovs-agent.yaml
Due: none

[CVE-2018-1000115] memcached: restrict to TCP & internal_api network
  puppet/services/memcached.yaml
  releasenotes/notes/memcached_hardening-2529734099da27f4.yaml
Due: none

Fix typo in network templates
  network/config/multiple-nics/role.role.j2.yaml
  network/config/single-nic-vlans/role.role.j2.yaml
Due: none

Updated from global requirements
  requirements.txt
  test-requirements.txt
Due: none

A keystone only controller deployment
  README.rst
  ci/environments/scenario000-multinode-containers.yaml
Due: none

Replacing the count with loop.index for indexing
  puppet/all-nodes-config.j2.yaml
Due: none

Add reno for manila generic driver removal
  releasenotes/notes/drop-manila-generic-driver-templates-b33e8966c263a1fd.yaml
Due: none

Added t-h-t for tempest container
  docker/services/tempest.yaml
  environments/enable_tempest.yaml
  environments/services-docker/tempest.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/Undercloud.yaml
  roles/UndercloudLight.yaml
  roles_data_undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add support of netapp configuration for glance in THT
  docker/services/glance-api.yaml
  environments/storage/glance-nfs.yaml
  puppet/services/glance-api.yaml
  sample-env-generator/storage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/ceilometer.*$, ^puppet/services/ceph.*$, ^puppet/services/cinder.*$, ^puppet/services/congress.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/logging.*$, ^puppet/services/metrics.*$, ^puppet/services/monitoring.*$, ^puppet/services/panko.*$, ^puppet/services/tacker.*$, ci/environments/scenario001-multinode.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/congress.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/logging.*$, ^(docker|puppet)/services/metrics.*$, ^(docker|puppet)/services/monitoring.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/barbican.*$, ^puppet/services/ceilometer.*$, ^puppet/services/cinder.*$, ^puppet/services/ec2-api.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/panko.*$, ^puppet/services/swift.*$, ^puppet/services/zaqar.*$, ci/environments/scenario002-multinode.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/barbican.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/ec2-api.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/swift.*$, ^(docker|puppet)/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^puppet/services/glance.*$, ^puppet/services/mistral.*$, ^puppet/services/sahara.*$, ci/environments/scenario003-multinode.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/mistral.*$, ^(docker|puppet)/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^puppet/services/ceph.*$, ^puppet/services/glance.*$, ^puppet/services/manila.*$, ci/environments/scenario004-multinode.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ci/environments/scenario007-multinode.yaml, ci/pingtests/scenario007-multinode.yaml, ^puppet/services/.*ovn.*$, config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^(docker|puppet)/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml
