Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Ensure tasks aren't empty dicts
  tools/yaml-validate.py
Due: none

Add missing check for gnocchi api enabled
  docker/services/gnocchi-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Change ovs RuntimeDirectory Mode
  extraconfig/tasks/pacemaker_common_functions.sh
Due: none

Add parameter for UndercloudNetConfigOverride
  net-config-undercloud.j2.yaml
Due: none

Copy-in neutron cert via kolla extended/start
  docker/services/neutron-dhcp.yaml
Due: none

undercloud: switch to the "direct" deploy interface by default
  environments/undercloud.yaml
  puppet/services/ironic-conductor.yaml
  releasenotes/notes/direct-deploy-by-default-bc78a63f0a0c6e15.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Copy-in libvirt certs via kolla extended/start
  docker/services/nova-libvirt.yaml
Due: none

Expose Horizon "DocumentRoot" on host
  docker/services/horizon.yaml
Due: none

Add /var/log/opendaylight directory to ODL
  docker/services/opendaylight-api.yaml
Due: none

Remove ironic_host_manager usage
  puppet/services/nova-ironic.yaml
Due: none

Instance HA: prevent compute to start on a host being evacuated
  docker/services/nova-compute.yaml
  extraconfig/tasks/instanceha/check-run-nova-compute
Due: none

Fix case-sensitive OctaviaUserName parameter
  puppet/services/octavia-base.yaml
Due: none

Delay collectd start
  docker/services/collectd.yaml
Due: none

heat: align config with instack-undercloud
  environments/undercloud.yaml
  puppet/services/heat-engine.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Set normal CephAnsiblePlaybook on update/upgrade/ffwd converge
  environments/lifecycle/ceph-upgrade-converge.yaml
  environments/lifecycle/ffwd-upgrade-converge.yaml
  environments/lifecycle/update-converge.yaml
  environments/lifecycle/upgrade-converge.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Mount ODL log file on host node
  docker/services/opendaylight-api.yaml
Due: none

Ensure config-download mappings are unset on ceph-upgrade
  environments/lifecycle/ceph-upgrade-converge.yaml
  environments/lifecycle/ceph-upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix typo in multiple-nics/role.role.j2.yaml
  network/config/multiple-nics/role.role.j2.yaml
Due: none

Remove redundant config bond-with-vlans/compute-dpdk.j2.yaml
  network/config/bond-with-vlans/compute-dpdk.j2.yaml
Due: none

undercloud: do not hardcode eth1 for public interface
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

ceph-nfs: disable ganesha caching
  docker/services/ceph-ansible/ceph-nfs.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

[DellEMC]Update Manila Unity driver
  environments/manila-unity-config.yaml
  puppet/services/manila-backend-unity.yaml
  releasenotes/notes/update_manila_unity_driver-43aeb041029c4e7f.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Octavia amphora image handling updates
  docker/services/octavia/octavia-deployment-config.yaml
  releasenotes/notes/octavia-amphora-image-defaults-0d9efe1a0222b76d.yaml
Due: none

Clean up Cinder backends in capabilities map
  capabilities-map.yaml
Due: none

Add support for NVMeOF cinder backend
  capabilities-map.yaml
  environments/cinder-nvmeof-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/cinder-backend-nvmeof.yaml
  releasenotes/notes/add-cinder-backend-nvmeof-023d967980fcf7b8.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Do not overescape the Manila keyring caps
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Make the KeystoneURL stack output versionless
  overcloud.j2.yaml
  releasenotes/notes/Remove-version-from-KeystoneUrl-output-fe4ce6f1a45849d3.yaml
Due: none

Add necessary tags in Controller role for multinode job
  ci/environments/multinode-3nodes.yaml
Due: none

Add EnablePublicTLS flag
  docker/services/haproxy.yaml
  docker/services/pacemaker/haproxy.yaml
  environments/no-tls-endpoints-public-ip.yaml
  puppet/services/haproxy.yaml
  releasenotes/notes/Add-EnablePublicTLS-parameter-b3fcd01af6f3c101.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

add tripleo update job as voting
  zuul.d/layout.yaml
Due: none

Add no-tls environment to env-generator
  environments/ssl/no-tls-endpoints-public.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Change default endpoint map entries to use TLS
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  releasenotes/notes/Use-TLS-endpoints-by-default-6f70ef3c82c547de.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
