Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario000-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: environments/services/octavia.yaml, ^(docker|puppet)/services/.*octavia.*$, ci/environments/scenario010-multinode-containers.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$

Move bootstrap password to an environment var
  docker/services/keystone.yaml
Due: none

Do not run rendering all_nodes data as group_vars in check mode
  common/deploy-steps.j2
Due: none

Move bootstrap password to an environment var
  deployment/keystone/keystone-container-puppet.yaml
Due: none

Fix duplicate mount point in neutron_dhcp
  deployment/neutron/neutron-dhcp-container-puppet.yaml
Due: none

Mode 0750 for /var/log/containers
  common/deploy-steps-tasks.yaml
Due: none

Simplify and correct how we provide the undercloud.conf to mistral
  deployment/mistral/mistral-executor-container-puppet.yaml
Due: none

Added the ability to disable Mellanox SDN sync
  deployment/neutron/neutron-plugin-ml2-mlnx-sdn-assist-container-puppet.yaml
  environments/neutron-ml2-mlnx-sdn.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix typo in OVN upgrade tasks.
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: none

zuul: remove "files" for openstack-tox-tht
  zuul.d/layout.yaml
Due: none

Adds ceph-systemd tag in external_upgrade_tasks for systemd units
  deployment/ceph-ansible/ceph-base.yaml
Due: none

Define ovn_dbs_image fact for upgrades.
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: none

Fix debug hiera keys
  deployment/heat/heat-base-puppet.yaml
  deployment/manila/manila-base.yaml
  deployment/mistral/mistral-base.yaml
  deployment/sahara/sahara-base.yaml
Due: none

Correct mysql-pacemaker upgrade task
  deployment/database/mysql-pacemaker-puppet.yaml
Due: none

container-puppet: update 'env' when not null
  common/container-puppet.py
Due: none

Move KernelArgs and OvS-DPDK deployment to ansible role
  common/deploy-steps.j2
  deployment/kernel/kernel-boot-params-baremetal-ansible.yaml
  deployment/neutron/neutron-ovn-dpdk-config-container-puppet.yaml
  deployment/neutron/neutron-ovs-dpdk-agent-container-puppet.yaml
  deployment/openvswitch/openvswitch-dpdk-baremetal-ansible.yaml
  environments/host-config-and-reboot.j2.yaml
  extraconfig/pre_network/boot_param_tasks.yaml
  extraconfig/pre_network/host_config_and_reboot.yaml
  overcloud-resource-registry-puppet.j2.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add ManageNetworks parameter
  network/network.j2
  releasenotes/notes/manage-networks-9b1e5be19180deff.yaml
Due: none

Remove deployed-server-roles-data.yaml
  deployed-server/deployed-server-roles-data.yaml
  releasenotes/notes/remove-deployed-server-roles-data.yaml-090c4f589ca493fd.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Updates for dcn/dcn-hci sample envs
  environments/dcn-hci.yaml
  environments/dcn.yaml
  sample-env-generator/dcn.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix the amqp presettle option for metrics and events in collectd
  environments/metrics/collectd-write-qdr.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove odl in ComputeSriovIB
  roles/ComputeSriovIB.yaml
Due: none

Use python -m pip instead pip command.
  tox.ini
Due: none

[Steing Only] Correct ovn_dbs_image heat's parameter.
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: none

Use ansible role to create puppet cache
  common/deploy-steps-tasks.yaml
Due: none

Configure SNMP on undercloud
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: none

Include ceph-ansible filter_plugins
  deployment/ceph-ansible/ceph-base.yaml
Due: none
