Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

tripleo-ci-centos-7-scenario001-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario002-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario003-multinode-oooq-container:
  voting: false

docker-registry: add missing firewall rules
  puppet/services/docker-registry.yaml
Due: none

undercloud: remove duplicate Neutron Server entry
  roles/Undercloud.yaml
  roles/UndercloudLight.yaml
  roles_data_undercloud.yaml
Due: none

Add TripleOFirewall service to undercloud roles
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: none

docker: don't override horizon::vhost_extra_params
  docker/services/horizon.yaml
  puppet/services/horizon.yaml
Due: none

Restrict SNMP to internal network
  network/service_net_map.j2.yaml
  puppet/services/snmp.yaml
  releasenotes/notes/snmp_firewall-ab17f60ba1ec71d2.yaml
Due: none

Revert "Disable SNMP service in all CI jobs"
  ci/environments/multinode-3nodes-registry.yaml
  ci/environments/multinode-3nodes.yaml
  ci/environments/multinode-containers.yaml
  ci/environments/multinode.yaml
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario003-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
  ci/environments/scenario006-multinode-containers.yaml
  ci/environments/scenario006-multinode.yaml
  ci/environments/scenario007-multinode-containers.yaml
  ci/environments/scenario009-multinode.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq

Fix a typo in docker_puppet_apply.sh
  docker/services/containers-common.yaml
Due: none

Simplify FastForwardRepoArgs structure used in FFU repo selection.
  puppet/services/tripleo-packages.yaml
Due: none

Removed ovs-dpdk workaround to fix the vhost socket permission
  extraconfig/pre_network/host_config_and_reboot.yaml
Due: none

Add RHELRegistrationActions to rhel-registration template
  extraconfig/pre_deploy/rhel-registration/rhel-registration.yaml
Due: none

Remove unused DeploymentActions resource
  extraconfig/pre_deploy/rhel-registration/rhel-registration.yaml
Due: none

Improve the minor update of the docker service
  puppet/services/docker.yaml
Due: none

Enable multipathd health check
  docker/services/multipathd.yaml
Due: none

Unify the Cinder HA and non-HA docker configurations
  docker/services/cinder-backup.yaml
  docker/services/cinder-common.yaml
  docker/services/cinder-volume.yaml
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Do not use the 3rd argument of yaql groupBy
  overcloud.j2.yaml
Due: none

swift_rsync: don't bind mount /run
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add firewall chain configuration
  puppet/services/tripleo-firewall.yaml
  releasenotes/notes/firewall-chain-management-cf0b38d533646a08.yaml
Due: none

Add enpoints for TripleO UI Config
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  environments/tls-endpoints-public-dns.yaml
  environments/tls-endpoints-public-ip.yaml
  environments/tls-everywhere-endpoints-dns.yaml
  network/endpoints/build_endpoint_map.py
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add reno for manila generic driver removal
  releasenotes/notes/drop-manila-generic-driver-templates-b33e8966c263a1fd.yaml
Due: none

Set rgw_keystone_revocation_interval to 0 for ceph-ansible
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Allows for configuration of the Ceph cluster name
  ci/environments/scenario004-multinode-containers.yaml
  docker/services/ceph-ansible/ceph-base.yaml
  docker/services/cinder-backup.yaml
  docker/services/cinder-volume.yaml
  docker/services/glance-api.yaml
  docker/services/gnocchi-api.yaml
  docker/services/gnocchi-metricd.yaml
  docker/services/gnocchi-statsd.yaml
  docker/services/manila-share.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-libvirt.yaml
  environments/manila-cephfsganesha-config-docker.yaml
  environments/manila-cephfsnative-config-docker.yaml
  environments/manila-cephfsnative-config.yaml
  puppet/services/cinder-backup.yaml
  puppet/services/cinder-volume.yaml
  puppet/services/glance-api.yaml
  puppet/services/gnocchi-base.yaml
  puppet/services/manila-backend-cephfs.yaml
  puppet/services/nova-compute.yaml
  puppet/services/nova-libvirt.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Adding support for ComputeLiquidio role in Network jinja file. Since Liquidio compute nodes contain Liquidio smart NIC, tenant network ip is assigned in the smart NIC instead of Compute node.
  network/config/multiple-nics/role.role.j2.yaml
  network/config/single-nic-linux-bridge-vlans/role.role.j2.yaml
  roles/ComputeLiquidio.yaml
  roles/README.rst
Due: none

Fix Heat condition for RHEL registration yum update
  extraconfig/pre_deploy/rhel-registration/rhel-registration.yaml
  releasenotes/notes/fix-heat-condition-for-rhel-reg-311a3dce76cc0ec1.yaml
Due: none

FFU: Introduce gnocchi fast-forward-upgrade tasks
  docker/services/gnocchi-api.yaml
  docker/services/gnocchi-metricd.yaml
  docker/services/gnocchi-statsd.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Refactor get-occ-config.sh
  deployed-server/scripts/get-occ-config.sh
Due: none

ffu: Introduce Pacemaker fast-forward upgrade tasks
  puppet/services/pacemaker.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

ffu: Introduce Nova fast-forward upgrade tasks
  docker/services/nova-api.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-conductor.yaml
  docker/services/nova-consoleauth.yaml
  docker/services/nova-ironic.yaml
  docker/services/nova-scheduler.yaml
  docker/services/nova-vnc-proxy.yaml
Due: none

ffu: Add fast-forward-upgrade env
  environments/fast-forward-upgrade.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

ffu: Introduce Swift fast-forward upgrade tasks
  docker/services/swift-proxy.yaml
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

ffu: Introduce prep workarounds for FFU
  common/deploy-steps.j2
Due: none

ffu: Introduce Cinder fast-forward upgrade tasks
  docker/services/cinder-api.yaml
  docker/services/cinder-scheduler.yaml
  docker/services/cinder-volume.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

ffu: Introduce Glance fast-forward upgrade tasks
  docker/services/glance-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add OVN Hardware Offloading environment files
  environments/neutron-ml2-ovn-hw-offload.yaml
  puppet/services/ovn-controller.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add cisco VTS ML2 template for a dockerized service and default environment settings
  capabilities-map.yaml
  docker/services/neutron-plugin-ml2-cisco-vts.yaml
  environments/neutron-ml2-cisco-vts.yaml
  environments/services-docker/neutron-ml2-cisco-vts.yaml
  puppet/services/neutron-plugin-ml2-cisco-vts.yaml
  releasenotes/notes/add_cisco_vts_ml2_docker-0d7cfafe4647074d.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/ceilometer.*$, ^puppet/services/ceph.*$, ^puppet/services/cinder.*$, ^puppet/services/congress.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/logging.*$, ^puppet/services/metrics.*$, ^puppet/services/monitoring.*$, ^puppet/services/panko.*$, ^puppet/services/tacker.*$, ci/environments/scenario001-multinode.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/congress.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/logging.*$, ^(docker|puppet)/services/metrics.*$, ^(docker|puppet)/services/monitoring.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/barbican.*$, ^puppet/services/ceilometer.*$, ^puppet/services/cinder.*$, ^puppet/services/ec2-api.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/panko.*$, ^puppet/services/swift.*$, ^puppet/services/zaqar.*$, ci/environments/scenario002-multinode.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/barbican.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/ec2-api.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/swift.*$, ^(docker|puppet)/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^puppet/services/glance.*$, ^puppet/services/mistral.*$, ^puppet/services/sahara.*$, ci/environments/scenario003-multinode.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/mistral.*$, ^(docker|puppet)/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^puppet/services/ceph.*$, ^puppet/services/glance.*$, ^puppet/services/manila.*$, ci/environments/scenario004-multinode.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ci/environments/scenario007-multinode.yaml, ci/pingtests/scenario007-multinode.yaml, ^puppet/services/.*ovn.*$, config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^(docker|puppet)/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml
