Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$

Revert "Switch public endpoints to use FQDNs by default"
  environments/predictable-placement/custom-domain.yaml
  extraconfig/nova_metadata/krb-service-principals.j2.yaml
  network/endpoints/build_endpoint_map.py
  network/endpoints/endpoint_map.yaml
  overcloud.j2.yaml
  releasenotes/notes/Overcloud-endpoints-FQDN-78797a6c34e31bd5.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

undercloud: change upgrade steps
  docker/services/database/mysql.yaml
  docker/services/undercloud-upgrade.yaml
Due: none

Use rabbitmq service principal in metadata settings
  puppet/services/messaging/notify-rabbitmq.yaml
  puppet/services/messaging/rpc-rabbitmq.yaml
Due: none

Enable logging for tempest container
  docker/services/tempest.yaml
Due: none

FFU Add cinder-backup missing fast_forward_upgrade_tasks
  docker/services/pacemaker/cinder-backup.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Don't use crudini to get rhn server
  extraconfig/pre_deploy/rhel-registration/scripts/rhel-registration
Due: none

Fix cinder-backup image wrangling on update
  docker/services/pacemaker/cinder-backup.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Allow custom time constraints to rotate logs
  docker/services/logrotate-crond.yaml
  releasenotes/notes/logrotate-containers-purge-a5587253fe6cbb28.yaml
Due: none

Correct log location in container environment for Fluentd
  docker/services/ceilometer-agent-central.yaml
  docker/services/ceilometer-agent-ipmi.yaml
  docker/services/ceilometer-agent-notification.yaml
  docker/services/cinder-api.yaml
  docker/services/cinder-scheduler.yaml
  docker/services/cinder-volume.yaml
  docker/services/designate-producer.yaml
  docker/services/designate-sink.yaml
  docker/services/designate-worker.yaml
  docker/services/ec2-api.yaml
  docker/services/glance-api.yaml
  docker/services/gnocchi-api.yaml
  docker/services/heat-api-cfn.yaml
  docker/services/heat-api.yaml
  docker/services/heat-engine.yaml
  docker/services/keystone.yaml
  docker/services/neutron-api.yaml
  docker/services/neutron-dhcp.yaml
  docker/services/neutron-l3.yaml
  docker/services/neutron-metadata.yaml
  docker/services/neutron-ovs-agent.yaml
  docker/services/nova-api.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-conductor.yaml
  docker/services/nova-consoleauth.yaml
  docker/services/nova-metadata.yaml
  docker/services/nova-placement.yaml
  docker/services/nova-scheduler.yaml
  docker/services/nova-vnc-proxy.yaml
  docker/services/octavia-api.yaml
  docker/services/octavia-health-manager.yaml
  docker/services/octavia-housekeeping.yaml
  docker/services/octavia-worker.yaml
  docker/services/ovn-metadata.yaml
  docker/services/sahara-api.yaml
  docker/services/sahara-engine.yaml
  docker/services/tripleo-ui.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove support for puppet-ceph
  environments/ceph-radosgw.yaml
  environments/puppet-ceph-devel.yaml
  environments/puppet-ceph-external.yaml
  environments/puppet-ceph.yaml
  environments/services/ceph-mds.yaml
  environments/services/ceph-rbdmirror.yaml
  environments/storage/enable-ceph.yaml
  environments/storage/external-ceph.yaml
  puppet/services/ceph-base.yaml
  puppet/services/ceph-client.yaml
  puppet/services/ceph-external.yaml
  puppet/services/ceph-mds.yaml
  puppet/services/ceph-mon.yaml
  puppet/services/ceph-osd.yaml
  puppet/services/ceph-rgw.yaml
  puppet/services/pacemaker/ceph-rbdmirror.yaml
  releasenotes/notes/remove-support-for-puppet-ceph-bdafca24a59e7075.yaml
  sample-env-generator/storage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Remove step_config from CinderVolume backend services
  puppet/services/cinder-backend-dellemc-unity.yaml
  puppet/services/cinder-backend-dellemc-vmax-iscsi.yaml
  puppet/services/cinder-backend-dellemc-vnx.yaml
  puppet/services/cinder-backend-dellps.yaml
  puppet/services/cinder-backend-dellsc.yaml
  puppet/services/cinder-backend-netapp.yaml
  puppet/services/cinder-backend-pure.yaml
  puppet/services/cinder-backend-scaleio.yaml
  puppet/services/cinder-backend-veritas-hyperscale.yaml
  puppet/services/cinder-hpelefthand-iscsi.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add ability to pre-assign IPs by role on ctlplane
  environments/ips-from-pool-ctlplane.yaml
  puppet/role.role.j2.yaml
  releasenotes/notes/ctlplane_fixed_ip-81d14db5a01fa531.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Deploy Docker via Ansible and not Puppet
  puppet/services/docker-registry.yaml
  puppet/services/docker.yaml
Due: none

Mount /var/run/redis for the redis socket
  docker/services/database/redis.yaml
Due: none

Deployed Server - portmap should match neutron API
  deployed-server/deployed-neutron-port.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Enhance completion message when upgrading non controller nodes
  extraconfig/tasks/tripleo_upgrade_node.sh
Due: none

Only add internal_api_virtual_ip if InternalApi is in network_data
  puppet/all-nodes-config.j2.yaml
Due: none

Use str_replace for known_hosts
  extraconfig/tasks/ssh/known_hosts_config.yaml
  overcloud.j2.yaml
Due: none

Don't delete br-ex on upgrade in multinode jobs
  ci/common/net-config-multinode-os-net-config.yaml
Due: none

Remove ceph-osd from the list of packages updated by CephExternal
  puppet/services/ceph-external.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

collectd: give access to the libvirt socket in ro
  docker/services/collectd.yaml
Due: none

Set normal CephAnsiblePlaybook on update/upgrade/ffwd converge
  environments/lifecycle/ceph-upgrade-converge.yaml
  environments/lifecycle/ffwd-upgrade-converge.yaml
  environments/lifecycle/update-converge.yaml
  environments/lifecycle/upgrade-converge.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add support of shared staging location for glance-direct
  docker/services/glance-api.yaml
  environments/storage/glance-nfs.yaml
  puppet/services/glance-api.yaml
  sample-env-generator/storage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Merge values for same key from multiple services
  common/services.yaml
  releasenotes/notes/merge_keys_from_services-cd17425d58b49840.yaml
Due: none

Fix known hosts config script value
  extraconfig/tasks/ssh/known_hosts_config.yaml
Due: none

docker: cleanup update tasks
  puppet/services/docker.yaml
Due: none

Trigger scenario003 on designate changes
  zuul.d/layout.yaml
Due: none

Bring update/upgrade tasks for OsloMessagingRpc up to date
  docker/services/pacemaker/rpc-rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Honor {{role.name}}ExtraConfig with deprecated params
  puppet/role.role.j2.yaml
  releasenotes/notes/use-role-name-ExtraConfig-with-deprecations-2688f34fbc6de74a.yaml
Due: none
