Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$

Telemetry services need to access to Storage
  roles/Telemetry.yaml
Due: none

Introduce Ceph upgrade environments
  environments/lifecycle/ceph-upgrade-converge.yaml
  environments/lifecycle/ceph-upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Octavia amphora image handling updates
  docker/services/octavia/octavia-deployment-config.yaml
  releasenotes/notes/octavia-amphora-image-defaults-0d9efe1a0222b76d.yaml
Due: none

Enable heat-ui plugin for horizon by default
  docker/services/horizon.yaml
Due: none

Create /var/log/containers on Swift storage-only nodes
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Default collectd to overcloud gnocchi
  puppet/services/metrics/collectd.yaml
  releasenotes/notes/collectd-overcloud-gnocchi-049a63bbd196a9bb.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Set live_migration_inbound_addr for ssh transport
  puppet/services/nova-libvirt.yaml
  releasenotes/notes/live_migration_inbound_addr_all_transports-2fc9cd74d435a367.yaml
Due: none

Fix Cinder's default db purge cron settings
  puppet/services/cinder-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Deploy Designate in scenario003
  README.rst
  ci/environments/scenario003-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

Fix path to deployed-server-environment.yaml
  deployed-server/README.rst
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Add volumes list of docker-puppet container when merging config volumes
  docker/docker-puppet.py
Due: none

[DellEMC]Update Manila VNX driver
  environments/manila-vnx-config.yaml
  puppet/services/manila-backend-vnx.yaml
  releasenotes/notes/update_manila_vnx_driver-678b22c4fcd81fcf.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

[DellEMC]Update Manila Unity driver
  environments/manila-unity-config.yaml
  puppet/services/manila-backend-unity.yaml
  releasenotes/notes/update_manila_unity_driver-43aeb041029c4e7f.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

No-op Mistral workflow resources for update/upgrade/ffwd
  common/deploy-steps.j2
  environments/lifecycle/ffwd-upgrade-converge.yaml
  environments/lifecycle/ffwd-upgrade-prepare.yaml
  environments/lifecycle/update-converge.yaml
  environments/lifecycle/update-prepare.yaml
  environments/lifecycle/upgrade-converge.yaml
  environments/lifecycle/upgrade-prepare.yaml
  overcloud-resource-registry-puppet.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Do not pass ceph_release to ceph-ansible
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Added missing pki volume for custom CA.
  docker/services/containers-common.yaml
Due: none

Fix few issues with deploying with baremetal-services.yaml
  environments/baremetal-services.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Explicitly set nova/neutron/ceilometer host to expected fqdn
  puppet/blockstorage-role.yaml
  puppet/cephstorage-role.yaml
  puppet/compute-role.yaml
  puppet/controller-role.yaml
  puppet/objectstorage-role.yaml
  puppet/role.role.j2.yaml
  puppet/services/ceilometer-base.yaml
  puppet/services/neutron-base.yaml
  puppet/services/nova-base.yaml
  releasenotes/notes/fix_nova_host-0b82c88597703353.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Modify libvirt port range for live-migration
  puppet/services/nova-libvirt.yaml
  releasenotes/notes/live_migration_port_range-54c28faf0a67a3fc.yaml
Due: none

Switch to config-download by default
  environments/config-download-environment.yaml
  environments/disable-config-download-environment.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/config-download-default-to-true-2331debd56c396eb.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add defaults into name property for config-download.
  config-download-software.yaml
  config-download-structured.yaml
Due: none

Upload validations to swift on undercloud install
  extraconfig/post_deploy/undercloud_post.sh
Due: none

Add validation on role names
  roles/ControllerStorageNfs.yaml
  roles/UndercloudLight.yaml
  tools/yaml-validate.py
Due: none

Disable StrictHostKeyChecking when removing keys too
  deployed-server/scripts/enable-ssh-admin.sh
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Enable Neutron LBaaS Integration
  environments/services/neutron-lbaasv2.yaml
  releasenotes/notes/enable-neutron-lbaas-integration-fa999ccd548ee6b6.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Allows Configuration of Additional of Lbaas and Neutron
  environments/services/neutron-lbaasv2.yaml
  puppet/services/neutron-api.yaml
  puppet/services/neutron-lbaas.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add neutron "segments" plugin to the default list
  puppet/services/neutron-base.yaml
  releasenotes/notes/add_neutron_segments_plugin_to_default-8acb69b112d4b31c.yaml
Due: none

Make pcs resource bundle image name update tolerant of rerun
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Adding missing space in octavia-worker.yaml
  puppet/services/octavia-worker.yaml
Due: none

Improve nova-ironic cellv2 discovery
  docker/services/nova-api.yaml
  docker/services/nova-ironic.yaml
  environments/services/ironic.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix deprecations in the ironic modules
  puppet/services/ironic-api.yaml
  puppet/services/ironic-conductor.yaml
  puppet/services/ironic-inspector.yaml
Due: none

Fixes chowning neutron cert/key perms
  docker/services/neutron-dhcp.yaml
Due: none
