Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

[DellEMC]Update Manila VNX driver
  environments/manila-vnx-config.yaml
  puppet/services/manila-backend-vnx.yaml
  releasenotes/notes/update_manila_vnx_driver-678b22c4fcd81fcf.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add sanity checks for xinetd service restart.
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add pvremove to the disk clean step
  extraconfig/services/openshift-cns.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Add blankline for readability
  common/deploy-steps.j2
Due: none

Fix GlanceRegistry FFU cleanup
  environments/lifecycle/ffwd-upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix fail_if_empty invocation with pipes
  deployed-server/scripts/get-occ-config.sh
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Add ability to pre-assign IPs by role on ctlplane
  environments/ips-from-pool-ctlplane.yaml
  puppet/role.role.j2.yaml
  releasenotes/notes/ctlplane_fixed_ip-81d14db5a01fa531.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add keystone only job for queens
  zuul.d/layout.yaml
Due: none

Add docker service to OpenShift CI roles
  ci/environments/scenario009-multinode.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Add tempest container to docker.yaml
  environments/docker.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix typo with Manila upgrade template
  docker/services/pacemaker/manila-share.yaml
  releasenotes/notes/bug-1775667-fix-manila-share-typo-upgrade-82d9b3edea77b94a.yaml
Due: tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Match Net:SoftwareConfig resource in scenario000 to other scenarios
  ci/environments/scenario000-multinode-containers.yaml
Due: none

Upgrades: Refactor package removal to step3
  docker/services/aodh-api.yaml
  docker/services/aodh-evaluator.yaml
  docker/services/aodh-listener.yaml
  docker/services/aodh-notifier.yaml
  docker/services/barbican-api.yaml
  docker/services/ceilometer-agent-central.yaml
  docker/services/ceilometer-agent-compute.yaml
  docker/services/ceilometer-agent-ipmi.yaml
  docker/services/ceilometer-agent-notification.yaml
  docker/services/cinder-api.yaml
  docker/services/cinder-backup.yaml
  docker/services/cinder-scheduler.yaml
  docker/services/cinder-volume.yaml
  docker/services/collectd.yaml
  docker/services/congress.yaml
  docker/services/glance-api.yaml
  docker/services/neutron-api.yaml
  docker/services/neutron-ovs-agent.yaml
  docker/services/nova-api.yaml
  docker/services/nova-conductor.yaml
  docker/services/nova-consoleauth.yaml
  docker/services/nova-placement.yaml
  docker/services/nova-scheduler.yaml
  docker/services/nova-vnc-proxy.yaml
  docker/services/octavia-health-manager.yaml
  docker/services/sahara-api.yaml
  docker/services/sahara-engine.yaml
  docker/services/swift-proxy.yaml
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Introduce restart_bundle containers to detect config changes and restart pacemaker resources
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

ffu: Add missing nova-manage db sync for Pike upgrade
  docker/services/nova-api.yaml
Due: none

Fix update/upgrade or config change for ODL
  docker/services/opendaylight-api.yaml
  releasenotes/notes/fix-odl-update-upgrade-cache-83004abe108971c1.yaml
Due: none

rerun *_init_bundles all the time
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

fix tox python3 overrides
  tox.ini
Due: none

Add missing 'update_tasks' to the OVN dbs pacemaker service
  docker/services/pacemaker/ovn-dbs.yaml
  releasenotes/notes/ovn-dbs-ha-fix-minor-update-issue-3a1206549e3b75aa.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Match only haproxy for docker ps and skipp all *-haproxy occurences
  puppet/extraconfig/tls/tls-cert-inject.yaml
Due: none

Map OpenShift resources to services
  ci/environments/scenario009-multinode.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Do not fail on non existent ansible group
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-worker.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Add host_prep_task to setup proper logging for Swift
  docker/services/swift-proxy.yaml
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Updates: run host_prep_tasks between update tasks and deployment tasks
  common/deploy-steps.j2
Due: none

Set Ceph pools rule_name to replicated_rule
  ci/environments/scenario001-multinode-containers.yaml
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix typo
  puppet/role.role.j2.yaml
  tools/process-templates.py
Due: none

Uses new format for CephX keys caps
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Support enabling Debug in OVN metadata agent
  puppet/services/ovn-metadata.yaml
  releasenotes/notes/ovn_metadata_agent_support_debug_mode-9d0656ce156a3c91.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Enable secure TUNNELLED mode for NFS
  puppet/services/nova-compute.yaml
Due: none

Add nfs as a cinder backup driver option to CinderBackupBackend
  docker/services/pacemaker/cinder-backup.yaml
  environments/storage-environment.yaml
  puppet/services/cinder-backup.yaml
  puppet/services/pacemaker/cinder-backup.yaml
  releasenotes/notes/add-cinder-backup-nfs-backend-0108fba91a3058ea.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Use UpgradeInitCommonCommand with deployed-server too
  deployed-server/deployed-server.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Refactor get-occ-config.sh
  deployed-server/scripts/get-occ-config.sh
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

get-occ-config.sh: fix handling multiple nodes in a role
  deployed-server/scripts/get-occ-config.sh
  releasenotes/notes/fix-get-occ-config-with-role-count-greater-1-10ce2010556e5b76.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Introduce wait_backoff, fail_if_empty wrappers
  deployed-server/scripts/get-occ-config.sh
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
