Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$

import zuul job settings from project-config
  zuul.d/layout.yaml
Due: none

Enable neutron-sriov-agent health check
  docker/services/neutron-sriov-agent.yaml
Due: none

Create missing directories before mounting them
  docker/services/glance-api.yaml
  docker/services/iscsid.yaml
  docker/services/mistral-executor.yaml
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Always lowercase role name
  puppet/role.role.j2.yaml
Due: none

Fix neutron dhcp log path
  docker/services/neutron-dhcp.yaml
Due: none

Make redeploy idempotent
  docker/docker-puppet.py
Due: none

Simplify ssh known_hosts entries for non-default port
  puppet/role.role.j2.yaml
Due: none

Remove unused config file when start ovs agent
  docker/services/neutron-ovs-agent.yaml
Due: none

Add OctaviaEventStreamerDriver and change default
  puppet/services/octavia-health-manager.yaml
  releasenotes/notes/octavia-change-event_streamer_driver-default-e5152c28713e7707.yaml
Due: none

python3ification of docker-puppet.py
  docker/docker-puppet.py
Due: none

switch documentation job to new PTI
  zuul.d/layout.yaml
Due: none

Add scenario010 to check job list
  zuul.d/layout.yaml
Due: none

Add BlacklistedHostnames stack output
  overcloud.j2.yaml
  releasenotes/notes/blacklistedhostnames-stack-output-02c9f93f9d1ce7d8.yaml
Due: none

Add BlacklistedIpAddresses stack output
  overcloud.j2.yaml
Due: none

Pass parameters for TLS proxy in front of Octavia-API
  puppet/services/octavia-api.yaml
Due: none

Add role definition for ComputeOvsDpdkSriov role
  roles/ComputeOvsDpdkSriov.yaml
  roles/ComputeOvsDpdkSriovRT.yaml
Due: none

Set virt queue size as 1024 for all OVS-DPDK roles
  roles/ComputeOvsDpdk.yaml
  roles/ComputeOvsDpdkRT.yaml
  roles/ComputeOvsDpdkSriov.yaml
  roles/ComputeOvsDpdkSriovRT.yaml
Due: none

Run online data migrations
  docker/services/README.rst
  docker/services/cinder-api.yaml
  docker/services/ironic-api.yaml
  docker/services/nova-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Move to openshift-ansible 3.10
  ci/environments/scenario009-multinode.yaml
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-worker.yaml
  roles/OpenShiftInfra.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Add chrony support to validations
  validation-scripts/all-nodes.sh
Due: none

undercloud: deploy kernel composable service
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: none

Add a gateway IP to the Management net in network_data.yaml
  network_data.yaml
  network_data_ganesha.yaml
  network_data_routed.yaml
Due: none

Allow performing Ceph update/upgrade separately
  common/deploy-steps.j2
  docker/services/ceph-ansible/ceph-base.yaml
  docker/services/ceph-ansible/ceph-client.yaml
  docker/services/ceph-ansible/ceph-external.yaml
  docker/services/ceph-ansible/ceph-mds.yaml
  docker/services/ceph-ansible/ceph-mgr.yaml
  docker/services/ceph-ansible/ceph-mon.yaml
  docker/services/ceph-ansible/ceph-nfs.yaml
  docker/services/ceph-ansible/ceph-osd.yaml
  docker/services/ceph-ansible/ceph-rbdmirror.yaml
  docker/services/ceph-ansible/ceph-rgw.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Update sample-env-generator files to make it use ceph-ansible
  environments/storage/enable-ceph.yaml
  environments/storage/external-ceph.yaml
  sample-env-generator/storage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Do not enable Ram/Disk Filter with filter_scheduler
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix interfaces in boot_param_tasks
  extraconfig/pre_network/ansible_host_config.yaml
Due: none

Don't use keystone admin endpoint for nova placement
  puppet/services/nova-placement.yaml
Due: none

iscsi: workaround to let podman read /dev/null
  docker/services/iscsid.yaml
Due: none

Disable sync_power_state_interval in containerized undercloud
  environments/undercloud.yaml
  puppet/services/nova-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Initial support for Podman in docker-puppet
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
  docker/docker-puppet.py
Due: none

Add template to disable Panko services
  environments/disable-panko.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Persist ceph-ansible fetch_directory using config-download
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container
