Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Change log directory for OpenDaylight
  docker/services/logging/files/opendaylight-api.yaml
  releasenotes/notes/fix-odl-karaf-logging-eca10973e57caa3a.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Check if openstack-glance-registry is enabled before stopping it.
  puppet/services/disabled/glance-registry-disabled.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Allow a containerized logrotate to access docker
  docker/services/logrotate-crond.yaml
Due: none

Add nova file_backed_memory and memory_backing_dir support for qemu.conf
  docker/services/nova-libvirt.yaml
  puppet/services/nova-compute.yaml
  puppet/services/nova-libvirt.yaml
  releasenotes/notes/nova_file_backed_memory_and_memory_backing_dir_support_for_qemu-accfda4919b3d9dd.yaml
Due: none

Ping default gateways before controllers
  releasenotes/notes/ping-gateway-before-controllers-e029e81961dbaee8.yaml
  validation-scripts/all-nodes.sh
Due: none

Update standalone role
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  releasenotes/notes/all-in-one-via-undercloud.yaml-8766b43a20a4270f.yaml
  roles/Standalone.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Allow to run bootstrap containers in privileged mode.
  docker/docker-puppet.py
Due: none

Undercloud - Restart keepalived on update
  environments/undercloud.yaml
  extraconfig/pre_deploy/undercloud_pre.sh
  extraconfig/pre_deploy/undercloud_pre.yaml
  releasenotes/notes/fix-contiainer-underloud-keepalived-needs-restart-6d7efbb9788e0f95.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add ERL args parameter for rabbit and set the busy wait threshold to none
  puppet/services/rabbitmq.yaml
  releasenotes/notes/rabbitmq-erl-args-9029cf4605d63dd9.yaml
Due: none

Remove unused bootstrap-config.yaml
  bootstrap-config.yaml
Due: none

Add posibilities to set tunnel_csum in ovs agent
  puppet/services/neutron-ovs-agent.yaml
  releasenotes/notes/bug-1794268-0f875aa640b4246e.yaml
Due: none

Pass NeutronMechanismDrivers parameter to prepare
  puppet/services/container-image-prepare.j2.yaml
Due: none

Do not disable ipv6 on loopback interface for epmd
  puppet/services/kernel.yaml
Due: none

Always lowercase role name
  puppet/role.role.j2.yaml
Due: none

Tag step plays
  common/deploy-steps.j2
  releasenotes/notes/tag-step-plays-b1b1ea7584f1665d.yaml
Due: none

Remove "when failed" from debug task names
  common/deploy-steps-tasks.yaml
Due: none

Persist ceph-ansible fetch_directory using config-download
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Tag tasks in in common tasks
  common/deploy-steps-tasks.yaml
  releasenotes/notes/tag-common-tasks-4a78275787655fdd.yaml
Due: none

Add a fact checking xinetd service present
  docker/services/xinetd.yaml
Due: none

In process-templates script write output files to provided dir when using base path
  tools/process-templates.py
Due: none

Configure http/https on OVN Metadata service to talk to Nova
  puppet/services/ovn-metadata.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Don't configure BIND to listen on localhost
  ci/environments/scenario003-multinode-containers.yaml
  environments/enable-designate.yaml
  puppet/services/designate-worker.yaml
  sample-env-generator/enable-services.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add a zaqar-swift-backend environment file
  environments/services/zaqar-swift-backend.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Set mysql connect timeout in the undercloud
  docker/services/database/mysql.yaml
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Move nova-metadata api to httpd wsgi
  docker/services/logging/files/nova-metadata.yaml
  docker/services/logging/stdout/nova-metadata.yaml
  docker/services/nova-metadata.yaml
  environments/stdout-logging.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/nova-metadata.yaml
  releasenotes/notes/nova_metadata_wsgi-bfb240bc84194d05.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Cleanup ControllerStorageNfs role
  roles/ControllerStorageNfs.yaml
Due: none

Pacemaker-cinder-volume & pacemaker-cinder-backup log path fix
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  puppet/services/pacemaker/cinder-backup.yaml
  puppet/services/pacemaker/cinder-volume.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Mount /usr/share/ceph-ansible into mistral-executor
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove unused parameter NeutronEnableDHCPAgent
  ci/environments/scenario007-multinode-containers.yaml
  environments/neutron-ml2-ovn-dvr-ha.yaml
  environments/neutron-ml2-ovn-ha.yaml
  environments/neutron-ml2-ovn-hw-offload.yaml
  environments/services-baremetal/neutron-ovn-dvr-ha.yaml
  environments/services-baremetal/neutron-ovn-ha.yaml
  environments/services-baremetal/neutron-ovn-hw-offload.yaml
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-hw-offload.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Don't merge /etc/collectd.d
  docker/services/metrics/collectd.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Don't merge /etc/collectd.d
  docker/services/collectd.yaml
Due: none

docker-puppet.py: used dedicated hiera entry, not uuid
  docker/docker-puppet.py
  docker/services/containers-common.yaml
  puppet/role.role.j2.yaml
Due: none

Add UseNotifySSL to environments/ssl/enable-internal-tls.yaml
  environments/ssl/enable-internal-tls.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Convert with_dict tasks to use loop and be less chatty
  common/deploy-steps-tasks.yaml
Due: none

check mode: puppet host
  common/deploy-steps-tasks.yaml
Due: none

Allow to deactivate SELinux separation for selected containers
  docker/services/haproxy.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
