Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario011-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^(deployment|docker|puppet)/.*tacker.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-multinode-containers.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(deployment|docker|puppet)/.*ironic.*$, ^environments\/.*ironic.*$
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^ci/common/.*$, ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^deployment/.*kubernetes/.*$, ci/environments/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*

Check Ceph*Key value format and halt on error
  deployment/ceph-ansible/ceph-base.yaml
  deployment/ceph-ansible/ceph-mds.yaml
  deployment/ceph-ansible/ceph-mon.yaml
  deployment/manila/manila-backend-cephfs.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use ipc:host for cinder-backup
  docker/services/cinder-backup.yaml
Due: none

Restart ovn-dbs resource to take new VIP property.
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

HA: reorder init_bundle and restart_bundle for improved updates
  container_config_scripts/pacemaker_restart_bundle.sh
  container_config_scripts/pacemaker_wait_bundle.sh
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/containers-common.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Run the swift_rsync container unprivileged
  deployment/swift/swift-storage-container-puppet.yaml
Due: none

Remove support for ceph-ansible fetch directory
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario004-standalone.yaml
  ci/environments/scenario010-standalone.yaml
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

nova-compute-container: add missing condition for ksmdisabled
  deployment/nova/nova-compute-container-puppet.yaml
Due: none

Add j2 per-role MetricsQdrNetwork
  deployment/ceilometer/ceilometer-agent-notification-container-puppet.yaml
  deployment/metrics/collectd-container-puppet.yaml
  deployment/metrics/qdr-container-puppet.yaml
  environments/metrics/collectd-write-qdr.yaml
  environments/metrics/qdr-edge-only.yaml
  environments/metrics/qdr-form-controller-mesh.yaml
  network/service_net_map.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use command to set pythonintepreter
  deployment/ipa/ipaclient-baremetal-ansible.yaml
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
Due: none

Fixed package names for CentOS-8 octavia deployment
  deployment/octavia/octavia-worker-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add NeutronDhcpAgentDnsmasqEnableAddr6List param
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  releasenotes/notes/neutron-add-dnsmasq_enable_addr6_list-ead32a7739431607.yaml
Due: none

Add the certificate specs in ceph_mgr service
  deployment/ceph-ansible/ceph-mgr.yaml
  environments/ssl/no-tls-endpoints-public-ip.yaml
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  network/service_net_map.j2.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add CephBasePoolVars and CephKeyVars structures
  ci/environments/scenario001-standalone.yaml
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

update tht standalone scenario jobs for centos-8
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

update containers-multinode, minion to centos-8
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Update the number of keystone workers
  deployment/keystone/keystone-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove comment about tripleo_container_manage being experimental
  common/deploy-steps-tasks.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Optionally configure Ceph RGW listener with SSL
  deployment/ceph-ansible/ceph-base.yaml
  deployment/ceph-ansible/ceph-rgw.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix mapping of KeystoneOpenIdcEnableOAuth
  deployment/keystone/keystone-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Trigger ceph-ansible on ceph_systemd tag too
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix glance backend for scenario010
  ci/environments/scenario010-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Cleanup tasks for container-puppet.py
  common/deploy-steps-tasks-step-0.j2.yaml
  common/deploy-steps-tasks-step-1.yaml
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
  common/generate-config-tasks.yaml
  deployment/README.rst
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Remove duplicated topic parts from default value
  ci/environments/scenario001-standalone.yaml
  deployment/ceilometer/ceilometer-agent-notification-container-puppet.yaml
  environments/metrics/ceilometer-write-qdr.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove unneccessary indentation from common tasks
  common/deploy-steps-tasks.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Use a common playbook import for common plays
  common/deploy-steps-playbooks-common.yaml
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Add role_specific tag to missing role-specific parameters
  puppet/services/neutron-ovs-agent.yaml
  puppet/services/opendaylight-ovs.yaml
  puppet/services/ovn-controller.yaml
  puppet/services/time/ptp.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Check Ceph*Key value format and halt on error
  deployment/ceph-ansible/ceph-base.yaml
  deployment/ceph-ansible/ceph-mon.yaml
  deployment/manila/manila-backend-cephfs.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Forces root for get_ssh_private_key
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

[update/upgrade] Use include_tasks instead of import_tasks
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Remove stray conditional from aodh-evaluator tasks
  deployment/aodh/aodh-evaluator-container-puppet.yaml
Due: none

[TRAIN-ONLY] Add systemd-wrapper update tasks
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container
