Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa, tripleo-ci-centos-7-scenario011-multinode-oooq-container

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-tht

tripleo-ci-centos-7-scenario010-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-tht

Disable Sahara in scenario003-standalone
  ci/environments/scenario003-standalone.yaml
Due: none

Support for Dell EMC VXFlexOS Backend
  deployment/cinder/cinder-backend-dellemc-vxflexos-puppet.yaml
  environments/cinder-dellemc-vxflexos-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/vxflexos-driver-bec8e372280c44e6.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerStorageDashboard.yaml
  roles/ControllerStorageNfs.yaml
  roles/Standalone.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Support for Xtremio Cinder Backend
  deployment/cinder/cinder-backend-dellemc-xtremio-puppet.yaml
  environments/cinder-dellemc-xtremio-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/xtremio-driver-a428f372280c44e6.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerStorageDashboard.yaml
  roles/ControllerStorageNfs.yaml
  roles/Standalone.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add composible service for tls enrollment
  deployment/tls/undercloud-tls.yaml
  environments/services/undercloud-tls.yaml
  environments/undercloud/undercloud-minion.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Improve documentations for NovaLibvirtFileBackedMemory
  deployment/nova/nova-compute-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Ironic create_swift_temp_url_key use internal edpoint
  deployment/ironic/ironic-conductor-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario011-multinode-oooq-container

Move nova online migrations to nova-conductor
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Consider user configuration during the derivation of passthrough whitelist
  deployment/neutron/derive_pci_passthrough_whitelist.py
  deployment/neutron/neutron-sriov-agent-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Allow triggering ceph-ansible filestore-to-bluestore with ceph_fstobs tag
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Update loop_vars
  common/container_startup_configs_tasks.yaml
  deployment/deprecated/docker/docker-baremetal-ansible.yaml
  deployment/podman/podman-baremetal-ansible.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

[TRAIN ONLY] Introduce hybrid state for nova compute
  deployment/nova/nova-compute-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Disable presettled metrics
  ci/environments/scenario001-standalone.yaml
  environments/enable-stf.yaml
  environments/metrics/collectd-write-qdr.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Update minion rabbit credentials
  deployment/undercloud/minion-rabbitmq-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Consider user configuration during the derivation of passthrough whitelist
  docker/services/derive_pci_passthrough_whitelist.py
  docker/services/neutron-sriov-agent.yaml
Due: none

Adding env file for octavia with kvm
  ci/environments/octavia-kvm.yaml
Due: none

Update octavia playbooks parameters
  deployment/octavia/octavia-deployment-config.j2.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Fix syntax error
  deployed-server/scripts/enable-ssh-admin.sh
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix Ceilometer notification agent service path
  ci/environments/scenario001-multinode-containers.yaml
Due: none

[TRAIN ONLY] Add FFU parameters in lifecycle env files.
  environments/lifecycle/upgrade-converge.yaml
  environments/lifecycle/upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

[TRAIN-ONLY] Be explicit when passing vars into deploy steps
  common/deploy-steps-tasks-step-0.j2.yaml
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
  common/generate-config-tasks.yaml
  common/host-container-puppet-tasks.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Disable Designate service for scenario 03
  ci/environments/scenario003-standalone.yaml
Due: none

Adding amphora architecture to heat templates
  deployment/octavia/octavia-deployment-config.j2.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Fix regexes in yaml-validate.py with python 3.8
  tools/yaml-validate.py
Due: none

collectd: add support for mcelog service
  deployment/metrics/collectd-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Allow overriding InterfaceDefaultRoute with ips_from_pool template
  network/ports/port_from_pool.j2
Due: none

[TRAIN ONLY] Ensure interim db migration containers work properly
  container_config_scripts/cinder_ffu_db_sync.sh
  container_config_scripts/glance_ffu_db_sync.sh
  container_config_scripts/keystone_ffu_db_sync.sh
  container_config_scripts/mistral_ffu_db_sync.sh
  container_config_scripts/neutron_ffu_db_sync.sh
  container_config_scripts/nova_ffu_db_sync.sh
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/glance/glance-api-container-puppet.yaml
  deployment/keystone/keystone-container-puppet.yaml
  deployment/mistral/mistral-api-container-puppet.yaml
  deployment/neutron/neutron-api-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-standalone-on-multinode-ipa

[TRAIN ONLY] post Leapp package fixups
  deployment/ceph-ansible/ceph-base.yaml
  deployment/ceph-ansible/ceph-mds.yaml
  deployment/ceph-ansible/ceph-mon.yaml
  deployment/ceph-ansible/ceph-osd.yaml
  deployment/ceph-ansible/ceph-rgw.yaml
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Transitioning to HAProxy 1.8
  docker/services/haproxy.yaml
  docker/services/pacemaker/haproxy.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Increase the default UpgradeLeappRebootTimeout to 60 mins
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-multinode-containers.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-8-standalone-on-multinode-ipa: any of: environments/ssl/tls-everywhere-endpoints-dns.yaml, environments/services/haproxy-public-tls-certmonger.yaml, environments/ssl/enable-internal-tls.yaml, ci/environments/standalone-ipa.yaml, deployment/ipa/ipaservices-baremetal-ansible.yaml, deployment/apache/*, deployment/ceph-ansible/*, deployment/database/*, deployment/etcd/*, deployment/haproxy/*, deployment/metrics/*, deployment/neutron/*, deployment/nova/*, deployment/octavia/*, deployment/ovn/*, deployment/rabbitmq/*, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(deployment|docker|puppet)/.*ironic.*$, ^environments\/.*ironic.*$
