Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$

Switch public endpoints to use FQDNs by default
  environments/predictable-placement/custom-domain.yaml
  extraconfig/nova_metadata/krb-service-principals.j2.yaml
  network/endpoints/build_endpoint_map.py
  network/endpoints/endpoint_map.yaml
  overcloud.j2.yaml
  releasenotes/notes/Overcloud-endpoints-FQDN-78797a6c34e31bd5.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

ironic-inspector: store ramdisk logs even on success in debug mode
  puppet/services/ironic-inspector.yaml
Due: none

Generate and mount wrappers for neutron agent processes
  docker/services/neutron-dhcp.yaml
  docker/services/neutron-l3.yaml
  puppet/services/docker.yaml
Due: none

Add compute node L3 agent container for DVR
  environments/services/neutron-ovs-dvr.yaml
  puppet/services/neutron-l3.yaml
  roles/ComputeDVR.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

yaml-validate: sets isn't python3
  tools/yaml-validate.py
Due: none

Delay collectd start
  docker/services/collectd.yaml
Due: none

Set reasonable TTL defaults for Ceilometer DB
  puppet/services/ceilometer-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Remove undercloud specific service definitions
  environments/services/undercloud-aodh.yaml
  environments/services/undercloud-ceilometer.yaml
  environments/services/undercloud-cinder.yaml
  environments/services/undercloud-gnocchi.yaml
  environments/services/undercloud-haproxy.yaml
  environments/services/undercloud-keepalived.yaml
  environments/services/undercloud-panko.yaml
  environments/undercloud.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/remove-undercloud-specific-services-23046e607565d36d.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add option to override confirmation in yaml-nic-config-2-script.py
  tools/yaml-nic-config-2-script.py
Due: none

Mount ODL log file on host node
  docker/services/opendaylight-api.yaml
Due: none

Set live_migration_inbound_addr for ssh transport
  puppet/services/nova-libvirt.yaml
  releasenotes/notes/live_migration_inbound_addr_all_transports-2fc9cd74d435a367.yaml
Due: none

Add a 60 seconds timeout to ping_metadata_ip()
  network/scripts/run-os-net-config.sh
Due: none

Fix cinder-backup image wrangling on update
  docker/services/pacemaker/cinder-backup.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Always run mysql init bundle
  docker/services/pacemaker/database/mysql.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Default Octavia SSH pub key to UC default keypair
  docker/services/octavia/octavia-deployment-config.yaml
  releasenotes/notes/default-octavia-ssh-pub-key-to-keypair-70377d43bf76a407.yaml
Due: none

FFU Set NetworkDeploymentActions CREATE,UPDATE for ffwd-upgrade prepare
  environments/lifecycle/ffwd-upgrade-converge.yaml
  environments/lifecycle/ffwd-upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add fast_forward_upgrade_tasks in ironic services.
  docker/services/ironic-api.yaml
  docker/services/ironic-conductor.yaml
Due: none

Clear up Upgrade params on converge
  environments/lifecycle/ffwd-upgrade-converge.yaml
  environments/lifecycle/update-converge.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Enable default polling interval override
  puppet/services/metrics/collectd.yaml
  releasenotes/notes/collectd-polling-4aac123faaebd1bc.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Fix for the manila backend configuration errors
  puppet/services/manila-backend-unity.yaml
  puppet/services/manila-backend-vmax.yaml
  puppet/services/manila-backend-vnx.yaml
Due: tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add ability to control Glance's enabled_import_methods
  puppet/services/glance-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Clean up Cinder backends in capabilities map
  capabilities-map.yaml
Due: none

Expose parameter MistralDockerGroup
  environments/docker-uc-light.yaml
  environments/undercloud.yaml
  puppet/services/mistral-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

NFV: Support for config-download to deploy node with kernel args
  common/deploy-steps.j2
  environments/disable-config-download-environment.yaml
  extraconfig/pre_network/boot-params-service.yaml
  extraconfig/pre_network/boot_param_tasks.yaml
  extraconfig/pre_network/host_config_and_reboot.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/ComputeOvsDpdk.yaml
  roles/ComputeOvsDpdkRT.yaml
  roles/ComputeRealTime.yaml
  roles/ComputeSriov.yaml
  roles/ComputeSriovRT.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

fix spelling misktake
  tools/process-templates.py
Due: none

deploy-steps: switch to tripleo_role_name
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
Due: none

Revert "Change default endpoint map entries to use TLS"
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  releasenotes/notes/Use-TLS-endpoints-by-default-6f70ef3c82c547de.yaml
Due: none

update tht jobs to include network/endpoints
  zuul.d/layout.yaml
Due: none

Allow configuration of NFS backend for Nova
  docker/services/nova-compute.yaml
  environments/storage-environment.yaml
  environments/storage/nova-nfs.yaml
  puppet/services/nova-compute.yaml
  releasenotes/notes/tripleo-nova-nfs-ead2827338aa9519.yaml
  sample-env-generator/storage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

FFU Add cinder-backup missing fast_forward_upgrade_tasks
  docker/services/pacemaker/cinder-backup.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Remove support for classic drivers
  puppet/services/ironic-conductor.yaml
  releasenotes/notes/no-classic-drivers-9c59b696d8b50692.yaml
Due: none

undercloud: set OS_CACERT when TLS is used
  extraconfig/post_deploy/undercloud_post.sh
  extraconfig/post_deploy/undercloud_post.yaml
Due: none

Add missing UndercloudUpgrade to environment
  environments/lifecycle/undercloud-upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add basics for standalone node
  environments/standalone.yaml
  net-config-standalone.j2.yaml
  roles/Standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container
