Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa, tripleo-ci-centos-7-scenario011-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-multinode-containers.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-8-standalone-on-multinode-ipa: any of: environments/ssl/tls-everywhere-endpoints-dns.yaml, environments/services/haproxy-public-tls-certmonger.yaml, environments/ssl/enable-internal-tls.yaml, ci/environments/standalone-ipa.yaml, deployment/ipa/ipaservices-baremetal-ansible.yaml, deployment/apache/*, deployment/ceph-ansible/*, deployment/database/*, deployment/etcd/*, deployment/haproxy/*, deployment/metrics/*, deployment/neutron/*, deployment/nova/*, deployment/octavia/*, deployment/ovn/*, deployment/rabbitmq/*, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(deployment|docker|puppet)/.*ironic.*$, ^environments\/.*ironic.*$

Fix Error: invalid arguments you must use just one container
  deployment/haproxy/haproxy-public-tls-inject.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-standalone-on-multinode-ipa

[TRAIN ONLY] Provide way to initialize Leapp
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
  environments/lifecycle/upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Stop to use the __future__ module.
  container_config_scripts/nova_statedir_ownership.py
  container_config_scripts/placement_wait_for_service.py
  deployed-server/scripts/enable-ssh-admin.sh
  network/endpoints/build_endpoint_map.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix default BlockStorageCinderVolume template
  overcloud-resource-registry-puppet.j2.yaml
Due: none

Cleanup all container startup configs before generating the new ones
  common/container_startup_configs_tasks.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Move sidecar kill scripts to host prep
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Collapse deploy steps
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix typo in setting octavia wsgi server name
  deployment/octavia/octavia-api-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Fix typo in setting octavia wsgi server name
  puppet/services/octavia-api.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Disable Sahara in scenario003-standalone
  ci/environments/scenario003-standalone.yaml
Due: none

undercloud/heat: set YAQL memory quota to 200000
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add filestore to bluestore migration tags
  deployment/ceph-ansible/ceph-client.yaml
  deployment/ceph-ansible/ceph-external.yaml
  deployment/ceph-ansible/ceph-grafana.yaml
  deployment/ceph-ansible/ceph-mds.yaml
  deployment/ceph-ansible/ceph-mgr.yaml
  deployment/ceph-ansible/ceph-mon.yaml
  deployment/ceph-ansible/ceph-nfs.yaml
  deployment/ceph-ansible/ceph-osd.yaml
  deployment/ceph-ansible/ceph-rbdmirror.yaml
  deployment/ceph-ansible/ceph-rgw.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Add TSO configuration for OVS DPDK datapath.
  deployment/openvswitch/openvswitch-dpdk-baremetal-ansible.yaml
  releasenotes/notes/ovs-dpdk-tso-f96406621ec69bd1.yaml
Due: none

Fix privilege escalation
  common/container_startup_configs_tasks.yaml
  common/deploy-steps-playbooks-common.yaml
  common/deploy-steps-tasks-step-0.j2.yaml
  common/deploy-steps-tasks-step-1.yaml
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
  common/generate-config-tasks.yaml
  common/hiera-steps-tasks.yaml
  deployment/logrotate/tmpwatch-install.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Always clear cached facts first
  common/deploy-steps-playbooks-common.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Sync httpd conf.modules.d configs
  deployment/aodh/aodh-api-container-puppet.yaml
  deployment/barbican/barbican-api-container-puppet.yaml
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/glance/glance-api-container-puppet.yaml
  deployment/gnocchi/gnocchi-api-container-puppet.yaml
  deployment/heat/heat-api-cfn-container-puppet.yaml
  deployment/heat/heat-api-container-puppet.yaml
  deployment/horizon/horizon-container-puppet.yaml
  deployment/ironic/ironic-api-container-puppet.yaml
  deployment/ironic/ironic-pxe-container-puppet.yaml
  deployment/keystone/keystone-container-puppet.yaml
  deployment/manila/manila-api-container-puppet.yaml
  deployment/neutron/neutron-api-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-metadata-container-puppet.yaml
  deployment/octavia/octavia-api-container-puppet.yaml
  deployment/placement/placement-api-container-puppet.yaml
  deployment/swift/swift-proxy-container-puppet.yaml
  deployment/zaqar/zaqar-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa, tripleo-ci-centos-7-scenario011-multinode-oooq-container

Add non-string value support for CephAnsibleEnvironmentVariables
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario004-standalone.yaml
  ci/environments/scenario010-standalone.yaml
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Ensure we use only /run instead of /var/run
  deployment/ceilometer/ceilometer-agent-compute-container-puppet.yaml
  deployment/database/redis-container-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/manila/manila-share-common.yaml
  deployment/metrics/collectd-container-puppet.yaml
  deployment/mistral/mistral-executor-container-puppet.yaml
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  deployment/nova/nova-migration-target-container-puppet.yaml
  deployment/octavia/octavia-api-container-puppet.yaml
  deployment/swift/swift-storage-container-puppet.yaml
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
  releasenotes/notes/converge-var_run-to-run-20286a74e780e999.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Task should fail on any failure
  deployment/haproxy/haproxy-public-tls-inject.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-standalone-on-multinode-ipa

Add project template for IPA multinode
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Exclude /etc/hostname
  common/container-puppet.sh
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix bind mount volumes for novajoin containers
  deployment/nova/novajoin-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Don't set RABBITMQ_SERVER_ERL_ARGS
  deployment/rabbitmq/rabbitmq-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-standalone-on-multinode-ipa

Allow more tasks to be run in check mode
  common/deploy-steps-tasks.yaml
  deployment/cinder/cinder-common-container-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-public-tls-inject.yaml
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

[Q->T] Add FFU steps for manila
  container_config_scripts/manila_ffu_db_sync.sh
  deployment/manila/manila-api-container-puppet.yaml
  environments/lifecycle/upgrade-converge.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Ensure redis_tls_proxy starts after all redis instances
  container_config_scripts/wait-port-and-run.sh
  deployment/containers-common.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-standalone-on-multinode-ipa

[TRAIN ONLY] Wait until DB is ready for neutron DB rename
  container_config_scripts/neutron_db_rename.sh
  deployment/database/mysql-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-standalone-on-multinode-ipa

Collapse host prep tasks
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Manual backport of "Move sidecar kill scripts to host prep" to Train
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa
