Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Added NovaOVSDBConnection parameter
  environments/cavium-liquidio.yaml
  puppet/services/nova-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

nova: add parameters to configure nova::cron::archive_deleted_rows
  puppet/services/nova-api.yaml
Due: none

Parallelize server pre and post steps
  common/deploy-steps.j2
Due: none

Pass all vars to deploy-steps-tasks.yaml with config-download
  common/deploy-steps.j2
Due: none

Uses new format for CephX keys caps
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Remove unecessary back-slashes in CephManilaClientKey caps mon
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Ensure Cinder has a default volume type
  docker/services/cinder-api.yaml
  puppet/services/cinder-api.yaml
  releasenotes/notes/cinder-default-volume-type-cc21a256202eb476.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

novajoin: Fix cloud-config configuration path
  docker/services/novajoin.yaml
Due: none

Add BlacklistedIpAddresses stack output
  overcloud.j2.yaml
Due: none

Default bootstrap_server_id
  common/deploy-steps.j2
  releasenotes/notes/default-bootstrap-server-id-eff49ef40bfde414.yaml
Due: none

Add neutron metadata agent to the undercloud
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: none

Move the shebang to /usr/bin/python
  extraconfig/tasks/instanceha/check-run-nova-compute
Due: none

Disable pid file usage in the swift_rsync container
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix Neutron SFC environment file
  environments/services/neutron-sfc-opendaylight.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Don't run host_prep_tasks from {{role}}HostPrepDeployment
  common/deploy-steps.j2
Due: none

Use fqdn for live_migration_inbound_addr
  puppet/services/nova-libvirt.yaml
Due: none

DeployedServer support for cidr via get_attr
  puppet/role.role.j2.yaml
  releasenotes/notes/use-subnet-attrs-ctlplane-cidr-a02e14a251733726.yaml
Due: none

Set allow_action_execution_deletion to true in mistral api config
  puppet/services/mistral-api.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

OpenShift upgrade with openshift-ansible and external_upgrade_tasks
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Fix Swift storage device setup
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Lower reserved memory for nova-compute
  environments/low-memory-usage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Skip Ceph packages when running tripleo-packages
  puppet/services/tripleo-packages.yaml
Due: none

Fixed wrong when condition in mounting staging location
  puppet/services/glance-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

SSL support for haproxy -> novnc proxy connection
  docker/services/nova-vnc-proxy.yaml
  puppet/services/nova-vnc-proxy.yaml
  releasenotes/notes/nova_novnc_proxy_ssl_support-edc7bc13d0cd6d2b.yaml
Due: none

Add limited retries in create_swift_temp_url_key.sh
  docker/services/ironic-conductor.yaml
Due: none

Fix interfaces in boot_param_tasks
  extraconfig/pre_network/boot_param_tasks.yaml
Due: none

Fix manila update, upgrade, and FFU tasks
  docker/services/manila-api.yaml
  docker/services/manila-scheduler.yaml
  docker/services/manila-share.yaml
  docker/services/pacemaker/manila-share.yaml
Due: tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Add tags to OpenShift external tasks to allow upgrading it separately
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-worker.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Migrate tripleo-packages service to ansible package module
  puppet/services/tripleo-packages.yaml
Due: none

Correct Cinder NetApp backend name parameter mapping
  puppet/services/cinder-backend-netapp.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

ovn: Fix minor update failure with OVN db pacemaker HA resource
  docker/services/pacemaker/ovn-dbs.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Upgrades: Refactor package removal to step3
  docker/services/aodh-api.yaml
  docker/services/aodh-evaluator.yaml
  docker/services/aodh-listener.yaml
  docker/services/aodh-notifier.yaml
  docker/services/barbican-api.yaml
  docker/services/ceilometer-agent-central.yaml
  docker/services/ceilometer-agent-compute.yaml
  docker/services/ceilometer-agent-ipmi.yaml
  docker/services/ceilometer-agent-notification.yaml
  docker/services/cinder-api.yaml
  docker/services/cinder-backup.yaml
  docker/services/cinder-scheduler.yaml
  docker/services/cinder-volume.yaml
  docker/services/collectd.yaml
  docker/services/congress.yaml
  docker/services/glance-api.yaml
  docker/services/neutron-api.yaml
  docker/services/neutron-ovs-agent.yaml
  docker/services/nova-api.yaml
  docker/services/nova-conductor.yaml
  docker/services/nova-consoleauth.yaml
  docker/services/nova-placement.yaml
  docker/services/nova-scheduler.yaml
  docker/services/nova-vnc-proxy.yaml
  docker/services/octavia-health-manager.yaml
  docker/services/sahara-api.yaml
  docker/services/sahara-engine.yaml
  docker/services/swift-proxy.yaml
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

OVN: Set sysctl value 'net.ipv4.ip_nonlocal_bind' to 1
  environments/neutron-ml2-ovn-dvr-ha.yaml
  environments/neutron-ml2-ovn-ha.yaml
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-ha.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

undercloud: enable KernelIpNonLocalBind
  environments/undercloud.yaml
  puppet/services/kernel.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
