Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

tripleo-ci-centos-7-scenario001-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario002-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario003-multinode-oooq-container:
  voting: false

Add role_specific tag to missing role-specific parameters
  puppet/services/neutron-ovs-agent.yaml
  puppet/services/opendaylight-ovs.yaml
  puppet/services/ovn-controller.yaml
  puppet/services/time/ptp.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

FFU: Fix nova fast forward steps
  docker/services/nova-api.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-conductor.yaml
  docker/services/nova-consoleauth.yaml
  docker/services/nova-ironic.yaml
  docker/services/nova-metadata.yaml
  docker/services/nova-scheduler.yaml
  docker/services/nova-vnc-proxy.yaml
Due: none

Tolerate network errors in pingtest retry logic
  validation-scripts/all-nodes.sh
Due: none

Enable containers by default
  environments/baremetal-services.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/containers-as-default-37bbe8afa0a60c2b.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

FFU: Add memcached fast forward upgrade tasks
  docker/services/memcached.yaml
Due: none

Add support of netapp configuration for glance in THT
  docker/services/glance-api.yaml
  environments/storage/glance-nfs.yaml
  puppet/services/glance-api.yaml
  sample-env-generator/storage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Import net-config-simple-bridge.yaml from tropleo-ci repo
  ci/common/net-config-simple-bridge.yaml
Due: none

Adding new config parameters for Cisco UCSM ML2 driver
  environments/neutron-ml2-cisco-nexus-ucsm.yaml
  puppet/extraconfig/all_nodes/neutron-ml2-cisco-nexus-ucsm.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Allows Configuration of Additional of Lbaas and Neutron
  environments/services/neutron-lbaasv2.yaml
  puppet/services/neutron-api.yaml
  puppet/services/neutron-lbaas.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Update .gitreview for stable/queens
  .gitreview
Due: none

Update UPPER_CONSTRAINTS_FILE for stable/queens
  tox.ini
Due: none

Update reno for stable/queens
  releasenotes/source/index.rst
  releasenotes/source/queens.rst
Due: none

Add IronicAutomatedClean parameter
  puppet/services/ironic-conductor.yaml
Due: none

Add reno for manila generic driver removal
  releasenotes/notes/drop-manila-generic-driver-templates-b33e8966c263a1fd.yaml
Due: none

Removes manila-generic-config from TripleO
  capabilities-map.yaml
  environments/manila-generic-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/manila-backend-generic.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add UndercloudLocalMtu parameter
  net-config-undercloud.j2.yaml
Due: none

Increase size of Heat HeatMaxJsonBodySize
  puppet/services/heat-base.yaml
Due: none

Add ovs_extra netconfig for undercloud CI compat
  net-config-undercloud.j2.yaml
Due: none

Add step to run secret_store_sync before instance startup
  docker/services/barbican-api.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Delete rendered nic configs during --clean
  tools/process-templates.py
Due: none

Add validation task in docker services [Octavia]
  docker/services/octavia-api.yaml
  docker/services/octavia-health-manager.yaml
  docker/services/octavia-housekeeping.yaml
  docker/services/octavia-worker.yaml
Due: none

Make ping test support older overcloud release.
  ci/pingtests/tenantvm_floatingip.yaml
Due: none

Add support for libvirt VNC TLS
  docker/services/nova-libvirt.yaml
  docker/services/nova-vnc-proxy.yaml
  puppet/all-nodes-config.j2.yaml
  puppet/services/certmonger-user.yaml
  puppet/services/nova-libvirt.yaml
  puppet/services/nova-vnc-proxy.yaml
  releasenotes/notes/vnc_tls-b3707d0134697cc7.yaml
Due: none

Assign Cinder's backend_host when deploying for HA
  docker/services/pacemaker/cinder-volume.yaml
  puppet/services/pacemaker/cinder-volume.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Fix network-isolation.yaml relative paths for ci
  ci/environments/network/multiple-nics-ipv6/network-isolation.yaml
  ci/environments/network/multiple-nics/network-isolation.yaml
  ci/environments/network/public-bond/network-isolation.yaml
Due: none

Fix networking settings for ObjectStorage role pt 2
  environments/network-isolation-no-tunneling.yaml
  environments/network-isolation-v6.yaml
  environments/network-isolation.yaml
  puppet/objectstorage-role.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

[pike] Handle update path for swift log directories
  docker/services/swift-proxy.yaml
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add a ComputeInstanceHA role
  roles/ComputeInstanceHA.yaml
Due: none

Fix default nic config file names
  environments/net-bond-with-vlans-no-external.j2.yaml
  environments/net-bond-with-vlans-v6.j2.yaml
  environments/net-bond-with-vlans.j2.yaml
  environments/net-dpdkbond-with-vlans.j2.yaml
  environments/net-multiple-nics-v6.j2.yaml
  environments/net-multiple-nics.j2.yaml
  environments/net-single-nic-linux-bridge-with-vlans.j2.yaml
  environments/net-single-nic-with-vlans-no-external.j2.yaml
  environments/net-single-nic-with-vlans-v6.j2.yaml
  environments/net-single-nic-with-vlans.j2.yaml
  environments/network-environment-v6.j2.yaml
  environments/network-environment.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove default value for pacmaker passwords
  puppet/services/pacemaker.yaml
  puppet/services/pacemaker_remote.yaml
  releasenotes/notes/remove-pacemaker-passwords-default-values-dd0cfdf7922ecf90.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Add --live-restore to the docker_options in puppet/services/docker.yaml
  puppet/services/docker.yaml
Due: none

Improve the minor update of the docker service
  puppet/services/docker.yaml
Due: none

Make the minor update for docker idempotent
  puppet/services/docker.yaml
Due: none

Add KernelIpForward configuration
  environments/undercloud.yaml
  extraconfig/post_deploy/undercloud_post.sh
  puppet/services/kernel.yaml
  releasenotes/notes/configure-ip-forward-268c165708cbd203.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fixes OpenDaylight healthcheck/GUI feature
  puppet/services/opendaylight-api.yaml
  releasenotes/notes/fix-odl-gui-feature-6525b8c6807fb784.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/ceilometer.*$, ^puppet/services/ceph.*$, ^puppet/services/cinder.*$, ^puppet/services/congress.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/logging.*$, ^puppet/services/metrics.*$, ^puppet/services/monitoring.*$, ^puppet/services/panko.*$, ^puppet/services/tacker.*$, ci/environments/scenario001-multinode.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/congress.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/logging.*$, ^(docker|puppet)/services/metrics.*$, ^(docker|puppet)/services/monitoring.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/barbican.*$, ^puppet/services/ceilometer.*$, ^puppet/services/cinder.*$, ^puppet/services/ec2-api.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/panko.*$, ^puppet/services/swift.*$, ^puppet/services/zaqar.*$, ci/environments/scenario002-multinode.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/barbican.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/ec2-api.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/swift.*$, ^(docker|puppet)/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^puppet/services/glance.*$, ^puppet/services/mistral.*$, ^puppet/services/sahara.*$, ci/environments/scenario003-multinode.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/mistral.*$, ^(docker|puppet)/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^puppet/services/ceph.*$, ^puppet/services/glance.*$, ^puppet/services/manila.*$, ci/environments/scenario004-multinode.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ci/environments/scenario007-multinode.yaml, ci/pingtests/scenario007-multinode.yaml, ^puppet/services/.*ovn.*$, config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^(docker|puppet)/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml
