Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

tripleo-ci-centos-7-scenario001-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario002-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario003-multinode-oooq-container:
  voting: false

Restrict SNMP to internal network
  network/service_net_map.j2.yaml
  puppet/services/snmp.yaml
  releasenotes/notes/snmp_firewall-ab17f60ba1ec71d2.yaml
Due: none

Add Mistral to the provided controller roles
  releasenotes/notes/add-mistral-to-roles-52525fe9689e60b1.yaml
  roles/Controller.yaml
  roles/ControllerOpenstack.yaml
  roles_data.yaml
Due: none

Do not remove packages during FFU
  environments/fast-forward-upgrade.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Allows Configuration of Additional of Lbaas and Neutron
  environments/services/neutron-lbaasv2.yaml
  puppet/services/neutron-api.yaml
  puppet/services/neutron-lbaas.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove tags from upgrade tasks for ptp.yaml.
  puppet/services/time/ptp.yaml
Due: none

Add extra yaml validations in upgrade tasks.
  tools/yaml-validate.py
Due: none

FFU: repo section string manipulation error.
  puppet/services/tripleo-packages.yaml
Due: none

FFU: Add update-from-ceph-newton.yaml
  environments/updates/README.md
  environments/updates/update-from-ceph-newton.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add a ComputeInstanceHA role
  roles/ComputeInstanceHA.yaml
Due: none

Fix invalid Ceph and BlockStorage role template
  puppet/role.role.j2.yaml
  roles/BlockStorage.yaml
  roles/CephStorage.yaml
  roles_data.yaml
Due: none

Return old ranges to network_data.yaml
  network_data.yaml
  network_data_ganesha.yaml
Due: none

Add support for libvirt VNC TLS
  docker/services/nova-libvirt.yaml
  docker/services/nova-vnc-proxy.yaml
  puppet/all-nodes-config.j2.yaml
  puppet/services/certmonger-user.yaml
  puppet/services/nova-libvirt.yaml
  puppet/services/nova-vnc-proxy.yaml
  releasenotes/notes/vnc_tls-b3707d0134697cc7.yaml
Due: none

Handle NodeTLSData resources for controller roles
  puppet/role.role.j2.yaml
  releasenotes/notes/deployed-server-ssl-c33d6810b889045c.yaml
Due: none

ffu: Introduce Keystone fast-forward upgrade tasks
  docker/services/keystone.yaml
Due: none

Introduce wait_backoff, fail_if_empty wrappers
  deployed-server/scripts/get-occ-config.sh
Due: none

Adding a workaround for enabling steering in ConnectX-3 devices
  firstboot/conntectx3_streering.yaml
Due: none

Set openshift_(ip|hostname) to ctrlplane ip
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Enable mistral-event-engine health check
  docker/services/mistral-event-engine.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

Enable mistral-api health check
  docker/services/mistral-api.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

Zaqar: Bind to IP, not proxied host
  puppet/services/zaqar-api.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Enable iscsid health check
  docker/services/iscsid.yaml
Due: none

Enable memcached health check
  docker/services/memcached.yaml
Due: none

Enable ceilometer-agent-central health check
  docker/services/ceilometer-agent-central.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Enable etcd health check
  docker/services/etcd.yaml
Due: none

Enable aodh-api health check
  docker/services/aodh-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Enable collectd health check
  docker/services/collectd.yaml
  puppet/services/metrics/collectd.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Enable cinder-api health check
  docker/services/cinder-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Enable gnocchi-statsd health check
  docker/services/gnocchi-statsd.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Enable nova-migration-target health check
  docker/services/nova-migration-target.yaml
Due: none

Enable gnocchi-api health check
  docker/services/gnocchi-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Enable gnocchi-metricd health check
  docker/services/gnocchi-metricd.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Enable Tacker health check
  docker/services/tacker.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Enable nova placement health check
  docker/services/nova-placement.yaml
Due: none

Make the minor update for docker idempotent
  puppet/services/docker.yaml
Due: none

Fixes OpenDaylight healthcheck/GUI feature
  puppet/services/opendaylight-api.yaml
  releasenotes/notes/fix-odl-gui-feature-6525b8c6807fb784.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Revert "Add firewall chain configuration"
  puppet/services/tripleo-firewall.yaml
  releasenotes/notes/firewall-chain-management-cf0b38d533646a08.yaml
Due: none

Use ipaddress module
  deployed-server/deployed-server-bootstrap-centos.sh
  deployed-server/deployed-server-bootstrap-rhel.sh
  validation-scripts/all-nodes.sh
Due: none

Disable murano horizon plugin until dep is met
  docker/services/horizon.yaml
Due: none

Mount netns as shared to persist namespaces
  docker/services/neutron-dhcp.yaml
  docker/services/neutron-l3.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/ceilometer.*$, ^puppet/services/ceph.*$, ^puppet/services/cinder.*$, ^puppet/services/congress.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/logging.*$, ^puppet/services/metrics.*$, ^puppet/services/monitoring.*$, ^puppet/services/panko.*$, ^puppet/services/tacker.*$, ci/environments/scenario001-multinode.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/congress.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/logging.*$, ^(docker|puppet)/services/metrics.*$, ^(docker|puppet)/services/monitoring.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/barbican.*$, ^puppet/services/ceilometer.*$, ^puppet/services/cinder.*$, ^puppet/services/ec2-api.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/panko.*$, ^puppet/services/swift.*$, ^puppet/services/zaqar.*$, ci/environments/scenario002-multinode.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/barbican.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/ec2-api.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/swift.*$, ^(docker|puppet)/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^puppet/services/glance.*$, ^puppet/services/mistral.*$, ^puppet/services/sahara.*$, ci/environments/scenario003-multinode.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/mistral.*$, ^(docker|puppet)/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^puppet/services/ceph.*$, ^puppet/services/glance.*$, ^puppet/services/manila.*$, ci/environments/scenario004-multinode.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ci/environments/scenario007-multinode.yaml, ci/pingtests/scenario007-multinode.yaml, ^puppet/services/.*ovn.*$, config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^(docker|puppet)/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml
