Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

tripleo-ci-centos-7-scenario001-multinode-oooq-container:
  voting: true

tripleo-ci-centos-7-scenario002-multinode-oooq-container:
  voting: true

tripleo-ci-centos-7-scenario003-multinode-oooq-container:
  voting: true

tripleo-ci-centos-7-scenario004-multinode-oooq-container:
  voting: true

Add parameters for dateext in logrotate
  docker/services/logrotate-crond.yaml
Due: none

Fix placement of Octavia services in roles
  roles/ControllerAllNovaStandalone.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerOpenstack.yaml
  roles/Networker.yaml
Due: none

Add NeutronPermittedEthertypes on OVS agent
  puppet/services/neutron-ovs-agent.yaml
  releasenotes/notes/neutron-permitted-ethertypes-80dc7f2154786881.yaml
Due: none

test
  network_data_bak.yaml
Due: none

Add prometheus port parameter
  deployment/ceph-ansible/ceph-grafana.yaml
Due: none

Add support for Neutron Multi interface driver
  deployment/neutron/neutron-agents-ib-config-container-puppet.yaml
  deployment/neutron/neutron-plugin-ml2-mlnx-sdn-assist-container-puppet.yaml
  environments/services/neutron-mlnx-agent.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Support connecting OVN DB over SSL
  deployment/neutron/neutron-api-container-puppet.yaml
  deployment/neutron/neutron-plugin-ml2-ovn.yaml
  deployment/ovn/ovn-controller-container-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
Due: none

Add ability to collocate pinned and unpinned instance on same host
  deployment/nova/nova-compute-container-puppet.yaml
  releasenotes/notes/cpu-resources-f8b511d39c6e0cfe.yaml
Due: none

update datatype for "OctaviaFlavorId"
  puppet/services/octavia-controller.yaml
Due: none

Move nested bash script into a real file
  common/container-puppet.py
  common/container-puppet.sh
  common/deploy-steps-tasks-step-1.yaml
  common/deploy-steps.j2
Due: none

Remove plumgrid support
  capabilities-map.yaml
  deployment/neutron/neutron-compute-plugin-plumgrid.yaml
  deployment/neutron/neutron-plugin-plumgrid.yaml
  environments/neutron-plumgrid.yaml
  environments/undercloud/undercloud-minion.yaml
  overcloud-resource-registry-puppet.j2.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Update deprecated name of DockerRsyslogConfigImage
  deployment/logging/rsyslog-container-puppet.yaml
Due: none

Add missing role name to Host prep steps task
  common/deploy-steps.j2
Due: none

Fix double cert mount in haproxy bundle when using tls everywhere
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
Due: none

Add support to set cors config in gnocchi templates
  puppet/services/gnocchi-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add DHCPv6 rules + set ipversion for dhcp rules
  deployment/ironic/ironic-inspector-container-puppet.yaml
  deployment/neutron/neutron-dhcp-container-puppet.yaml
Due: none

Add posibilities to configure OVNNorthboundServerPort in split stacks
  deployment/neutron/neutron-plugin-ml2-ovn.yaml
Due: none

Support TLS priorities for pacemaker
  puppet/services/pacemaker.yaml
  releasenotes/notes/pcmktlspriorities-4315010185adf45a.yaml
Due: none

[Queens] Run cellv2 host discovery via workflow or deploy_steps_tasks
  docker/services/nova-compute-common.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-ironic.yaml
  docker_config_scripts/nova_cell_v2_discover_hosts.py
  environments/config-download-environment.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add NeutronPermittedEthertypes on OVS agent
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
  releasenotes/notes/neutron-permitted-ethertypes-80dc7f2154786881.yaml
Due: none

Fix Manila when run without pacemaker
  deployment/manila/manila-share-container-puppet.yaml
Due: none

Add environments dcn.yaml and dcn-hci.yaml.
  deployment/nova/nova-az-config.yaml
  environments/dcn-hci.yaml
  environments/dcn.yaml
  releasenotes/notes/dcn-environments-96379042a22f895e.yaml
  sample-env-generator/dcn.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Undercloud hosts entries in overcloud nodes
  overcloud.j2.yaml
Due: none

Fix multiple-nics network config ExternalMtu
  network/config/multiple-nics/role.role.j2.yaml
  releasenotes/notes/fix-external-bridge-mtu-multiple-nics-config-43b8dc459b5694b2.yaml
Due: none

Fix Manila when run without pacemaker
  docker/services/manila-share.yaml
Due: tripleo-ci-centos-7-scenario004-multinode-oooq-container

Permit access to Ceph RGW for 'member' role
  deployment/ceph-ansible/ceph-base.yaml
  deployment/ceph-ansible/ceph-rgw.yaml
Due: none

Undercloud ctplane router for IPv6 RA's idempotent
  extraconfig/post_deploy/undercloud_ctlplane_network.py
Due: none

Simplify octavia post deploy configs
  deployment/octavia/octavia-health-manager-container-puppet.yaml
  deployment/octavia/octavia-housekeeping-container-puppet.yaml
  deployment/octavia/octavia-worker-container-puppet.yaml
  releasenotes/notes/consolidate-octavia-post-deploy-configs-bc251a5446e5615d.yaml
Due: none

Set octavia-ansible dir ownership to Ansible user
  deployment/octavia/octavia-deployment-config.j2.yaml
Due: none

Use parameter for ipv6 address mode
  extraconfig/post_deploy/undercloud_ctlplane_network.py
  extraconfig/post_deploy/undercloud_post.yaml
Due: none

Add NovaAZConfig service to compute roles
  environments/hyperconverged-ceph.yaml
  roles/Compute.yaml
  roles/ComputeAlt.yaml
  roles/ComputeDVR.yaml
  roles/ComputeHCI.yaml
  roles/ComputeHCIOvsDpdk.yaml
  roles/ComputeInstanceHA.yaml
  roles/ComputeLiquidio.yaml
  roles/ComputeLocalEphemeral.yaml
  roles/ComputeOvsDpdk.yaml
  roles/ComputeOvsDpdkRT.yaml
  roles/ComputeOvsDpdkSriov.yaml
  roles/ComputeOvsDpdkSriovRT.yaml
  roles/ComputePPC64LE.yaml
  roles/ComputeRBDEphemeral.yaml
  roles/ComputeRealTime.yaml
  roles/ComputeSriov.yaml
  roles/ComputeSriovRT.yaml
  roles/DistributedCompute.yaml
  roles/DistributedComputeHCI.yaml
  roles/HciCephAll.yaml
  roles/HciCephFile.yaml
  roles/HciCephMon.yaml
  roles/HciCephObject.yaml
  roles_data.yaml
  roles_data_undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Allow using registry authentication to pull ceph related containers
  deployment/ceph-ansible/ceph-base.yaml
Due: none

Add toggle to enable/disable Paunch for a deployment
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: (any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml) or (any of: ^docker/services/glance.*$, ^docker/services/mistral.*$, ^docker/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^docker/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml
