Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-scenario011-multinode-oooq-container

tripleo-ci-centos-7-scenario010-multinode-oooq-container:
  voting: false

Remove CephAnsibleSkipTags override
  ci/environments/scenario001-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Refactorize test_tht_ansible_syntax to welcome new roles/modules
  tripleo_heat_templates/tests/test_tht_ansible_syntax.py
  tripleo_heat_templates/tests/test_tht_ansible_syntax.yml
Due: none

Remove most of the mistral related undercloud post config
  extraconfig/post_deploy/undercloud_post.py
Due: none

Remove unused hiera parameters
  deployment/metrics/qdr-container-puppet.yaml
Due: none

Tolerate NFS exports in /var/lib/nova when selinux relabelling
  bindep.txt
  container_config_scripts/nova_statedir_ownership.py
  container_config_scripts/tests/test_nova_statedir_ownership.py
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-ironic-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  deployment/nova/nova-migration-target-container-puppet.yaml
Due: none

Use --allow-overlap-zone when setting up freeipa
  ci/scripts/freeipa_setup.sh
Due: none

Use multipath in nova when multipathd is enabled
  environments/multipathd.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Prevent nftables to interfere with tripleo firewall
  deployment/tripleo-firewall/tripleo-firewall-baremetal-ansible.yaml
Due: none

Remove duplicated cinder-backup.yaml
  environments/services/cinder-backup.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Cleanup hieradata for unused services in undercloud.
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove duplicate RabbitCookie parameter
  deployment/rabbitmq/rabbitmq-container-puppet.yaml
Due: none

Use lists for storing host entries in Heat
  common/deploy-steps.j2
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Switch scenario001-multinode-containers to LVM-based bluestore
  ci/environments/scenario001-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Remove unnecessary references to optional cinder templates
  ci/environments/scenario000-standalone.yaml
  ci/environments/scenario007-multinode-containers.yaml
  ci/environments/scenario007-standalone.yaml
  environments/undercloud/undercloud-minion.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

[train/backport] Prevent nftables to interfere with tripleo firewall
  deployment/tripleo-firewall/tripleo-firewall-baremetal-puppet.yaml
Due: none

Remove Nova parameters that are no longer used
  ci/environments/network/multiple-nics-ipv6/network-isolation-absolute.yaml
  ci/environments/network/multiple-nics-ipv6/network-isolation.yaml
  deployment/nova/nova-base-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  environments/network-isolation-v6-all.j2.yaml
  environments/network-isolation-v6.j2.yaml
  environments/nova-nuage-config.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add parameter to manage horizon's keystone_domain_choices
  deployment/horizon/horizon-container-puppet.yaml
Due: none

Create a new parameter for the HAProxy external network
  deployment/haproxy/haproxy-public-tls-certmonger.yaml
Due: none

Revert "Stop using swift temp url for config transport"
  environments/standalone/standalone-tripleo.yaml
  environments/undercloud.yaml
  environments/undercloud/undercloud-minion.yaml
  overcloud-resource-registry-puppet.j2.yaml
  sample-env-generator/standalone.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Ensure consistency with hostname comparison
  common/deploy-steps-tasks.yaml
  common/generate-config-tasks.yaml
  common/host-container-puppet-tasks.yaml
  deployment/haproxy/haproxy-public-tls-inject.yaml
  deployment/octavia/octavia-deployment-config.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Neutron ML2/OVN: Add support to enable IGMP Snooping
  deployment/neutron/neutron-api-container-puppet.yaml
  deployment/neutron/neutron-plugin-ml2-ovn.yaml
  releasenotes/notes/ovn_igmp_snooping_support-eccdecde74f4b9c8.yaml
Due: none

HA: drop spurious mysql user on stack deploy
  deployment/database/mysql-pacemaker-puppet.yaml
Due: none

Add always tags for hieradata render in external upgrade.
  common/deploy-steps-playbooks-common.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Have 1 dhcp agent per undercloud network
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

HA: minor update of arbitrary container image name
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  releasenotes/notes/pacemaker-cluster-common-tag-45c4e8a6e7b08735.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Allow disabling the octavia provider
  deployment/octavia/octavia-api-container-puppet.yaml
Due: none

Use /usr/libexec/platform-python in undercloud post
  extraconfig/post_deploy/undercloud_ctlplane_network.py
  extraconfig/post_deploy/undercloud_post.py
Due: none

Pass server metadata to ansible group vars
  overcloud.j2.yaml
Due: none

Add DNS related settings
  net-config-bridge.j2.yaml
  net-config-linux-bridge.j2.yaml
  net-config-static-bridge-with-external-dhcp.j2.yaml
Due: none

remove centos-7-standalone-upgrade for master
  zuul.d/layout.yaml
Due: none

Workaround for cinder A/A and etcd with TLS-everywhere
  deployment/etcd/etcd-container-puppet.yaml
Due: none

Fail NetworkConfig task on timeout
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Drop unused remnants of the hosts-config bits
  common/deploy-steps.j2
  hosts-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  scripts/hosts-config.sh
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

rabbitmq: Open ports 25673-25683 for CLI tools
  deployment/rabbitmq/rabbitmq-container-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-container-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-container-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: none

Add new parameter NovaSchedulePlacementAggregateRequiredForTenants
  deployment/nova/nova-scheduler-container-puppet.yaml
  releasenotes/notes/nova_scheduler_placement_aggregate_required_for_tenants-6c7d90fd01bcc88d.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^deployed-server/.*$, ^(docker|puppet)/services/.*keystone.*$, ^environments\/.*.yaml, ^network/endpoints/.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*designate.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*keepalived.*$, ^(docker|puppet)/services/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: environments/services/octavia.yaml, ^(docker|puppet)/services/.*octavia.*$, ci/environments/scenario010-multinode-containers.yaml
  tripleo-ci-centos-7-scenario010-standalone: any of: ^(docker|puppet)/services/octavia.*$, ci/environments/scenario010-standalone.yaml, environments/services/octavia.*.yaml
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(docker|puppet)/services/.*ironic.*$, ^environments\/.*ironic.*$
