Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

tripleo-ci-centos-7-scenario001-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario002-multinode-oooq-container:
  voting: false

tripleo-ci-centos-7-scenario003-multinode-oooq-container:
  voting: false

Assign Cinder's backend_host when deploying for HA
  docker/services/pacemaker/cinder-volume.yaml
  puppet/services/pacemaker/cinder-volume.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Use sensu-client healthcheck parameter
  docker/services/sensu-client.yaml
Due: none

Enable Neutron LBaaS Integration
  capabilities-map.yaml
  environments/services/neutron-lbaasv2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/neutron-lbaas.yaml
  releasenotes/notes/enable-neutron-lbaas-integration-8cc3e9b71e0e3044.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

HAProxy: expose stats socket in HA deployment after upgrade
  docker/services/pacemaker/haproxy.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Upgrade data on disk on mysql major upgrade - non HA
  docker/services/database/mysql.yaml
Due: none

Default environment/services/* to docker
  environments/services/barbican.yaml
  environments/services/cinder-backup.yaml
  environments/services/collectd.yaml
  environments/services/congress.yaml
  environments/services/ec2-api.yaml
  environments/services/etcd.yaml
  environments/services/fluentd.yaml
  environments/services/ironic-inspector.yaml
  environments/services/ironic.yaml
  environments/services/manila.yaml
  environments/services/mistral.yaml
  environments/services/neutron-bgpvpn-opendaylight.yaml
  environments/services/neutron-l2gw-opendaylight.yaml
  environments/services/neutron-ml2-cisco-vts.yaml
  environments/services/neutron-opendaylight-dpdk.yaml
  environments/services/neutron-opendaylight-hw-offload.yaml
  environments/services/neutron-opendaylight-sriov.yaml
  environments/services/neutron-opendaylight.yaml
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-dvr.yaml
  environments/services/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-hw-offload.yaml
  environments/services/neutron-ovn.yaml
  environments/services/neutron-ovs-dpdk.yaml
  environments/services/neutron-ovs-hw-offload.yaml
  environments/services/neutron-sriov.yaml
  environments/services/octavia.yaml
  environments/services/qdr.yaml
  environments/services/sahara.yaml
  environments/services/sensu-client.yaml
  environments/services/skydive-environment.yaml
  environments/services/tacker.yaml
  environments/services/undercloud-aodh.yaml
  environments/services/undercloud-ceilometer.yaml
  environments/services/undercloud-cinder.yaml
  environments/services/undercloud-gnocchi.yaml
  environments/services/undercloud-haproxy.yaml
  environments/services/undercloud-keepalived.yaml
  environments/services/undercloud-panko.yaml
  environments/services/zaqar.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Correctly set NeutronMl2PluginBase for OVN scenario
  ci/environments/scenario007-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Honor {{role.name}}ExtraConfig with deprecated params
  puppet/role.role.j2.yaml
  releasenotes/notes/use-role-name-ExtraConfig-with-deprecations-2688f34fbc6de74a.yaml
Due: none

Implement MasqueradeNetworks services
  environments/services/masquerade-networks.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/masquerade-networks.yaml
  roles/Undercloud.yaml
  roles/UndercloudLight.yaml
  roles_data_undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Containerized Designate
  docker/services/designate-api.yaml
  docker/services/designate-central.yaml
  docker/services/designate-mdns.yaml
  docker/services/designate-producer.yaml
  docker/services/designate-sink.yaml
  docker/services/designate-worker.yaml
Due: none

Designate Integration
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  environments/tls-endpoints-public-dns.yaml
  environments/tls-endpoints-public-ip.yaml
  environments/tls-everywhere-endpoints-dns.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  network/service_net_map.j2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/designate-api.yaml
  puppet/services/designate-base.yaml
  puppet/services/designate-central.yaml
  puppet/services/designate-mdns.yaml
  puppet/services/designate-producer.yaml
  puppet/services/designate-sink.yaml
  puppet/services/designate-worker.yaml
  roles/Controller.yaml
  roles/ControllerAllNovaStandalone.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerOpenstack.yaml
  roles_data.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add environment to enable Designate
  environments/enable-designate.yaml
  sample-env-generator/enable-services.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Resource name correction
  puppet/services/neutron-plugin-ml2-nuage.yaml
Due: none

Add purge to Nova cleanup cron.
  puppet/services/nova-api.yaml
  puppet/services/nova-base.yaml
  releasenotes/notes/add-purge-nova-tables-e0706cdcffa0f42e.yaml
Due: none

FFU: Fix gnocchi FFU tasks
  docker/services/gnocchi-api.yaml
  docker/services/gnocchi-metricd.yaml
  docker/services/gnocchi-statsd.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix fluentd upgrade tasks during FFU.
  docker/services/fluentd.yaml
Due: none

Work around packaging issue in iptables-services.
  extraconfig/tasks/major_upgrade_ceph_storage.sh
  extraconfig/tasks/major_upgrade_compute.sh
  extraconfig/tasks/major_upgrade_object_storage.sh
  extraconfig/tasks/pacemaker_common_functions.sh
Due: none

FFU: Add support for panko service upgrade
  docker/services/panko-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Added the missing attributes for roles_data of ovs-dpdk-agent docker service
  docker/services/neutron-ovs-dpdk-agent.yaml
Due: none

Remove the lacp bond mode constraints
  network/config/bond-with-vlans/controller-no-external.j2.yaml
  network/config/bond-with-vlans/controller-v6.j2.yaml
  network/config/bond-with-vlans/role.role.j2.yaml
Due: none

Adding missing space in octavia-worker.yaml
  puppet/services/octavia-worker.yaml
Due: none

get-occ-config.sh: fix handling multiple nodes in a role
  deployed-server/scripts/get-occ-config.sh
  releasenotes/notes/fix-get-occ-config-with-role-count-greater-1-10ce2010556e5b76.yaml
Due: none

Remove no longer used disable_upgrade_deployment flag
  common/deploy-steps.j2
  deployed-server/deployed-server-roles-data.yaml
  extraconfig/tasks/tripleo_upgrade_node.sh
  releasenotes/notes/remove_disable_upgrade_deployment_flag-872df40d7ff171b8.yaml
  roles/Compute.yaml
  roles/ComputeAlt.yaml
  roles/ComputeHCI.yaml
  roles/ComputeInstanceHA.yaml
  roles/ComputeOvsDpdk.yaml
  roles/ComputeOvsDpdkRT.yaml
  roles/ComputeRealTime.yaml
  roles/ComputeSriov.yaml
  roles/ComputeSriovRT.yaml
  roles/HciCephAll.yaml
  roles/HciCephFile.yaml
  roles/HciCephMon.yaml
  roles/HciCephObject.yaml
  roles/ObjectStorage.yaml
  roles/README.rst
  roles_data.yaml
Due: none

Use IronicInspectorSubnets in undercloud.yaml
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add static routes for routed ctlplane
  environments/undercloud.yaml
  net-config-undercloud.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove the os-net-config element config.json template
  environments/major-upgrade-composable-steps-docker.yaml
  environments/major-upgrade-composable-steps.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Refresh keystone after deployment
  docker/services/keystone.yaml
Due: none

Add firewall rule to octavia health mgmt iface
  puppet/services/octavia-health-manager.yaml
Due: none

Remove default value for pacmaker passwords
  puppet/services/pacemaker.yaml
  puppet/services/pacemaker_remote.yaml
  releasenotes/notes/remove-pacemaker-passwords-default-values-dd0cfdf7922ecf90.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Add ctlplane networking for routed networks
  environments/undercloud.yaml
  extraconfig/post_deploy/undercloud_ctlplane_network.py
  extraconfig/post_deploy/undercloud_post.sh
  extraconfig/post_deploy/undercloud_post.yaml
  net-config-undercloud.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Enable Octavia dashboard on horizon container
  docker/services/horizon.yaml
Due: none

Revert "FFU: Add support for panko service upgrade"
  docker/services/panko-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Added Liquidio service definition in overcloud puppet registry
  overcloud-resource-registry-puppet.j2.yaml
Due: none

Remove unused OS::TripleO::StructuredDeployment reference
  environments/config-download-environment.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Collectd needs access to /var/run/ceph to load the ceph plugin
  docker/services/collectd.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/ceilometer.*$, ^puppet/services/ceph.*$, ^puppet/services/cinder.*$, ^puppet/services/congress.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/logging.*$, ^puppet/services/metrics.*$, ^puppet/services/monitoring.*$, ^puppet/services/panko.*$, ^puppet/services/tacker.*$, ci/environments/scenario001-multinode.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/congress.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/logging.*$, ^(docker|puppet)/services/metrics.*$, ^(docker|puppet)/services/monitoring.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/barbican.*$, ^puppet/services/ceilometer.*$, ^puppet/services/cinder.*$, ^puppet/services/ec2-api.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/panko.*$, ^puppet/services/swift.*$, ^puppet/services/zaqar.*$, ci/environments/scenario002-multinode.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/barbican.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/ec2-api.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/swift.*$, ^(docker|puppet)/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^puppet/services/glance.*$, ^puppet/services/mistral.*$, ^puppet/services/sahara.*$, ci/environments/scenario003-multinode.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/mistral.*$, ^(docker|puppet)/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^puppet/services/ceph.*$, ^puppet/services/glance.*$, ^puppet/services/manila.*$, ci/environments/scenario004-multinode.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ci/environments/scenario007-multinode.yaml, ci/pingtests/scenario007-multinode.yaml, ^puppet/services/.*ovn.*$, config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^(docker|puppet)/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml
