Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario011-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^deployed-server/.*$, ^(docker|puppet)/services/.*ca-certs.*$, ^(docker|puppet)/services/.*clustercheck.*$, ^(docker|puppet)/services/.*container-image-prepare.*$, ^(docker|puppet)/services/.*docker.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*kernel.*$, ^(docker|puppet)/services/.*keystone.*$, ^(docker|puppet)/services/.*memcached.*$, ^(docker|puppet)/services/.*mysql.*$, ^(docker|puppet)/services/.*ntp.*$, ^(docker|puppet)/services/.*pacemaker.*$, ^(docker|puppet)/services/.*rabbitmq.*$, ^(docker|puppet)/services/.*snmp.*$, ^(docker|puppet)/services/.*timezone.*$, ^(docker|puppet)/services/.*tripleo-packages.*$, ^(docker|puppet)/services/.*tripleo-firewall.*$, ^(docker|puppet)/services/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ci/environments/scenario008-multinode-containers.yaml, ^(docker|puppet)/services/.*(odl|opendaylight).*$, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*keepalived.*$, ^(docker|puppet)/services/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(docker|puppet)/services/.*octavia.*$, ci/environments/scenario010-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario001-standalone: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario002-standalone: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario004-standalone: any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(docker|puppet)/services/.*ironic.*$, ^environments\/.*ironic.*$

Apply changes to cluster using updated inventory
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq-container

Add missing entries for Pure Storage Cinder Backend and fix typos
  deployed-server/deployed-server-roles-data.yaml
  deployment/cinder/cinder-backend-pure-puppet.yaml
  environments/cinder-pure-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerStorageNfs.yaml
  roles/Standalone.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Address python3 string issues with subprocess
  docker/docker-puppet.py
  tools/merge-new-params-nic-config-script.py
Due: none

Fix nova_cell_v2_discover_host.py with python3
  docker_config_scripts/nova_cell_v2_discover_host.py
Due: none

container-image-prepare: disable logging on the task
  puppet/services/container-image-prepare.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Set virt queue size as 1024 for all OVS-DPDK roles
  roles/ComputeOvsDpdk.yaml
  roles/ComputeOvsDpdkRT.yaml
  roles/ComputeOvsDpdkSriov.yaml
  roles/ComputeOvsDpdkSriovRT.yaml
Due: none

Remove the scenario standalones from tht zuul layout - just use template
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Remove workflow_tasks
  common/deploy-steps.j2
  common/services.yaml
  environments/disable-workflow-tasks.yaml
  puppet/services/README.rst
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Don't disable keepalived in nonha-arch.yaml
  environments/nonha-arch.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Introduce OpenShiftAnsiblePath parameter
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq-container

Rely on osa defaults for enabled services
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq-container

Remove openshift-ansible customization
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq-container

Set container images for openshift 3.11
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq-container

Store nodes information in a dict
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-node.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq-container

Generate post-deployment openshift-ansible inventory
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-node.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq-container

Mount mysql client configuration in nova cell discovery container
  docker/services/nova-compute.yaml
  docker/services/nova-ironic.yaml
Due: tripleo-ci-centos-7-scenario011-multinode-oooq-container

[Queens only] Include new parameter RHELRegistrationUpgrade to rhel-registration.
  environments/lifecycle/upgrade-converge.yaml
  environments/lifecycle/upgrade-prepare.yaml
  extraconfig/pre_deploy/rhel-registration/rhel-registration.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Explicitly manage http configs
  deployment/aodh/aodh-api-container-puppet.yaml
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/glance/glance-api-container-puppet.yaml
  deployment/heat/heat-api-cfn-container-puppet.yaml
  deployment/heat/heat-api-container-puppet.yaml
  deployment/ironic/ironic-api-container-puppet.yaml
  deployment/ironic/ironic-pxe-container-puppet.yaml
  deployment/keystone/keystone-container-puppet.yaml
  deployment/zaqar/zaqar-container-puppet.yaml
  docker/services/barbican-api.yaml
  docker/services/ec2-api.yaml
  docker/services/gnocchi-api.yaml
  docker/services/horizon.yaml
  docker/services/neutron-api.yaml
  docker/services/nova-api.yaml
  docker/services/nova-metadata.yaml
  docker/services/nova-placement.yaml
  docker/services/octavia-api.yaml
  docker/services/panko-api.yaml
  docker/services/swift-proxy.yaml
  docker/services/tripleo-ui.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone

Update parameters for cinder's Netapp backend
  deployment/cinder/cinder-backend-netapp-puppet.yaml
  environments/cinder-netapp-config.yaml
  environments/storage/cinder-netapp-config.yaml
  releasenotes/notes/update-cinder-netapp-parameters-cf6da846e72007df.yaml
  sample-env-generator/storage.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

haproxy: deploy IPtables rules from the host
  docker/services/haproxy.yaml
  docker/services/pacemaker/haproxy.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Reload haproxy when certificate is renewed
  puppet/services/haproxy-internal-tls-certmonger.j2.yaml
  puppet/services/haproxy-public-tls-certmonger.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Add VLAN as a supported network type for OVN
  puppet/services/neutron-plugin-ml2-ovn.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

deployed-servers: symlink ansible-playbook
  deployed-server/deployed-server-bootstrap-centos.sh
  deployed-server/deployed-server-bootstrap-rhel.sh
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Remove conf.modules.d that doesn't exist
  deployment/keystone/keystone-container-puppet.yaml
Due: none

flatten the mistral service configurations
  ci/environments/scenario003-multinode-containers.yaml
  ci/environments/scenario003-standalone.yaml
  deployment/mistral/mistral-api-container-puppet.yaml
  deployment/mistral/mistral-base.yaml
  deployment/mistral/mistral-engine-container-puppet.yaml
  deployment/mistral/mistral-event-engine-container-puppet.yaml
  deployment/mistral/mistral-executor-container-puppet.yaml
  environments/docker-uc-light.yaml
  environments/services-baremetal/mistral.yaml
  environments/services/mistral.yaml
  puppet/services/mistral-api.yaml
  puppet/services/mistral-engine.yaml
  puppet/services/mistral-event-engine.yaml
  puppet/services/mistral-executor.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Deploy Sahara with unversioned endpoints
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

noop package installation inside docker_puppet_apply.sh
  docker/services/containers-common.yaml
Due: none

Enable ML2 baremetal by default with Ironic service
  environments/services/ironic.yaml
  releasenotes/notes/enable-ml2-baremetal-with-ironic-service-8c2909023e3896a5.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario011-multinode-oooq-container

flatten the swift service configurations
  deployment/swift/swift-base.yaml
  deployment/swift/swift-dispersion-baremetal-puppet.yaml
  deployment/swift/swift-proxy-container-puppet.yaml
  deployment/swift/swift-ringbuilder-container-puppet.yaml
  deployment/swift/swift-storage-container-puppet.yaml
  environments/baremetal-services.yaml
  environments/docker-uc-light.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/swift-proxy.yaml
  puppet/services/swift-ringbuilder.yaml
  puppet/services/swift-storage.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Run collectd socket cleanup on container start
  puppet/services/metrics/collectd.yaml
Due: tripleo-ci-centos-7-scenario001-standalone

Move UpgradeInitCommand and UpgradeInitCommonCommand to run by Ansible
  deployed-server/deployed-server.yaml
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
  puppet/role.role.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario004-standalone

Fix logging for metrics_qdr
  docker/services/metrics/qdr.yaml
Due: tripleo-ci-centos-7-scenario001-standalone

Rework nova_cell_v2_discover_host.py to use nova.conf and python novaclient
  docker_config_scripts/nova_cell_v2_discover_host.py
Due: none

Optional ICMP validation of controllers and gateways
  all-nodes-validation.yaml
  validation-scripts/all-nodes.sh
Due: none

Add PacemakerNetwork definition
  network/service_net_map.j2.yaml
Due: none

TLS everywhere: Set post-save command for httpd
  puppet/services/apache.j2.yaml
Due: none

TLS everywhere: Set post-save command for RabbitMQ
  puppet/services/messaging/notify-rabbitmq.yaml
  puppet/services/messaging/rpc-rabbitmq.yaml
  puppet/services/rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

TLS everywhere: Set post-save command for redis
  puppet/services/database/redis.yaml
Due: none
