Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$

Add support of netapp configuration for glance in THT
  docker/services/glance-api.yaml
  environments/storage/glance-nfs.yaml
  puppet/services/glance-api.yaml
  sample-env-generator/storage.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Removing the deprecated environment files for hw offloading in queens
  environments/neutron-ml2-ovn-hw-offload.yaml
  environments/neutron-opendaylight-hw-offload.yaml
  environments/ovs-hw-offload.yaml
  environments/services-docker/neutron-opendaylight-hw-offload.yaml
  environments/services-docker/neutron-ovn-hw-offload.yaml
  environments/services-docker/neutron-ovs-hw-offload.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Ensure config-download mappings are unset on ceph-upgrade
  environments/lifecycle/ceph-upgrade-converge.yaml
  environments/lifecycle/ceph-upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Restrict tenant network to geneve
  puppet/services/neutron-plugin-ml2-ovn.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add OVNCMSOptions in dvr environment files
  environments/services-docker/neutron-ovn-dvr-ha.yaml
  environments/services-docker/neutron-ovn-dvr.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Do not rely on defaults for DockerCephDaemonImage in CI.
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix Cinder's default db purge cron settings
  puppet/services/cinder-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add defaults into name property for config-download.
  config-download-software.yaml
  config-download-structured.yaml
Due: none

Download IPA kernel and ramdisk
  docker/services/ironic-inspector.yaml
Due: none

Add DeployIdentifier to Swift set_swift_secret container
  docker/services/swift-proxy.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Make novajoin vendordata timeout configurable
  docker/services/novajoin.yaml
Due: none

Don't unregister on system/resource delete
  extraconfig/pre_deploy/rhel-registration/rhel-registration.yaml
  releasenotes/notes/dont-unregister-on-delete-9708f7cbc73a0d2f.yaml
Due: none

Execute ceph-ansible with its own ansible.cfg
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Revert "Fixes ceph-external docker service name"
  docker/services/ceph-ansible/ceph-external.yaml
  releasenotes/notes/fix-ceph-external-name-7bf64c840d5769f6.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Remove redundant config bond-with-vlans/compute-dpdk.j2.yaml
  network/config/bond-with-vlans/compute-dpdk.j2.yaml
Due: none

Fixes chowning neutron cert/key perms
  docker/services/neutron-dhcp.yaml
Due: none

Fix few issues with deploying with baremetal-services.yaml
  environments/baremetal-services.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Removing the deprecated environment files for hw offloading in containers
  environments/ovs-hw-offload.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Copy-in redis certs via kolla extended/start
  docker/services/pacemaker/database/redis.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Define Octavia SSH key name and file path
  docker/services/octavia/octavia-deployment-config.yaml
  puppet/services/octavia-api.yaml
  puppet/services/octavia-base.yaml
  puppet/services/octavia-health-manager.yaml
  puppet/services/octavia-housekeeping.yaml
  puppet/services/octavia-worker.yaml
  releasenotes/notes/octavia-amphora-ssh-245a21a35598440a.yaml
Due: none

Remove step_config from CinderVolume backend services
  puppet/services/cinder-backend-dellemc-unity.yaml
  puppet/services/cinder-backend-dellemc-vmax-iscsi.yaml
  puppet/services/cinder-backend-dellemc-vnx.yaml
  puppet/services/cinder-backend-dellemc-xtremio-iscsi.yaml
  puppet/services/cinder-backend-dellps.yaml
  puppet/services/cinder-backend-dellsc.yaml
  puppet/services/cinder-backend-netapp.yaml
  puppet/services/cinder-backend-pure.yaml
  puppet/services/cinder-backend-scaleio.yaml
  puppet/services/cinder-backend-veritas-hyperscale.yaml
  puppet/services/cinder-hpelefthand-iscsi.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Remove UndercloudLight
  roles/UndercloudLight.yaml
Due: none

Remove empty host prep tasks for Tempest
  docker/services/tempest.yaml
Due: none

Revert Ceph bridge names to previous values
  network/config/bond-with-vlans/role.role.j2.yaml
  network/config/single-nic-linux-bridge-vlans/role.role.j2.yaml
  network/config/single-nic-vlans/role.role.j2.yaml
Due: none

undercloud-upgrade: use deploy_steps_tasks for yum update
  docker/services/undercloud-upgrade.yaml
  tools/yaml-validate.py
Due: none

Convert resource_name to number
  deployed-server/scripts/get-occ-config.sh
  releasenotes/notes/convert-resource-name-to-number-80ada6c825554f56.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Remove deprecated NeutronExternalNetworkBridge from CI environments
  ci/environments/network/multiple-nics-ipv6/network-environment.yaml
  ci/environments/network/multiple-nics/network-environment.yaml
  ci/environments/network/public-bond/network-environment.yaml
Due: none

Parameterizing Puppet Tags
  docker/services/neutron-plugin-ml2.yaml
  environments/neutron-nuage-config.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Run tasks on primary role first
  common/deploy-steps.j2
Due: none

Move Nova Compute undercloud upgrade logic into nova-ironic
  docker/services/nova-compute.yaml
  docker/services/nova-ironic.yaml
Due: none

Add BlacklistedHostnames stack output
  overcloud.j2.yaml
  releasenotes/notes/blacklistedhostnames-stack-output-02c9f93f9d1ce7d8.yaml
Due: none

Ensure tasks aren't empty dicts
  tools/yaml-validate.py
Due: none

Fix sample env data
  environments/ssl/enable-internal-tls.yaml
  sample-env-generator/ssl.yaml
  tools/check-up-to-date.sh
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container
