Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa, tripleo-ci-centos-7-scenario011-multinode-oooq-container

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-tht

tripleo-ci-centos-7-scenario010-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-tht

Prevent ovn dbs related facts to run on each step.
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Memcached collectd plugin uses host URI instead of IP address.
  deployment/memcached/memcached-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Relax facts gathering plays on the overcloud
  common/deploy-steps-playbooks-common.yaml
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use a single task for fact gathering
  common/deploy-steps-playbooks-common.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add dashboard_protocol variable when internal_tls is enabled
  deployment/ceph-ansible/ceph-mgr.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Add missing config_files kolla directives
  deployment/nova/novajoin-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Update, avoid task skipping by directly importing step file.
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Unset keystone::public_endpoint
  deployment/keystone/keystone-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fixing the copy failure of derive_pci_passthrough_whitelist.py
  docker/services/neutron-sriov-agent.yaml
Due: none

Generated passthrough_whitelist shall use all the user_configs fields
  deployment/neutron/derive_pci_passthrough_whitelist.py
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Add BarbicanClient service for configuring edge sites
  deployment/barbican/barbican-client-puppet.yaml
  environments/services/barbican-edge.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/add-barbican-client-for-dcn-7182e8bab41fce21.yaml
  roles/DistributedCompute.yaml
  roles/DistributedComputeHCI.yaml
  roles/DistributedComputeHCIScaleOut.yaml
  roles/DistributedComputeScaleOut.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add support for Gnocchi NFS Backend
  deployment/gnocchi/gnocchi-api-container-puppet.yaml
  deployment/gnocchi/gnocchi-metricd-container-puppet.yaml
  deployment/gnocchi/gnocchi-statsd-container-puppet.yaml
  releasenotes/notes/gnocchi-nfs-backend-90febc9f87e7df08.yaml
Due: none

Ensure redis_tls_proxy starts after all redis instances
  container_config_scripts/wait-port-and-run.sh
  deployment/containers-common.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-standalone-on-multinode-ipa

Remove redundant file management for /run/redis
  deployment/database/redis-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Set 'DEBUG' to horizon::log_level if HorizonDebug or Debug is true
  deployment/horizon/horizon-container-puppet.yaml
  releasenotes/notes/horizon_logger_debug-cd70c45c1b695e4b.yaml
Due: none

Remove /var/lib/config-data context task
  common/deploy-steps-playbooks-common.yaml
  common/generate-config-tasks.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Do not manage healthcheck for nova-compute anymore
  deployment/nova/nova-compute-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

Generated passthrough_whitelist shall use all the user_configs fields
  docker/services/derive_pci_passthrough_whitelist.py
Due: none

Small improvement on the default gateway(s) detection
  validation-scripts/all-nodes.sh
Due: none

Revamp how etcd's cert and key are handled in containers
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/cinder/cinder-backup-container-puppet.yaml
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-common-container-puppet.yaml
  deployment/cinder/cinder-scheduler-container-puppet.yaml
  deployment/cinder/cinder-volume-container-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/etcd/etcd-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-standalone-on-multinode-ipa

Support for PowerStore Cinder Backend
  deployment/cinder/cinder-backend-dellemc-powerstore-puppet.yaml
  environments/cinder-dellemc-powerstore-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/powerstore-driver-e528e372280c44e6.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerStorageDashboard.yaml
  roles/ControllerStorageNfs.yaml
  roles/Standalone.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add openvswitch special treatment to update too.
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
  deployment/undercloud/undercloud-upgrade.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Expose the zaqar_ws_timeout_tunnel variable.
  deployment/haproxy/haproxy-container-puppet.yaml
  releasenotes/notes/zaqar_ws_timeout_tunnel-d5d1e900dce79b34.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-standalone-on-multinode-ipa

Rolling certificate update for HA services
  container_config_scripts/pacemaker_mutex_restart_bundle.sh
  container_config_scripts/pacemaker_resource_lock.sh
  deployment/certs/certmonger-user-baremetal-puppet.yaml
  deployment/containers-common.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-8-standalone-on-multinode-ipa

Update Nova VNC puppet variables
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
Due: tripleo-ci-centos-8-standalone-on-multinode-ipa

[QUEENS ONLY] Don't check openvswitch service if no ovs package.
  puppet/services/tripleo-packages.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-multinode-containers.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-8-standalone-on-multinode-ipa: any of: environments/ssl/tls-everywhere-endpoints-dns.yaml, environments/services/haproxy-public-tls-certmonger.yaml, environments/ssl/enable-internal-tls.yaml, ci/environments/standalone-ipa.yaml, deployment/ipa/ipaservices-baremetal-ansible.yaml, deployment/apache/*, deployment/ceph-ansible/*, deployment/database/*, deployment/etcd/*, deployment/haproxy/*, deployment/metrics/*, deployment/neutron/*, deployment/nova/*, deployment/octavia/*, deployment/ovn/*, deployment/rabbitmq/*, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(deployment|docker|puppet)/.*ironic.*$, ^environments\/.*ironic.*$
