Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario011-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^(deployment|docker|puppet)/.*tacker.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-multinode-containers.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(deployment|docker|puppet)/.*ironic.*$, ^environments\/.*ironic.*$
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^ci/common/.*$, ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^deployment/.*kubernetes/.*$, ci/environments/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*

Add ceph_ansible_repo variable on ceph-base
  ci/environments/scenario000-multinode-containers.yaml
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario004-multinode-containers.yaml
  ci/environments/scenario004-standalone.yaml
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario010-standalone.yaml
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Disable Paunch by default Standalone/Overcloud
  ci/environments/scenario004-standalone.yaml
  common/deploy-steps.j2
  environments/docker-ha.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Remove hieradata related to OpenShift deployment
  deployment/haproxy/haproxy-edge-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove OpenShift resources completely.
  ci/environments/scenario000-standalone.yaml
  environments/undercloud/undercloud-minion.yaml
  overcloud-resource-registry-puppet.j2.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix listen_on_master_ip_only
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Use short prameter names for nova::network::neutron
  deployment/nova/nova-base-puppet.yaml
  environments/low-memory-usage.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

[update/upgrade] Use include_tasks instead of import_tasks
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Use a jinja block to reduce str_replace repetition
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Check Ceph*Key value format and halt on error
  deployment/ceph-ansible/ceph-base.yaml
  deployment/ceph-ansible/ceph-mds.yaml
  deployment/ceph-ansible/ceph-mon.yaml
  deployment/manila/manila-backend-cephfs.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix krb-service-principals with service_net_map_replace
  extraconfig/nova_metadata/krb-service-principals/role.role.j2.yaml
  releasenotes/notes/fix-krb-service-principals-with-service-net-map-replace-463dd1296766cc47.yaml
Due: none

Set logging parameters for virtlogd
  deployment/logging/files/nova-libvirt.yaml
  deployment/logging/stdout/nova-libvirt.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  releasenotes/notes/libvirt-virtlogd-logs-377ff4083a58cde4.yaml
Due: none

Move glance logging templates to logging directory
  deployment/logging/files/glance-api.yaml
  deployment/logging/stdout/glance-api.yaml
  environments/stdout-logging.yaml
  overcloud-resource-registry-puppet.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Rename tripleo-hieradata to tripleo_hieradata
  common/deploy-steps.j2
  common/hiera-steps-tasks.yaml
  overcloud.j2.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Add setfacl statements for neutron metadata proxy
  deployment/neutron/neutron-metadata-container-puppet.yaml
Due: none

Add DNS related settings
  net-config-bridge.j2.yaml
  net-config-linux-bridge.j2.yaml
  net-config-static-bridge-with-external-dhcp.j2.yaml
Due: none

Remove support for ceph-ansible fetch directory
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use ipc:host for cinder-backup
  deployment/cinder/cinder-backup-container-puppet.yaml
Due: none

ControlPlaneSubnetCidr in net_vip_map_external
  network/ports/net_vip_map_external.j2.yaml
  network/ports/net_vip_map_external_v6.j2.yaml
  releasenotes/notes/add-ControlPlaneSubnetCidr-to-net_vip_map_external-c2c83431feaf7f35.yaml
Due: none

Added OctaviaDeploymentConfig to deployed server role
  deployed-server/deployed-server-roles-data.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

Sync neutron-ml2-ansible.yaml files
  environments/neutron-ml2-ansible.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Run the swift_rsync container unprivileged
  deployment/swift/swift-storage-container-puppet.yaml
Due: none

Add support for glance multistore
  ci/environments/scenario001-standalone.yaml
  deployment/glance/glance-api-container-puppet.yaml
  releasenotes/notes/glance-multistore-82d4fc260acfb355.yaml
Due: none

Add setfacl statements for neutron metadata proxy
  docker/services/neutron-metadata.yaml
Due: none

Fix mapping of KeystoneOpenIdcEnableOAuth
  deployment/keystone/keystone-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add posibilities to configure replication_probe_interval
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  releasenotes/notes/replication_probe_interval_ovn_dbs-4aab423180fb6847.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Ensure /var/run/octavia is present upon reboot
  deployment/octavia/octavia-api-container-puppet.yaml
  releasenotes/notes/fix-octavia-api-driver-agent-failed-on-reboot-373a31d28ea72587.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Configure Undercloud hostname in the overcloud during upgrade.
  deployment/container-image-prepare/container-image-prepare-baremetal-ansible.j2.yaml
  deployment/podman/podman-baremetal-ansible.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove outdated comment about enabled dashboard
  deployment/horizon/horizon-container-puppet.yaml
Due: none

Disable Mistral dashboard
  deployment/horizon/horizon-container-puppet.yaml
Due: none

Remove wsgi_enabled parameters in nova
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-metadata-container-puppet.yaml
Due: none

Remove LocalCephAnsibleFetchDirectoryBackup from standalone 001,004,010
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario004-standalone.yaml
  ci/environments/scenario010-standalone.yaml
Due: none

Remove support for ceph-ansible fetch directory
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario004-standalone.yaml
  ci/environments/scenario010-standalone.yaml
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Restart ovn-dbs resource to take new VIP property.
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

[OVN] SRIOV with native OVN DHCP server
  environments/services/neutron-ovn-sriov.yaml
  roles/ControllerSriov.yaml
  roles/NetworkerSriov.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Cleanup tasks for container-puppet.py
  common/deploy-steps-tasks-step-0.j2.yaml
  common/deploy-steps-tasks-step-1.yaml
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
  common/generate-config-tasks.yaml
  deployment/README.rst
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container

libvirt: remove unused cpuset_cpus
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: none
