Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

tripleo-ci-centos-7-scenario001-multinode-oooq-container:
  voting: true

tripleo-ci-centos-7-scenario002-multinode-oooq-container:
  voting: true

tripleo-ci-centos-7-scenario003-multinode-oooq-container:
  voting: true

tripleo-ci-centos-7-scenario004-multinode-oooq-container:
  voting: true

Remove forcing docker as container_cli
  ci/environments/scenario007-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

SELinux: correct type for /var/log/containers
  common/deploy-steps-tasks.yaml
Due: none

Fix path path in TLS everywhere template
  environments/services/haproxy-internal-tls-certmonger.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Rename pre/post deployments host vars
  common/deploy-steps.j2
Due: none

Resolve broken zaqar container caused by logging issues
  deployment/zaqar/zaqar-container-puppet.yaml
Due: none

Add redis password for ml2 ansible coordination
  deployment/neutron/neutron-plugin-ml2-ansible-container-puppet.yaml
Due: none

Misspelling of words
  releasenotes/notes/enable-dpdk-on-boot-f5b098b10152b436.yaml
Due: none

Revert Add OvnDbInternal to EndpointMap and use it for ovn_db_host
  deployment/ovn/ovn-controller-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
  environments/ssl/no-tls-endpoints-public-ip.yaml
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  releasenotes/notes/remove-ovndbinternal-endpoint-295f452c938aa06c.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Skip systemd healthcheck validation on docker
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  deployment/nova/nova-metadata-container-puppet.yaml
  deployment/nova/nova-migration-target-container-puppet.yaml
  deployment/nova/nova-scheduler-container-puppet.yaml
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
Due: none

HA: fix <service>_restart_bundle with minor update workflow
  docker/services/containers-common.yaml
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
  docker_config_scripts/pacemaker_restart_bundle.sh
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove containers before removing associated storage
  common/container-puppet.py
Due: none

Resolve broken zaqar container caused by logging issues
  docker/services/zaqar.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Enable deep_compare by default for stonith resources
  deployment/pacemaker/pacemaker-baremetal-puppet.yaml
  deployment/pacemaker/pacemaker-remote-baremetal-puppet.yaml
  releasenotes/notes/enable-deep_compare-fencing-698cec642ecd54a4.yaml
Due: none

Fix nova-conductor healthcheck RPC port
  deployment/nova/nova-conductor-container-puppet.yaml
Due: none

Enable health check for metrics_qdr container
  deployment/metrics/qdr-container-puppet.yaml
Due: none

Support deploying multiple Cinder Pure Storage backends
  deployment/cinder/cinder-backend-pure-puppet.yaml
  environments/cinder-pure-config.yaml
  releasenotes/notes/cinder-multiple-pure-backends-4537532f428315e1.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Wait for first healthcheck before running validation tasks
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  deployment/nova/nova-metadata-container-puppet.yaml
  deployment/nova/nova-migration-target-container-puppet.yaml
  deployment/nova/nova-scheduler-container-puppet.yaml
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
Due: none

Run facts gathering always for upgrades.
  common/deploy-steps.j2
Due: none

HA: fix <service>_restart_bundle with minor update workflow
  docker/services/containers-common.yaml
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker_config_scripts/pacemaker_restart_bundle.sh
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Don't use docker override in scenario012 standalone ironic
  ci/environments/scenario012-standalone.yaml
Due: none

Add IPv6 condition to set to the local_address
  deployment/kernel/kernel-baremetal-ansible.yaml
Due: none

Move Octavia agent containers to step 5
  deployment/octavia/octavia-health-manager-container-puppet.yaml
  deployment/octavia/octavia-housekeeping-container-puppet.yaml
  deployment/octavia/octavia-worker-container-puppet.yaml
Due: none

Don't run keystone_cron container if fernet token is used
  deployment/keystone/keystone-container-puppet.yaml
Due: none

Revert "Move nova cell v2 discovery to deploy_steps_tasks"
  docker/services/nova-compute-common.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-ironic.yaml
  docker_config_scripts/nova_cell_v2_discover_hosts.py
  releasenotes/notes/nova_move_host_discovery_to_external_post_deploy_tasks-e978560ee59b8b56.yaml
  tools/yaml-validate.py
Due: none

nova-libvirt: set 'cpuset_cpus' to 'all'
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: none

Add new parameter options to Octavia service
  deployment/octavia/octavia-base.yaml
  releasenotes/notes/add-three-more-octavia-params-1e4a32f910e5f1fc.yaml
Due: none

Fix selinux context for glance-api
  deployment/glance/glance-api-container-puppet.yaml
  environments/storage-environment.yaml
  environments/storage/glance-nfs.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

move multinode scen006 to experimental
  zuul.d/layout.yaml
Due: none

Delete deprecated nova-consoleauth-container-puppet.yaml
  deployment/deprecated/nova/nova-consoleauth-container-puppet.yaml
Due: none

Remove Tacker service
  ci/environments/scenario007-multinode-containers.yaml
  ci/environments/scenario007-standalone.yaml
  deployed-server/deployed-server-roles-data.yaml
  deployment/tacker/tacker-container-puppet.yaml
  environments/enable_tacker.yaml
  environments/services-baremetal/tacker.yaml
  environments/services/tacker.yaml
  environments/ssl/no-tls-endpoints-public-ip.yaml
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  environments/standalone.yaml
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  environments/undercloud/undercloud-minion.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  network/service_net_map.j2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/remove-tacker-1375cfa1a2ac8fef.yaml
  roles/Controller.yaml
  roles/ControllerAllNovaStandalone.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerOpenstack.yaml
  roles/ControllerStorageDashboard.yaml
  roles/ControllerStorageNfs.yaml
  roles/Standalone.yaml
  roles_data.yaml
  sample-env-generator/ssl.yaml
  sample-env-generator/standalone.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Use _uri which is wrapped if IPv6 for ironic tftp
  deployment/ironic/ironic-conductor-container-puppet.yaml
  releasenotes/notes/fix-ironic-pxe-tftp-ipv6-a315184667e262b3.yaml
Due: none

Enable deep_compare by default for stonith resources
  puppet/services/pacemaker.yaml
  puppet/services/pacemaker_remote.yaml
  releasenotes/notes/enable-deep_compare-fencing-698cec642ecd54a4.yaml
Due: none

Stop bindmounting /usr/bin
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: (any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml) or (any of: ^docker/services/glance.*$, ^docker/services/mistral.*$, ^docker/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^docker/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml
