Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/ceilometer.*$, ^puppet/services/ceph.*$, ^puppet/services/cinder.*$, ^puppet/services/congress.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/logging.*$, ^puppet/services/metrics.*$, ^puppet/services/monitoring.*$, ^puppet/services/panko.*$, ^puppet/services/tacker.*$, ci/environments/scenario001-multinode.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/congress.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/logging.*$, ^(docker|puppet)/services/metrics.*$, ^(docker|puppet)/services/monitoring.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^puppet/services/aodh.*$, ^puppet/services/barbican.*$, ^puppet/services/ceilometer.*$, ^puppet/services/cinder.*$, ^puppet/services/ec2-api.*$, ^puppet/services/glance.*$, ^puppet/services/gnocchi.*$, ^puppet/services/panko.*$, ^puppet/services/swift.*$, ^puppet/services/zaqar.*$, ci/environments/scenario002-multinode.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/aodh.*$, ^(docker|puppet)/services/barbican.*$, ^(docker|puppet)/services/ceilometer.*$, ^(docker|puppet)/services/cinder.*$, ^(docker|puppet)/services/ec2-api.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/gnocchi.*$, ^(docker|puppet)/services/panko.*$, ^(docker|puppet)/services/swift.*$, ^(docker|puppet)/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^puppet/services/glance.*$, ^puppet/services/mistral.*$, ^puppet/services/sahara.*$, ci/environments/scenario003-multinode.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/mistral.*$, ^(docker|puppet)/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^puppet/services/ceph.*$, ^puppet/services/glance.*$, ^puppet/services/manila.*$, ci/environments/scenario004-multinode.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml) or (any of: ^(docker|puppet)/services/ceph.*$, ^(docker|puppet)/services/glance.*$, ^(docker|puppet)/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ci/environments/scenario007-multinode.yaml, ci/pingtests/scenario007-multinode.yaml, ^puppet/services/.*ovn.*$, config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^(docker|puppet)/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml

Open ports 443 and 80 on haproxy's firewall when horizon is standalone
  puppet/services/horizon.yaml
Due: none

Add CephClient and CephExternal to the Telemetry role
  roles/Telemetry.yaml
Due: none

Remove heat-api-cloudwatch service support
  environments/services/heat-api-cloudwatch.yaml
  puppet/services/heat-api-cloudwatch.yaml
  releasenotes/notes/remove-heat-api-cloudwatch-577417e2b2db3b15.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

horizon: trigger _member_ role creation in Keystone
  puppet/services/horizon.yaml
  releasenotes/notes/horizon_keystone_member-838d4b65cc0b0d11.yaml
Due: none

Add support for ceph-nfs manila backend
  docker/services/ceph-ansible/ceph-nfs.yaml
  docker/services/pacemaker/manila-share.yaml
  environments/manila-cephfsganesha-config-docker.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/all-nodes-config.j2.yaml
  puppet/services/manila-backend-cephfs.yaml
  roles/ControllerStorageNfs.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Pass storage nfs VIP to ceph-ansible
  docker/services/ceph-ansible/ceph-nfs.yaml
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  environments/tls-endpoints-public-dns.yaml
  environments/tls-endpoints-public-ip.yaml
  environments/tls-everywhere-endpoints-dns.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  releasenotes/notes/add-support-manila-cephnfs-backend-fb35ecc995705256.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

RHSM: update parameters in doc
  environments/rhsm.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fixes SSL/TLS with OpenDaylight docker service
  docker/services/opendaylight-api.yaml
  releasenotes/notes/fix-odl-tls-docker-67b8453a6be7fa58.yaml
Due: none

logging: use service_config_settings for fluentd
  ci/environments/scenario001-multinode-containers.yaml
  puppet/services/ceilometer-agent-central.yaml
  puppet/services/ceilometer-agent-ipmi.yaml
  puppet/services/ceilometer-agent-notification.yaml
  puppet/services/cinder-api.yaml
  puppet/services/cinder-scheduler.yaml
  puppet/services/cinder-volume.yaml
  puppet/services/database/mongodb.yaml
  puppet/services/ec2-api.yaml
  puppet/services/glance-api.yaml
  puppet/services/gnocchi-api.yaml
  puppet/services/heat-api-cfn.yaml
  puppet/services/heat-api.yaml
  puppet/services/heat-engine.yaml
  puppet/services/keystone.yaml
  puppet/services/neutron-api.yaml
  puppet/services/neutron-dhcp.yaml
  puppet/services/neutron-l2gw-agent.yaml
  puppet/services/neutron-l3-compute-dvr.yaml
  puppet/services/neutron-l3.yaml
  puppet/services/neutron-metadata.yaml
  puppet/services/neutron-ovs-agent.yaml
  puppet/services/nova-api.yaml
  puppet/services/nova-compute.yaml
  puppet/services/nova-conductor.yaml
  puppet/services/nova-consoleauth.yaml
  puppet/services/nova-placement.yaml
  puppet/services/nova-scheduler.yaml
  puppet/services/nova-vnc-proxy.yaml
  puppet/services/octavia-api.yaml
  puppet/services/octavia-health-manager.yaml
  puppet/services/octavia-housekeeping.yaml
  puppet/services/octavia-worker.yaml
  puppet/services/pacemaker.yaml
  puppet/services/pacemaker/cinder-volume.yaml
  puppet/services/pacemaker_remote.yaml
  puppet/services/sahara-api.yaml
  puppet/services/sahara-engine.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Fix missing Swift d1 directory
  docker/services/swift-storage.yaml
  releasenotes/notes/swift-create-d1-containerized-8eda040d9088be7d.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

OpenShift: Accept generic global parameters
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Move options out of the OpenShiftMaster template
  environments/openshift.yaml
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq

Add --live-restore to the docker_options in puppet/services/docker.yaml
  puppet/services/docker.yaml
Due: none

Add Mistral to the provided controller roles
  releasenotes/notes/add-mistral-to-roles-52525fe9689e60b1.yaml
  roles/Controller.yaml
  roles/ControllerAllNovaStandalone.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerOpenstack.yaml
  roles_data.yaml
Due: none

Add new encryption middleware to swift proxy
  docker/services/swift-proxy.yaml
  puppet/services/swift-proxy.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add support for Dell EMC VNX Cinder Backend
  capabilities-map.yaml
  deployed-server/deployed-server-roles-data.yaml
  environments/cinder-dellemc-vnx-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/cinder-backend-dellemc-vnx.yaml
  releasenotes/notes/vnx_cinder_b5572898724a11e7.yaml
  roles/Controller.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add PTP composable service
  environments/hyperconverged-ceph.yaml
  environments/services/ptp.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/time/ptp.yaml
  releasenotes/notes/ptp-a1bf70fbfddd1830.yaml
  roles/BlockStorage.yaml
  roles/CephAll.yaml
  roles/CephFile.yaml
  roles/CephObject.yaml
  roles/CephStorage.yaml
  roles/Compute.yaml
  roles/ComputeHCI.yaml
  roles/ComputeOvsDpdk.yaml
  roles/ComputeOvsDpdkRT.yaml
  roles/ComputeRealTime.yaml
  roles/ComputeSriov.yaml
  roles/ComputeSriovRT.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerOpenstack.yaml
  roles/HciCephAll.yaml
  roles/HciCephFile.yaml
  roles/HciCephMon.yaml
  roles/HciCephObject.yaml
  roles/ObjectStorage.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove tags from upgrade tasks for aide.yml.
  puppet/services/aide.yaml
Due: none

Set rgw_keystone_revocation_interval to 0 for ceph-ansible
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

OpenShift: Properly disable bare metal OVS
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Zuul: Remove project name
  zuul.d/layout.yaml
Due: none

Removes manila-generic-config from TripleO
  capabilities-map.yaml
  deployed-server/deployed-server-roles-data.yaml
  environments/contrail/roles_data_contrail.yaml
  environments/manila-generic-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/manila-backend-generic.yaml
  roles/Controller.yaml
  roles/ControllerOpenstack.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Do not generate apache/haproxy certs for invalid networks
  puppet/services/apache.j2.yaml
  puppet/services/haproxy-internal-tls-certmonger.j2.yaml
  tripleo_heat_templates/tests/test_yaql.py
Due: none

Adding /usr/share/neutron/server config dir
  docker/services/neutron-api.yaml
Due: none

Add S3 storage driver as an option and its config
  environments/storage/enable-ceph.yaml
  environments/storage/external-ceph.yaml
  puppet/services/gnocchi-api.yaml
  puppet/services/gnocchi-base.yaml
  releasenotes/notes/add-s3-driver-da8a31a3c646892e.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Mount central agent log dir to access outside the container
  docker/services/ceilometer-agent-central.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Expose params to enable panko expirer cron
  puppet/services/panko-base.yaml
  releasenotes/notes/add-panko-expirer-bac4243971fc23e5.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix docker nova logging
  docker/services/nova-compute.yaml
  docker/services/nova-ironic.yaml
  docker/services/nova-libvirt.yaml
Due: none

Adding docker service for BGPVPN Service Plugin
  docker/services/neutron-bgpvpn-api.yaml
  environments/services-docker/neutron-bgpvpn-opendaylight.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Adding docker service for the L2GW
  docker/services/neutron-l2gw-api.yaml
  environments/services-docker/neutron-l2gw-opendaylight.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

[Upgrade] Reuse OVS workaround in docker neutron ovs agent
  docker/services/neutron-ovs-agent.yaml
  puppet/services/neutron-ovs-agent.yaml
Due: none

Fix custom output dir for templates processor
  tools/process-templates.py
Due: none

ffu: tripleo-packages repo management
  puppet/services/tripleo-packages.yaml
Due: none

ffu: Add fast-forward upgrade outputs to RoleConfig
  common/deploy-steps.j2
  common/services.yaml
  docker/services/README.rst
  releasenotes/notes/fast-forward-upgrade-tasks-a8b5d64831a71e24.yaml
Due: none

Fix docker neutron logging
  docker/services/logging/files/neutron-api.yaml
  docker/services/logging/files/neutron-common.yaml
  docker/services/logging/stdout/neutron-common.yaml
  docker/services/neutron-api.yaml
  docker/services/neutron-dhcp.yaml
  docker/services/neutron-l3.yaml
  docker/services/neutron-metadata.yaml
  docker/services/neutron-ovs-agent.yaml
  docker/services/neutron-sriov-agent.yaml
  docker/services/ovn-metadata.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove the heat upgrade steps for Q upgrade workflow
  common/major_upgrade_steps.j2.yaml
  common/post-upgrade.j2.yaml
  environments/major-upgrade-composable-steps-docker.yaml
  environments/major-upgrade-composable-steps.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/upgrade_config.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container
