Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$

Set hierdata for swift server workers conditionally
  puppet/services/swift-proxy.yaml
  puppet/services/swift-storage.yaml
  releasenotes/notes/change-swift-worker-defaults-b98f12fb2f677bf1.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Ensure correct tmp ownership for Gnocchi
  docker/services/gnocchi-api.yaml
  releasenotes/notes/gnocchi-tmp-b5b48708c5dd17df.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Merge new params - nic-config templates
  tools/merge-new-params-nic-config-script.py
Due: none

ceilometer: --skip-metering-database is gone
  docker/services/ceilometer-agent-central.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix typo in standalone-tripleo environment
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add support for configuring ppc64le in ironic
  puppet/services/ironic-conductor.yaml
  puppet/services/ironic-inspector.yaml
Due: none

Move metadata file creation for netapp to puppet-tripelo from THT
  puppet/services/glance-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add scenario 012 - overlcoud baremetal+ansible-ml2
  ci/common/vbmc_setup.yaml
  ci/environments/scenario012-multinode-containers.yaml
Due: none

Per role Numa aware vswitch configuration
  puppet/services/nova-compute.yaml
Due: none

Fix novajoin nova vendordata hieradata keys
  docker/services/novajoin.yaml
Due: none

Sets ODL OVSDB inactivity probe timer
  puppet/services/opendaylight-api.yaml
  puppet/services/releasenotes/notes/add-opendaylight-inactivity-probe-config-a89f6dcd204192a8.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Skip hosts group in ceph-ansible inventory when all are blacklisted
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix IHA with the new region_name key
  extraconfig/tasks/instanceha/check-run-nova-compute
Due: none

Add common vars to common plays
  common/deploy-steps.j2
Due: none

Revert "Don't run host_prep_tasks from {{role}}HostPrepDeployment"
  common/deploy-steps.j2
Due: none

Standalone: Disable persisting VIPs on /etc/hosts
  environments/standalone/standalone-tripleo.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Turning off extra UIs from Horizon fixes also SQLite issue
  docker/services/horizon.yaml
Due: none

Add posibilities to set default timeouts for octavia
  puppet/services/octavia-worker.yaml
  releasenotes/notes/bug-1797130-b40e402a9bffe2f0.yaml
Due: none

Ensure unique containers names in docker-puppet
  docker/docker-puppet.py
  lower-constraints.txt
  requirements.txt
Due: none

Remove 3node from CI
  zuul.d/layout.yaml
Due: none

Recreate cinder LVM loopback device on startup
  docker/services/cinder-common.yaml
  docker/services/cinder-volume.yaml
  docker/services/pacemaker/cinder-volume.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Add OpenStack clients service
  environments/standalone.yaml
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  environments/undercloud.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/openstack-clients.yaml
  releasenotes/notes/openstack-client-service-86d28dab98f1763f.yaml
  roles/Standalone.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Create default deployment plan
  extraconfig/post_deploy/undercloud_post.sh
Due: none

Delete empty karaf directory on host
  docker/services/opendaylight-api.yaml
  releasenotes/notes/odl_delete_karaf_folder_on_host-b81465f62fe422d6.yaml
Due: none

Set the number of RPC workers to 1 for non SRIOV OVN setups
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-hw-offload.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Decoupling number of API and RPC workers for neutron-api
  puppet/services/neutron-api.yaml
  releasenotes/notes/decoupling_api_rpc_workers_neutron_api-eb5820d6bcedb53b.yaml
Due: none

Add more NSX config parameters
  puppet/services/neutron-plugin-nsx.yaml
Due: none

Parametrize OpenShift deployment type
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-node.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Fluentd deprecation releasenote
  docker/services/fluentd.yaml
  puppet/services/logging/fluentd.yaml
  releasenotes/notes/deprecate-fluentd-049bce4cb556962f.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Sensu Deprecation note
  docker/services/sensu-client.yaml
  puppet/services/monitoring/sensu-client.yaml
  releasenotes/notes/deprecate-sensu-dd2e8933cb147166.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Fix a typo of "rabbitmq"
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Make $SSH_OPTIONS overrideable
  deployed-server/scripts/get-occ-config.sh
  releasenotes/notes/overrideable-ssh-options-1bd4a78408eb6c2c.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Disable MistralDockerGroup creation with podman
  environments/podman.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container
