Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Add nova-scheduler worker support
  puppet/services/nova-scheduler.yaml
  releasenotes/notes/add-nova-scheduler-worker-support-0ab66160b936a0c0.yaml
Due: none

Deploy openshift all in one in scenario009
  ci/environments/scenario009-multinode.yaml
  extraconfig/services/openshift-master.yaml
  roles/OpenShiftAllInOne.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Add metadata_settings to Octavia and Glance APIs
  docker/services/octavia-api.yaml
  puppet/services/glance-api.yaml
  puppet/services/octavia-api.yaml
  releasenotes/notes/add-metadata-settings-to-octavia-and-glance-tls-internal-5d8e46650b174626.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Standardize path to prepare log file
  environments/undercloud.yaml
  puppet/services/container-image-prepare.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Pass image import conf file to command which runs glance server
  docker/services/glance-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Use glusterfs for registry when deploying with CNS
  extraconfig/services/openshift-cns.yaml
  extraconfig/services/openshift-master.yaml
  roles/OpenShiftInfra.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Add posibilities to set tunnel_csum in ovs agent
  puppet/services/neutron-ovs-agent.yaml
  releasenotes/notes/bug-1794268-0f875aa640b4246e.yaml
Due: none

Add ERL args parameter for rabbit and set the busy wait threshold to none
  puppet/services/rabbitmq.yaml
  releasenotes/notes/rabbitmq-erl-args-9029cf4605d63dd9.yaml
Due: none

Disable Swift auditors/replicators on undercloud
  docker/services/swift-storage.yaml
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Revert "iscsi: workaround to let podman read /dev/null"
  docker/services/iscsid.yaml
Due: none

Use single replica for standalone AIO deployments
  environments/standalone.yaml
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Ensure the needed openshift resources are set
  environments/openshift.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq

Remove artificial constrains around notification drivers
  puppet/services/aodh-base.yaml
  puppet/services/barbican-api.yaml
  puppet/services/ceilometer-base.yaml
  puppet/services/cinder-api.yaml
  puppet/services/congress.yaml
  puppet/services/designate-base.yaml
  puppet/services/glance-api.yaml
  puppet/services/heat-base.yaml
  puppet/services/keystone.yaml
  puppet/services/manila-base.yaml
  puppet/services/mistral-base.yaml
  puppet/services/neutron-base.yaml
  puppet/services/nova-base.yaml
  puppet/services/octavia-base.yaml
  puppet/services/sahara-base.yaml
  puppet/services/tacker.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add tripleo-heat-templates dir to Mistral volumes
  docker/services/mistral-executor.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

Run update jobs for fuller set of services
  zuul.d/layout.yaml
Due: none

Ensure octavia flavor gets configured if composable octavia
  docker/services/octavia-api.yaml
  docker/services/octavia-worker.yaml
Due: none

Set octavia log directory permissions to octavia user
  docker/services/octavia-api.yaml
  docker/services/octavia-health-manager.yaml
  docker/services/octavia-housekeeping.yaml
  docker/services/octavia-worker.yaml
Due: none

Use openshift-ansible container instead of RPMs
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Fix update tasks for openshift
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-node.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Always lowercase role name
  puppet/role.role.j2.yaml
Due: none

Allow standalone to manage selinux
  environments/standalone.yaml
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  releasenotes/notes/standalone-selinux-configuration-39a0c7285d8e4c66.yaml
  roles/Standalone.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Swift doesn't use standard logging.
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add provision to specify java arguments to ODL
  puppet/services/opendaylight-api.yaml
  releasenotes/notes/set_java_opts_from_tripleo-d969b1151ec244a0.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Remove deprecated Ram/Disk filters in NovaSchedulerDefaultFilters
  environments/cavium-liquidio.yaml
  environments/neutron-ml2-ovn-hw-offload.yaml
  environments/neutron-ovs-dpdk.yaml
  environments/neutron-sriov.yaml
  environments/ovs-hw-offload.yaml
  environments/services-baremetal/neutron-opendaylight-dpdk.yaml
  environments/services-baremetal/neutron-opendaylight-hw-offload.yaml
  environments/services-baremetal/neutron-opendaylight-sriov.yaml
  environments/services-baremetal/neutron-ovs-dpdk.yaml
  environments/services-baremetal/neutron-ovs-hw-offload.yaml
  environments/services-baremetal/neutron-sriov.yaml
  environments/services/neutron-opendaylight-dpdk.yaml
  environments/services/neutron-opendaylight-hw-offload.yaml
  environments/services/neutron-opendaylight-sriov.yaml
  environments/services/neutron-ovn-sriov.yaml
  environments/services/neutron-ovs-dpdk.yaml
  environments/services/neutron-ovs-hw-offload.yaml
  environments/services/neutron-sriov.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Disable non-containerized Swift services
  docker/services/swift-storage.yaml
  releasenotes/notes/disable-non-containerized-swift-services-4f7edd98203d749b.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Correct a minor typo in the doc that could lead to some issues
  environments/services/octavia.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Parametrize OpenShift deployment type
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-node.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Added all keystone log files to fluentd
  docker/services/keystone.yaml
  puppet/services/keystone.yaml
  tools/yaml-validate.py
Due: none

check mode: docker_puppet
  common/deploy-steps-tasks.yaml
  docker/docker-puppet.py
Due: none

Introduce proper steps to external update/upgrade tasks
  common/deploy-steps.j2
  docker/services/ceph-ansible/ceph-base.yaml
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq

Run online migrations via "external-upgrade run"
  docker/services/cinder-api.yaml
  docker/services/ironic-api.yaml
  docker/services/nova-api.yaml
  releasenotes/notes/online-migration-external-upgrade-5093de6bd8993b5c.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add stack output ansible_group_vars
  common/services.yaml
Due: none

Apply variable to task not the block
  extraconfig/services/rhsm.yaml
Due: none

Revert "Convert *tasks from bootstrap_nodeid to short_bootstrap_node_name"
  docker/services/cinder-api.yaml
  docker/services/ironic-api.yaml
  docker/services/nova-api.yaml
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
  puppet/services/database/redis-base.yaml
  puppet/services/gnocchi-api.yaml
  puppet/services/haproxy-public-tls-inject.yaml
  puppet/services/nova-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Remove non-container zaqar-server on upgrade
  docker/services/zaqar.yaml
  releasenotes/notes/zaqar-ws-upgrade-8dda7caea7e6bc1e.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
