Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario011-multinode-oooq-container

tripleo-ci-centos-7-scenario006-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario009-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario010-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

Fix cinder and etcd running with internal TLS enabled
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/cinder/cinder-common-container-puppet.yaml
  deployment/cinder/cinder-scheduler-container-puppet.yaml
  deployment/cinder/cinder-volume-container-puppet.yaml
  deployment/etcd/etcd-container-puppet.yaml
Due: none

Fixing powermax config errors
  deployment/cinder/cinder-backend-dellemc-powermax-puppet.yaml
Due: none

Revert systemd sidecars
  deployment/neutron/kill-script
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Update container certificate
  deployment/haproxy/haproxy-public-tls-inject.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Support for Xtremio Cinder Backend
  deployment/cinder/cinder-backend-dellemc-xtremio-puppet.yaml
  environments/cinder-dellemc-xtremio-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/xtremio-driver-a428f372280c44e6.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerStorageDashboard.yaml
  roles/ControllerStorageNfs.yaml
  roles/Standalone.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Support for SC Cinder Backend
  deployment/cinder/cinder-backend-dellemc-sc-puppet.yaml
  environments/cinder-dellemc-sc-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/sc-driver-a428e372280c44e6.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerStorageDashboard.yaml
  roles/ControllerStorageNfs.yaml
  roles/Standalone.yaml
  roles_data.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use memcache for keystone caching
  deployment/keystone/keystone-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Set cache parameter for openidc in tht
  deployment/keystone/keystone-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add support for lunasa hsm in barbican
  deployment/barbican/barbican-api-container-puppet.yaml
  environments/barbican-backend-pkcs11-lunasa.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add EnableCache option to enable/disable usage of memcache
  deployment/heat/heat-base-puppet.yaml
  deployment/keystone/keystone-container-puppet.yaml
  deployment/nova/nova-base-puppet.yaml
  releasenotes/notes/enable-cache-293c39b3b6f55c80.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add ci environment file for standalone IPA parameters
  ci/environments/standalone-ipa.yaml
Due: none

Make sure IdMServer is optional
  deployment/ipa/ipaservices-baremetal-ansible.yaml
Due: none

Add parameters for vPMEM features
  deployment/nova/nova-compute-container-puppet.yaml
  releasenotes/notes/new-pmem-params-18fb9c25808a7fe6.yaml
Due: none

Add tripleo_delegate_to var for ceph health validation
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix IHA with ansible 2.9
  deployment/nova/nova-compute-container-puppet.yaml
Due: none

Skip operating system upgrade tasks via UpgradeLeappEnabled param.
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  deployment/pacemaker/pacemaker-baremetal-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Make /var/lib/mistral traversable by all users
  deployment/mistral/mistral-executor-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq-container

Deprecate Keepalived service
  ci/environments/scenario000-multinode-containers.yaml
  ci/environments/scenario000-standalone.yaml
  ci/environments/scenario004-standalone.yaml
  ci/environments/scenario010-standalone.yaml
  deployment/deprecated/keepalived/keepalived-container-puppet.yaml
  environments/docker-ha.yaml
  environments/nonha-arch.yaml
  environments/services/undercloud-keepalived.yaml
  environments/standalone/standalone-tripleo.yaml
  environments/undercloud.yaml
  environments/undercloud/undercloud-minion.yaml
  net-config-standalone.j2.yaml
  net-config-undercloud.j2.yaml
  releasenotes/notes/keepalived_deprecated-e0b20da2d51714b7.yaml
  roles/CellController.yaml
  roles/Controller.yaml
  roles/ControllerAllNovaStandalone.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerOpenstack.yaml
  roles/ControllerSriov.yaml
  roles/ControllerStorageDashboard.yaml
  roles/ControllerStorageNfs.yaml
  roles/Standalone.yaml
  roles/Undercloud.yaml
  roles_data.yaml
  roles_data_undercloud.yaml
  sample-env-generator/standalone.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add NeutronDhcpAgentDnsmasqEnableAddr6List param
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  releasenotes/notes/neutron-add-dnsmasq_enable_addr6_list-ead32a7739431607.yaml
Due: none

Fix vbmc_setup.yaml for c8 standalone
  ci/common/vbmc_setup.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add a 600s timeout when creating enable-ssh-admin workflow
  deployed-server/scripts/enable-ssh-admin.sh
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Changes in env files due to new SRIOV roles
  environments/services-baremetal/neutron-ovn-dvr-ha.yaml
  environments/services-baremetal/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Neutron ML2/OVS: add support to enable of IGMP snooping
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
  releasenotes/notes/IGMP-snooping-for-ml2ovs-d794ed4eab7c098c.yaml
Due: none

Fix typo in setting octavia wsgi server name
  deployment/octavia/octavia-api-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix missing OctaviaClientCert* parameters
  deployment/octavia/octavia-base.yaml
  deployment/octavia/octavia-deployment-config.j2.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Unify metrics_qdr name to underscore
  deployment/metrics/qdr-container-puppet.yaml
Due: none

tripleo-ci-centos-7-containerized-undercloud-upgrades -> NV
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Enable adding packages into Leapp's to_remove/to_install files.
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
  environments/lifecycle/upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix the mounting issues for the TLS everywhere deployment
  docker/services/haproxy.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Enable collectd-ceph plugin only where needed
  deployment/ceph-ansible/ceph-mon.yaml
  deployment/ceph-ansible/ceph-osd.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Make per_node.yaml py3 safe
  puppet/extraconfig/pre_deploy/per_node.yaml
Due: none

Trigger a job to run a standalone deploy with IPA on multinode
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove support for Neutron FUJITSU plugin
  ci/environments/scenario000-standalone.yaml
  deployment/neutron/neutron-plugin-ml2-fujitsu-cfab.yaml
  deployment/neutron/neutron-plugin-ml2-fujitsu-fossw.yaml
  environments/neutron-ml2-fujitsu-cfab.yaml
  environments/neutron-ml2-fujitsu-fossw.yaml
  environments/undercloud/undercloud-minion.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/remove-neutron-fujitsu-plugins-6414a5d6962e3260.yaml
  roles/Controller.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerSriov.yaml
  roles/ControllerStorageDashboard.yaml
  roles/ControllerStorageNfs.yaml
  roles/Networker.yaml
  roles/NetworkerSriov.yaml
  roles/Standalone.yaml
  roles_data.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add an option to disable the DNS record modification in FreeIPA
  deployment/ipa/ipaservices-baremetal-ansible.yaml
Due: none

Explicitly set port numbers used in swift storage
  deployment/swift/swift-storage-container-puppet.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^ci/common/.*$, ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^(deployment|docker|puppet)/.*tacker.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*keepalived.*$, ^(deployment|docker|puppet)/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ^ci/common/.*$, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-multinode-containers.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(deployment|docker|puppet)/.*ironic.*$, ^environments\/.*ironic.*$
