Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

tripleo-ci-centos-7-scenario010-multinode-oooq-container:
  voting: false

clustercheck: use fqdn instead of ip for bind address
  deployment/pacemaker/clustercheck-container-puppet.yaml
Due: none

Remove docker_config step 3 for ovn already cover by kolla script
  deployment/ovn/ovn-dbs-container-puppet.yaml
Due: none

Switch from 'podman rm' to tripleo-container-rm role
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: none

[Queens only] Change auditd stopping upgrade task.
  puppet/services/auditd.yaml
Due: none

Default all roles for deployed-server to net-config-static-bridge
  environments/deployed-server-environment.j2.yaml
  releasenotes/notes/deployed-server-net-config-static-bridge-c15bf767d3a28759.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Use list join for rendering rear config file in heat
  deployment/backup-and-restore/rear-baremetal-ansible.yaml
Due: none

Add swiftoperator role on ceph-rgw template
  deployment/ceph-ansible/ceph-base.yaml
Due: none

Fix generation of TRIPLEO_CONFIG_HASH for services
  common/container-puppet.py
Due: none

Change optparse to argparse
  container_config_scripts/nova_wait_for_api_service.py
  container_config_scripts/nova_wait_for_compute_service.py
  network/endpoints/build_endpoint_map.py
Due: none

roles: Remove use of NovaVcpuPinSet from ComputeRealTime
  environments/compute-real-time-example.yaml
  roles/ComputeRealTime.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Enable external public endpoint for MetricsQdr
  ci/environments/multinode-3nodes-registry.yaml
  ci/environments/scenario001-multinode-containers.yaml
  deployment/metrics/qdr-container-puppet.yaml
  environments/ssl/no-tls-endpoints-public-ip.yaml
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

roles: Update description of ComputeRealTime role
  roles/ComputeRealTime.yaml
Due: none

Raise Heat API WSGI timeout to 600s
  deployment/heat/heat-base-puppet.yaml
  releasenotes/notes/heat-api-wsgi-timeout-600-640058f1ae18232c.yaml
Due: none

split() function expects string not array
  environments/metrics/qdr-edge-only.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Drop NovaEnableNumaLiveMigration
  deployment/nova/nova-conductor-container-puppet.yaml
  releasenotes/notes/deprecate-nova-enable-numa-live-migration-5e0601c7d26a8f3c.yaml
Due: none

Assign service role for ironic user
  deployment/ironic/ironic-api-container-puppet.yaml
Due: none

Fix incorrect parameter to set max delay in cinder db purge cron
  deployment/cinder/cinder-base.yaml
Due: none

Fix incorrect parameter to set max delay in cinder db purge cron
  puppet/services/cinder-base.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add 'scale-up' upgrade steps for manila
  deployment/manila/manila-share-pacemaker-puppet.yaml
Due: none

Add 'scale-up' upgrade steps for cinder-backup
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
Due: none

Add 'scale-up' upgrade steps for cinder-volume
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
Due: none

Force facts cache refreshing before upgrade.
  common/deploy-steps.j2
Due: none

Add network vip mapping into service data
  overcloud.j2.yaml
Due: none

Allow overrides in non global ceph.conf sections
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

[TRAIN ONLY] Check for correct file during --skip-deploy-identifier handling.
  common/deploy-steps.j2
Due: none

Add DeployIdentifier to extra config containers
  deployment/aodh/aodh-api-container-puppet.yaml
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/experimental/designate/designate-central-container-puppet.yaml
  deployment/glance/glance-api-container-puppet.yaml
  deployment/gnocchi/gnocchi-api-container-puppet.yaml
  deployment/heat/heat-engine-container-puppet.yaml
  deployment/ironic/ironic-api-container-puppet.yaml
  deployment/ironic/ironic-inspector-container-puppet.yaml
  deployment/keystone/keystone-container-puppet.yaml
  deployment/mistral/mistral-api-container-puppet.yaml
  deployment/neutron/neutron-agents-ib-config-container-puppet.yaml
  deployment/neutron/neutron-api-container-puppet.yaml
  deployment/neutron/neutron-mlnx-agent-container-puppet.yaml
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
  deployment/nova/nova-conductor-container-puppet.yaml
  deployment/octavia/octavia-api-container-puppet.yaml
  deployment/ovn/ovn-controller-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
  deployment/placement/placement-api-container-puppet.yaml
  deployment/sahara/sahara-api-container-puppet.yaml
  deployment/zaqar/zaqar-container-puppet.yaml
Due: none

Set octavia services' stop grace period to 300sec
  deployment/octavia/octavia-health-manager-container-puppet.yaml
  deployment/octavia/octavia-housekeeping-container-puppet.yaml
  deployment/octavia/octavia-worker-container-puppet.yaml
Due: none

Set octavia services' stop grace period to 300sec
  docker/services/octavia-health-manager.yaml
  docker/services/octavia-housekeeping.yaml
  docker/services/octavia-worker.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

placement: Remove Nova to Placement extraction step
  deployment/placement/placement-api-container-puppet.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario000-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: environments/services/octavia.yaml, ^(docker|puppet)/services/.*octavia.*$, ci/environments/scenario010-multinode-containers.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
