Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$

standalone run a post config to generate a clouds.yaml
  environments/standalone.yaml
  extraconfig/post_deploy/standalone_post.sh
  extraconfig/post_deploy/standalone_post.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Update yaml files for Dell EMC VNX, Unity drivers
  environments/cinder-dellemc-vnx-config.yaml
  environments/manila-vnx-config.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Make Horizon's SECURITY_KEY 64 characters long
  overcloud.j2.yaml
Due: none

FFU Create cell0 db points to the nova-api bootstrap node.
  docker/services/database/mysql.yaml
  docker/services/nova-api.yaml
  docker/services/pacemaker/database/mysql.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

FFU: missing ironic tasks
  docker/services/ironic-api.yaml
  docker/services/ironic-conductor.yaml
Due: none

Add OPNFV scenario environment
  ci/environments/scenario008-multinode-containers.yaml
  zuul.d/layout.yaml
Due: none

Fluentd:Read log files from non containerized services
  docker/services/fluentd-client.yaml
  puppet/services/cinder-scheduler.yaml
  puppet/services/cinder-volume.yaml
  puppet/services/heat-api-cfn.yaml
  puppet/services/heat-api.yaml
  puppet/services/neutron-api.yaml
  puppet/services/neutron-l3.yaml
  puppet/services/neutron-metadata.yaml
  puppet/services/neutron-ovs-agent.yaml
  puppet/services/pacemaker.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

HA support for OpenShift
  ci/environments/scenario009-multinode.yaml
  environments/no-tls-endpoints-public-ip.yaml
  environments/ssl/no-tls-endpoints-public.yaml
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  environments/tls-endpoints-public-dns.yaml
  environments/tls-endpoints-public-ip.yaml
  environments/tls-everywhere-endpoints-dns.yaml
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-worker.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  network/service_net_map.j2.yaml
  roles/OpenShiftMaster.yaml
  roles/OpenShiftWorker.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq

Replace raw_get with dict access syntax
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-worker.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Add environment/services-baremetal/*.
  environments/services-baremetal/barbican.yaml
  environments/services-baremetal/cinder-backup.yaml
  environments/services-baremetal/collectd.yaml
  environments/services-baremetal/congress.yaml
  environments/services-baremetal/ec2-api.yaml
  environments/services-baremetal/etcd.yaml
  environments/services-baremetal/fluentd.yaml
  environments/services-baremetal/ironic-inspector.yaml
  environments/services-baremetal/ironic.yaml
  environments/services-baremetal/manila.yaml
  environments/services-baremetal/mistral.yaml
  environments/services-baremetal/neutron-bgpvpn-opendaylight.yaml
  environments/services-baremetal/neutron-l2gw-opendaylight.yaml
  environments/services-baremetal/neutron-ml2-cisco-vts.yaml
  environments/services-baremetal/neutron-opendaylight-dpdk.yaml
  environments/services-baremetal/neutron-opendaylight-hw-offload.yaml
  environments/services-baremetal/neutron-opendaylight-sriov.yaml
  environments/services-baremetal/neutron-opendaylight.yaml
  environments/services-baremetal/neutron-ovn-dvr-ha.yaml
  environments/services-baremetal/neutron-ovn-dvr.yaml
  environments/services-baremetal/neutron-ovn-ha.yaml
  environments/services-baremetal/neutron-ovn-hw-offload.yaml
  environments/services-baremetal/neutron-ovn.yaml
  environments/services-baremetal/neutron-ovs-dpdk.yaml
  environments/services-baremetal/neutron-ovs-hw-offload.yaml
  environments/services-baremetal/neutron-sriov.yaml
  environments/services-baremetal/octavia.yaml
  environments/services-baremetal/sahara.yaml
  environments/services-baremetal/sensu-client.yaml
  environments/services-baremetal/tacker.yaml
  environments/services-baremetal/undercloud-aodh.yaml
  environments/services-baremetal/undercloud-ceilometer.yaml
  environments/services-baremetal/undercloud-cinder.yaml
  environments/services-baremetal/undercloud-gnocchi.yaml
  environments/services-baremetal/undercloud-haproxy.yaml
  environments/services-baremetal/undercloud-keepalived.yaml
  environments/services-baremetal/undercloud-panko.yaml
  environments/services-baremetal/zaqar.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Fix variables interpolation for included roles
  puppet/services/docker-registry.j2.yaml
  puppet/services/docker.yaml
Due: none

Generate and mount wrappers for haproxy in OVN metadata agent
  docker/services/ovn-metadata.yaml
  puppet/services/docker.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Disable sensu-client in CI
  ci/environments/scenario001-multinode-containers.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Remove step_config from NVMEoF cinder backend
  puppet/services/cinder-backend-nvmeof.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

OVN: Add env file to deploy SRIOV with OVN.
  environments/services/neutron-ovn-sriov.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Reduce default services for Standalone
  environments/standalone.yaml
  releasenotes/notes/standalone-default-openstack-services-4ca49c6795bf8ccc.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fluentd: Set cinder-backup log path
  docker/services/cinder-backup.yaml
  puppet/services/cinder-backup.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Unify the Manila HA and non-HA docker configurations
  docker/services/manila-common.yaml
  docker/services/manila-share.yaml
  docker/services/pacemaker/manila-share.yaml
  puppet/services/manila-backend-cephfs.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Configure rndc to listen on internal_api network
  puppet/services/designate-worker.yaml
Due: none

Increase the step for gnocchi_db_sync
  docker/services/ceilometer-agent-central.yaml
  docker/services/gnocchi-api.yaml
  docker/services/gnocchi-metricd.yaml
  docker/services/gnocchi-statsd.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Treat enable_debug in Ansible as a bool
  common/deploy-steps-tasks.yaml
Due: none

Support SshKnownHostsDeployment with config-download
  common/deploy-steps.j2
  config-download-software.yaml
  config-download-structured.yaml
  environments/config-download-environment.yaml
  overcloud-resource-registry-puppet.j2.yaml
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
  releasenotes/notes/tripleo-ssh-known-hosts-5c64b1a90d61d7f2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add spacing for readability
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
Due: none

Don't log set_fact tasks for role_data
  common/deploy-steps-tasks.yaml
Due: none

Run tasks on primary role first
  common/deploy-steps.j2
Due: none

deploy-steps: switch to tripleo_role_name
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
Due: none

Optimized Ansible tasks in deplay-steps-tasks.yaml
  common/deploy-steps-tasks.yaml
Due: none

Iterate once in network-environment.yaml
  environments/network-environment-v6.j2.yaml
  environments/network-environment.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Give neutron ports names: $HOSTNAME_$NETWORKNAME
  puppet/role.role.j2.yaml
Due: none

Add FFU upgrade steps to Sahara services
  docker/services/sahara-api.yaml
  docker/services/sahara-engine.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

Log more details for container images prepare
  environments/undercloud.yaml
  puppet/services/docker-registry.j2.yaml
  releasenotes/notes/container-images-prepare-c446ed0b04c587f7.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add ability to set openshift container images
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Move scenario009 to the check queue
  zuul.d/layout.yaml
Due: none

Add OVS-DPDK parameter as part of roles file
  environments/ovs-dpdk-permissions.yaml
  releasenotes/notes/ovs-dpdk-perms-deprecate-cfddb148fce9656d.yaml
  roles/ComputeOvsDpdk.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container
