Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Allow the environment to enable Podman on the overcloud
  environments/podman.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

multinode-containers: include Podman service
  ci/environments/multinode-containers.yaml
Due: none

Switch stable scenarios to voting
  zuul.d/layout.yaml
Due: none

Define UpgradeRemoveUnusedPackages parameter in nova-ironic.yaml
  docker/services/nova-ironic.yaml
Due: none

Use correct python version for puppet-docker.py
  common/deploy-steps-tasks.yaml
Due: none

Python 3 compatibility: fix has_key
  extraconfig/tasks/instanceha/check-run-nova-compute
Due: none

Fix new node detection
  extraconfig/services/openshift-node.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Do not include node scale up playbook in case of new masters
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Make openshift-master service idempotent
  extraconfig/services/openshift-master.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Handle LP openvswitch meta-package on upgrade
  docker/services/neutron-ovs-agent.yaml
  puppet/services/neutron-ovs-agent.yaml
  puppet/services/neutron-ovs-dpdk-agent.yaml
  puppet/services/opendaylight-ovs.yaml
  puppet/services/openvswitch.yaml
  puppet/services/tripleo-packages.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

[Templates] Use str_replace for hosts.
  hosts-config.yaml
  scripts/hosts-config.sh
Due: none

Python 3 compatibility: convert raw_input to input
  tools/yaml-nic-config-2-script.py
Due: none

Cleanup nova metadata port in nova api service
  puppet/services/nova-api.yaml
  releasenotes/notes/nova_remove_metadata_port_from_api-cdfaf8fb607f6427.yaml
Due: none

Set flavor property resources:MEMORY_MB to 0
  extraconfig/post_deploy/undercloud_post.py
Due: none

Add hosts to expected ansible groups
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-node.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Use ipc: host with containers that use pcs
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Revert "Revert "Convert *tasks from bootstrap_nodeid to short_bootstrap_node_name""
  docker/services/cinder-api.yaml
  docker/services/ironic-api.yaml
  docker/services/nova-api.yaml
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
  puppet/services/database/redis-base.yaml
  puppet/services/gnocchi-api.yaml
  puppet/services/haproxy-public-tls-inject.yaml
  puppet/services/nova-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Fix Upgrade of horizon service
  docker/services/horizon.yaml
Due: none

Mount the public TLS certificate for HAProxy on up(date|grade) on pacemaker
  docker/services/pacemaker/haproxy.yaml
  puppet/extraconfig/tls/tls-cert-inject.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Collectd documentation refactor
  environments/collectd-environment.yaml
  environments/metrics-collectd-qdr.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Call etcd scaleup playbook when adding master nodes
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-node.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Restrict number of Swift workers to 1 on the undercloud
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Configure cinder's access to the nova API
  puppet/services/cinder-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Ensure correct tmp ownership for Gnocchi
  docker/services/gnocchi-api.yaml
  releasenotes/notes/gnocchi-tmp-b5b48708c5dd17df.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Mount /usr/share/openstack-octavia-amphora-images into mistral-executor
  docker/services/mistral-executor.yaml
  docker/services/octavia/octavia-deployment-config.yaml
  environments/undercloud.yaml
  releasenotes/notes/octavia-mount-amphora-images-dir-31da44a544628687.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Run docker-puppet.py in debug mode.
  common/deploy-steps-tasks.yaml
Due: none

Enable Glance Image Cache
  puppet/services/glance-api.yaml
  releasenotes/notes/enable-glance-image-cache-01e54adaa952f90b.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add python shim for docker config scripts
  docker/services/containers-common.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-ironic.yaml
  docker_config_scripts/pyshim.sh
Due: none

Set hierdata for swift server workers conditionally
  puppet/services/swift-proxy.yaml
  puppet/services/swift-storage.yaml
  releasenotes/notes/change-swift-worker-defaults-b98f12fb2f677bf1.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Enable ovs-stats by default when using ovs
  puppet/services/neutron-ovs-agent.yaml
Due: none

Change the ordering for the xinetd class override
  docker/services/swift-storage.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Ensure directories managed by libvirt-daemon exist
  docker/services/nova-libvirt.yaml
Due: none

Pass the container backend explicitely
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Autocreate CephAnsibleFetchDirectoryBackup
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix ansible conditional for ovs upgrade.
  puppet/services/tripleo-packages.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: (any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*manila.*$, ci/environments/scenario004-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$) or (any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*congress.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$)
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^(docker|puppet)/services/.*pacemaker.*$, ci/environments/scenario005-multinode.yaml, ci/pingtests/scenario005-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml, ^deployed-server/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^deployed-server/.*$
